---
title: ANRW&nbsp;’20 Call for Papers
menu: Call for Papers
other: false
---

%h1
  Call for Papers

%p
  The ACM/IRTF Applied Networking Research Workshop 2020 (ANRW’20) is the
  fifth edition of an academic workshop that provides a forum for researchers,
  vendors, network operators, and the Internet standards community to present
  and discuss emerging results in applied networking research.
  
%p
  ANRW’20 is co-located with IETF 108, which takes place in Madrid from
  25-31 July 2020. ANRW’20 will take place on Monday 27 July and is an all-day
  event. This gives IETF as well as workshop attendees the opportunity to
  exchange ideas on topics and open problems discussed at the workshop and
  the IETF. 

%p
  The workshop combines a selected number of invited talks, presenting
  highly relevant previously published research, along with presentations
  of new research in the form of short papers and lightning papers.
  ANRW ‘20 accepts the following types of submissions:

%ul
  %li
    %strong Short papers 
    are publications that present new research that has not been previously
    published. For a short paper to be considered for publication, please
    submit work describing early/emerging results in a relevant topic area.
    There is a 6-page limit for short papers,  including figures, tables,
    and any appendices, optionally followed by unlimited additional pages
    for references.

  %li
    %strong Lightning papers 
    can provide a summary of early, emerging, or on-going work as well as
    short updates of previously published work. This type of submission
    will be presented in a short, lightning-talk style, as well as with a
    poster. For a lightning paper to be considered for presentation, please
    submit an extended abstract that is no longer than 2 pages, with a
    maximum of one additional page for references only.

%p
  All accepted papers will be given a presentation slot as well as the
  option to bring a poster in order to foster additional interactions with
  workshop participants before and after the talk. Authors are expected to
  present in person, however, in limited cases remote presentation can be
  discussed with the chairs. Please approach the chairs if you intend to
  submit work but know in advance you will not be able to present this work
  in person at the workshop in Madrid.

%p
  ANRW ’2o particularly encourages the submission of results that could
  form the basis for future engineering work in the IETF, by e.g.,
  providing input and analysis on  Internet protocols or operational
  Internet practices, as well as influence further research and
  experimentation in the IRTF. ANRW ‘20 is sponsored by ACM SIGCOMM, and
  the Internet Research Task Force (IRTF). 

%p
  Paper topics should be relevant to the standardization activities of
  related IETF working groups or activity in related IRTF research groups.


  
%h2
  Topics of Interest
%ul
  %li Development and deployment experience of new and enhanced Internet protocols (e.g., for transport, security, or routing).
  %li Improvements and analysis to the security and privacy of new and existing Internet protocols, including non-standardized techniques such as e.g. onion routing.
  %li Practical congestion control for heterogeneous networks and novel applications.
  %li Better ways of specifying protocols, including usable techniques for protocol verification.
  %li Techniques for logging/monitoring of Internet traffic and root-cause analysis, as well as debugging of (encrypted) Internet protocols.
  %li Measurement and analysis of existing and new Internet protocols, behavior of Internet traffic, as well as transparency of Internet paths, including censorship and blocking.
  %li Measurements and analysis of wide-area privacy risks and remediation.
  %li Deployment and evolution of DNS, CDNs, anycast, and other wide-area services.
  %li Management and deployment of secure IoT systems, including key/certificate provisioning and software updates.
  %li Research and analysis of consolidation and centralization in the Internet.
  %li Approaches for decentralized and in-network computation.
  %li Evolution of interconnection, and new approaches on network management, operations, and control.
  %li Internet availability in challenging environments (e.g. natural disaster situations, remote areas, …).
  

  
%h2
  Submission Types
%p 
  ANRW ’20 accepts two types of submissions: 
  %strong short papers 
  and 
  %strong lightning papers.
  Submissions are not anonymous. Accepted papers will be presented during
  the workshop, and will be published in the ACM Digital Library. Authors
  of all accepted papers may also bring a poster presenting its content to
  the workshop, for display and more in-depth discussion with interested
  participants during the breaks. 

%p
  %a.btn.btn-primary{ :href => "https://anrw2020.hotcrp.com/" } Start a submission »


  
%h2
  Formatting
%p 
  All submissions must satisfy the following requirements:
%ul
  %li 
    Short papers: up to 6 pages for technical content (including
    appendices) + unlimited pages for references and acknowledgements.
  %li
    Lightning papers: up to 2 pages for an extended abstract (including
    appendices) + a maximum of one page for references.
  %li
    %strong 10-point font for main text;
    font used in other places (e.g., figures) should be no smaller than 9
    point
  %li
    Two-column format, with the size of each column being at most 3.33 x
    9.25 inches and the space between columns being at least 0.33 inches
    letter page size (8.5 x 11 inches)
  %li
    Include names and affiliations of all authors on the title page (no
    anonymization).
  %li
    We strongly encourage the use of the new ACM LaTeX template, which
    satisfies these style requirements provided you specify a 10-point
    font size. The following settings should produce this output:
    %tt \documentclass[10pt,sigconf,letterpaper]{acmart}

%p 
  Submissions that do not comply with these requirements will be rejected
  without review. It is your responsibility to ensure that your submission
  satisfies the above requirements.



%h2
  Paper Novelty
%p
  An accepted paper that is published must not be based on previously
  published work, and cannot describe work that is currently under
  submission to another venue. An accepted paper that is published also
  must not plagiarize the work of its authors or of any other authors. The
  ACM Policy and Procedures on Plagiarism applies to the ANRW, and action
  will be taken against submitters who have engaged in such practices. 

%p
  Papers accompanied by nondisclosure agreement requests will not be
  considered for review or publication, nor ever be disclosed. 
  


%h2
  Reviews 
%p
  All submissions will be peer reviewed (single-blind). Reviews will be
  shared with the authors.
%p
  Authors and TPC members provide conflict-of-interest information. It is
  important that all authors of a submission are indicated in the
  submission system and that all authors enter any conflicts of interest.
  Broadly, a conflict of interest exists when:
%ul
  %li 
    You are currently employed at the same organization, have been
    previously employed at the same organization within the last twelve
    months, or are going to begin employment at the same organization.
  %li
    You have a past or present professional relationship, such as thesis
    advisement, collaboration on a project, publication, or grant proposal
    within the past two years.
%p
  These are examples – use your own good judgment.


%h2
  Important Dates
= render '/anrw/2020/dates_.*', which: 'papers'


%h2
  Program Committee

%p Mirja Kühlewind (Chair), Ericsson
%p Roland van Rijswijk-Deij (Chair), University of Twente and NLnet Labs, Netherlands



%h2 Supporters and Sponsors
= render '/anrw/2020/supporters_.*'
= render '/anrw/sponsors_.*'

