---
title: ANRW&nbsp;’20 Committees
menu: Committees
---

.col-md-6
  %h2 Program Committee
  %table.table.table-striped
    %tbody

      %tr
        %td Mirja Kühlewind
        %td
          %span.label.label-default Chair
        %td Ericsson
      %tr
        %td Roland van Rijswijk-Deij
        %td
          %span.label.label-default Chair
        %td University of Twente
      %tr
        %td{:colspan => 2} Johanna Amann
        %td ICIR
      %tr
        %td{:colspan => 2} Grenville Armitage
        %td Netflix
      %tr
        %td{:colspan => 2} Vaibhav Bajpai
        %td Technische Universität München
      %tr
        %td{:colspan => 2} Theophilus Benson
        %td Brown University
      %tr
        %td{:colspan => 2} Zachary Bischof
        %td Internet Initiative Japan
      %tr
        %td{:colspan => 2} Anna Brunström
        %td Karlstad University
      %tr
        %td{:colspan => 2} Sandra Céspedes
        %td NIC Labs Chile/Universidad de Chile
      %tr
        %td{:colspan => 2} Taejoong (Tijay) Chung
        %td Rochester Institute of Technology
      %tr
        %td{:colspan => 2} Yong Cui
        %td Tsinghua University
      %tr
        %td{:colspan => 2} Lars Eggert
        %td NetApp
      %tr
        %td Theresa Enghardt
        %td
          %span.label.label-default Travel Grants
        %td Technische Universität Berlin
      %tr
        %td{:colspan => 2} Simone Ferlin
        %td Ericsson
      %tr
        %td{:colspan => 2} Gonca Gürsun
        %td Özyegin University
      %tr
        %td{:colspan => 2} Jeroen van der Ham
        %td University of Twente and NCSC
      %tr
        %td{:colspan => 2} Ralph Holz
        %td University of Sydney
      %tr
        %td{:colspan => 2} Jana Iyengar
        %td Fastly
      %tr
        %td{:colspan => 2} Franziska Lichtblau
        %td MPI für Informatik Saarland
      %tr
        %td{:colspan => 2} Allison Mankin
        %td Salesforce
      %tr
        %td{:colspan => 2} Veelasha Moonsamy
        %td Radboud University Nijmegen 
      %tr
        %td{:colspan => 2} Cristel Pelsser
        %td University of Strasbourg
      %tr
        %td{:colspan => 2} Justine Sherry
        %td Carnegie Mellon University
      %tr
        %td{:colspan => 2} Nick Sullivan
        %td Cloudflare
      %tr
        %td{:colspan => 2} Christopher Wood
        %td Apple 
      %tr
        %td{:colspan => 2} Laurent Vanbever
        %td ETH Zürich
      %tr
        %td{:colspan => 2} Lisandro Zambenedetti Granville
        %td UFRGS 
-#
-#   %a.btn.btn-default{ :href => "mailto:anrw-tpc@irtf.org", :role => "button" }
-#   Email the program committee »
-#
.col-md-6
  = render "/anrw/2020/sc_.*"


