---
title: ANRW&nbsp;’20 Program
menu: Program
---

%h1 Workshop Program

%p= render "/anrw/2020/place_.*"


%h2 Proceedings

%p
  %a{ href: "https://dl.acm.org/doi/proceedings/10.1145/3404868"} Proceedings of the Applied Networking Research Workshop 2020
  are available from the ACM Digital Library


%h2 Recordings

%p
  Recordings will be made available after the workshop.

/%p
/  The recordings from the workshop are available on YouTube in six parts:
/
/%div{ :style => "width: 30%; display: inline-block;" }
/  .embed-responsive.embed-responsive-4by3
/    %iframe.embed-responsive-item{ :src => "https://www.youtube.com/embed/XNLi6KDYquU"}
/
/%div{ :style => "width: 30%; display: inline-block;" }
/  .embed-responsive.embed-responsive-4by3
/    %iframe.embed-responsive-item{ :src => "https://www.youtube.com/embed/iQy6hK5wevc"}
/
/%div{ :style => "width: 30%; display: inline-block;" }
/  .embed-responsive.embed-responsive-4by3
/    %iframe.embed-responsive-item{ :src => "https://www.youtube.com/embed/T1NrTwv1mic"}
/
/%div{ :style => "width: 30%; display: inline-block;" }
/  .embed-responsive.embed-responsive-4by3
/    %iframe.embed-responsive-item{ :src => "https://www.youtube.com/embed/pBVu9GEfE1I"}
/
/%div{ :style => "width: 30%; display: inline-block;" }
/  .embed-responsive.embed-responsive-4by3
/    %iframe.embed-responsive-item{ :src => "https://www.youtube.com/embed/pEnT2BJvyv0"}
/
/%div{ :style => "width: 30%; display: inline-block;" }
/  .embed-responsive.embed-responsive-4by3
/    %iframe.embed-responsive-item{ :src => "https://www.youtube.com/embed/pUAjG2_A2WU"}


%h2 Program

%p
  Times are given in UTC.

%table.table.table-striped.no-urlify
  %thead
    %tr
      %th
        Time
      %th
        Session
      %th
        Session Chair
  %tbody
    %tr
      %td
        %b July 30, 2020<br> 11:00-12:40
      %td
        %h4.text-danger DNS and BGP
        %div.row
          %div.col-lg-8
            %p
              %b
                /%a{ href: "anrw2020-final10.pdf"} Enabling Privacy-Aware Zone Exchanges Among Authoritative and Recursive DNS Servers 
                %a{ href: "https://dl.acm.org/doi/abs/10.1145/3404868.3406665"} Enabling Privacy-Aware Zone Exchanges Among Authoritative and Recursive DNS Servers 
              <span class="label label-success">(Short Paper)</span>
              %br
              Nikos Kostopoulos, Dimitris Kalogeras, and Vasilis Maglaris
            %p
              %b
                /%a{ href: "anrw2020-final17.pdf"} Inferring the Deployment of Inbound Source Address Validation Using DNS Resolvers 
                %a{ href: "https://dl.acm.org/doi/abs/10.1145/3404868.3406668"} Inferring the Deployment of Inbound Source Address Validation Using DNS Resolvers 
              <span class="label label-danger">(Position Paper)</span>
              %br
              Maciej Korczynski, Yevheniya Nosyk, Qasim Lone, Marcin Skwarek, Baptiste Jonglez, and Andrzej Duda
            %p
              %b
                /%a{ href: "anrw2020-final28.pdf"} Limiting the Power of RPKI Authorities
                %a{ href: "https://dl.acm.org/doi/abs/10.1145/3404868.3406674"} Limiting the Power of RPKI Authorities
              <span class="label label-success">(Short Paper)</span>
              %br
              Kris Shrishak and Haya Shulman
            %p
              %b
                /%a{ href: "anrw2020-final25.pdf"} Withdrawal Symptoms: Filtering of Announcements from a Route Collector System
                %a{ href: "https://dl.acm.org/doi/abs/10.1145/3404868.3406673"} Withdrawal Symptoms: Filtering of Announcements from a Route Collector System
              <span class="label label-danger">(Position Paper)</span>
              <br>
              Stephen D. Strowes, René Wilhelm, and Emile Aben
            %p
              %b
                /%a{ href: "anrw2020-final24.pdf"} Toward Programmable Interdomain Routing 
                %a{ href: "https://dl.acm.org/doi/abs/10.1145/3404868.3406672"} Toward Programmable Interdomain Routing 
              <span class="label label-danger">(Position Paper)</span>
              <br>
              Qiao Xiang, Jensen Zhang, Frank Le, and Y. Richard Yang
      %td
        %h5.text-danger Roland van Rijswijk-Deij

    %tr
      %td
        %b July 30, 2020, 13:00-13:50
      %td
        %h4.text-danger Protocol testing and validation
        %div.row
          %div.col-lg-8
            %p
              %b
                /%a{ href: "anrw2020-final21.pdf"} Parsing Protocol Standards to Parse Standard Protocols
                %a{ href: "https://dl.acm.org/doi/abs/10.1145/3404868.3406671"} Parsing Protocol Standards to Parse Standard Protocols
              <span class="label label-success">(Short Paper)</span>
              %br
              Stephen McQuistin, Vivian Band, Dejice Jacob, and Colin Perkins
            %p
              %b
                /%a{ href: "anrw2020-final20.pdf"} NeST: Network Stack Tester
                %a{ href: "https://dl.acm.org/doi/abs/10.1145/3404868.3406670"} NeST: Network Stack Tester
              <span class="label label-success">(Short Paper)</span>
              %br
              Shanthanu S Rai, Narayan G, Dhanasekhar M, Leslie Monis, and Mohit P. Tahiliani
      %td
        %h5.text-danger Roland van Rijswijk-Deij


    %tr
      %td
        %b July 30, 2020, 14:10-15:50
      %td
        %h4.text-danger Transport Protocols and Traffic Engineering
        %div.row
          %div.col-lg-8
            %p
              %b
                /%a{ href: "anrw2020-final2.pdf" } Evaluating the Impact of Path Brokenness on TCP 
                %a{ href: "https://dl.acm.org/doi/abs/10.1145/3404868.3406662" } Evaluating the Impact of Path Brokenness on TCP 
              <span class="label label-success">(Short Paper)</span>
              %br
              Korian Edeline, and Benoit Donnet
            %p
              %b
                /%a{ href: "anrw2020-final19.pdf"} A Congestion Control Independent L4S Scheduler
                %a{ href: "https://dl.acm.org/doi/abs/10.1145/3404868.3406669"} A Congestion Control Independent L4S Scheduler
              <span class="label label-success">(Short Paper)</span>
              %br
              Szilveszter Nádas, Gergő Gombos, Ferenc Fejes, and Sándor Laki
            %p
              %b
                /%a{ href: "anrw2020-final16.pdf"} Multi-Domain Information Exposure using ALTO: The Good, the Bad and the Solution
                %a{ href: "https://dl.acm.org/doi/abs/10.1145/3404868.3406667"} Multi-Domain Information Exposure using ALTO: The Good, the Bad and the Solution
              <span class="label label-danger">(position paper)</span>
              %br
                Danny Lachos, Christian Rothenberg, Qiao Xiang, Y. Richard Yang, Börje Ohlman, Sabine Randriamasy, Luis M. Contreras, and Kai Gao
            %p
              %b
                /%a{ href: "anrw2020-final15.pdf"} A novel hybrid distributed-routing and SDN solution for Traffic Engineering 
                %a{ href: "https://dl.acm.org/doi/abs/10.1145/3404868.3406666"} A novel hybrid distributed-routing and SDN solution for Traffic Engineering 
              <span class="label label-danger">(position paper)</span>
              %br
                Stewart Bryant, Uma Chunduri, Toerless Eckert, Alexander Clemm, Luis M. Murillo, and Patricia Díez Cano
      %td
        %h5.text-danger Mirja Kühlewind


    %tr
      %td
        %b July 31, 2020, 13:00-13:50
      %td
        %h4.text-danger Monitoring and Logging
        %div.row
          %div.col-lg-8
            %p
              %b
                /%a{ href: "anrw2020-final3.pdf"} Debugging QUIC and HTTP/3 with qlog and qvis
                %a{ href: "https://dl.acm.org/doi/abs/10.1145/3404868.3406663"} Debugging QUIC and HTTP/3 with qlog and qvis
              <span class="label label-success">(Short Paper)</span>
              %br
              Robin Marx, Maxime Piraux, Peter Quax, and Wim Lamotte
            %p
              %b
                /%a{ href: "anrw2020-final7.pdf"} On the Accuracy of Country-Level IP Geolocation 
                %a{ href: "https://dl.acm.org/doi/abs/10.1145/3404868.3406664"} On the Accuracy of Country-Level IP Geolocation 
              <span class="label label-success">(Short Paper)</span>
              %br
              Ioana Livadariu, Thomas Dreibholz, Anas Saeed Al-Selwi, Haakon Bryhni, Olav Lysne, Steinar Bjørnstad, and Ahmed Elmokashfi
      %td
        %h5.text-danger Mirja Kühlewind





