---
title: ANRW&nbsp;’20 Program
menu: Program
---

%h1 Workshop Program

%p= render "/anrw/2020/place_.*"

%h2 Program

%p
  Times are given in UTC.

%table.table.table-striped.no-urlify
  %thead
    %tr
      %th
        Time
      %th
        Session
      %th
        Session Chair
  %tbody
    %tr
      %td{ :style => "width: 10em" }
        %b July 30, 2020<br> 11:00-12:40
      %td
        %h4.text-danger Welcome and Opening Remarks
        %p
          Roland van Rijswijk-Deij and Mirja Kühlewind 
        %p
          %a.btn.btn-secondary{ :href => "/anrw/2020/slides-welcome.pdf"}
            Slides


      %td
        &nbsp;

    %tr
      %td
        &nbsp;
      %td
        %h4.text-danger DNS and BGP
        %p
          %a{ name: "p10"}
          %b
            %a{ href: "https://dl.acm.org/doi/abs/10.1145/3404868.3406665"} Enabling Privacy-Aware Zone Exchanges Among Authoritative and Recursive DNS Servers 
          %br
          Nikos Kostopoulos, Dimitris Kalogeras, and Vasilis Maglaris
        %p
          %a.btn.btn-secondary{ :href => "/anrw/2020/slides-kostopoulos-00.pdf"}
            slides
          %a.btn.btn-secondary{ :href => "https://dl.acm.org/doi/abs/10.1145/3404868.3406665", :class => "btn btn-default btn-xs", :role => "button"}
            Paper

        %p
          %a{ name: "p17"}
          %b
            %a{ href: "https://dl.acm.org/doi/abs/10.1145/3404868.3406668"} Inferring the Deployment of Inbound Source Address Validation Using DNS Resolvers 
          %span.badge.bg-secondary
            Position Paper
          %br
          Maciej Korczynski, Yevheniya Nosyk, Qasim Lone, Marcin Skwarek, Baptiste Jonglez, and Andrzej Duda
        %p
          %a.btn.btn-secondary{ :href => "/anrw/2020/slides-nosyk-00.pdf"}
            Slides
          %a.btn.btn-secondary{ :href => "https://dl.acm.org/doi/abs/10.1145/3404868.3406668"}
            Paper

        %p
          %a{ name: "p28"}
          %b
            %a{ href: "https://dl.acm.org/doi/abs/10.1145/3404868.3406674"} Limiting the Power of RPKI Authorities
          %br
          Kris Shrishak and Haya Shulman
        %p
          %a.btn.btn-secondary{ :href => "/anrw/2020/slides-shrishak-00.pdf"}
            Slides
          %a.btn.btn-secondary{ :href => "https://dl.acm.org/doi/abs/10.1145/3404868.3406674"}
            Paper

        %p
          %a{ name: "p25"}
          %b
            %a{ href: "https://dl.acm.org/doi/abs/10.1145/3404868.3406673"} Withdrawal Symptoms: Filtering of Announcements from a Route Collector System
          %span.badge.bg-secondary
            (Position Paper)
          <br>
          Stephen D. Strowes, René Wilhelm, and Emile Aben
        %p
          %a.btn.btn-secondary{ :href => "/anrw/2020/slides-strowes-00.pdf"}
            Slides
          %a.btn.btn-secondary{ :href => "https://dl.acm.org/doi/abs/10.1145/3404868.3406673"}
            Paper

        %p
          %a{ name: "p24"}
          %b
            %a{ href: "https://dl.acm.org/doi/abs/10.1145/3404868.3406672"} Toward Programmable Interdomain Routing 
          %span.badge.bg-secondary
            (Position Paper)
          <br>
          Qiao Xiang, Jensen Zhang, Frank Le, and Y. Richard Yang
        %p
          %a.btn.btn-secondary{ :href => "/anrw/2020/slides-xiang-00.pdf"}
            Slides
          %a.btn.btn-secondary{ :href => "https://dl.acm.org/doi/abs/10.1145/3404868.3406672"}
            Paper

      %td
        %p Roland van Rijswijk-Deij

    %tr
      %td
        %b July 30, 2020, 13:00-13:50
      %td
        %h4.text-danger Protocol testing and validation
        %p
          %a{ name: "p21"}
          %b
            %a{ href: "https://dl.acm.org/doi/abs/10.1145/3404868.3406671"} Parsing Protocol Standards to Parse Standard Protocols
          %br
          Stephen McQuistin, Vivian Band, Dejice Jacob, and Colin Perkins
        %p
          %a.btn.btn-secondary{ :href => "/anrw/2020/slides-mcquistin-00.pdf"}
            Slides
          %a.btn.btn-secondary{ :href => "https://dl.acm.org/doi/abs/10.1145/3404868.3406671"}
            Paper

        %p
          %a{ name: "p20"}
          %b
            %a{ href: "https://dl.acm.org/doi/abs/10.1145/3404868.3406670"} NeST: Network Stack Tester
          %br
          Shanthanu S Rai, Narayan G, Dhanasekhar M, Leslie Monis, and Mohit P. Tahiliani
        %p
          %a.btn.btn-secondary{ :href => "/anrw/2020/slides-narayan-g-00.pdf"}
            Slides
          %a.btn.btn-secondary{ :href => "https://dl.acm.org/doi/abs/10.1145/3404868.3406670"}
            Paper

      %td
        %p Roland van Rijswijk-Deij


    %tr
      %td
        %b July 30, 2020, 14:10-15:50
      %td
        %h4.text-danger Transport Protocols and Traffic Engineering
        %p
          %a{ name: "p2"}
          %b
            %a{ href: "https://dl.acm.org/doi/abs/10.1145/3404868.3406662" } Evaluating the Impact of Path Brokenness on TCP 
          %br
          Korian Edeline, and Benoit Donnet
        %p
          %a.btn.btn-secondary{ :href => "/anrw/2020/slides-edeline-00.pdf"}
            Slides
          %a.btn.btn-secondary{ :href => "https://dl.acm.org/doi/abs/10.1145/3404868.3406662"}
            Paper

        %p
          %a{ name: "p19"}
          %b
            %a{ href: "https://dl.acm.org/doi/abs/10.1145/3404868.3406669"} A Congestion Control Independent L4S Scheduler
          %br
          Szilveszter Nádas, Gergő Gombos, Ferenc Fejes, and Sándor Laki
        %p
          %a.btn.btn-secondary{ :href => "/anrw/2020/slides-laki-00.pdf"}
            Slides
          %a.btn.btn-secondary{ :href => "https://dl.acm.org/doi/abs/10.1145/3404868.3406669"}
            Paper

        %p
          %a{ name: "p16"}
          %b
            %a{ href: "https://dl.acm.org/doi/abs/10.1145/3404868.3406667"} Multi-Domain Information Exposure using ALTO: The Good, the Bad and the Solution
          <span class="label label-success">(position paper)</span>
          %br
            Danny Lachos, Christian Rothenberg, Qiao Xiang, Y. Richard Yang, Börje Ohlman, Sabine Randriamasy, Luis M. Contreras, and Kai Gao
        %p
          %a.btn.btn-secondary{ :href => "/anrw/2020/slides-lachos-00.pdf"}
            Slides
          %a.btn.btn-secondary{ :href => "https://dl.acm.org/doi/abs/10.1145/3404868.3406667"}
            Paper

        %p
          %a{ name: "p15"}
          %b
            %a{ href: "https://dl.acm.org/doi/abs/10.1145/3404868.3406666"} A novel hybrid distributed-routing and SDN solution for Traffic Engineering 
          <span class="label label-success">(position paper)</span>
          %br
            Stewart Bryant, Uma Chunduri, Toerless Eckert, Alexander Clemm, Luis M. Murillo, and Patricia Díez Cano
        %p
          %a.btn.btn-secondary{ :href => "/anrw/2020/slides-bryant-00.pdf"}
            Slides
          %a.btn.btn-secondary{ :href => "https://dl.acm.org/doi/abs/10.1145/3404868.3406666"}
            Paper

      %td
        %p Mirja Kühlewind


    %tr
      %td
        %b July 31, 2020, 13:00-13:50
      %td
        %h4.text-danger Monitoring and Logging
        %p
          %a{ name: "p3"}
          %b
            %a{ href: "https://dl.acm.org/doi/abs/10.1145/3404868.3406663"} Debugging QUIC and HTTP/3 with qlog and qvis
          %br
          Robin Marx, Maxime Piraux, Peter Quax, and Wim Lamotte
        %p
          %a.btn.btn-secondary{ :href => "/anrw/2020/slides-marx-00.pdf"}
            Slides
          %a.btn.btn-secondary{ :href => "https://dl.acm.org/doi/abs/10.1145/3404868.3406663"}
            Paper

        %p
          %a{ name: "p7"}
          %b
            %a{ href: "https://dl.acm.org/doi/abs/10.1145/3404868.3406664"} On the Accuracy of Country-Level IP Geolocation 
          %br
          Ioana Livadariu, Thomas Dreibholz, Anas Saeed Al-Selwi, Haakon Bryhni, Olav Lysne, Steinar Bjørnstad, and Ahmed Elmokashfi
        %p
          %a.btn.btn-secondary{ :href => "/anrw/2020/slides-lividariu-00.pdf"}
            Slides
          %a.btn.btn-secondary{ :href => "https://dl.acm.org/doi/abs/10.1145/3404868.3406664"}
            Paper

      %td
        %p Mirja Kühlewind


%h2 Proceedings

%p
  %a{ href: "https://dl.acm.org/doi/proceedings/10.1145/3404868"} Proceedings of the Applied Networking Research Workshop 2020
  are available from the ACM Digital Library


%p
  The recordings from the workshop are available on the 
  %a{ :href => "https://www.youtube.com/user/ietf/"} IETF channel
  on YouTube:

%div{ :style => "width: 24%; display: inline-block;" }
  .embed-responsive.embed-responsive-4by3
    %iframe.embed-responsive-item{ :src => "https://www.youtube.com/embed/dgOieIfNsZo", :allow => "accelerometer; encrypted-media; gyroscope; picture-in-picture", :allowfullscreen => true}

%div{ :style => "width: 24%; display: inline-block;" }
  .embed-responsive.embed-responsive-4by3
    %iframe.embed-responsive-item{ :src => "https://www.youtube.com/embed/VhC7suupR7E", :allow => "accelerometer; encrypted-media; gyroscope; picture-in-picture", :allowfullscreen => true}

%div{ :style => "width: 24%; display: inline-block;" }
  .embed-responsive.embed-responsive-4by3
    %iframe.embed-responsive-item{ :src => "https://www.youtube.com/embed/WOOZGJN6VkY", :allow => "accelerometer; encrypted-media; gyroscope; picture-in-picture", :allowfullscreen => true}

%div{ :style => "width: 24%; display: inline-block;" }
  .embed-responsive.embed-responsive-4by3
    %iframe.embed-responsive-item{ :src => "https://www.youtube.com/embed/QRy8h6PYK5c", :allow => "accelerometer; encrypted-media; gyroscope; picture-in-picture", :allowfullscreen => true}






