---
title: ANRW&nbsp;’20 Travel Grants
menu: Travel Grants
other: false
---

%h2 ANRW Travel Grants

%p
  The ANRW organizers are trying to provide as much support to as many student
  attendees as possible. Travel grants are available to students
  %em currently enrolled
  in Bachelor, Masters or PhD programs at any university.

%p
  Travel grant awards are meant to
  %em partially
  cover the cost of attending and participating in the workshop. The only travel
  expenses that can be reimbursed are:

%ul
  %li economy air or rail fares
  %li hotel
  %li workshop registration

%p
  The award recipients will need to pay for the expenses ahead of time and get
  reimbursed after the workshop. The exact number of awards will depend on the
  availability of funds and will be determined as funding amounts are finalized.

%h2 Important Dates
= render "/anrw/2020/dates_.*", :which => "grants"


%h2 Selection Criteria

%p The following criteria will be used in the selection process:

%ul
  %li
    Preference will be given to applicants that do
    %em not
    present a paper at the workshop. The rationale is that the participation
    costs for a presenting author should be covered by their home institution.
  %li
    Evidence of a serious interest in applied networking, as demonstrated by
    coursework and/or project experience, is required. Advanced students
    close to graduation will also be given priority, when possible, in order
    to aid their job search.
  %li
    We strongly encourage participation of women and under-represented
    minorities.
  %li
    After giving priority to the above criteria, (co-)authors of papers may be
    considered, but will be given lower priority. The rationale is to support
    people that contribute to the workshop but could not attend otherwise, e.g.,
    due to budget or other constraints. The applicant should explain why it is
    impossible to support them from other sources.

%h2 Where and How to Apply

/ %p
/   Travel grant applications are not yet being accepted.
/   Contract the Travel Grants Chair, Theresa Enghardt, for information.


%p
  All application materials (applicant's info, CV, and letters) should be
  submitted by email to the Travel Grants Chair, Theresa Enghardt, according
  to the following instructions.

%p
  The
  %b applicant
  should email:
%ul
  %li an application letter
  %li an up-to-date CV
%p
  as PDF documents.

%p
  The applicant's
  %b faculty advisor
  should email:
%ul
  %li a support letter
%p
  as a PDF document.

%p
  The
  %b applicant's letter
  should be clearly divided in the following sections:

%ul
  %li
    an explicit identification of the applicant's university and country of
    study (e.g., URL to the department's home page, etc.)
  %li an explicit identification of the applicant's faculty advisor
  %li a brief summary of research interests and plans for future research
  %li why the workshop attendance is important to the applicant's research
  %li
    a cost estimate of the trip, including the cost of economy air or rail fare,
    hotel (identify the source of any price quote)
  %li
    any additional information the applicant feels is relevant to support
    their case

%p
  %a.btn.btn-primary{ :href => "mailto:ietf@tenghardt.net?subject=ANRW'20 travel grant application: APPLICANT'S NAME&body=(This email should be sent by the applicant.)"}
    Send application materials »

%p
  The
  %b advisor's letter
  should be clearly divided in the following sections:

%ul
  %li verification of the applicant's good standing in the institution
  %li
    explain why the applicant would benefit from attending the workshop and how
    he/she could contribute to the workshop
  %li
    explain the current funding status and why the applicant is in need of the
    travel grant

%p.text-danger
  The faculty advisor should
  %em personally
  email the support letter to the steering committee, in order to keep the
  contents of their letter confidential.

%p
  %a.btn.btn-primary{ :href => "mailto:ietf@tenghardt.net?subject=ANRW'20 support letter: APPLICANT'S NAME&body=(This email should be sent by the faculty advisor.)"}
    Send support letter »
