---
title: Notes for ANRW Organisers
order: 1
---

%div.row
  %div.col-sm-8.col-xs-12
    %h2 Timeline
    %p
      The following timeline summarises the main actions to be performed by
      the IRTF Chair, ANRW program chairs, steering committee, and the IETF
      Secretariat when organising the ANRW. It is indicative, and almost
      certainly missing details in places.

    %h3 August/September
    %p
      (overlapping with the activities from the previous workshop)
    %ul
      %li 
        Membership of the ANRW Steering Committee (SC) is rotated.
        The steering committee comprises one representative from each of
        the IRTF (the IRTF chair or their nominee), ACM SIGCOMM, and the
        IETF LLC, along with one of the TPC chairs from each of the
        previous three workshops.
      %li
        The Steering Committee meets:
        %ul
          %li
            Review MoU with ACM SIGCOMM if necessary (this is usually a
            three-year rolling agreement)
            %ul
              %li
                Action: ACM SIGCOMM representative and IETF Secretariat to
                work on re-signing the MOU, with the IETF Executive Director
                signing on the IETF side
          %li
            Agree to co-locate the next ANRW with July IETF Meeting
          %li
            Select Program Chairs (two chairs, typically one from academia
            and one from industry)
            %ul
              %li
                Action: IRTF chair to contact candidates
      %li
        Program chairs added to the Datatracker so they can edit the
        %a{ :href => "https://datatracker.ietf.org/group/anrw/about/"}
          ANRW materials
        and given control of the anrw-tpc mailing list
        %ul
          %li
            Action: Secretariat to update datatracker, mailing list
      %li
        Steering Committee and Program chairs to review the previous ANRW
        and suggest any format/administrative changes

    %h3 September/October
    %ul
      %li
        The program chairs will submit a Preliminary Approval Form (PAF) to ACM.
        %ul
          %li
            The PAF will ask what bank account we want to use (ACM or
            university).  Select the university option, as we will be
            using the IETF bank account (versus ACM bank account)
          %li 
            %a{ :href => "https://www.acm.org/special-interest-groups/volunteer-resources/conference-planning"}
              SIG Conference Planning Guide
          %li
            %a{ :href => "https://www.acm.org/special-interest-groups/volunteer-resources/conference-planning/section-1-establishing-an-acm-event"}
              Establishing an ACM Sponsored or Co-sponsored Event
      %li
        The program chairs select the rest of the organizing committee and
        put together the Call for Papers.
      %li
        Once the PAF is approved by ACM, the programme chairs need to
        submit the Technical Meeting Request Form (TMRF), which needs to
        have a draft budget attached to it.

    %h3 November/December
    %ul
      %li
        ACM will contact the program chairs and let them know the TMRF is
        approved. Once officially approved, we can begin to advertise the
        workshop. Ideally this happens before the November IETF, so we can
        promote at IETF.
      %li
        The IRTF Chair updates the IRTF / ANRW website to advertise ANRW.
      %li
        The Program Chairs create the HotCRP instance for the workshop.

    %h3 January/February
    %ul
      %li
        Program Chairs and Steering Committee meet to discuss workshop
        logistics. Meeting agenda to include:
        %ul
          %li
            Submissions (e.g., length of papers accepted, what forms
            accepted (artifacts, code, posters, etc.)
          %li
            Sponsorships, how much funding is available to IRTF travel
            grants, mix of general IRTF diversity travel grants and
            ANRW-specific travel grants
          %li
            Workshop duration, structure, and integration with IETF meeting
          %li
            Workshop format, and whether ANRW will include a poster session,
            paper presentations, lightning talks, invited talks, etc.
      %li
        Call for Papers (CFP) sent out by program chairs
        %ul
          %li
            Promote CFP on IRTF and IETF social media
          %li
            Promote CFP via IRTF, IETF, and SIGCOMM announcement lists,
            relevant Slack Channels, etc.
      %li
        Finalise internal working budget, once sponsorship funds are
        confirmed.

    %h3 March
    %ul
      %li
        IRTF Chair promotes workshop at IETF Plenary and during IRTF Open Meeting
      %li
        Program chairs send final reminders re CFP just after the IETF

    %h3 April
    %ul
      %li
        Deadline for paper submissions is typically mid-April; reviewing starts
      %li
        Registration for the workshop opens
        %a{ :href => "https://datatracker.ietf.org/meeting/important-dates/"}
          (Important Dates)
      %li
        IRTF Diversity Travel Grant applications open:
        %ul
          %li
            Action: IRTF chair to update website with dates; IRTF Chair
            and Program Chairs to advertise
          %li
            Action: Secretariat to collate the applications into Google
            Drive and notify the IRTF travel grant selection committee
            once applications close. The selection committee will have
            a few days to review and approve the applications with their
            priority list; IETF Secretariat then manages the travel grant
            logistics.

    %h3 May
    %ul
      %li
        Programme chairs to send notification of Acceptance of Papers to
        authors in mid-May. Communicate workshop needs to IETF Secretariat
        regarding agenda scheduling, space requirements, meeting logistics.

    %h3 June
    %ul
      %li
        Deadline for final version of papers (known as “camera-ready”
        versions). Once program chairs receive the papers, they submit
        to ACM.

    %h3 July
    %ul
      %li
        ANRW takes place colocated with the July IETF Meeting
      %li
        Prior to ANRW, ACM sends paper links to program chairs that
        bypasses the paywall (ACM calls these the “OpenTOC” links) for
        access from the workshop website. The program chairs add these
        links to the ANRW program page on the IRTF website
      %li
        Proceedings, created by ACM, will be available from the ACM digital
        library on the first day of the workshop
      %li
        ANRW recordings are made available on the IETF YouTube channel
        
    %h3 August
    %ul
      %li
        Submit the ANRW report to ACM:
        %ul
          %li
            Summary report of the workshop (1-page) which is prepared by a
            program chair using the previous year’s report as a template
          %li
            List of attendees, pulled from ANRW registration, with ACM
            membership number included when possible (AI: Secretariat)
          %li
            List of travel grant recipients, if any ANRW-specific travel
            grants were offered (AI: Secretariat)
          %li
            List of corporate donations received (AI: Secretariat)
          %li
            Financial statement, which is a worksheet that includes the
            final financial report (in ACM’s template), the list of
            ANRW-specific travel grant recipients with tax IDs, the list of
            sponsors with the amount donated (AI: LLC CFO)
            %ul
              %li
                Secretariat to get tax-ID from all grantees
          %li
            %a{ :href => "https://www.acm.org/special-interest-groups/volunteer-resources/conference-planning/conference-finances#closing"}
              Procedure for Closing Conference Finances




