---
title: ANRW&nbsp;’17 Attendee Information
menu: Attend
other: false
---

%h2 Registration

%p
  The ANRW ’17 takes place in Prague, Czech Republic, the venue of the IETF-99 meeting, on Saturday, July 15, 2017.
%p
  %a.btn.btn-primary{ :href => "https://www.internetsociety.org/form/anrw", :role => "button" } Register & participate »