---
title: ANRW&nbsp;‘17 Committees
menu: Committees
---

.col-md-6
  %h2 Program Committee
  %table.table.table-striped
    %tbody
      %tr
        %td Jörg Ott
        %td
          %span.label.label-default Chair
        %td Technische Universität München
      %tr
        %td Renata Cruz Teixeira
        %td
          %span.label.label-default Chair
        %td INRIA
      -# %tr
      -#   %td{ :colspan => 2} Laurent Ciavaglia
      -#   %td Nokia
      -# %tr
      -#   %td{ :colspan => 2 } Aaron Falk
      -#   %td Akamai
      -# %tr
      -#   %td{ :colspan => 2 } Gorry Fairhurst
      -#   %td University of Aberdeen
      -# %tr
      -#   %td{ :colspan => 2 } Stephen Farrell
      -#   %td Trinity College Dublin
      -# %tr
      -#   %td{ :colspan => 2 } Jana Iyengar
      -#   %td Google
      -# %tr
      -#   %td{ :colspan => 2 } Dirk Kutscher
      -#   %td NEC Laboratories Europe
      -# %tr
      -#   %td{ :colspan => 2 } Mirja Kühlewind
      -#   %td ETH Zürich
      -# %tr
      -#   %td{ :colspan => 2 } Al Morton
      -#   %td AT&amp;T
      -# %tr
      -#   %td{ :colspan => 2 } Arjuna Sathiaseelan
      -#   %td University of Cambridge
      -# %tr
      -#   %td{ :colspan => 2 } Brian Trammell
      -#   %td ETH Zürich
      -# %tr
      -#   %td{ :colspan => 2 } Lixia Zhang
      -#   %td UCLA

  -# %a.btn.btn-default{ :href => "mailto:anrw-tpc@irtf.org", :role => "button" }
  -#   Email the program committee »

.col-md-6
  = render "/anrw/2017/sc_.*"
