---
title: ANRW&nbsp;’17 Committees
menu: Committees
---

.col-md-6
  %h2 Program Committee
  %table.table.table-striped
    %tbody
      %tr
        %td Jörg Ott
        %td
          %span.label.label-default Chair
        %td Technische Universität München
      %tr
        %td Renata Cruz Teixeira
        %td
          %span.label.label-default Chair
        %td INRIA
      %tr
        %td{ :colspan => 2} Marcelo Bagnulo
        %td UC3M
      %tr
        %td{ :colspan => 2 } Kevin Fall
        %td Nefeli Networks
      %tr
        %td{ :colspan => 2 } Andrew Moore
        %td University of Cambridge
      %tr
        %td{ :colspan => 2 } David Oran
        %td Self-employed
      %tr
        %td{ :colspan => 2 } Oliver Bonaventure
        %td UCL Louvain
      %tr
        %td{ :colspan => 2 } Stephen Farrell
        %td Trinity College Dublin
      %tr
        %td{ :colspan => 2 } Colin Perkins
        %td  University of Glasgow
      %tr
        %td{ :colspan => 2 } Jussi Kangasharju
        %td University of Helsinki
      %tr
        %td{ :colspan => 2 } Aaron Falk
        %td Akamai
      %tr
        %td{ :colspan => 2 } Phil Eardley
        %td BT
      %tr
        %td{ :colspan => 2 } Nick Weaver
        %td ICSI
      %tr
        %td{ :colspan => 2 } Mirja Kühlewind
        %td ETH Zürich
      %tr
        %td{ :colspan => 2 } Steve Uhlig
        %td Queen Mary University London
      %tr
        %td{ :colspan => 2 } Max Ott
        %td Data61/CSIRO
      %tr
        %td{ :colspan => 2 } Al Morton
        %td AT&T
      %tr
        %td{ :colspan => 2 } Gonzalo Camarillo
        %td Ericsson
      %tr
        %td{ :colspan => 2 } Spencer Dawkins
        %td Huawei
      %tr
        %td{ :colspan => 2 } Randy Bush
        %td IIJ
      %tr
        %td{ :colspan => 2 } Nick Feamster
        %td Princeton
      %tr
        %td{ :colspan => 2 } Anna-Kaisa Pietilainen
        %td Google
      %tr
        %td{ :colspan => 2 } KC
        %td CAIDA

  -# %a.btn.btn-default{ :href => "mailto:anrw-tpc@irtf.org", :role => "button" }
  -#   Email the program committee »

.col-md-6
  = render "/anrw/2017/sc_.*"
