---
title: ANRW&nbsp;’17 Program
menu: Program
---

%h1 Workshop Program

%p= render "/anrw/2017/place_.*"

%h2 Program

%table.table.table-striped.no-urlify
  %thead
    %tr
      %th
        Time
      %th
        Session
      %th
        Session Chair
  %tbody
    %tr
      %td{ :style => "width: 10em" }
        %p
          %b
            9:00
      %td
        %h4.text-danger Opening
      %td
        %p
          &nbsp;

    %tr
      %td
        %p
          %b
            9:15
      %td
        %h4.text-danger Session: Measurements
        %p
        %p
          %b
            %a{:href=>"https://dl.acm.org/authorize?N31237",
               :referrerpolicy => "no-referrer-when-downgrade"}
              Masurement Vantage Point Selection Using A Similarity Metric.
          %br
            Thomas Holterbach (ETH Zürich), Emile Aben (RIPE NCC), Cristel
            Pelsser (University of Strasbourg), Randy Bush (Internet
            Initiative Japan), and Laurent Vanbever (ETH Zürich)

        %p
          %b
            %a{:href=>"https://dl.acm.org/authorize?N31238",
               :referrerpolicy => "no-referrer-when-downgrade"}
              Characterizing User-to-User Connectivity with RIPE Atlas
          %br
            Petros Gigis (RIPE NCC, Netherlands &amp; FORTH-ICS, Greece),
            Vasileios Kotronis (FORTH-ICS, Greece), Emile Aben (RIPE NCC,
            Netherlands), Stephen D. Strowes (RIPE NCC, Netherlands), and
            Xenofontas Dimitropoulos (FORTH-ICS, Greece)

        %p
          %b
            %a{:href=>"https://dl.acm.org/authorize?N666155",
               :referrerpolicy => "no-referrer-when-downgrade"}
              CheesePi: Research, Results, and the Regulator
          %br
            Ian Marsh (RISE AB)

      %td
        %p
          Mirja Kühlewind

    %tr
      %td
        %p
          %b
            10:45
      %td
        %h4.text-danger Coffee Break
      %td

    %tr
      %td
        %p
          %b
            11:15
      %td
        %h4.text-danger Session: Transport
        %p
          %b
            %a{:href=>"https://dl.acm.org/authorize?N31230",
               :referrerpolicy => "no-referrer-when-downgrade"}
              copycat: Testing Differential Treatment of New Transport Protocols in the Wild
          %br
            Korian Edeline (Université de Liège), Mirja Kühlewind (ETH
            Zurich), Brian Trammell (ETH Zurich), and Benoit Donnet
            (Université de Liège)

        %p
          %b
            %a{:href=>"https://dl.acm.org/authorize?N31231",
               :referrerpolicy => "no-referrer-when-downgrade"}
              Tracking transport-layer evolution with PATHspider
          %br
            Brian Trammell (ETH Zurich), Mirja Kühlewind (ETH Zurich), Piet
            De Vaere (ETH Zurich), Iain R. Learmonth (University of
            Aberdeen), and Gorry Fairhurst (University of Aberdeen).

        %p
          %b
            %a{:href=>"https://dl.acm.org/authorize?N31232",
               :referrerpolicy => "no-referrer-when-downgrade"}
              Take your own share of the PIE
          %br
            Sándor Laki (Eötvös Loránd University, Budapest, Hungary),
            Gergo Gombos (Eötvös Loránd University, Budapest, Hungary),
            Szilveszter Nádas (Ericsson Research, Budapest, Hungary), and
            Zoltán Turányi (Ericsson Research, Budapest, Hungary).

        %p
          %b
            %a{:href=>"https://dl.acm.org/authorize?N31233",
               :referrerpolicy => "no-referrer-when-downgrade"}
              A NEAT Way to Browse the Web
          %br
            Felix Weinrank (Münster University of Applied Sciences),
            Karl-Johan Grinnemo (Karlstad University), Zdravko Bozakov
            (Dell EMC Research Europe), Anna Brunstrom (Karlstad
            University), Thomas Dreibholz (Simula Research Laboratory),
            Gorry Fairhurst (University of Aberdeen), Per Hurtig (Karlstad
            University), Naeem Khademi (University of Oslo), and Michael
            Tüxen (Münster University of Applied Sciences).

      %td
        %p
          Spencer Dawkins

    %tr
      %td
        %p
          %b
            13:00
      %td
        %h4.text-danger Lunch Break
      %td

    %tr
      %td
        %p
          %b
            14:00
      %td
        %h4.text-danger Session: Implementation &amp; Operations
        %p
          %b
            %a{:href=>"https://dl.acm.org/authorize?N31234",
               :referrerpolicy => "no-referrer-when-downgrade"}
              Implementing IPv6 Segment Routing in the Linux Kernel.
          %br
            David Lebrun (UCLouvain) and Olivier Bonaventure (UCLouvain)

        %p
          %b
            %a{:href=>"https://dl.acm.org/authorize?N31245",
               :referrerpolicy => "no-referrer-when-downgrade"}
              Manage resource-constrained IoT devices through dynamically
              generated and deployed YANG models
          %br
            Thomas Scheffler (Beuth Hochschule für Technik Berlin) 
            and Olaf Bonneß (Deutsche Telekom AG).


        %p
          %b
            %a{:href=>"https://dl.acm.org/authorize?N31246",
               :referrerpolicy => "no-referrer-when-downgrade"}
              No domain left behind: is Let’s Encrypt democratizing encryption?
          %br
            Maarten Aertsen (Delft University of Technology), Maciej
            Korczyński (Delft University of Technology), Giovane C. M.
            Moura (SIDN Labs), Samaneh Tajalizadehkhoob (Delft University
            of Technology), and Jan van den Berg (Delft University of
            Technology)

      %td
        %p
          Aaron Falk

    %tr
      %td
        %p
          %b
            15:30
      %td
        %h4.text-danger Coffee Break
      %td
        %p
          &nbsp;

    %tr
      %td
        %p
          %b
            16:00
      %td
        %h4.text-danger
          Panel - Instrumenting Networks: Measurements to Track Network and Internet Health 
        %p
          %h5 
            Moderator:
          %h6
            Leslie Daigle
        %p
          %h5 
            Panelists:
          %h6 
            John Brzozowski, Comcast
          %h6 
            Victor Kuarsingh, Oracle
          %h6 
            Robert Kisteleki, RIPE MCC
        %p
          This panel will explore the challenges of establishing a
          measurement collection framework within an operational network —
          instrumenting it for the purpose of tracking the network’s state
          as well as contributing to a picture of the overall Internet
          state of health. Apart from narrowing down what “Internet health”
          actually means, challenges include: choosing measurements that
          are meaningful markers of user experience, carrying out
          measurements within the network without otherwise impacting the
          network’s performance or perturbing any target resources at which
          measurement traffic is aimed. These and other challenges and
          insights will be discussed by panelists from operators to
          infrastructure operators and network architects.

      %td
        %p
          &nbsp;

    %tr
      %td
        %p
          %b
            17:00
      %td
        %h4.text-danger Adjourn
      %td
        %p
          &nbsp;

%h2 Recordings

%p
  The recordings from the workshop are available on YouTube in four parts.

%div{ :style => "width: 24%; display: inline-block;" }
  .embed-responsive.embed-responsive-4by3
    %iframe.embed-responsive-item{ :src => "https://www.youtube.com/embed/F09I7OCD7_Y"}

%div{ :style => "width: 24%; display: inline-block;" }
  .embed-responsive.embed-responsive-4by3
    %iframe.embed-responsive-item{ :src => "https://www.youtube.com/embed/r1gIdO0ZbuE"}

%div{ :style => "width: 24%; display: inline-block;" }
  .embed-responsive.embed-responsive-4by3
    %iframe.embed-responsive-item{ :src => "https://www.youtube.com/embed/uQmMNmuMe0Q"}

%div{ :style => "width: 24%; display: inline-block;" }
  .embed-responsive.embed-responsive-4by3
    %iframe.embed-responsive-item{ :src => "https://www.youtube.com/embed/KdxKQK9NYDQ"}

