%table.table.table-condensed
  %tbody
    %tr
      %td{ style: 'width: "33%"' }
        Paper submission deadline
      %td
        To be confirmed
    %tr
      %td
        Paper notification deadline
      %td{ colspan:  2 }
        To be confirmed
    %tr
      %td
        Camera-ready paper deadline
      %td{ colspan: 2 }
        To be confirmed
    %tr
      %td
        Registration opens
      %td{ :colspan => 2 }
        To be confirmed
    %tr
      %td
        Registration closes
      %td{ :colspan => 2 }
        To be confirmed

    %tr.warning
      %td
        %b
          ANRW&nbsp;’22 workshop
      %td{ colspan: 2 }
        %b
          July 23-29, 2022
