%table.table.table-condensed
  %tbody
    %tr
      %td{ style: 'width: "33%"' }
        Paper submission deadline
      %td
        %strike 4 May 2022
        11 May 2022
    %tr
      %td
        Paper notification deadline
      %td{ colspan:  2 }
        %strike 25 May 2022
        8 June 2022
    %tr
      %td
        Camera-ready paper deadline
      %td{ colspan: 2 }
        To be confirmed
    %tr
      %td
        Registration opens
      %td{ :colspan => 2 }
        To be confirmed
    %tr
      %td
        Registration closes
      %td{ :colspan => 2 }
        To be confirmed

    %tr
      %td
        Travel grants application deadline
      %td{ :colspan => 2 }
        June 20, 2022
    %tr
      %td
        Travel grants notification deadline
      %td{ :colspan => 2 }
        June 23, 2022

    %tr.warning
      %td
        %b
          ANRW&nbsp;’22 workshop
      %td{ colspan: 2 }
        %b
          Week of July 25-29, 2022
