#!/usr/bin/env ruby

# This is input to gulp only
ignore "/style.*"

compile "/**/*.haml" do
  filter :rfc
  filter :haml, :format => :html5
  filter :wg
  filter :rg
  filter :meeting
  filter :url
  filter :relativize_paths, :type => :html
  if /concluded/.match(item.identifier.to_s)
    layout "/historic.*"
  else
    layout "/default.*"
  end
  filter :rubypants
  # filter :htmlcompressor
  # haml files become html files
  write item.identifier.without_ext + ".html"
end

compile %r{/raim-2015-papers/irtf_raim-(.+)\..*} do |id|
  write "/raim-2015-papers/raim-2015-#{id[0]}" + "." + item.identifier.ext
end

compile "/htaccess" do
  write "/.htaccess"
end

compile "/rg-contacts.*" do
  write "/pub/rg-contacts" + "." + item.identifier.ext
end

compile "/sitemap.*" do
  filter :haml, :format => :html5
  write "/sitemap" + "." + item.identifier.ext
end

compile "/static/**/*" do
  write item.identifier.to_s.sub(/\A\/static/, '')
end

passthrough "/**/*.{php,html,png,jpg,json}"
passthrough "/*.pdf"
passthrough "/raim-2015-slides/**/*.pdf"

layout "/**/*", :haml, :format => :html5
