#!/usr/bin/env ruby

# This is input to gulp only
ignore "/style.*"

# Don't upload the hotcrp json and xml files
ignore "/anrw/*/*.{xml,json}"

# Ignore any yaml files
ignore "/**/*.yaml"

compile "/**/*.haml" do
  filter :haml, :format => :html5
  filter :rfc
#  filter :rg Disabled to prevent conflict with rgtiles_.haml
  filter :meeting
  filter :url
  filter :relativize_paths, :type => :html
  case
  when /concluded/.match(item.identifier.to_s)
    layout "/historic.*"
  when /anrw[^\/]*\/\d+\//.match(item.identifier.to_s)
    layout "/anrw.*"
  else
    layout "/default.*"
  end
  filter :rubypants
  filter :htmlcompressor
  # haml files become html files
  write item.identifier.without_ext + ".html"
end

compile %r{/raim-2015-papers/irtf_raim-(.+)\..*} do |id|
  write "/raim-2015-papers/raim-2015-#{id[0]}" + "." + item.identifier.ext
end

compile "/htaccess" do
  write "/.htaccess"
end

compile "/rg-contacts.*" do
  filter :haml, :format => :html5
  write "/pub/rg-contacts" + "." + item.identifier.ext
end

compile "/sitemap.*" do
  filter :haml, :format => :html5
  filter :htmlcompressor
  write "/sitemap" + "." + item.identifier.ext
end

compile "/static/**/*" do
  write item.identifier.to_s.sub(/\A\/static/, '')
end

passthrough "/**/*.{php,html,png,jpg,svg,json,cls,doc,docx,pdf,txt,pptx,key,m4v}"

layout "/**/*", :haml, :format => :html5
