---
title: ANRW&nbsp;’21 Information for Attendees
menu: Attend
other: false
---

%h2
  Registration

  %p
    The ANRW 2021 will be held online during the week of July 26-30, 2021,
    and is scheduled together with the
    %a{ :href => "https://www.ietf.org/how/meetings/111/" } IETF-111
    meeting.

  %p
    All attendees
    %b must
    register for the ANRW. Registration costs $25 USD for all attendees that are
    %b not
    also attending the IETF-111 meeting (fee waivers are available if this
    is a barrier - see below). Registration for the ANRW is free for those
    who have registered for 
    %a{ :href => "https://www.ietf.org/how/meetings/111/" } IETF-111
    for the full week, on a day pass, or as a full-time student.
    The IETF registration fee is $50 USD for full-time students, and covers
    attendance at all IETF working groups, IRTF research groups, tutorials,
    and other sessions for the entire week, as well as the ANRW. 

  %p
    %a.btn.btn-primary{ :href => "https://anrw-reg.irtf.org/aro/meeting/anrw2021/register", :role => "button" } Register for ANRW 2021
    %a.btn.btn-primary{ :href => "https://registration.ietf.org/111/", :role => "button" } Register for IETF-111 (optional)


  %p
    You
    %b do not
    need to register for IETF-111 in order to attend ANRW. If you do want
    to attend both IETF and ANRW, remember to come back here and register
    for ANRW after completing your IETF registration.

  %p
    %b Fee waivers are available
    to support those for whom the ANRW registration fee represents a
    barrier to participation. If you cannot afford the registration fee
    then please take this fee waiver option to ensure that you can
    participate: 

  %p
    %a.btn.btn-primary{ :href => "https://anrw-reg.irtf.org/feewaiver.html"} Request fee waiver

  %p
    The IETF also runs a separate fee waiver programme for their meetings.

  %p
    At least one author of each accepted paper
    %b must
    register for the ANRW and present their paper.

  %p
    The ANRW will be streamed live and recorded. Participation will
    be provided using the IETF remote participation system. You can find
    information about that system on the 
    %a{ :href => "https://www.ietf.org/how/meetings/111/" } IETF-111 meeting page.

%h2 Important Dates
= render '/anrw/2021/dates_.*'

