---
title: ANRW&nbsp;’21 Committees
menu: Committees
---

.col-md-6
  %h2 Program Committee
  %table.table.table-striped
    %tbody
      %tr
        %td Nick Feamster
        %td
          %span.label.label-default Chair
        %td University of Chicago
      %tr
        %td Andra Lutu
        %td
          %span.label.label-default Chair
        %td Telefonica Research

-#
-#   %a.btn.btn-default{ :href => "mailto:anrw-tpc@irtf.org", :role => "button" }
-#   Email the program committee »
-#
.col-md-6
  = render "/anrw/2021/sc_.*"


