---
title: ANRW&nbsp;’21 Program
menu: Program
---

%h1 Workshop Program

%p= render "/anrw/2021/place_.*"

%h2 Slack Channel

%p
  If you would like to meet with other attendees, the SIGCOMM Community
  Slack space has a channel dedicated to ANRW 2021 (#anrw2021). The SIGCOMM
  Community Slack was created specifically for the purpose of facilitating
  online interaction during virtual conferences.
  To join the SIGCOMM Community Slack, use 
  %a{ :href => "https://join.slack.com/t/sigcomm/shared_invite/zt-erk5tjkg-bsoSc1UXlOY03uU~E2zPVA"} this invitation link
  and follow the instructions.

%h2 Program

%p
  Times are given in UTC.

%table.table.table-striped.no-urlify
  %thead
    %tr
      %th
        Time
      %th
        Session
      %th
        Session Chair
  %tbody
    %tr
      %td{ :style => "width: 8em" }
        %b July 26, 2021<br> 19:00-19:15
      %td
        %h4.text-danger Welcome and Opening Remarks
        %div.row
          %div.col-lg-8
            %p
              Andra Lutu and Nick Feamster
            %div.col-lg-4
              %p.btn-toolbar
                %a{ :href => "/anrw/2021/anrw21_welcome_slides.pdf", :class => "btn btn-default btn-xs", :role => "button"}
                  <span class="glyphicon glyphicon-picture" aria-hidden="true"></span>Slides
      %td{ :style => "width: 8em" }
        %p
          &nbsp;

    %tr
      %td
        %b July 26, 2021<br> 19:00-20:15
      %td
        %h4.text-danger New Internet Protocols
        %div.row
          %div.col-lg-8
            %p
              %a{ name: "p27"}
              %b
                /%a{ :href => "anrw2021-final27.pdf"} 
                %a{ :href => "https://dl.acm.org/doi/10.1145/3472305.3472316"} 
                  Adaptive Cheapest Path First Scheduling in a Transport-Layer Multi-Path Tunnel Context
              %br
              Marcus Pieska, Anna Brunstromm Andreas Kassler, Markus Amend, and Alexander Rabitsch.
            %div.col-lg-4
              %p.btn-toolbar
                %a{ :href => "/anrw/2021/slides-111-anrw-sessb-adaptive-cheapest-path-first-scheduling-in-a-transport-layer-multi-path-tunnel-context-00.pdf", :class => "btn btn-default btn-xs", :role => "button"}
                  <span class="glyphicon glyphicon-picture" aria-hidden="true"></span>Slides
              %p
                %video{ :controls => true, :preload => "none", :width => "80%", :poster => "1-ANRW2021-27.jpg"}
                  %source{ :src => "1-ANRW2021-27.m4v", :type => "video/mp4"}


        %div.row
          %div.col-lg-8
            %p
              %a{ name: "p38"}
              %b
                /%a{ :href => "anrw2021-final38.pdf"} 
                %a{ :href => "https://dl.acm.org/doi/10.1145/3472305.3472317"}
                  Leveraging the 0-RTT Convert Protocol to improve Wi-Fi/Cellular convergence
              %br
              Matthieu Baerts, Nicolas Keukeleire, and Olivier Bonaventure.
            %div.col-lg-4
              %p.btn-toolbar
                %a{ :href => "/anrw/2021/slides-111-anrw-sessb-leveraging-the-0-rtt-convert-protocol-to-improve-wi-ficellular-convergence-00.pdf", :class => "btn btn-default btn-xs", :role => "button"}
                  <span class="glyphicon glyphicon-picture" aria-hidden="true"></span>Slides
              %p
                %video{ :controls => true, :preload => "none", :width => "80%", :poster => "2-ANRW2021-38.jpg"}
                  %source{ :src => "2-ANRW2021-38.m4v", :type => "video/mp4"}

        %div.row
          %div.col-lg-8
            %p
              %a{ name: "p53"}
              %b
                /%a{ :href => "anrw2021-final53.pdf"} 
                %a{ :href => "https://dl.acm.org/doi/10.1145/3472305.3472320"} 
                  Cooperative Performance Enhancement Using QUIC Tunneling in 5G Cellular Networks
              %br
              Zsolt Krämer, Mirja Kühlewind, Marcus Ihlar, and Attila Mihály
            %div.col-lg-4
              %p.btn-toolbar
                %a{ :href => "/anrw/2021/slides-111-anrw-sessb-cooperative-performance-enhancement-using-quic-tunneling-in-5g-cellular-networks-00.pdf", :class => "btn btn-default btn-xs", :role => "button"}
                  <span class="glyphicon glyphicon-picture" aria-hidden="true"></span>Slides
              %p
                %video{ :controls => true, :preload => "none", :width => "80%", :poster => "3-ANRW2021-53.jpg"}
                  %source{ :src => "3-ANRW2021-53.m4v", :type => "video/mp4"}
      %td
        %p
          Anna Brunstrom


    %tr
      %td
        %b July 26, 2021<br> 20:15-21:00
      %td
        %h4.text-danger Practical Congestion Control
        %div.row
          %div.col-lg-8
            %p
              %a{ name: "p62"}
              %b
                /%a{ :href => "anrw2021-final62.pdf"} 
                %a{ :href => "https://dl.acm.org/doi/10.1145/3472305.3472322"} 
                  CCID5: An implementation of the BBR Congestion Control algorithm for DCCP and its impact over multi-path scenarios
              %br
                Nathalie Romo Moreno, Markus Amend, Anna Brunstrom, Andreas Kassler, and Veselin Rakocevic
            %div.col-lg-4
              %p.btn-toolbar
                %a{ :href => "/anrw/2021/slides-111-anrw-sessb-ccid5-an-implementation-of-the-bbr-congestion-control-algorithm-for-dccp-and-its-impact-over-multi-path-scenarios-00.pdf", :class => "btn btn-default btn-xs", :role => "button"}
                  <span class="glyphicon glyphicon-picture" aria-hidden="true"></span>Slides
              %p
                %video{ :controls => true, :preload => "none", :width => "80%", :poster => "1-ANRW2021-62.jpg"}
                  %source{ :src => "1-ANRW2021-62.m4v", :type => "video/mp4"}

        %div.row
          %div.col-lg-8
            %p
              %a{ name: "p70"}
              %b
                /%a{ :href => "anrw2021-final70.pdf"}
                %a{ :href => "https://dl.acm.org/doi/10.1145/3472305.3472323"} 
                  Toward Greater Scavenger Congestion Control Deployment: Implementations and Interfaces
              %br
                Tong Meng, Christopher Cai, Brighten Godfrey, and Michael Schapira
            %div.col-lg-4
              %p
                %video{ :controls => true, :preload => "none", :width => "80%", :poster => "2-ANRW2021-70.jpg"}
                  %source{ :src => "2-ANRW2021-70.m4v", :type => "video/mp4"}
      %td
        %p
          Theresa Enghardt


    %tr
      %td
        %b July 27, 2021<br> 19:00-19:45
      %td
        %h4.text-danger Interconnection and Routing
        %div.row
          %div.col-lg-8
            %p
              %a{ name: "p20"}
              %b
                /%a{ :href => "anrw2021-final20.pdf"}
                %a{ :href => "https://dl.acm.org/doi/10.1145/3472305.3472315"}
                  Hunting BGP Zombies in the Wild
              %br
                Porapat Ongkanchana, Romain Fontugne, Hiroshi Esaki, Job Snijders, and Emile Aben
            %div.col-lg-4
              %p.btn-toolbar
                %a{ :href => "/anrw/2021/slides-111-anrw-sessa-hunting-bgp-zombies-in-the-wild-00.pdf", :class => "btn btn-default btn-xs", :role => "button"}
                  <span class="glyphicon glyphicon-picture" aria-hidden="true"></span>Slides
              %p
                %video{ :controls => true, :preload => "none", :width => "80%", :poster => "1-ANRW2021-20.jpg"}
                  %source{ :src => "1-ANRW2021-20.m4v", :type => "video/mp4"}

        %div.row
          %div.col-lg-8
            %p
              %a{ name: "p95"}
              %b
                /%a{ :href => "anrw2021-final95.pdf"} 
                %a{ :href => "https://dl.acm.org/doi/10.1145/3472305.3472325"} 
                  Meta-Peering: Towards Automated ISP Peer Selection
              %br
                Prasun Kanti Dey, Shahzeb Mustafa, and Murat Yuksel
            %div.col-lg-4
              %p.btn-toolbar
                %a{ :href => "/anrw/2021/slides-111-anrw-sessa-meta-peering-towards-automated-isp-peer-selection-00.pdf", :class => "btn btn-default btn-xs", :role => "button"}
                  <span class="glyphicon glyphicon-picture" aria-hidden="true"></span>Slides
              %p
                %video{ :controls => true, :preload => "none", :width => "80%", :poster => "2-ANRW2021-95.jpg"}
                  %source{ :src => "2-ANRW2021-95.m4v", :type => "video/mp4"}
      %td
        %p
          Amreesh Phokeer

    %tr
      %td
        %b July 27, 2021<br> 19:45-21:00
      %td
        %h4.text-danger Monitoring Internet Traffic
        %div.row
          %div.col-lg-8
            %p
              %a{ name: "p7"}
              %b
                /%a{ :href => "anrw2021-final7.pdf"}
                %a{ :href => "https://dl.acm.org/doi/10.1145/3472305.3472313"}
                  Towards Cross-Layer Telemetry
              %br
                Justin Iurman, Frank Brockners, and Benoit Donnet
            %div.col-lg-4
              %p.btn-toolbar
                %a{ :href => "/anrw/2021/slides-111-anrw-sessa-towards-cross-layer-telemetry-00.pdf", :class => "btn btn-default btn-xs", :role => "button"}
                  <span class="glyphicon glyphicon-picture" aria-hidden="true"></span>Slides
              %p
                %video{ :controls => true, :preload => "none", :width => "80%", :poster => "1-ANRW2021-07.jpg"}
                  %source{ :src => "1-ANRW2021-07.m4v", :type => "video/mp4"}

        %div.row
          %div.col-lg-8
            %p
              %a{ name: "p49"}
              %b
                /%a{ :href => "anrw2021-final49.pdf"}
                %a{ :href => "https://dl.acm.org/doi/10.1145/3472305.3472319"}
                  L, Q, R, and T - Which Spin Bit Cousin is here to stay?
              %br
                Ike Kunze, Jan Rüth, and Klaus Wehrle
            %div.col-lg-4
              %p.btn-toolbar
                %a{ :href => "/anrw/2021/slides-111-anrw-sessa-l-q-r-and-t-which-spin-bit-cousin-is-here-to-stay-00.pdf", :class => "btn btn-default btn-xs", :role => "button"}
                  <span class="glyphicon glyphicon-picture" aria-hidden="true"></span>Slides
              %p
                %video{ :controls => true, :preload => "none", :width => "80%", :poster => "2-ANRW2021-49.jpg"}
                  %source{ :src => "2-ANRW2021-49.m4v", :type => "video/mp4"}

        %div.row
          %div.col-lg-8
            %p
              %a{ name: "p68"}
              %b
                /%a{ :href => "anrw2021-final68.pdf"}
                %a{ :href => "https://dl.acm.org/doi/10.1145/3472305.3472885"}
                  Detecting Consumer IoT Devices Through the Lens of an ISP
              %br
                Said Jawad Saidi, Anna Maria Mandalari, Hamed Haddadi, Daniel J. Dubois, 
                David Choffnes, Georgios Smaragdakis, and Anja Feldmann
            %div.col-lg-4
              %p.btn-toolbar
                %a{ :href => "/anrw/2021/slides-111-anrw-sessa-detecting-consumer-iot-devices-through-the-lens-of-an-isp-00.pdf", :class => "btn btn-default btn-xs", :role => "button"}
                  <span class="glyphicon glyphicon-picture" aria-hidden="true"></span>Slides
              %p
                %video{ :controls => true, :preload => "none", :width => "80%", :poster => "3-ANRW2021-68.jpg"}
                  %source{ :src => "3-ANRW2021-68.m4v", :type => "video/mp4"}

        %div.row
          %div.col-lg-8
            %p
              %a{ name: "p59"}
              %b
                /%a{ :href => "anrw2021-final59.pdf"} 
                %a{ :href => "https://dl.acm.org/doi/10.1145/3472305.3472321"} 
                  On the Evolution of Internet Flow Characteristics
              %br
                Simon Bauer, Benedikt Jaeger, Fabian Helfert, Philipe Barias, and Georg Carle
            %div.col-lg-4
              %p.btn-toolbar
                %a{ :href => "/anrw/2021/slides-111-anrw-sessa-on-the-evolution-of-internet-flow-characteristics-00.pdf", :class => "btn btn-default btn-xs", :role => "button"}
                  <span class="glyphicon glyphicon-picture" aria-hidden="true"></span>Slides
              %p
                %video{ :controls => true, :preload => "none", :width => "80%", :poster => "4-ANRW2021-59.jpg"}
                  %source{ :src => "4-ANRW2021-59.m4v", :type => "video/mp4"}
      %td
        %p
          Edmundo de Souza e Silva


    %tr
      %td
        %b July 28, 2021<br> 19:00-20:00 
      %td
        %h4.text-danger DNS and Privacy
        %div.row
          %div.col-lg-8
            %p
              %a{ name: "p48"}
              %b
                /%a{ :href => "anrw2021-final48.pdf"}
                %a{ :href => "https://dl.acm.org/doi/10.1145/3472305.3472318"} 
                  Encryption without Centralization: Distributing DNS Queries Across Recursive Resolvers
              %br
                Austin Hounsel, Paul Schmitt, Kevin Borgolte, and Nick Feamster
            %div.col-lg-4
              %p
                %video{ :controls => true, :preload => "none", :width => "80%", :poster => "1-ANRW2021-48.jpg"}
                  %source{ :src => "1-ANRW2021-48.m4v", :type => "video/mp4"}

        %div.row
          %div.col-lg-8
            %p
              %a{ name: "p89"}
              %b
                /%a{ :href => "anrw2021-final89.pdf"}
                %a{ :href => "https://dl.acm.org/doi/10.1145/3472305.3472324"} 
                  Institutional Privacy Risks in Sharing DNS Data
              %br
                Basileal Imana, Aleksandra Korolova, and John Heidemann
            %div.col-lg-4
              %p
                %video{ :controls => true, :preload => "none", :width => "80%", :poster => "2-ANRW2021-89.jpg"}
                  %source{ :src => "2-ANRW2021-89.m4v", :type => "video/mp4"}

        %div.row
          %div.col-lg-8
            %p
              %a{ name: "p46"}
              %b
                /%a{ :href => "anrw2021-final46.pdf"} 
                %a{ :href => "https://dl.acm.org/doi/10.1145/3472305.3472884"} 
                  DNS over TCP Considered Vulnerable
              %br
                Tianxiang Dai, Haya Shulman, and Michael Waidner
            %div.col-lg-4
              %p
                %video{ :controls => true, :preload => "none", :width => "80%", :poster => "3-ANRW2021-46.jpg"}
                  %source{ :src => "3-ANRW2021-46.m4v", :type => "video/mp4"}
      %td
        %p
          Nick Feamster

    %tr
      %td
        %b July 28, 2021<br> 20:00-20:45
      %td
        %h4.text-danger Applications and Specifications
        %div.row
          %div.col-lg-8
            %p
              %a{ name: "p17"}
              %b
                %a{ :href => "https://dl.acm.org/doi/10.1145/3472305.3472314"}
                  Tools for Disambiguating RFCs
              %br
                Jane Yen, Ramesh Govindan, and Barath Raghavan
            %div.col-lg-4
              %p
                %video{ :controls => true, :preload => "none", :width => "80%", :poster => "1-ANRW2021-17.jpg"}
                  %source{ :src => "1-ANRW2021-17.m4v", :type => "video/mp4"}

        %div.row
          %div.col-lg-8
            %p
              %a{ name: "p78"}
              %b
                %a{ :href => "https://dl.acm.org/doi/10.1145/3472305.3472886"}
                  Manus Manum Lavat: Media Clients and Servers Cooperating with Common Media Client/Server Data
              %br
                Ali C. Begen
            %div.col-lg-4
              %p
                %video{ :controls => true, :preload => "none", :width => "80%", :poster => "2-ANRW2021-78.jpg"}
                  %source{ :src => "2-ANRW2021-78.m4v", :type => "video/mp4"}
      %td
        %p
          Andra Lutu


%h2 Proceedings
%p
  %a{ :href => "https://dl.acm.org/doi/proceedings/10.1145/3472305" } Proceedings of the Applied Networking Research Workshop 2021
  will be available from the ACM Digital Library from 24 July 2021.


%p
  The recordings from the workshop will be available on the 
  %a{ :href => "https://www.youtube.com/user/ietf/"} IETF channel
  on YouTube:

/%div{ :style => "width: 24%; display: inline-block;" }
/  .embed-responsive.embed-responsive-4by3
/    %iframe.embed-responsive-item{ :src => "https://www.youtube.com/embed/dgOieIfNsZo", :allow => "accelerometer; encrypted-media; gyroscope; picture-in-picture", :allowfullscreen => true}
/
/%div{ :style => "width: 24%; display: inline-block;" }
/  .embed-responsive.embed-responsive-4by3
/    %iframe.embed-responsive-item{ :src => "https://www.youtube.com/embed/VhC7suupR7E", :allow => "accelerometer; encrypted-media; gyroscope; picture-in-picture", :allowfullscreen => true}
/
/%div{ :style => "width: 24%; display: inline-block;" }
/  .embed-responsive.embed-responsive-4by3
/    %iframe.embed-responsive-item{ :src => "https://www.youtube.com/embed/WOOZGJN6VkY", :allow => "accelerometer; encrypted-media; gyroscope; picture-in-picture", :allowfullscreen => true}
/
/%div{ :style => "width: 24%; display: inline-block;" }
/  .embed-responsive.embed-responsive-4by3
/    %iframe.embed-responsive-item{ :src => "https://www.youtube.com/embed/QRy8h6PYK5c", :allow => "accelerometer; encrypted-media; gyroscope; picture-in-picture", :allowfullscreen => true}
/





