---
title: ANRW&nbsp;’25 Committees
menu: Committees
---

%div.row
  %div.col-sm-6
    %h2 Program Committee
    %table.table.table-striped
      %tbody
        %tr
          %td
            Suresh Krishnan
            %span.badge.bg-secondary Chair
          %td
            Cisco

        %tr
          %td 
            Thomas Schmidt
            %span.badge.bg-secondary Chair
          %td
            HAW Hamburg

        %tr
          %td
            Ali Rezaki
          %td
            Nokia

        %tr
          %td
            Anna Brunstrom
          %td
            Karlstad University and University of Malaga

        %tr
          %td
            Colin Perkins
          %td
            University of Glasgow

        %tr
          %td
            Dave Oran
          %td
            Network Systems Research & Design

        %tr
          %td
            Eve Schooler
          %td
            University of Oxford

        %tr
          %td
            Gorry Fairhurst
          %td
            University of Aberdeen

        %tr
          %td
            Ignacio Castro
          %td
            Queen Mary University of London

        %tr
          %td
            Jana Iyengar
          %td
            Netflix

        %tr
          %td
            Jayasree Sengupta
          %td
            IIIT Allahabad

        %tr
          %td
            Joel Sommers
          %td
            Colgate University

        %tr
          %td
            Joerg Ott
          %td
            Technische Universität München

        %tr
          %td
            Lixia Zhang
          %td
            UCLA

        %tr
          %td
            Martino Trevisan
          %td
            University of Trieste                  

        %tr
          %td
            Matthias Wählisch
          %td
            TU Dresden

        %tr
          %td
            Michael Welzl
          %td
            University of Oslo

        %tr
          %td
            Mirja Kühlewind
          %td
            Ericsson Research

        %tr
          %td
            Mohit P. Tahiliani
          %td
            National Institute of Technology Karnataka, Surathkal

        %tr
          %td
            Philipp Tiesel
          %td
            SAP SE

        %tr
          %td
            Quentin De Coninck
          %td
            University of Mons

        %tr
          %td
            Ricky K. P. Mok
          %td
            CAIDA/UC San Diego

        %tr
          %td
            Robin Marx
          %td
            Akamai Technologies

        %tr
          %td
            Roland Bless
          %td
            Karlsruhe Institute of Technology (KIT)

        %tr
          %td
            Romain Fontugne
          %td
            IIJ Research Laboratory

        %tr
          %td
            Romain Jacob
          %td
            ETH Zurich

        %tr
          %td
            Ryan Beckett
          %td
            Microsoft

        %tr
          %td
            Simone Ferlin-Reiter
          %td
            Red Hat and Karlstad University

        %tr
          %td
            Stephen Farrell
          %td
            Trinity College Dublin

        %tr
          %td
            Tanya Shreedhar
          %td
            TU Delft

        %tr
          %td
            Tijay Chung
          %td
            Virginia Tech


  %div.col-sm-6
    = render "/anrw/2025/sc_.*"


