---
title: Applied Networking Research Workshop (ANRW&nbsp;’26)
menu: ANRW&nbsp;’26
order: 1
location: Vienna, Austria
date: Week of July 21, 2026
ietf: IETF-126
---

%div.row
  %div.col-sm-8.col-xs-12
    %p
      The ACM/IRTF Applied Networking Research Workshop 2026 (ANRW’26) is an
      academic workshop that provides a forum for researchers, vendors, network
      operators, and the Internet standards community to present and discuss
      emerging results in applied networking research, and to find inspiration
      from topics and open problems discussed at the IETF.
      The workshop will consist of a mix of invited talks, submitted regular papers,
      and submitted short papers.	
    %p 
      ANRW’26 particularly encourages the submission of results that could
      form the basis for future engineering work in the IETF, help
      better specify Internet protocols, change operational Internet
      practices, or influence further research and experimentation
      in the IRTF. ANRW’26 is sponsored by ACM SIGCOMM, and the Internet
      Research Task Force (IRTF).

    %p.lead= render '/anrw/2026/place_.*'

    %p 
    %b Open Access for ANRW 2026
    
    %p
    Starting with ANRW 2026, the ACM/IRTF Applied Networking Research Workshop
    participates in ACM’s new Open Access publishing model for ACM- and SIG-sponsored
    conferences. This means that all ANRW papers will be published Open Access in the
    ACM Digital Library and will be freely available to read worldwide.
    
    %p
    %b Who pays (and when)?
    
    %p
    ACM’s default is that if the corresponding author (or any co-author designated in
    the ACM rights system) is affiliated with an institution participating in ACM Open,
    the paper is published Open Access without any APC charged to the authors. For
    papers where no author is covered by ACM Open, ACM may charge an Article
    Processing Charge (APC) under its current policy. Some authors may also qualify
    for ACM’s geographic or hardship waivers.
    
    %p
    %b ANRW’s approach to APCs
    
    %p
    ANRW, together with the IRTF and ACM SIGCOMM, is committed to keeping the workshop
    accessible to the broader applied-networking community, including practitioners,
    operators, and researchers from less-resourced institutions. We therefore do not
    want APCs to become a barrier to submitting or presenting at ANRW. If none of the
    authors on a submission is covered by ACM Open and paying an APC would prevent you
    from contributing your work, please contact the ANRW chairs as early as possible.
    Subject to available sponsorship and budget, we expect to be able to offer a
    limited number of APC waivers or reimbursements, allocated independently of the
    technical review process.

    %h2 Important Dates
    = render '/anrw/2026/dates_.*'

    %h2 Supporters and Sponsors
    = render '/anrw/sponsors_.*'

  %div.col-sm-4.d-none.d-sm-block
    %img.img-fluid{ src: 'photo.jpg', alt: "#{@item[:location]}" }
    %p.text-muted
      %small
        %a{ href: 'https://upload.wikimedia.org/wikipedia/commons/8/84/Palacio_Belvedere%2C_Viena%2C_Austria%2C_2020-02-01%2C_DD_93-95_HDR.jpg' } 'Upper Belvedere Palace, Vienna, Austria'
        by Diego Delso, delso.photo, License CC BY-SA 
        %a{ href: 'https://unsplash.com/' } Wikimedia Commons

