---
title: ANRW&nbsp;’26 Program
menu: Program
---

%h1 Workshop Program

%p= render "/anrw/2026/place_.*"

%h2 Program

%p
  Times are given in CEST (Vienna) time zone.

%table.table.table-striped.no-urlify
  %thead
    %tr
      %th
        Time
      %th
        Session

  %tbody
    %tr
      %td{ :style => "width: 10em" }
        %b 09:00-10:00
      %td
        %h4.text-danger Welcome and Keynote
        %p
          %a{ name: "welcome"}
          %b
            Welcome and Opening Remarks
          %br
          Thomas Schmidt (HAW Hamburg), Suresh Krishnan (Cisco)
          %div.mb-3
          -# %a.btn.btn-secondary{ :href => "/anrw/2024/slides-120-anrw-00.pdf"}
            slides
          -# %a.btn.btn-secondary{ :href => "https://www.youtube.com/watch?v=UV86d6g6J5s&t=45"}
            video

          %p
          %a{ name: "keynote"}
          %b
            Keynote: The Internet - A Critical Infrastructure
          %br
          %a{ :href => "https://johannaullrich.eu/"} Johanna Ullrich (IT:U Linz)

        %div.mb-3
          -# %a.btn.btn-secondary{ :href => "/anrw/2024/slides-120-anrw-01.pdf"}
            slides
          -# %a.btn.btn-secondary{ :href => "https://www.youtube.com/watch?v=UV86d6g6J5s&t=280"}
            video

    %tr
      %td{ :style => "width: 10em" }
        %b 10:00-11:00
      %td
        %h4.text-danger Network Management

        %p
          %a{ name: "p01"}
          %b
              BoostState: Low-Latency State Transfer in Edge Cloud Using Programmable Data Planes
          %br
          -# T.V. Doan et al.
        %div.mb-3
          -#%a.btn.btn-secondary{ :href => "/anrw/2024/slides-120-anrw-02.pdf"}
            slides
          -#%a.btn.btn-secondary{ :href => "https://www.youtube.com/watch?v=UV86d6g6J5s&t=4239"}
            video

        %p
          %a{ name: "p02"}
          %b
              Unified Network Abstraction Layer via Knowledge Graph
          %br
          -# F. Thomas et al.
        %div.mb-3
          -# %a.btn.btn-secondary{ :href => "/anrw/2024/slides-120-anrw-03.pdf"}
            slides
          -# %a.btn.btn-secondary{ :href => "https://www.youtube.com/watch?v=UV86d6g6J5s&t=5651"}
            video

        %p
          %a{ name: "p03"}
          %b
              Small Packets, Big Difference: L4S Congestion Control at Low Bandwidth
          %br
          -# D. Zeynali et al.
        %div.mb-3
          -# %a.btn.btn-secondary{ :href => "/anrw/2024/slides-120-anrw-03.pdf"}
            slides
          -# %a.btn.btn-secondary{ :href => "https://www.youtube.com/watch?v=UV86d6g6J5s&t=5651"}
            video

        %p
          %a{ name: "p04"}
          %b
              Towards encrypted zero-copy L7 load balancing
          %br
          -# M.P. Podles et al.
        %div.mb-3
          -# %a.btn.btn-secondary{ :href => "/anrw/2024/slides-120-anrw-03.pdf"}
            slides
          -# %a.btn.btn-secondary{ :href => "https://www.youtube.com/watch?v=UV86d6g6J5s&t=5651"}
            video

        %p
          %a{ name: "p05"}
          %b
              PINOCCHIO: Queueing-Onset Prediction in Mobile Edge Networks Using Reservoir Computing
          %br
          -# A. Karnam et al.
        %div.mb-3
          -# %a.btn.btn-secondary{ :href => "/anrw/2024/slides-120-anrw-03.pdf"}
            slides
          -# %a.btn.btn-secondary{ :href => "https://www.youtube.com/watch?v=UV86d6g6J5s&t=5651"}
            video


    %tr
      %td{ :style => "width: 10em" }
        %b 11:30-12:30
      %td
        %h4.text-danger Security and Privacy

        %p
          %a{ name: "p06"}
          %b
              Unequal Cover: Measuring Privacy Disparities in Proxy Infrastructure
            
          %br
          -# T.V. Doan et al.
        %div.mb-3
          -#%a.btn.btn-secondary{ :href => "/anrw/2024/slides-120-anrw-02.pdf"}
            slides
          -#%a.btn.btn-secondary{ :href => "https://www.youtube.com/watch?v=UV86d6g6J5s&t=4239"}
            video

        %p
          %a{ name: "p07"}
          %b
              Zero-Shot IoT Device Type Labeling from Passive Network Telemetry
          %br
          -# B. Meyuhas et al.
        %div.mb-3
          -# %a.btn.btn-secondary{ :href => "/anrw/2024/slides-120-anrw-03.pdf"}
            slides
          -# %a.btn.btn-secondary{ :href => "https://www.youtube.com/watch?v=UV86d6g6J5s&t=5651"}
            video

        %p
          %a{ name: "p08"}
          %b
              An Algebraic Framework for Source Address Validation
          %br
          -# L. Chen et al.
        %div.mb-3
          -# %a.btn.btn-secondary{ :href => "/anrw/2024/slides-120-anrw-03.pdf"}
            slides
          -# %a.btn.btn-secondary{ :href => "https://www.youtube.com/watch?v=UV86d6g6J5s&t=5651"}
            video

        %p
          %a{ name: "p09"}
          %b
              QUIC Meets Reality: Deployment and Performance of Encrypted DNS in Indian Access Networks
          %br
          -# L. Kadiyala et al.
        %div.mb-3
          -# %a.btn.btn-secondary{ :href => "/anrw/2024/slides-120-anrw-03.pdf"}
            slides
          -# %a.btn.btn-secondary{ :href => "https://www.youtube.com/watch?v=UV86d6g6J5s&t=5651"}
            video

        %p
          %a{ name: "p10"}
          %b
              The Illusion of DDR Deployment
          %br
          -# Y. Nosyk et al.
        %div.mb-3
          -# %a.btn.btn-secondary{ :href => "/anrw/2024/slides-120-anrw-03.pdf"}
            slides
          -# %a.btn.btn-secondary{ :href => "https://www.youtube.com/watch?v=UV86d6g6J5s&t=5651"}
            video


%h2 Proceedings
%p
  -#% a{ :href => "https://dl.acm.org/doi/proceedings/10.1145/3744200", 
      :referrerpolicy => "no-referrer-when-downgrade"  }
    Proceedings of the Applied Networking Research Workshop 2025 will be available from the ACM Digital Library.

