---
title: ANRW&nbsp;’26 Draft Program
menu: Program
---

%h1 Workshop Program

%p= render "/anrw/2026/place_.*"

%h2 Draft Program (Subject to Change)

%p
  Times are given in CEST (Vienna) time zone.

%table.table.table-striped.no-urlify
  %thead
    %tr
      %th
        Time
      %th
        Session

  %tbody
    %tr
      %td{ :style => "width: 10em" }
        %b 09:00-10:00
      %td
        %h4.text-danger Welcome and Keynote
        
        %p
          %a{ name: "welcome"}
          %b
            Welcome and Opening Remarks
          %br
          Thomas Schmidt (HAW Hamburg), Suresh Krishnan (Cisco)
        
        %div.mb-3
          -# %a.btn.btn-secondary{ :href => "/anrw/2024/slides-120-anrw-00.pdf"}
            slides
  
        %p
          %a{ name: "keynote"}
          %b
            Keynote: The Internet - A Critical Infrastructure
          %br
          %a{ :href => "https://johannaullrich.eu/"} Johanna Ullrich (IT:U Linz)

        %div.mb-3
          -# %a.btn.btn-secondary{ :href => "/anrw/2024/slides-120-anrw-01.pdf"}
            slides
          -# %a.btn.btn-secondary{ :href => "https://www.youtube.com/watch?v=UV86d6g6J5s&t=280"}
            video

    %tr
      %td{ :style => "width: 10em" }
        %b 10:00-11:00
      %td
        %h4.text-danger Network Management

        %p
          %a{ name: "p01"}
          %b
            BoostState: Low-Latency State Transfer in Edge Cloud Using Programmable Data Planes
          %br
            Tung V. Doan, Mahdi Attawna, Frank H.P. Fitzek, and Giang T. Nguyen 
        
        %div.mb-3
          -#%a.btn.btn-secondary{ :href => "/anrw/2024/slides-120-anrw-02.pdf"}
            slides
          -#%a.btn.btn-secondary{ :href => "https://www.youtube.com/watch?v=UV86d6g6J5s&t=4239"}
            video

        %p
          %a{ name: "p02"}
          %b
            Unified Network Abstraction Layer via Knowledge Graph
          %br
            Felipe Thomas, Eduardo Kruel Milano do Canto, Vinicius Tavares Guimarães, Julião Braga, and Jeferson Nobre 
        
        %div.mb-3
          -# %a.btn.btn-secondary{ :href => "/anrw/2024/slides-120-anrw-03.pdf"}
            slides
          -# %a.btn.btn-secondary{ :href => "https://www.youtube.com/watch?v=UV86d6g6J5s&t=5651"}
            video

        %p
          %a{ name: "p03"}
          %b
            Small Packets, Big Difference: L4S Congestion Control at Low Bandwidth
          %br
            Danesh Zeynali, Balakrishnan Chandrasekaran, Chia-Yu Chang, Koen De Schepper, and Anja Feldmann 
        
        %div.mb-3
          -# %a.btn.btn-secondary{ :href => "/anrw/2024/slides-120-anrw-03.pdf"}
            slides
          -# %a.btn.btn-secondary{ :href => "https://www.youtube.com/watch?v=UV86d6g6J5s&t=5651"}
            video

        %p
          %a{ name: "p04"}
          %b
            Towards encrypted zero-copy L7 load balancing
          %br
            Michał Piotr Podleś, Idelfonso Tafur Monroy, Juan Jose Vegas Olmos, and Boris Pismenny 
        
        %div.mb-3
          -# %a.btn.btn-secondary{ :href => "/anrw/2024/slides-120-anrw-03.pdf"}
            slides
          -# %a.btn.btn-secondary{ :href => "https://www.youtube.com/watch?v=UV86d6g6J5s&t=5651"}
            video

        %p
          %a{ name: "p05"}
          %b
            PINOCCHIO: Queueing-Onset Prediction in Mobile Edge Networks Using Reservoir Computing
          %br
            Anudeep Karnam, Hamid Hassani, Kishor C. Joshi, Sonia M. Heemstra de Groot, Ignas G. Niemegeers, and Georgios Exarchakos 
        
        %div.mb-3
          -# %a.btn.btn-secondary{ :href => "/anrw/2024/slides-120-anrw-03.pdf"}
            slides
          -# %a.btn.btn-secondary{ :href => "https://www.youtube.com/watch?v=UV86d6g6J5s&t=5651"}
            video

    %tr
      %td{ :style => "width: 10em" }
        %b 11:30-12:30
      %td
        %h4.text-danger Security and Privacy

        %p
          %a{ name: "p06"}
          %b
            Unequal Cover: Measuring Privacy Disparities in Proxy Infrastructure
          %br
            Jess Alencaster, Rishan Baweja, Leticia Leon-Rodriguez, and Paul Schmitt 
        
        %div.mb-3
          -#%a.btn.btn-secondary{ :href => "/anrw/2024/slides-120-anrw-02.pdf"}
            slides
          -#%a.btn.btn-secondary{ :href => "https://www.youtube.com/watch?v=UV86d6g6J5s&t=4239"}
            video

        %p
          %a{ name: "p07"}
          %b
            Zero-Shot IoT Device Type Labeling from Passive Network Telemetry
          %br
            Bar Meyuhas, Anat Bremler Barr, Tal Shapira, and Vered Schiber-Chassida 
        
        %div.mb-3
          -# %a.btn.btn-secondary{ :href => "/anrw/2024/slides-120-anrw-03.pdf"}
            slides
          -# %a.btn.btn-secondary{ :href => "https://www.youtube.com/watch?v=UV86d6g6J5s&t=5651"}
            video

        %p
          %a{ name: "p08"}
          %b
            An Algebraic Framework for Source Address Validation
          %br
            Li Chen, Libin Liu, Wenzhou Yang, and Dan Li 
        
        %div.mb-3
          -# %a.btn.btn-secondary{ :href => "/anrw/2024/slides-120-anrw-03.pdf"}
            slides
          -# %a.btn.btn-secondary{ :href => "https://www.youtube.com/watch?v=UV86d6g6J5s&t=5651"}
            video

        %p
          %a{ name: "p09"}
          %b
            QUIC Meets Reality: Deployment and Performance of Encrypted DNS in Indian Access Networks
          %br
            Lohith Kadiyala and Jayasree Sengupta 
        
        %div.mb-3
          -# %a.btn.btn-secondary{ :href => "/anrw/2024/slides-120-anrw-03.pdf"}
            slides
          -# %a.btn.btn-secondary{ :href => "https://www.youtube.com/watch?v=UV86d6g6J5s&t=5651"}
            video

        %p
          %a{ name: "p10"}
          %b
            The Illusion of DDR Deployment
          %br
            Yevheniya Nosyk, Andrzej Duda, and Maciej Korczynski 
        
        %div.mb-3
          -# %a.btn.btn-secondary{ :href => "/anrw/2024/slides-120-anrw-03.pdf"}
            slides
          -# %a.btn.btn-secondary{ :href => "https://www.youtube.com/watch?v=UV86d6g6J5s&t=5651"}
            video

    %tr
      %td{ :style => "width: 10em" }
        %b 14:00-16:00
      %td
        %h4.text-danger Measurement

        %p
          %a{ name: "p11"}
          %b
            pcapML: Making Network Traffic Datasets Reproducible
          %br
            Jordan Holland, Jess Alencaster, Nick Feamster, and Paul Schmitt 
        
        %div.mb-3
          -# %a.btn.btn-secondary{ :href => "/anrw/2024/slides-120-anrw-03.pdf"}
            slides
          -# %a.btn.btn-secondary{ :href => "https://www.youtube.com/watch?v=UV86d6g6J5s&t=5651"}
            video

        %p
          %a{ name: "p12"}
          %b
            NixNet: Reproducible Virtual Network Experiments
          %br
            Benedikt Spies, Marcin Bosk, Paulo Mendes, and Jörg Ott 
        
        %div.mb-3
          -# %a.btn.btn-secondary{ :href => "/anrw/2024/slides-120-anrw-03.pdf"}
            slides
          -# %a.btn.btn-secondary{ :href => "https://www.youtube.com/watch?v=UV86d6g6J5s&t=5651"}
            video

        %p
          %a{ name: "p13"}
          %b
            Explainable Routing-Aware Incident Triage from Active Measurements
          %br
            Petya Vasileva, Shawn McKee, Alexander Penev, Marian Babik, and Yuval Shavitt 
        
        %div.mb-3
          -# %a.btn.btn-secondary{ :href => "/anrw/2024/slides-120-anrw-03.pdf"}
            slides
          -# %a.btn.btn-secondary{ :href => "https://www.youtube.com/watch?v=UV86d6g6J5s&t=5651"}
            video

        %p
          %a{ name: "p14"}
          %b
            Intradomain Multicast Routing for Modern Routers
          %br
            Anthony Doeraene and Olivier Bonaventure 
        
        %div.mb-3
          -# %a.btn.btn-secondary{ :href => "/anrw/2024/slides-120-anrw-03.pdf"}
            slides
          -# %a.btn.btn-secondary{ :href => "https://www.youtube.com/watch?v=UV86d6g6J5s&t=5651"}
            video

        %p
          %a{ name: "p15"}
          %b
            Detecting IPv4 Subnets in the Wild
          %br
            Taha Albakour, Fariba Osali, Max Franke, and Georgios Smaragdakis 
        
        %div.mb-3
          -# %a.btn.btn-secondary{ :href => "/anrw/2024/slides-120-anrw-03.pdf"}
            slides
          -# %a.btn.btn-secondary{ :href => "https://www.youtube.com/watch?v=UV86d6g6J5s&t=5651"}
            video

        %p
          %a{ name: "p16"}
          %b
            Reliable Virtual Private Networks with MASQUE
          %br
            Kilian Holzinger, Lion Steger, Michael Haden, Daniel Petri, Sebastian Gallenmüller, and Georg Carle 
        
        %div.mb-3
          -# %a.btn.btn-secondary{ :href => "/anrw/2024/slides-120-anrw-03.pdf"}
            slides
          -# %a.btn.btn-secondary{ :href => "https://www.youtube.com/watch?v=UV86d6g6J5s&t=5651"}
            video

        %p
          %a{ name: "p17"}
          %b
            RTC Relay Server Infrastructure Study
          %br
            Peiqing Chen, Sujal Umrikar, Guowu Xie, and Zaoxing Liu 
        
        %div.mb-3
          -# %a.btn.btn-secondary{ :href => "/anrw/2024/slides-120-anrw-03.pdf"}
            slides
          -# %a.btn.btn-secondary{ :href => "https://www.youtube.com/watch?v=UV86d6g6J5s&t=5651"}
            video

        %p
          %a{ name: "p18"}
          %b
            Towards Extensible, Auditable, and Modular Measurement Specification and Execution in Computer Networking
          %br
            Innocent Ndubuisi-Obi Jr and Siya Kulkarni 
        
        %div.mb-3
          -# %a.btn.btn-secondary{ :href => "/anrw/2024/slides-120-anrw-03.pdf"}
            slides
          -# %a.btn.btn-secondary{ :href => "https://www.youtube.com/watch?v=UV86d6g6J5s&t=5651"}
            video

    %tr
      %td{ :style => "width: 10em" }
        %b 16:30-18:30
      %td
        %h4.text-danger Transport and Media

        %p
          %a{ name: "p19"}
          %b
            QUIC in Space: Initial Measurements and Analysis
          %br
            Natalia Piotrowski and Joerg Ott 
        
        %div.mb-3
          -# %a.btn.btn-secondary{ :href => "/anrw/2024/slides-120-anrw-03.pdf"}
            slides
          -# %a.btn.btn-secondary{ :href => "https://www.youtube.com/watch?v=UV86d6g6J5s&t=5651"}
            video

        %p
          %a{ name: "p20"}
          %b
            u and i: Cooperative Multipath MASQUE Scheduling with HTTP/3 Prioritization
          %br
            Daniel Petri, Kilian Holzinger, Marcel Kempf, Sebastian Gallenmüller, and Georg Carle 
        
        %div.mb-3
          -# %a.btn.btn-secondary{ :href => "/anrw/2024/slides-120-anrw-03.pdf"}
            slides
          -# %a.btn.btn-secondary{ :href => "https://www.youtube.com/watch?v=UV86d6g6J5s&t=5651"}
            video

        %p
          %a{ name: "p21"}
          %b
            QUIC as Multiplexing Layer in WebRTC
          %br
            Mathis Engelbart, Fabian Willi Fromwald, and Jörg Ott 
        
        %div.mb-3
          -# %a.btn.btn-secondary{ :href => "/anrw/2024/slides-120-anrw-03.pdf"}
            slides
          -# %a.btn.btn-secondary{ :href => "https://www.youtube.com/watch?v=UV86d6g6J5s&t=5651"}
            video

        %p
          %a{ name: "p22"}
          %b
            Reset the Stream, Keep the Keyframe: Partial Reliability for Media over QUIC Delivery Timeouts
          %br
            Sebastian Rust, Tobias Meuser, and Björn Scheuermann 
        
        %div.mb-3
          -# %a.btn.btn-secondary{ :href => "/anrw/2024/slides-120-anrw-03.pdf"}
            slides
          -# %a.btn.btn-secondary{ :href => "https://www.youtube.com/watch?v=UV86d6g6J5s&t=5651"}
            video

        %p
          %a{ name: "p23"}
          %b
            Multiplexing Synchronized Media and Interactive Feeds over MOQ Transport: a Dual-Pipe Approach
          %br
            Ayse B. Demir, Mervegul Parlak, Zafer Gurel, Alperen F. Zengin, Ali C. Begen, and Burak Kara 
        
        %div.mb-3
          -# %a.btn.btn-secondary{ :href => "/anrw/2024/slides-120-anrw-03.pdf"}
            slides
          -# %a.btn.btn-secondary{ :href => "https://www.youtube.com/watch?v=UV86d6g6J5s&t=5651"}
            video

        %p
          %a{ name: "p24"}
          %b
            Tokens, Not Packets: Rethinking the Multipath QUIC Scheduling Interface
          %br
            Hendrik Cech, Patrick Bokelmann, and Nitinder Mohan 
        
        %div.mb-3
          -# %a.btn.btn-secondary{ :href => "/anrw/2024/slides-120-anrw-03.pdf"}
            slides
          -# %a.btn.btn-secondary{ :href => "https://www.youtube.com/watch?v=UV86d6g6J5s&t=5651"}
            video

        %p
          %a{ name: "p25"}
          %b
            Quantifying QoE-Aware Resource Sharing Potential Under Time-variant Spatial Complexity
          %br
            Szilveszter Nádas, Lars Ernström, David Lindero, and Jonathan Lynam 
        
        %div.mb-3
          -# %a.btn.btn-secondary{ :href => "/anrw/2024/slides-120-anrw-03.pdf"}
            slides
          -# %a.btn.btn-secondary{ :href => "https://www.youtube.com/watch?v=UV86d6g6J5s&t=5651"}
            video

        %p
          %a{ name: "p26"}
          %b
            An Open Source Implementation of IETF Transport Services over QUIC, TCP and UDP
          %br
            Ingebrigt Hovind, Michael Welzl, Safiqul Islam, and Gorry Fairhurst [cite: 62, 63]
        
        %div.mb-3
          -# %a.btn.btn-secondary{ :href => "/anrw/2024/slides-120-anrw-03.pdf"}
            slides
          -# %a.btn.btn-secondary{ :href => "https://www.youtube.com/watch?v=UV86d6g6J5s&t=5651"}
            video


%h2 Proceedings
%p
  -# %a{ :href => "https://dl.acm.org/doi/proceedings/10.1145/3744200", :referrerpolicy => "no-referrer-when-downgrade" }
    Proceedings of the Applied Networking Research Workshop 2025 will be available from the ACM Digital Library.
