%table.table.table-condensed
  %tbody
  -if @which == nil or @which == 'papers'
    %tr
      %td{ style: 'width: "33%"' }
        Paper submission deadline
      %td
        May 10, 2019
      / %td
      /   %span.text-danger
      /     %del
      /       April 13, 2017 (extended)
    %tr
      %td
        Paper notification deadline
      %td{ colspan:  2 }
        June 7, 2019
  -if @which == nil or @which == 'papers'
    %tr
      %td
        Camera-ready paper deadline
      %td{ colspan: 2 }
        June 21, 2019
    / %tr
    /   %td
    /     %em
    /     Early registration deadline
    /   %td{ :colspan => 2 }
    /     %del
    /       June 26, 2017
  -# -if @which == nil or @which == "grants"
  -#   %tr
  -#     %td
  -#       Travel grants submission deadline
  -#     %td{ :colspan => 2 }
  -#       %del
  -#         June 14, 2019
  -#   %tr
  -#     %td
  -#       Travel grants notification deadline
  -#     %td{ :colspan => 2 }
  -#       %del
  -#         June 21, 2019

    %tr.warning
      %td
        %b
          ANRW'19 at IETF 105 in Montreal
      %td{ colspan: 2 }
        %b
          July 22, 2019
