The ANRW&nbsp;’19 takes place in the 
%b.text-danger Centre Ville
room at the
%a{ :href => "https://www.fairmont.com/queen-elizabeth-montreal/"} Fairmont The Queen Elizabeth Hotel
in Montreal, Quebec, Canada,
the venue of the
%a{ :href => "https://www.ietf.org/how/meetings/105/" } IETF-105 meeting
, on Monday, July 22, 2019.
