---
title: ANRW&nbsp;’24 Committees
menu: Committees
---

%div.row
  %div.col-sm-6
    %h2 Program Committee
    %table.table.table-striped
      %tbody
        %tr
          %td 
            Simone Ferlin
            %span.badge.bg-secondary Chair
          %td 
            Red Hat
        %tr
          %td 
            Ignacio Castro
            %span.badge.bg-secondary Chair
          %td
            Queen Mary University of London
        %tr
          %td 
            Jayasree Sengupta
            %span.badge.bg-secondary Chair
          %td
            CISPA Helmholtz Center for Information Security

  %div.col-sm-6
    = render "/anrw/2024/sc_.*"


