---
title: ANRW&nbsp;’24 Program
menu: Program
---

%h1 Workshop Program

%p= render "/anrw/2024/place_.*"

%h2 Program

%p

Welcome and keynote    
 9:30 - 10:00 Welcome by the Chairs - Ignacio Castro (QMUL), Jayasree Sengupta (CISPA), Simone Ferlin (Red Hat)
 10:00 - 10:45 Keynote - Sharad Agarwal (Microsoft)

Morning Session: measurements      
1 10:45 - 11:07 HTTP/3's Extensible Prioritization Scheme in the Wild - J. Herbots, R. Marx, M. Wijnants, P. Quax, W. Lamotte
2 11:07 - 11:29 The Network Observer Factor - T. Mizrahi, M. Schapira, Y. Moses   
      
Lunch break 11:30 - 13:00  
      
Session 2: routing and congestion      
3 13:00 - 13:22 Investigating Location-Aware Advertisements in Anycast IP Networks - S. Kastanakis, V. Giotsas, I. Livadariu, N. Suri
4 13:22 - 13:44 An Empirical Characterization of Anycast Convergence Time - B. Degen, M. Jonker, R. van Rijswijk-Deij, R. Sommese
5 13:44 - 14:06 DARE: Making Diffusing Computations More Efficient for Loop-Free Shortest-Path Routing - J. Garcia-Luna-Aceves, M. Moghaddassian
6 13:44 - 14:06 To QoE or not to QoE - S. Nádas, L. Ernström, L. Szilágyi, G. Patra, D. Krylov, J. Lynam
7 14:06 - 14:28 To switch or not to switch to L4S? Incentives for adopting L4S in a partial deployment - F. Sarpkaya, A. Srivastava, F. Fund, S. Panwar
      
Break 15:00 - 15:30  
      
Session 3: security and energy      
8 15:30 - 15:52 Low-Carb BGP: A Carbon-Aware Inter-Domain Routing Extension to BGP - E. Sutherland, I. Phillips
9 15:52 - 16:14 Implementing and Evaluating IOAM Integrity Protection - J. Iurman, B. Donnet
10 16:14 - 16:36 Assessing the security of Internet paths: A case study of Dutch critical infrastructures - S. Khadka, S. Bayhan, R. Holz, C. Hesselman
11 16:36 - 16:58 Protocol Fixes for KeyTrap Vulnerabilities - N. Vogel, H. Schulmann, M. Waidner, E. Heftrig
12 16:58 - 17:20 UniSAV: A Unified Framework for Internet-Scale Source Address Validation - L. Qin, L. Liu, D. Li, L. Chen, Y. Shi, H. Yang

Break 17:20 - 17:30 
      
Session 3: ligthening papers      
13 17:30 - 17:45 Towards Measuring Content Locality - J. Madeley, A. Phokeer, A. Siddiqui, T. Benson
14 16:58 - 17:13 Investigating Data Center Network Protocols - P. Willis, N. Shenoy, Y. Pan, B. Stackpole
15 17:13 - 17:28 QUICPro: Integrating Deep Reinforcement Learning to Defend against QUIC Handshake Flooding Attacks - Y Joarder, C. Fung
16 17:28 - 17:43 BBRv3 in the public Internet: a boon or a bane? - D. Zeynali, E. Weyulu, S. Fathalli, B. Chandrasekaran, A. Feldmann
17 17:43 - 17:58 Harnessing Public Code Repositories to Develop Production-Ready ML Artifacts for Networking - P. Khan, S. Guthula, R. Beltiukov, R. Schmid, T. Bühler, A. Gupta, L. Vanbever, W. Willinger
18 17:58 - 18:13 Do Large Language Models Dream of Sockets? - J. Arkko, D. Lindbo, M. Klitte



%h2 Proceedings
%p
  -# %a{ :href => "https://dl.acm.org/doi/proceedings/10.1145/3606464", 
  -#     :referrerpolicy => "no-referrer-when-downgrade"  }
  -#   Proceedings of the Applied Networking Research Workshop 2024
  -# are available from the ACM Digital Library.

  Proceedings of the Applied Networking Research Workshop 2024 will be
  available from the ACM Digital Library.


