---
title: ANRW&nbsp;’24 Program
menu: Program
---

%h1 Workshop Program

%p= render "/anrw/2024/place_.*"

%h2 Program

%p
  Times are given in America/Pacific (Vancouver) time zone.

%table.table.table-striped.no-urlify
  %thead
    %tr
      %th
        Time
      %th
        Session

  %tbody
    %tr
      %td{ :style => "width: 10em" }
        %b 09:30-10:30
      %td
        %h4.text-danger Welcome and Keynote
        %p
          %a{ name: "welcome"}
          %b
            Welcome and Opening Remarks
          %br
          Ignacio Castro (QMUL), Jayasree Sengupta (CISPA), Simone Ferlin (Red Hat)
          -# %div.mb-3
          -#   %a.btn.btn-secondary{ :href => "/anrw/2024/slides.pdf"}
          -#     slides

        %p
          %a{ name: "keynote"}
          %b
            Keynote: Lessons I learned in leveraging AI+ML for 5G/6G systems
          %br
          %a{ :href => "https://www.microsoft.com/en-us/research/people/sagarwal/"} Sharad Agarwal (Microsoft)

          -# %div.mb-3
          -#   %a.btn.btn-secondary{ :href => "/anrw/2024/slides.pdf"}
          -#     slides

    %tr
      %td{ :style => "width: 10em" }
        %b 10:45-11:30
      %td
        %h4.text-danger Measurements

        %p
          %a{ name: "p01"}
          %b
            %a{ :href => "https://dl.acm.org/doi/10.1145/3673422.3674887",
                :referrerpolicy => "no-referrer-when-downgrade"} 
              HTTP/3's Extensible Prioritization Scheme in the Wild
          %br
          J. Herbots,
          R. Marx,
          M. Wijnants,
          P. Quax,
          and
          W. Lamotte
        -# %div.mb-3
        -#   %a.btn.btn-secondary{ :href => "/anrw/2024/slides.pdf"}
        -#     slides

        %p
          %a{ name: "p02"}
          %b
            %a{ :href => "https://dl.acm.org/doi/10.1145/3673422.3674894",
                :referrerpolicy => "no-referrer-when-downgrade"} 
              The Observer Effect in Computer Networks
          %br
          T. Mizrahi,
          M. Schapira,
          and
          Y. Moses   
        -# %div.mb-3
        -#   %a.btn.btn-secondary{ :href => "/anrw/2024/slides.pdf"}
        -#     slides

      
    %tr
      %td{ :style => "width: 10em" }
        %b 13:00-14:30
      %td
        %h4.text-danger Routing and Congestion

        %p
          %a{ name: "p03"}
          %b
            %a{ :href => "https://dl.acm.org/doi/10.1145/3673422.3674885",
                :referrerpolicy => "no-referrer-when-downgrade"} 
              Investigating Location-Aware Advertisements in Anycast IP Networks
          %br
          S. Kastanakis,
          V. Giotsas,
          I. Livadariu,
          and
          N. Suri
        -# %div.mb-3
        -#   %a.btn.btn-secondary{ :href => "/anrw/2024/slides.pdf"}
        -#     slides

        %p
          %a{ name: "p04"}
          %b
            %a{ :href => "https://dl.acm.org/doi/10.1145/3673422.3674890",
                :referrerpolicy => "no-referrer-when-downgrade"} 
              An Empirical Characterization of Anycast Convergence Time
          %br
          B. Degen,
          M. Jonker,
          R. van Rijswijk-Deij,
          and
          R. Sommese
        -# %div.mb-3
        -#   %a.btn.btn-secondary{ :href => "/anrw/2024/slides.pdf"}
        -#     slides


        %p
          %a{ name: "p05"}
          %b
            %a{ :href => "https://dl.acm.org/doi/10.1145/3673422.3674891",
                :referrerpolicy => "no-referrer-when-downgrade"} 
              DARE: Making Diffusing Computations More Efficient for Loop-Free Shortest-Path Routing
          %br
          J. Garcia-Luna-Aceve
          and
          M. Moghaddassian
        -# %div.mb-3
        -#   %a.btn.btn-secondary{ :href => "/anrw/2024/slides.pdf"}
        -#     slides

        %p
          %a{ name: "p06"}
          %b
            %a{ :href => "https://dl.acm.org/doi/10.1145/3673422.3674892",
                :referrerpolicy => "no-referrer-when-downgrade"} 
              To QoE or not to QoE
          %br
          S. Nádas,
          L. Ernström,
          L. Szilágyi,
          G. Patra,
          D. Krylov,
          and
          J. Lynam
        -# %div.mb-3
        -#   %a.btn.btn-secondary{ :href => "/anrw/2024/slides.pdf"}
        -#     slides

        %p
          %a{ name: "p07"}
          %b
            %a{ :href => "https://dl.acm.org/doi/10.1145/3673422.3674896",
                :referrerpolicy => "no-referrer-when-downgrade"} 
              To switch or not to switch to TCP Prague? Incentives for adopting L4S in a partial deployment 
          %br
          F. Sarpkaya,
          A. Srivastava,
          F. Fund,
          and
          S. Panwar
        -# %div.mb-3
        -#   %a.btn.btn-secondary{ :href => "/anrw/2024/slides.pdf"}
        -#     slides

      
    %tr
      %td{ :style => "width: 10em" }
        %b 15:30-17:20
      %td
        %h4.text-danger Security and Energy

        %p
          %a{ name: "p08"}
          %b
            %a{ :href => "https://dl.acm.org/doi/10.1145/3673422.3674893",
                :referrerpolicy => "no-referrer-when-downgrade"} 
              Low-Carb BGP: A Carbon-Aware Inter-Domain Routing Extension to BGP
          %br
          E. Sutherland
          and
          I. Phillips
        -# %div.mb-3
        -#   %a.btn.btn-secondary{ :href => "/anrw/2024/slides.pdf"}
        -#     slides

        %p
          %a{ name: "p09"}
          %b
            %a{ :href => "https://dl.acm.org/doi/10.1145/3673422.3674886",
                :referrerpolicy => "no-referrer-when-downgrade"} 
              Implementing and Evaluating IOAM Integrity Protection
          %br
          J. Iurman
          and
          B. Donnet
        -# %div.mb-3
        -#   %a.btn.btn-secondary{ :href => "/anrw/2024/slides.pdf"}
        -#     slides
      
        %p
          %a{ name: "p10"}
          %b
            %a{ :href => "https://dl.acm.org/doi/10.1145/3673422.3674899",
                :referrerpolicy => "no-referrer-when-downgrade"} 
              Assessing the security of Internet paths: A case study of Dutch critical infrastructures
          %br
          S. Khadka,
          S. Bayhan,
          R. Holz,
          and
          C. Hesselman
        -# %div.mb-3
        -#   %a.btn.btn-secondary{ :href => "/anrw/2024/slides.pdf"}
        -#     slides
      
        %p
          %a{ name: "p11"}
          %b
            %a{ :href => "https://dl.acm.org/doi/10.1145/3673422.3674902",
                :referrerpolicy => "no-referrer-when-downgrade"} 
              Protocol Fixes for KeyTrap Vulnerabilities
          %br
          N. Vogel,
          H. Schulmann,
          M. Waidner,
          and
          E. Heftrig
        -# %div.mb-3
        -#   %a.btn.btn-secondary{ :href => "/anrw/2024/slides.pdf"}
        -#     slides

        %p
          %a{ name: "p12"}
          %b
            %a{ :href => "https://dl.acm.org/doi/10.1145/3673422.3674888",
                :referrerpolicy => "no-referrer-when-downgrade"} 
              UniSAV: A Unified Framework for Internet-Scale Source Address Validation 
          %br
          L. Qin,
          L. Liu,
          D. Li,
          L. Chen,
          Y. Shi,
          and
          H. Yang
        -# %div.mb-3
        -#   %a.btn.btn-secondary{ :href => "/anrw/2024/slides.pdf"}
        -#     slides

      

    %tr
      %td{ :style => "width: 10em" }
        %b 17:30-18:15
      %td
        %h4.text-danger Lightning Papers

        %p
          %a{ name: "p13"}
          %b
            %a{ :href => "https://dl.acm.org/doi/10.1145/3673422.3674895",
                :referrerpolicy => "no-referrer-when-downgrade"} 
              Towards Measuring Content Locality
          %br
          J. Madeley,
          A. Phokeer,
          A. Siddiqui,
          and
          T. Benson
        -# %div.mb-3
        -#   %a.btn.btn-secondary{ :href => "/anrw/2024/slides.pdf"}
        -#     slides

        %p
          %a{ name: "p14"}
          %b
            %a{ :href => "https://dl.acm.org/doi/10.1145/3673422.3674897",
                :referrerpolicy => "no-referrer-when-downgrade"} 
              Investigating Data Center Network Protocols
          %br
          P. Willis,
          N. Shenoy,
          Y. Pan,
          and
          B. Stackpole
        -# %div.mb-3
        -#   %a.btn.btn-secondary{ :href => "/anrw/2024/slides.pdf"}
        -#     slides

        %p
          %a{ name: "p15"}
          %b
            %a{ :href => "https://dl.acm.org/doi/10.1145/3673422.3674901",
                :referrerpolicy => "no-referrer-when-downgrade"} 
              QUICPro: Integrating Deep Reinforcement Learning to Defend against QUIC Handshake Flooding Attacks
          %br
          Y Joarder
          and
          C. Fung
        -# %div.mb-3
        -#   %a.btn.btn-secondary{ :href => "/anrw/2024/slides.pdf"}
        -#     slides

        %p
          %a{ name: "p16"}
          %b
            %a{ :href => "https://dl.acm.org/doi/10.1145/3673422.3674889",
                :referrerpolicy => "no-referrer-when-downgrade"} 
              BBRv3 in the public Internet: a boon or a bane?
          %br
          D. Zeynali,
          E. Weyulu,
          S. Fathalli,
          B. Chandrasekaran,
          and
          A. Feldmann
        -# %div.mb-3
        -#   %a.btn.btn-secondary{ :href => "/anrw/2024/slides.pdf"}
        -#     slides

        %p
          %a{ name: "p17"}
          %b
            %a{ :href => "https://dl.acm.org/doi/10.1145/3673422.3674898",
                :referrerpolicy => "no-referrer-when-downgrade"} 
              Harnessing Public Code Repositories to Develop Production-Ready ML Artifacts for Networking
          %br
          P. Khan,
          S. Guthula,
          R. Beltiukov,
          R. Schmid,
          T. Bühler,
          A. Gupta,
          L. Vanbever,
          and
          W. Willinger
        -# %div.mb-3
        -#   %a.btn.btn-secondary{ :href => "/anrw/2024/slides.pdf"}
        -#     slides

        %p
          %a{ name: "p18"}
          %b
            %a{ :href => "https://dl.acm.org/doi/10.1145/3673422.3674900",
                :referrerpolicy => "no-referrer-when-downgrade"} 
              Do Large Language Models Dream of Sockets?
          %br
          J. Arkko,
          D. Lindbo,
          M. Klitte
        -# %div.mb-3
        -#   %a.btn.btn-secondary{ :href => "/anrw/2024/slides.pdf"}
        -#     slides


%h2 Proceedings
%p
  %a{ :href => "https://dl.acm.org/doi/proceedings/10.1145/3673422", 
      :referrerpolicy => "no-referrer-when-downgrade"  }
    Proceedings of the Applied Networking Research Workshop 2024
  are available from the ACM Digital Library.

