---
title: ANRW&nbsp;’24 Program
menu: Program
---

%h1 Workshop Program

%p= render "/anrw/2024/place_.*"

%h2 Program

%p
  (Coming soon)



%h2 Proceedings
%p
  -# %a{ :href => "https://dl.acm.org/doi/proceedings/10.1145/3606464", 
  -#     :referrerpolicy => "no-referrer-when-downgrade"  }
  -#   Proceedings of the Applied Networking Research Workshop 2024
  -# are available from the ACM Digital Library.

  Proceedings of the Applied Networking Research Workshop 2024 will be
  available from the ACM Digital Library.


