---
title: ANRW&nbsp;’24 Travel Grants
menu: Travel Grants
other: false
---

%h2 ANRW Travel Grants

%p
  The IRTF runs a programme of
  %a{ :href => "/travelgrants/"}
    Diversity Travel Grants
  that can support early-career academics and PhD students from
  under-represented groups to attend the Applied Networking Research
  Workshop and other IRTF meetings co-located with the IETF-120 Meeting in
  Vancouver, BC, Canada, in July 2024

%p
  %a.btn.btn-primary{ :href => "/travelgrants"}
    Go to Diversity Travel Grants page »

%p
  The selection criteria for IRTF Diversity Grants prioritize people who:
%ul
  %li
    Are from a demographic that is under-represented in the IRTF;

  %li
    Are PhD students or early-career academics (PhD students should have
    completed at least one year of full-time study in their PhD programme;
    early-career academics should be within their first four years of paid
    post-PhD employment at a University);

  %li
    Can demonstrate engagement with research of relevance to the IRTF (work
    with a focus on congestion control, transport protocols, network
    measurement or path-aware networking is especially encouraged, but we
    will consider work of relevance to all areas of IRTF).

%p
  Applications deadlines are as follows:

%table.table.table-striped
  %tbody
    %tr
      %td Diversity grant application deadline
      %td May 10, 2024
    %tr
      %td Diversity grant notification deadline
      %td May 24, 2024
    %tr
      %td ANRW and IETF-120 Meeting in Vancouver
      %td July 20-26, 2024

%p
  IRTF diversity travel grants are supported by Netflix, Comcast, Akamai, and Google.

%p
  &nbsp;

%span.col-sm-2
  &nbsp;
%span.col-sm-2
  %img{ src: relative_path_to('/img/Netflix_Logo_RGB.png'), alt: 'Netflix', height: 50 }
  &nbsp; &nbsp; &nbsp;
%span.col-sm-2
  %img{ src: relative_path_to('/img/Comcast-Logo.png'), alt: 'Comcast', height: 50 }
  &nbsp; &nbsp; &nbsp;
%span.col-sm-2
  %img{ src: relative_path_to('/img/Akamai-Logo-RGB.png'), alt: 'Comcast', height: 50 }
  &nbsp; &nbsp; &nbsp;
%span.col-sm-2
  %img{ src: relative_path_to('/img/google-logo.png'), alt: 'Google', height: 50 }
  &nbsp; &nbsp; &nbsp;
%span.col-sm-2
  &nbsp; 

%p
  &nbsp;

