---
title: ANRW&nbsp;’19 Committees
menu: Committees
---

.col-md-6
  %h2 Program Committee
  %table.table.table-striped
    %tbody

      %tr
        %td Phillipa Gill
        %td
          %span.label.label-default Chair
        %td UMass Amherst
      %tr
        %td Jana Iyengar
        %td
          %span.label.label-default Chair
        %td Fastly
      %tr
        %td{ :colspan => 2} Mark Allman
        %td ICSI
      %tr
        %td{ :colspan => 2} Grenville Armitage
        %td Netflix
      %tr
        %td{ :colspan => 2 } Theophilus Benson
        %td Brown University
      %tr
        %td{ :colspan => 2 } Zachary Bischof
        %td Internet Initiative Japan
      %tr
        %td{ :colspan => 2 } Lars Eggert
        %td NetApp
      %tr
        %td{ :colspan => 2 } Simone Ferlin
        %td Ericsson
      %tr
        %td{ :colspan => 2 } Romain Fontugne
        %td Internet Initiative Japan
      %tr
        %td{ :colspan => 2 } Daniel Kahn Gillmor
        %td ACLU
      %tr
        %td{ :colspan => 2 } Gonca Gurson	
        %td Ozyegin University
      %tr
        %td{ :colspan => 2 } Allison Mankin
        %td Salesforce
      %tr
        %td{ :colspan => 2 } Dave Oran
        %td 
      %tr
        %td{ :colspan => 2 } Jennifer Rexford
        %td Princeton University
      %tr
        %td{ :colspan => 2 } Michael Shapira
        %td Hebrew University of Jerusalem
      %tr
        %td{ :colspan => 2 } Nick Sullivan
        %td Cloudflare
      %tr
        %td{ :colspan => 2 } Thyla van der Merwe
        %td Mozilla
      %tr
        %td{ :colspan => 2 } Chris Wood
        %td Apple
      %tr
        %td{ :colspan => 2 } Noa Zilberman
        %td Cambridge Universtiy
-#
-#   %a.btn.btn-default{ :href => "mailto:anrw-tpc@irtf.org", :role => "button" }
-#   Email the program committee »
-#
.col-md-6
  = render "/anrw/2018/sc_.*"

