---
title: ANRW&nbsp;’19 Program
menu: Program
---

%h1 Workshop Program

%p= render "/anrw/2019/place_.*"


%h2 Proceedings

%p
  %a{ href: 'https://dl.acm.org/citation.cfm?id=3340301&picked=prox' }Proceedings of the Applied Networking Research Workshop 2019
  are available from the ACM Digital Library.


%h2 Program

%table.table.table-striped.no-urlify
  %thead
    %tr
      %th
        Time
      %th
        Session
      %th
        Session Chair
  %tbody
    %tr
      %td{ :style => "width: 10em" }
        %p
          %b
            09:30
      %td
        %h4.text-danger Welcome and Opening Remarks
        %p
          %b
            Welcome and Opening Remarks
          %br
          Phillipa Gill (UMass Amherst) and Jana Iyengar (Fastly)
        %p
          %a.btn.btn-secondary{:href => "/anrw/2019/anrwWelcome.pdf"}
            Slides

      %td
        %p &nbsp;

    %tr
      %td
        %p
          %b
            09:45
      %td
        %h4.text-danger QUIC
        %p
          %b 
            %a{:href => "https://dl.acm.org/doi/10.1145/3340301.3341123"
               :referrerpolicy => "no-referrer-when-downgrade"}
              A Performance Perspective on Web Optimized Protocol Stacks:
              TCP+TLS+HTTP/2 vs. QUIC.
          %br
            Konrad Wolsing (RWTH Aachen University), Jan Rüth (RWTH Aachen
            University), Klaus Wehrle (RWTH Aachen University), and Oliver
            Hohlfeld (RWTH Aachen University).
        %p
          %a.btn.btn-secondary{:href => "/anrw/2019/slides-anrw19-final25.pdf"}
            Slides

        %p
          %b 
            %a{:href => "https://dl.acm.org/doi/10.1145/3340301.3341127"
               :referrerpolicy => "no-referrer-when-downgrade"}
              Performance Measurements of QUIC Communications
          %br
            Fabio Bulgarella (Politecico di Torino), Mauro Cociglio
            (Telecom Italia), Giuseppe Fioccola (Huawei Technologies),
            Guido Marchetto (Politecnico di Torino), and Riccardo Sisto
            (Politecnico di Torino).
        %p
          %a.btn.btn-secondary{:href => "/anrw/2019/slides-anrw19-final29.pdf"}
            Slides

      %td
        %p Nick Sullivan

    %tr
      %td
        %p
          %b
            10:30
      %td
        %h4.text-danger Break
      %td
        %h5 &nbsp;

    %tr
      %td
        %p
          %b
            10:40
      %td
        %h4.text-danger DNS and Security
        %p
          %b
            Dragonblood: A Security Analysis of WPA3’s SAE Handshake
          %span.badge.bg-secondary
            Invited Talk
          %br
          Mathy Vanhoef (New York University Abu Dhabi) and Eyal Ronen (Tel
          Aviv University and KU Leuven)
        %p
          %a.btn.btn-secondary{:href => "/anrw/2019/slides-anrw19-vanhoef.pdf"}
            Slides
        %p

        %p
          %b 
            %a{:href => "https://dl.acm.org/doi/10.1145/3340301.3341122"
               :referrerpolicy => "no-referrer-when-downgrade"}
              Who Is Answering My Queries: Understanding and Characterizing
              Interception of the DNS Resolution Path.
          %br
          Baojun Liu (Tsinghua University), Chaoyi Lu (Tsinghua
          University), Haixin Duan (Institute for Network Science and
          Cyberspace, Tsinghua University; Beijing National Research Center
          for Information Science and Technology), Ying Liu (Tsinghua
          University), Zhou Li (UC Irvine), Shuang Hao (University of Texas
          at Dallas), and Min Yang (Fudan University).
        %p
          %a.btn.btn-secondary{:href => "/anrw/2019/slides-anrw19-final21.pdf"}
            Slides

        %p
          %b 
            %a{:href => "https://dl.acm.org/doi/10.1145/3340301.3341128"
               :referrerpolicy => "no-referrer-when-downgrade"}
              Oblivious DNS: Practical Privacy for DNS Queries.
          %br
          Paul Schmitt (Princeton University), Anne Edmundson (Princeton
          Univeristy), Allison Mankin (Salesforce), and Nick Feamster
          (Princeton University).
        %p
          %a.btn.btn-secondary{:href => "/anrw/2019/slides-anrw19-final31.pdf"}
            Slides

        %p
          %b 
            %a{:href => "https://dl.acm.org/doi/10.1145/3340301.3341129"
               :referrerpolicy => "no-referrer-when-downgrade"}
              Analyzing the Costs (and Benefits) of DNS, DoT, and DoH for the Modern Web.
          %br
          Austin Hounsel (Princeton University), Kevin Borgolte (Princeton
          University), Paul Schmitt (Princeton University), Jordan Holland
          (Princeton University), and Nick Feamster (Princeton University).
        %p
          %a.btn.btn-secondary{:href => "/anrw/2019/slides-anrw19-final33.pdf"}
            Slides

      %td
        %p Christopher Wood

    %tr
      %td
        %p
          %b
            12:00
      %td
        %h4.text-danger Lunch
      %td
        %p &nbsp;

    %tr
      %td
        %p
          %b
            13:15
      %td
        %h4.text-danger Time, Fairness, and Neighbors
        %p
        %p
          %b 
            %a{:href => "https://dl.acm.org/doi/10.1145/3340301.3341132"
               :referrerpolicy => "no-referrer-when-downgrade"}
              Securing IPv6 Neighbor Discovery and SLAAC in Access Networks
              through SDN
          %br
          Daniel Nelle (Universität Potsdam, Germany) and Thomas Scheffler
          (Hochschule für Technik und Wirtschaft Berlin, Germany).
        %p
          %a.btn.btn-secondary{:href => "/anrw/2019/slides-anrw19-final37.pdf"}
            Slides

        %p
          %b 
            %a{:href => "https://dl.acm.org/doi/10.1145/3340301.3341124"
               :referrerpolicy => "no-referrer-when-downgrade"}
              Towards Core-Stateless Fairness on Multiple Timescales
          %br
          Szilveszter Nadas (Ericsson Research, Budapest, Hungary), Gergo
          Gombos (Eötvös Loránd University, Budapest, Hungary), Ferenc
          Fejes (Eötvös Loránd University, Budapest, Hungary), and Sandor
          Laki (Eötvös Loránd University, Budapest, Hungary).
        %p
          %a.btn.btn-secondary{:href => "/anrw/2019/slides-anrw19-final26.pdf"}
            Slides

        %p
          %b 
            %a{:href => "https://dl.acm.org/doi/10.1145/3340301.3341125"
               :referrerpolicy => "no-referrer-when-downgrade"}
              What time is it? Managing Time in the Internet
          %br
          Sathiya Kumaran Mani (University of Wisconsin - Madison), Paul
          Barford (University of Wisconsin - Madison), Ramakrishnan
          Durairajan (University of Oregon), and Joel Sommers (Colgate
          University).
        %p
          %a.btn.btn-secondary{:href => "/anrw/2019/slides-anrw19-final27.pdf"}
            Slides

      %td
        %p Phillipa Gill

    %tr
      %td
        %p
          %b
            14:15
      %td
        %h4.text-danger Break
      %td
        %p &nbsp;

    %tr
      %td
        %p
          %b
            14:30
      %td
        %h4.text-danger Network Functions and Middleboxes
        %p
          %b
            Limitless HTTP in an HTTPS World: Inferring the Semantics of the HTTPS Protocol without Decryption
          %span.badge.bg-secondary
            Invited Talk
          %br
          Blake Anderson (Cisco), Andrew Chi (University of North
          Carolina), Scott Dunlop (Cisco), and David McGrew (Cisco)
        %p
          %a.btn.btn-secondary{:href => "/anrw/2019/slides-anrw19-anderson.pdf"}
            Slides
        
        %p
          %b 
            %a{:href => "https://dl.acm.org/doi/10.1145/3340301.3341121"
               :referrerpolicy => "no-referrer-when-downgrade"}
              mmb: Flexible High-Speed Userspace Middleboxes
          %br
          Korian Edeline (Université de Liège), Justin Iurman (Université
          de Liège), Cyril Soldani (Université de Liège), and Benoit Donnet
          (Université de Liège).
        %p
          %a.btn.btn-secondary{:href => "/anrw/2019/slides-anrw19-final20.pdf"}
            Slides

        %p
          %b 
            %a{:href => "https://dl.acm.org/doi/10.1145/3340301.3341131"
               :referrerpolicy => "no-referrer-when-downgrade"}
              Checking-in on Network Functions
          %br
          Zeeshan Lakhani (Carnegie Mellon Univeristy) and Heather Miller
          (Carnegie Mellon University).
        %p
          %a.btn.btn-secondary{:href => "/anrw/2019/slides-anrw19-final36.pdf"}
            Slides

      %td
        %p Dave Oran

    %tr
      %td
        %p
          %b
            15:30
      %td
        %h4.text-danger Break
      %td
        %p &nbsp;

    %tr
      %td
        %p
          %b
            15:50
      %td
        %h4.text-danger Measurement and Optimisation
        %p
          %b 
            %a{:href => "https://dl.acm.org/doi/10.1145/3340301.3341133"
               :referrerpolicy => "no-referrer-when-downgrade"}
              What Can You Learn from an IP?
          %br
          Simran Patil (University of Illinois at Urbana-Champaign) and
          Nikita Borisov (University of Illinois at Urbana-Champaign).
        %p
          %a.btn.btn-secondary{:href => "/anrw/2019/slides-anrw19-final44.pdf"}
            Slides

        %p
          %b 
            %a{:href => "https://dl.acm.org/doi/10.1145/3340301.3341130"
               :referrerpolicy => "no-referrer-when-downgrade"}
              Can We Containerize Internet Measurements?
          %br
          Chris Misa (University of Oregon), Sudarsun Kannan (Rutgers
          University), and Ramakrishnan Durairajan (University of Oregon).
        %p
          %a.btn.btn-secondary{:href => "/anrw/2019/slides-anrw19-final35.pdf"}
            Slides

        %p
          %b 
            %a{:href => "https://dl.acm.org/doi/10.1145/3340301.3341126"
               :referrerpolicy => "no-referrer-when-downgrade"}
              Supporting Multi-domain Use Cases with ALTO.
          %br
          Danny Alex Lachos Perez (University of Campinas (UNICAMP)),
          Christian Esteve Rothenberg (University of Campinas (UNICAMP)),
          Qiao Xiang (Yale University), Y. Richard Yang (Yale University),
          Börje Ohlman (Ericsson), Sabine Randriamasy (Nokia Bell Labs),
          Farni Boten (Sprint), and Luis M. Contreras (Telefonica).
        %p
          %a.btn.btn-secondary{:href => "/anrw/2019/slides-anrw19-final28.pdf"}
            Slides

      %td
        %p Allison Mankin

    %tr
      %td
        %p
          %b
            16:50
      %td
        %h4.text-danger Wrap-up
      %td
        %p &nbsp;

%h2 Recordings

%p
  The recordings from the workshop are available on YouTube in six parts:

%div.row
  %div.col-sm-6.col-xs-12.mt-2.mb-2
    %div.embed-responsive.ratio.ratio-16x9
      %iframe.embed-responsive-item{ :src => "https://www.youtube.com/embed/XNLi6KDYquU", :allow => "accelerometer; encrypted-media; gyroscope; picture-in-picture", :allowfullscreen => true}

  %div.col-sm-6.col-xs-12.mt-2.mb-2
    %div.embed-responsive.ratio.ratio-16x9
      %iframe.embed-responsive-item{ :src => "https://www.youtube.com/embed/iQy6hK5wevc", :allow => "accelerometer; encrypted-media; gyroscope; picture-in-picture", :allowfullscreen => true}

  %div.col-sm-6.col-xs-12.mt-2.mb-2
    %div.embed-responsive.ratio.ratio-16x9
      %iframe.embed-responsive-item{ :src => "https://www.youtube.com/embed/T1NrTwv1mic", :allow => "accelerometer; encrypted-media; gyroscope; picture-in-picture", :allowfullscreen => true}

  %div.col-sm-6.col-xs-12.mt-2.mb-2
    %div.embed-responsive.ratio.ratio-16x9
      %iframe.embed-responsive-item{ :src => "https://www.youtube.com/embed/pBVu9GEfE1I", :allow => "accelerometer; encrypted-media; gyroscope; picture-in-picture", :allowfullscreen => true}

  %div.col-sm-6.col-xs-12.mt-2.mb-2
    %div.embed-responsive.ratio.ratio-16x9
      %iframe.embed-responsive-item{ :src => "https://www.youtube.com/embed/pEnT2BJvyv0", :allow => "accelerometer; encrypted-media; gyroscope; picture-in-picture", :allowfullscreen => true}

  %div.col-sm-6.col-xs-12.mt-2.mb-2
    %div.embed-responsive.ratio.ratio-16x9
      %iframe.embed-responsive-item{ :src => "https://www.youtube.com/embed/pUAjG2_A2WU", :allow => "accelerometer; encrypted-media; gyroscope; picture-in-picture", :allowfullscreen => true}


