--- 
title: Applied Networking Research Prize
---

-#.news
-#  %h2 2012 Prize Winners for IETF-85
-#  
-#  %p
-#    We are extremely pleased to report that for the 2012 award period of the Applied Networking Research Prize (ANRP), 20 eligible nominations were received. Each submission was reviewed by 5-7 members of the
-#    %a{ :href => "#committee" } selection committee
-#    according to a diverse set of criteria, including scientific excellence and substance, timeliness, relevance, and potential impact on the Internet.
-#  
-#  %p
-#    Based on this review, three submissions were awarded an Applied Networking Research Prize in 2012. One of these submissions was already presenteded at IETF-84 in Vancouver, Canada 
-#    %a{ :href => "#ietf84" } (see below).
-#    Two additional winning papers will be presented at IETF-85 in Atlanta, USA. The awards for IETF-85 go to:
-#  %dl
-#
-#  %p Srikanth and Peyman have been invited to present their findings in the IRTF Open Meeting during IETF-85, November 4-9, 2012 in Atlanta, GA, USA. Join them there!

.rightbar

  -#.news
  -#  %h2 Call for Nominations Open Now!
  -#  %p
  -#    %a{ :href => "anrp/2013"} Submit nominations
  -#    for the 2013 award period of the
  -#    %a{ :href => "anrp"} Applied Networking Research Prize
  -#    until
  -#    %span.term November 30, 2012!
  -#
  -#= render "anrpdates_"
  -#
  -#%h2 How to Nominate
  -#%p
  -#  Nominations are submitted via the
  -#  %a{ :href => "anrp/2013" } submission site
  -#  or by email to
  -#  = link_to("anrp@irtf.org", "mail:anrp@irtf.org") + "."
  -#  
  -#%h2 Questions
  -#%p
  -#  Please email
  -#  = link_to("anrp@irtf.org", "mail:anrp@irtf.org")
  -#  with any questions about the ANRP you may have.
  -#  
  -#%h2 Flyer
  -#%p
  -#  You are welcome to print and use
  -#  %a{ :href => "anrp-2013-flyer.pdf" } this flyer
  -#  to help publicize the ANRP.

    
  .news
    %h2 Nomination Period Ended
    %p
      The 2013 nomination period for the
      %a{ :href => "anrp"} Applied Networking Research Prize
      has ended. No nominations are currently accepted. The next nomination period for 2014 will start in the fall of 2013.
    %p
      Join the
      %a{:href => "/mailman/listinfo/irtf-announce"} irtf-announce@irtf.org
      mailing list to be notified when the 2014 nomination period starts.



%h2 About the ANRP
 
%p
  The Applied Networking Research Prize (ANRP) is awarded for recent results in applied networking research that are relevant for transitioning into shipping Internet products and related standardization efforts. Researchers with relevant, recent results are encouraged to apply for this prize, which will offer them the opportunity to present and discuss their work with the engineers, network operators, policy makers and scientists that participate in the Internet Engineering Task Force (IETF) and its research arm, the Internet Research Task Force (IRTF).
  %span.term Third-party nominations for this prize are also encouraged.
  The goal of the Applied Networking Research Prize is to recognize the best new ideas in networking, and bring them to the IETF and IRTF especially in cases where they would not otherwise see much exposure or discussion.
 
%p The Applied Networking Research Prize (ANRP) consists of:
%ul
  %li
    %span.term cash prize
    of $500 (USD)
  %li
    %span.term invited talk
    at the IRTF Open Meeting
  %li
    %span.term travel grant
    to attend a week-long IETF meeting (airfare, hotel, registration, stipend)
  %li
    recognition at the
    %span.term IETF plenary
  %li
    invitation to related
    %span.term social activities
  %li
    potential for
    %span.term additional travel grants
    to future IETF meetings, based on community feedback

%p
  The Applied Networking Research Prize will be awarded 
  %span.term once per calendar year.
  Each year, 
  %span.term several winners
  will be chosen and invited to present their work at one of the three IETF meetings during the year. 

 
%h2 How to Nominate
 
%p
  Only a
  %span.term single
  person can be nominated for the award. The basis of the nomination is a peer-reviewed, original journal, conference or workshop paper they authored, which was recently published or accepted for publication. The nominee 
  %span.term must
  be one of the main authors of the nominated paper. Both self nominations (nominating one's own paper) and third-party nominations (nominating someone else's paper) are encouraged. 
 
%p The nominated paper should provide a scientific foundation for possible future IETF engineering work or IRTF research and experimentation, analyze the behavior of Internet protocols in operational deployments or realistic testbeds, make an important contribution to the understanding of Internet scalability, performance, reliability, security or capability, or otherwise be of relevance to ongoing or future IETF or IRTF activities.
 
%p Applicants must briefly describe how the nominated paper relates to these goals, and are encouraged to describe how a presentation of these research results would foster their transition into new IETF engineering or IRTF experimentation, or otherwise seed new activities that will have an impact on the real-world Internet.
 
%p The goal of the Applied Networking Research Prize (ANRP) is to foster the transitioning of research results into real-world benefits for the Internet. Therefore, applicants must indicate that they (or the nominee, in case of third-party nominations) are available to attend at least one of the year's IETF meetings in person and in its entirety.
 
%p Nominations must include:
%ul
  %li
    the
    %span.term name
    and
    %span.term email address
    of the nominee
  %li
    a bibliographic 
    %span.term reference
    to the published (or accepted) nominated paper
  %li
    a
    %span.term PDF copy
    of the nominated paper
  %li
    a
    %span.term statement
    that describes how the nominated paper fulfills the goals of the award
  %li
    a
    %span.term statement
    about which of the year's IETF meetings the nominee would be available to attend in person and in its entirety
  %li
    a brief
    %span.term biography
    or
    %span.term CV
    of the nominee
  %li optionally, any other supporting information (link to nominee's web site, etc.)
  
-#%p
-#  Nominations are submitted via the
-#  = link_to("submission site", "anrp/2013") + "." 
-#  In exceptional cases, nominations may also be submitted by email to 
-#  = link_to("anrp@irtf.org", "mail:anrp@irtf.org") + "."
  
%p All nominees will be notified by email about the decision regarding their nomination.

%p
  Nominations for the Applied Networking Research Prize (ANRP) are
  %span.term not
  considered to be contributions to the IETF. However, the invited talks at the IRTF Open Meeting
  %span.term are
  considered to be contributions, and the IRTF 
  %a{ :href => "/ipr"} "Intellectual Property Rights" statement
  does apply to them. 
 
%h2 Selection Process
%a{ :name => "committee" } 
 
%p A small selection committee comprised of individuals knowledgeable about the IRTF, IETF and the broader networking research community will evaluate the submissions against these selection criteria.

%p These individuals currently serve on the ANRP selection committee:
%ul.twocol 
  %li Mark Allman, ICIR
  %li Marcelo Bagnulo, UC3M
  %li Lou Berger, LabN
  %li Olivier Bonaventure, UCL Louvain
  %li Ross Callon, Juniper
  %li Lars Eggert, NetApp
  %li Olivier Festor, INRIA
  %li Mat Ford, ISOC
  %li Lisandro Granville, UFRGS
  -#%li Andrei Gurtov, HIIT
  %li Volker Hilt, Bell Labs
  %li Suresh Krishnan, Ericsson
  %li Dan Massey, Colorado State
  %li Al Morton, AT&amp;T Laboratories
  -#%li Bruce Nordman, LBL
  %li Jörg Ott, Aalto University
  %li Colin Perkins, University of Glasgow
  %li Stefano Previdi, Cisco
  %li Jürgen Schönwälder, Jacobs University Bremen
  %li Yang Richard Yang, Yale
  %li Lixia Zhang, UCLA

-#= render "anrpdates_"

%h2 Past Prize Winners

%p The following Applied Networking Prizes have been awarded in the past:

%dl.papers
  %dt
    At IETF-85, to
    %a{ :href => "http://sites.noise.gatech.edu/~srikanth/" }
      %span.term Srikanth Sundaresan
    for his measurement study of access link performance on home gateway devices:
  %dd
    Srikanth Sundaresan, Walter de Donato, Nick Feamster, Renata Teixeira, Sam Crawford and Antonio Pescapè.  
    %a{ :href => "http://conferences.sigcomm.org/sigcomm/2011/papers/sigcomm/p134.pdf" } Broadband Internet Performance: A View From the Gateway.
    Proc.
    %a.venue{ :href => "http://conferences.sigcomm.org/sigcomm/2011/" } ACM SIGCOMM,
    August 2011, Toronto, Canada.
  %dt
    At IETF-85, to
    %a{ :href => "http://www.stanford.edu/~kazemian/" }
      %span.term Peyman Kazemian
    for developing a general and protocol-agnostic framework for statically checking network specifications and configurations:
  %dd
    Peyman Kazemian, George Varghese and Nick McKeown.  
    %a{ :href => "http://www.usenix.org/system/files/conference/nsdi12/nsdi12-final8.pdf" } Header Space Analysis: Static Checking For Networks.
    Proc.
    %a.venue{ :href => "http://www.usenix.org/conference/nsdi12" } USENIX Symposium on Networked Systems Design and Implementation (NSDI),
    April 2012, San Jose, CA, USA.
  %dt
    At IETF-84, to
    %a{ :href => "http://www.caida.org/~alberto/", :name => "ietf84" }
      %span.term Alberto Dainotti
    for his research into Internet communication disruptions due to filtering:
  %dd
    Alberto Dainotti, Claudio Squarcella, Emile Aben, K.C.  Claffy, Marco Chiesa, Michele Russo and Antonio Pescapè.  
    %a{ :href => "http://www.caida.org/publications/papers/2011/outages_censorship/outages_censorship.pdf" } Analysis of Country-wide Internet Outages Caused by Censorship.
    Proc.
    %a.venue{ :href => "http://conferences.sigcomm.org/imc/2011/" } ACM Internet Measurement Conference (IMC),
    November 2011, Berlin, Germany.
  %dt
    (No ANRP was awarded at IETF-83, due to the change to a yearly award cycle.)
  %dt
    At IETF-82, to
    %a{ :href => "http://www.micchie.net/" }
      %span.term Michio Honda
    for his research into determining the future extensibility of TCP:
  %dd
    Michio Honda, Yoshifumi Nishida, Costin Raiciu, Adam Greenhalgh, Mark Handley and Hideyuki Tokuda.
    %a{ :href => "http://nrg.cs.ucl.ac.uk/mjh/tmp/mboxes.pdf" } Is it Still Possible to Extend TCP?
    Proc.
    %a.venue{ :href => "http://conferences.sigcomm.org/imc/2011/" } ACM Internet Measurement Conference (IMC),
    November 2011, Berlin, Germany.
  %dt 
    At IETF-82, to
    %a{ :href => "http://eecis.udel.edu/~nekiz/" }
      %span.term Nasif Ekiz
    for his analysis of misbehaving TCP receivers:
  %dd
    Nasif Ekiz, Abuthahir Habeeb Rahman and Paul D. Amer.
    %a{ :href => "http://dx.doi.org/10.1145/1971162.1971165" } Misbehaviors in TCP SACK Generation.
    %a.venue{ :href => "http://dl.acm.org/citation.cfm?id=J101" } ACM SIGCOMM Computer Communication Review,
    Volume 41, Issue 2, April 2011.
  %dt
    At IETF-81, to
    %a{ :href => "http://caia.swin.edu.au/cv/mrossi/" }
      %span.term Mattia Rossi
    for his research into reducing BGP traffic:
  %dd
    Geoff Huston, Mattia Rossi and Grenville Armitage.
    %a{ :href => "http://dx.doi.org/10.1109/JSAC.2010.101005" } A Technique for Reducing BGP Update Announcements through Path Exploration Damping.
    %a.venue{ :href => "http://jsac.ucsd.edu/" } IEEE Journal on Selected Areas in Communications (JSAC),
    Vol. 28, No. 8, pp. 1271--1286, October 2010.
  %dt 
    At IETF-81, to
    %a{ :href => "http://cs.arizona.edu/~bzhang/" }
      %span.term Beichuan Zhang
    for his research into "green" traffic engineering:
  %dd
    Mingui Zhang, Cheng Yi, Bin Liu and Beichuan Zhang.
    %a{ :href => "http://dx.doi.org/10.1109/ICNP.2010.5762751" } GreenTE: Power-Aware Traffic Engineering.
    Proc.
    %a.venue{ :href => "http://ieee-icnp.org/" } IEEE International Conference on Network Protocols (ICNP),
    pp. 21--30, October 2010.


 
%h2 Sponsors
 
%p The Applied Networking Research Prize (ANRP) is supported by the Internet Society (ISOC), as part of its Internet Research Award Programme, in coordination with the Internet Research Task Force (IRTF).
