---
---

-# convenience shortcuts
- rg = $rgs[item.identifier.without_ext.tr("/", "")]
- name = rg.name
- acronym = rg.acronym.upcase

%p
  The Decentralized Internet Infrastructure Research Group (DINRG) will investigate open research issues in decentralizing infrastructure services such as trust management, identity management, name resolution, resource/asset ownership management, and resource discovery. The focus of DINRG is on infrastructure services that can benefit from decentralization or that are difficult to realize in local, potentially connectivity-constrained networks.

%p
  The objective of DINRG is to 1) investigate (understand, document, survey) use cases and their specific requirements with respect to implementing them in a distributed manner; 2) to discuss and assess solutions for specific use cases with a focus on Internet level deployment issues such as scalability, performance, and security; 3) to develop and document technical solutions and best practices; 4) to develop tools and metrics to identify scaling issues and to determine whether components are missing; and 5) to identify future work items for the IETF. 

%p
  Other topics of interest are the investigation of economic drivers and incentives and the development and operation of experimental platforms. DINRG will operate in a technology- and solution-neutral manner, i.e., while the RG has an interest in distributed ledger technologies, it is not limited to specific technologies and or implementation aspect. We expect DINRG to advance the state of the art with respect to fostering a better understanding of the merits and constraints of specific technologies with respect to the DINRG use cases.

%h2 Motivation

%p
  The Internet was designed as a distributed, decentralized system. For example, intra- and inter-domain routing, DNS, and so on were designed to operate in a distributed manner. However, over time the dominant deployment model for applications and some infrastructure services evolved to become more centralized and hierarchical. Some of the increase in centralization is due to business models that rely on centralized accounting and administration.

%p
  However, we are simultaneously seeing the evolution of use cases (e.g., certain IoT deployments) that cannot work (or which work poorly) in centralized deployment scenarios along with the evolution of decentralized technologies which leverage new cryptographic infrastructures, such as DNSSEC, or which use novel, cryptographically-based distributed consensus mechanisms, such as a number of different ledger technologies.

%p
  The evolution of distributed ledger technologies and the platforms that leverage them has given rise to the development of decentralized communication and infrastructure systems, and experiments with the same. Some examples include name resolution (Namecoin, Ethereum Name Service), identity management (OneName), distributed storage (IPFS, MaidSafe), distributed applications, or DApps (Blockstack), and IP address allocation and delegation.

%p
  These systems differ with respect to the problem they are solving, the specific technologies that they apply, the consensus algorithms that are employed, and the incentives that are built into the system. Now is a good time to investigate these systems from an Internet technologies perspective, and to connect the domain expertise in the IRTF and IETF with the distributed systems and decentralized ledgers community.

%h2 Research Challenges

%p
  While intensive there is currently intensive research and development taking place around decentralized applications, the problem of decentralized infrastructure is receiving relatively less attention, despite the research challenges in this space. Some of these challenges include:

%ul
  %li
    Scalability - what are the problems that prevent decentralized infrastructure services from achieving global scale?
  %li
    Trust management in decentralized communication settings
  %li
    Privacy and targeted, verifiable disclosure
  %li
    Applicability of distributed ledger and related technologies to different use cases and environments
  %li
    Consensus algorithms for specific scenarios with a focus on Internet infrastructure services
  %li
    The ability of constrained nodes to benefit from elements of a consensus item that they cannot process or store as a complete set
  %li
    Distributed Trust and Delegated Computing
  %li
    Economic drivers and roadblocks for decentralizing network infrastructure
  %li
    Identification of common requirements and properties of selected technologies
  %li
    Design and implementation of one or more general-purpose infrastructure systems
  %li
    Deployment and operation of one or more actual implementations

%h2 Selected Related Activities and Communities

%ul
  %li
    Coala.global
  %li
    Ethereum project
  %li
    IOTA project
  %li
    W3C Blockchain Community group
  %li
    MaidSafe
  %li
    Blockstack
  %li
    IPFS and filecoin.io
  %li
    Ammbr

%h2 Organization

%p
  DINRG provides an open forum for the exchange and analysis of Decentralized Infrastructure-related research. Work that is based on implementation experience is given preference. DINRG uses an open mailing list as the main collaboration tool, and will hold regular several physical meetings per year. DINRG will meet at least once per year at IETF meetings but will also reach out to other communities and hold meetings at their respective events such as conferences, project or standards meetings etc.

%p
  DINRG will coordinate and leverage synergies with other IRTF groups such as T2TRG, ICNRG, and Crypto Forum RG. Also, DINRG intends to establish a productive working relationship with experts from IETF working groups in different areas, specifically in the Security, Internet, and Operations areas.
