---
---

-# convenience shortcuts
- rg = $rgs[item.identifier.without_ext.tr("/", "")]
- name = rg.name
- acronym = rg.acronym.upcase

%p
  Recent years have witnessed the consolidations of the Internet
  applications, services, as well as the infrastructure. The
  Decentralization of the Internet Research Group (DINRG) aims to provide
  for the research and engineering community, both an open forum to discuss
  the Internet centralization phenomena and associated potential threats,
  and a platform to facilitate the coordination of efforts in identifying
  the causes of observed consolidations and the mitigation solutions.

%p
  Main Objectives

%p
  DINRG's main objectives include the following:

%ul
  %li
    Investigation of the root causes of Internet centralization, and
    articulation of the impacts of the market economy, architecture and
    protocol designs, as well as government regulations;

  %li
    Measurement of the Internet centralization and the consequential
    societal impacts;

  %li
    Characterization and assessment of observed Internet centralization;

  %li 
    Development of a common terminology and understanding of
    (de-)centralization;

  %li
    Interaction with the broader research community to explore new research
    topics and technical solutions for decentralized system and application
    development;

  %li
    Documentation of the outcome from the above efforts via different means
    (e.g., research papers and RFCs) as inputs to the broader conversation
    around centralization; and

  %li
    Facilitation of discussions between researchers, organizations and
    individuals involved in Internet standards and regulations.

%p
  DINRG will operate as an open platform to different technology solutions,
  not limited to specific technical approaches. We expect DINRG to foster a
  better understanding of the merits and constraints of specific
  technologies with respect to Internet decentralization.

%p
  Way of Working

%p
  DINRG plans to meet at least once per year at IETF meetings, and may hold
  additional meetings, either as standalone interim meetings, or co-located
  meetings at technical conferences and similar events. DINRG will
  coordinate, and leverage synergies, with other IRTF groups and with the
  IAB and broader research community.

%p
  DINRG will reach out to non-networking communities such as regulatory
  bodies and economics researchers and explore the opportunity of
  organizing different formats such as panels and workshops that focus on
  broader research topics related to the Internet (de)centralization.
