---
title: Fee Waivers
---

%p
  Many IRTF Research Groups meet co-located with 
  %a{ :href => "https://ietf.org/how/meetings/"} IETF standards meetings.
  Registration for these meetings is handled by the IETF, and a single
  registration permits attendance at the IETF working groups and at any
  co-located IRTF research group meetings. The IETF offers a substantial
  discount on the registration fee for full-time students, and a discounted
  pass for one day attendance.

%p
  The IRTF has a limited number of in-person fee waivers available
  to cover registration costs for those who would not otherwise be able to
  attend in-person IRTF research group meetings co-located with the IETF.
  Contact the 
  %a{ :href => "mailto:irtf-chair@irtf.org"} IRTF chair
  for details, explaining why you need such a pass, and stating what
  research group(s) you wish to attend, at what meeting, and what
  contribution you will make to the group.

%p
  Live streaming and remote attendance at such meetings is also available,
  subject to registration in advance. A registration fee is charged for
  remote participation, but the IETF operates a
  %a{"href": "https://www.ietf.org/how/meetings/registration-fee-waivers/"} fee waiver programme
  for cases where the remote participation fee is a barrier to participation.

%p
  A limited number of 
  %a{:href => "/travelgrants.html"}
    travel grants
  are also available.

