---
title: IRTF Research Groups
---

%h2 Current Research Groups

%p These #{$rgs.count} Research Groups are currently chartered:

= render "rgtiles_", :loc => ""

%h2 New Proposed Research Groups

%p
	The IETF datatracker lists research groups that are under consideration for chartering on the bottom of the
	%a{ :href => "https://datatracker.ietf.org/group/chartering/" } "chartering or re-chartering groups"
	page. Additionally, the IRTF wiki has a section on
	%a{ :href => "http://trac.tools.ietf.org/group/irtf/trac/wiki" } "pages for potential new IRTF activities"
	that may have additional information.

%h2 Concluded Research Groups

%p These #{$oldrgs.count} Research Groups were chartered in the past and have since concluded their activities:

= render "oldrgtiles_", :loc => ""
