--- 
title: IRTF Research Groups
---

%h2 Current Research Groups

%p These #{$rgs.count} Research Groups are currently chartered:

= render "rgtiles_", :loc => ""


%h2 Concluded Research Groups

%p These #{$oldrgs.count} Research Groups were chartered in the past and have since concluded their activities:

= render "oldrgtiles_", :loc => ""