---
---

-# convenience shortcuts
- rg = $rgs[item.identifier.without_ext.tr("/", "")]
- name = rg.name
- acronym = rg.acronym.upcase

%h2 Background

%p
  The #{name} is chartered to research whether standards and protocols can
  enable, strengthen or threaten human rights, as defined in the
  Universal Declaration of Human Rights (UDHR)
  and the
  International Covenant on Civil and Political Rights (ICCPR),
  specifically, but not limited to the right to freedom of expression and the
  right to freedom of assembly.

%p
  The research group takes as its starting point the problem statement that
  human-rights-enabling characteristics of the Internet might be degraded if
  they are not properly defined, described and sufficiently taken into account
  in protocol development. Not protecting these characteristics could result in
  (partial) loss of functionality and connectivity.

%p
  As evinced by RFC 1958, the Internet aims to be the global network of networks
  that provides unfettered connectivity to all users at all times and for any
  content. Open, secure and reliable connectivity is essential for rights such
  as freedom of expression and freedom of association. Since the Internet's
  objective of connectivity makes it an enabler of human rights, its
  architectural design converges with the human rights framework.

%p
  The Internet was designed with freedom and openness of communications as core
  values. But as the scale and the industrialization of the Internet has grown
  greatly, the influence of such world-views started to compete with other
  values. This research group aims to explore the relations between human rights
  and protocols and to provide guidelines to inform future protocol development
  and decision making where protocol s impact the effective exercise of the
  rights to freedom of expression or association.


%h2 Objective

%p This research has these major aims:

%ul
  %li
    To expose the relation between protocols and human rights, with a focus on
    the rights to freedom of expression and freedom of assembly.

  %li
    To propose guidelines to protect the Internet as a human-rights-enabling
    environment in future protocol development, in a manner similar to the work
    done for Privacy Considerations in RFC 6973.

  %li
    To increase the awareness in both the human rights community and the
    technical community on the importance of the technical workings of the
    Internet and its impact on human rights.


%h2 Outputs

%p
  The research group plans on using  a variety of research methods to create
  different outputs including, but not limited to:

%ul
  %li
    %b Internet drafts,
    some of which may be put on IRTF RFC stream. These will concern progress of
    the project, methodology, and will define any possible protocol
    considerations.

  %li
    %b Policy and academic papers,
    for in-depth analysis and discussion of the relationship between human
    rights and the Internet architecture and protocols.

  %li
    %b Film and textual interviews
    with a diverse set of community members, to give an accessible insight into
    the variety of opinions on this topic represented in the IETF.

  %li
    %b Data analysis and visualization,
    to research and visualize the language used in current and historic RFCs and
    mailinglist discussions to expose core architectural principles, language
    and deliberations on human rights of those affected by the network.

  %li
    %b Protocol analysis.
    Data analysis and visualization of (existing) protocols in the wild to
    research their concrete impact on human rights.

%h2 Membership

%p
  Membership is open to any interested parties who intend to remain
  current with the published documents and mailing list issues.
