--- 
---

-# convenience shortcuts
- rg = $rgs[item.identifier.without_ext.tr("/", "")]
- name = rg.name
- acronym = rg.acronym.upcase

%h2 Charter

%p
  Internet congestion control crucially impacts network efficiency and user
  quality of experience (QoE). The Internet Congestion Control Research
  Group (ICCRG) is an IRTF group tasked with investigating innovative
  conceptual and practical aspects of Internet congestion control. The
  ICCRG brings together researchers and practitioners from academia and
  industry and strives to promote continued engagement by participants to
  facilitate an ongoing and lively discussion of congestion control
  research. Discussions in this group range from early, half-baked ideas
  that could benefit from feedback from the community to evaluations of
  widely-deployed congestion controllers and their impact on the Internet.

%p
  Topics of Interest:

%p
  The ICCRG’s primary focus is on the open Internet, broadly defined,
  though its interests extend to related network domains.  In particular,
  topics of interest for the ICCRG include:

%ol
  %li 
    Trends impacting Internet congestion control:
    %ul
      %li 
        trends in application requirements: different types of emerging /
        existing application profiles, and the induced requirements from
        the network needed to support high QoE;
      %li
        trends in traffic patterns: different types of emerging/existing
        traffic profiles and  how to best support them;
      %li
        interactions with the network: specific network characteristics
        (e.g., 5G, LTE, wired), QoS mechanisms, signaling mechanisms
        (e.g., ECN, INT), traffic engineering,  lower-layer technologies;
      %li
        interactions with other traffic: traffic controlled by different
        congestion controllers,  DDoS and mitigation mechanisms, other
        forms of bandwidth consumption/protection.

  %li
    Novel approaches to Internet congestion control protocol design:
    %ul
      %li
        new design objectives, e.g., application-oriented/QoE-aware protocol
        design.
      %li
        new algorithmic approaches, e.g., control-theoretic, learning-based
      %li
        rethinking the design space, e.g., novel schemes for multipath
        congestion control.

  %li
    New evaluation frameworks for congestion control.
    %ul
      %li
        new formal models and performance metrics/criteria for congestion
        control, spanning different notions of performance, fairness,
        stability, etc.
      %li
        network simulation/emulation frameworks for congestion control,
        including new experimentation tools and proposed experiments.
      %li
        empirical datasets for evaluating congestion control protocols that
        reflect real-world challenges for Internet congestion control.
    To accommodate reproducibility, we strongly encourage participants to
    share code for congestion control prototypes and evaluation tools, as
    well as (possibly anonymized) useful datasets with the community. 

  %li
    Evaluation of (existing and new) congestion controllers.
    %ul
    %li
      Theoretical results for Internet congestion control, e.g., theoretical
      guarantees for specific congestion controllers, general impossibility
      results, inherent tradeoffs between different objectives, etc.
    %li
      Experimental/empirical evaluation results describing the behavior of
      different congestion controllers and contrasting different congestion
      control schemes. This includes comparative academic studies, as well
      as input from practitioners working on congestion control, even if
      limited to their own network environments or use cases.

%p
  If you are working on something that you believe is in scope for ICCRG
  but are uncertain, please reach out to the chairs.

%p
  “Soft” Deliverables:

%p
  The ICCRG’s goal is to enhance our understanding of Internet congestion
  control and to support conceptual innovation. Hence, while ICCRG
  discussions might entail writing documents, these are not a required or
  expected outcome of the ICCRG. In particular, the ICCRG does not produce
  standards-track RFCs (although it can publish Experimental or
  Informational RFCs). The IETF is the appropriate venue for
  deployment-oriented documents concerning interoperability or
  standardization of implementation, where the ICCRG will coordinate with
  the IETF transport area as appropriate. 

%p
  While oral presentations of ideas at ICCRG meetings and any subsequent
  discussions are the primary form of communicating ideas at the ICCRG,
  participants are encouraged to deposit artifacts, such as datasets, draft
  research papers, documents covering recent theoretical/empirical results on
  Internet congestion control, for review, discussion, or collaboration.
  These artifacts are not intended as replacements to Internet drafts and may
  be provided in any appropriate format.

%p
  Community:

%p
  The ICCRG will coordinate with other IRTF research groups, the IETF
  Transport Area, practitioners in industry, and the broader research
  community as appropriate.


%h2 Membership Policy

%p
  Open.
