---
title: Internet Research Task Force
---

%div.row
  %div.col-sm-12
    %p.lead.mb-5
      The Internet Research Task Force (IRTF) promotes research of importance
      to the evolution of the Internet protocols, applications, architecture
      and technology.

%div.row
  %div.col-sm-8
    %h2 Overview

    %p
      The
      %span.term Internet Research Task Force
      (IRTF) focuses on longer term research issues related to the Internet
      while the parallel organization, the
      %span.term Internet Engineering Task Force
      (IETF), focuses on the shorter term issues of engineering and
      standards making.

    %p
      The IRTF is comprised of a number of focused and long-term
      %a{:href => "/groups.html"}
        Research Groups.
      These groups work on topics related to Internet protocols,
      applications, architecture and technology. Research Groups have the
      stable long-term membership needed to promote the development of
      research collaboration and teamwork in exploring research issues.
      Participation is by individual contributors, rather than by
      representatives of organizations.

    %p
      The IRTF also organises the 
      %a{ :href => "/anrw/"} ACM/IRTF Applied Networking Research Workshop
      and the
      %a{ :href => "/anrp/"} Applied Networking Research Prize
      to encourage collaboration between the academic research world and
      the Internet standards community.

    %p
      The IRTF also makes available a number of 
      %a{ :href => "/travelgrants/"} travel grants
      and
      %a{ :href => "/feewaivers.html"} fee waivers
      to support PhD students, early career researchers, and
      under-represented groups to attend research group meeting,
      workshops, and other IRTF-related events. 

    %h2 Research Groups

    %p These #{$rgs.count} Research Groups are currently chartered or proposed for chartering:

    = render "/rgtiles_.*"

    %h2.mt-3 More Information

    %p
      The IRTF believes that research is most effective when done in an
      open and inclusive forum that encourages diversity of ideas and
      diversity of participation. We strive to create and maintain an
      environment that encourages broad participation, and one in which
      people are treated with dignity, decency, and respect. Policies that
      relate to
      %a{:href => "/policies/#conduct"}
        conduct, diversity, and inclusion
      including an
      %a{:href => "/policies/#anti-harassment"}
        anti-harassment policy
      are in place to protect participants. Any concerns may be raised
      with the 
      %a{:href => "/chair.html"}
        IRTF Chair
      or 
      %a{:href => "https://www.ietf.org/contact/ombudsteam/"}
        the Ombudsteam.


    %p
      RFC7418 gives an IRTF Primer for IETF Participants. It provides a
      high-level description of issues for IETF participants to consider
      when bringing proposals for new research groups into the IRTF, and
      emphasizes differences in expectations between the two organizations.

    %p
      The IRTF is managed by the
      %a{:href => "/chair.html"}
        IRTF Chair
      in consultation with the
      %a{:href => "/irsg.html"}
        Internet Research Steering Group
      (IRSG). The IRSG membership includes the IRTF Chair, the chairs of
      the various Research Groups, and other individuals ("members at
      large") from the research community selected by the IRTF Chair.

    %p
      The governance and operation of the IRTF is described by various
      %a{:href => "/policies" }
        RFCs and other policy documents
      including 
      %a{:href => "/policies/ipr/" }
        Intellectual Property Rights disclosure rules
      and the
      %a{:href => "https://ietf.org/privacy-statement/"}
        IETF/IRTF/IAB Privacy Statement.

    %p
      The
      %a{:href => "https://mailman3.irtf.org/mailman3/lists/irtf-announce.irtf.org/"}
        irtf-announce@irtf.org
      mailing list is a low-volume public announcement mailing list for research
      group creation and conclusion, IRTF RFC publication, IRTF workshop calls
      for papers, etc. The
      %a{:href => "https://mailman3.irtf.org/mailman3/lists/irtf-discuss.irtf.org/"}
        irtf-discuss@irtf.org
      mailing list is a general discussion list for IRTF-related topics.
      Both lists are public and anyone may subscribe.
      Each IRTF research group also maintains its a mailing list for discussion
      and announcements relating to that group; unless otherwise specified these
      lists are also public.

    %p
      A wiki with more information about the IRTF is
      = link_to("here", "https://wiki.ietf.org/group/irtf") + "."



  %div.col-sm-4
    %div.card
      %div.card-header.bg-secondary.text-light
        %h2.card-title Latest News

      %div.card-body.bg-light.text-dark
        %h3.card-title Travel Grants Available
        %p.card-text
          Submit
          %a{ :href => "https://www.irtf.org/travelgrants" }
            Diversity travel grant applications
          to attend IETF-123 in Madrid in July 2025.

      %div.card-body.bg-light.text-dark
        %h3.card-title Call for Papers: ANRW 2025
        %p.card-text
          Submit your papers to the 
          %A{ :href => "/anrw/2025/" }
            ACM/IRTF Applied Networking Research Workshop 2025
          by 29 April 2025.



