---
title: Internet Research Task Force (IRTF)
---

%h2 Mission

%p.quote The Internet Research Task Force (IRTF) promotes research of importance to the evolution of the Internet by creating focused, long-term Research Groups working on topics related to Internet protocols, applications, architecture and technology.

.rightbar
  .news
    %h2 2014 ANRP Winners Selected
    %p
      The first two ANRP awards for 2014 will be awarded at IETF-89 and go to
      %a{ :href => "http://www.isg.rhul.ac.uk/~kp/", :name => "ietf89" }
        %span.term Kenny Paterson
      and
      %a{ :href => "http://web.mit.edu/keithw/", :name => "ietf89" }
        %span.term Keith Winstein.

    -#%h2 2014 ANRP Nominations Open
    -#%p
    -#  %a{ :href => "anrp/2014"} Submit nominations
    -#  for the 2014 award period of the
    -#  %a{ :href => "anrp"} Applied Networking Research Prize
    -#  until
    -#  %span.term November 30, 2013!

  %h2 Chair
  %p
    The current IRTF Chair is
    %a{ :href => $chair.web } Lars Eggert
    = "(" + link_to("irtf-chair@irtf.org", "mailto:irtf-chair@irtf.org") + ")."

  %h2 Mailing Lists
  %p
    %a{:href => "/mailman/listinfo/irtf-announce"} irtf-announce@irtf.org
    is a low-volume announcement list for Research Group creations and conclusions, IRTF RFC publication, etc.
  %p
    %a{:href => "/mailman/listinfo/irtf-discuss"} irtf-discuss@irtf.org
    is the main discussion list for general IRTF topics.

  %h2 Wiki
  %p
    A wiki with more information about the IRTF is
    = link_to("here", "http://trac.tools.ietf.org/group/irtf/trac/wiki") + "."


%h2 Overview

%p
  The
  %span.term Internet Research Task Force
  (IRTF) focuses on longer term research issues related to the Internet while the parallel organization, the
  %span.term Internet Engineering Task Force
  (IETF), focuses on the shorter term issues of engineering and standards making.

%p
  The IRTF is a composed of a number of focused and long-term
  %span.term Research Groups.
  These groups work on topics related to Internet protocols, applications, architecture and technology. Research Groups have the stable long term membership needed to promote the development of research collaboration and teamwork in exploring research issues.  Participation is by individual contributors, rather than by representatives of organizations.

%p
  The IRTF is managed by the
  %span.term IRTF Chair
  in consultation with the
  %span.term Internet Research Steering Group
  (IRSG). The IRSG membership includes the IRTF Chair, the chairs of the various Research Groups and other individuals ("members at large") from the research community selected by the IRTF Chair.

%p
  The RFC Editor publishes documents from the IRTF and its Research Groups on the
  %span.term IRTF Stream
  (RFC5743).

%h2 More Information

%p The detailed IRTF Research Group guidelines and procedures are described in RFC2014. In RFC4440, the Internet Architecture Board (IAB) further details the role of the IRTF.

%p The procedures for publishing documents on the IRTF RFC Stream are defined in RFC5743, with additional details found in RFC5742. The concept of RFC Streams is defined in RFC4844.

%p
  The IRTF follows the IETF
  %a{ :href => "ipr" } Intellectual Property Rights
  (IPR) disclosure rules. Also see Section 3.2 of RFC5743.

%p
  The
  %a{ :href => "http://www.ietf.org/iesg/statement/ietf-anti-harassment-policy.html" } IETF Anti-Harassment Policy
  also applies to the IRTF.


%h2 Current Research Groups

%p These #{$rgs.count} Research Groups are currently chartered:

= render "rgtiles_", :loc => ""

