--- 
title: Internet Research Task Force (IRTF)
---

%h2 Mission
 
%p.quote The Internet Research Task Force (IRTF) promotes research of importance to the evolution of the Internet by creating focused, long-term Research Groups working on topics related to Internet protocols, applications, architecture and technology.
  
.rightbar

  .news
    %h2 Current Events
    %p
      Submit nominations for the
      %a{ :href => "anrp"} Applied Networking Research Prize
      for
      %a{ :href => "http://www.ietf.org/meeting/81/index" } IETF-81,
      July 24-29, 2011 in Quebec City, Canada until
      %span.term May 8, 2011 -- 
      %a{ :href => "anrp"} click here!

  %h2 Chair
  %p
    The current IRTF Chair is
    <a href="http://fit.nokia.com/lars/">Lars Eggert</a>
    (<a href="mailto:irtf-chair@irtf.org">irtf-chair@irtf.org</a>).
    
  %h2 Mailing Lists
  %p
    %a{:href => "mailman/listinfo/irtf-announce"} irtf-announce@irtf.org
    is a low-volume announcement list for Research Group creations and conclusions, IRTF RFC publication, etc.
  %p
    %a{:href => "mailman/listinfo/irtf-discuss"} irtf-discuss@irtf.org
    is the main discussion list for general IRTF topics.

  %h2 Wiki
  %p A wiki with more information about the IRTF is <a href="http://trac.tools.ietf.org/group/irtf/trac/wiki">here</a>.
  


%h2 Overview

%p
  The 
  %span.term Internet Research Task Force
  (IRTF) focuses on longer term research issues related to the Internet while the parallel organization, the
  %span.term Internet Engineering Task Force
  (IETF), focuses on the shorter term issues of engineering and standards making.

%p
  The IRTF is a composed of a number of focused and long-term
  %span.term Research Groups.
  These groups work on topics related to Internet protocols, applications, architecture and technology. Research Groups have the stable long term membership needed to promote the development of research collaboration and teamwork in exploring research issues.  Participation is by individual contributors, rather than by representatives of organizations.

%p
  The IRTF is managed by the
  %span.term IRTF Chair
  in consultation with the
  %span.term Internet Research Steering Group
  (IRSG). The IRSG membership includes the IRTF Chair, the chairs of the various Research Groups and other individuals ("members at large") from the research community selected by the IRTF Chair.

%p
  The RFC Editor publishes documents from the IRTF and its Research Groups on the
  %span.term IRTF Stream
  (RFC5743).

%h2 Current Research Groups

%p These #{$rgs.count} Research Groups are currently chartered:

= render "rgtiles_"

%h2 More Information

%p The detailed IRTF Research Group guidelines and procedures are described in RFC 2014.

%p The procedures for publishing documents on the IRTF RFC Stream are defined in RFC5743. The concept of RFC Streams is defined in RFC4844.