---
title: Internet Research Task Force
---

%p.lead 
  The Internet Research Task Force (IRTF) promotes research of importance
  to the evolution of the Internet protocols, applications, architecture
  and technology.

.row
  .col-sm-8
    %h2 Overview

    %p
      The
      %span.term Internet Research Task Force
      (IRTF) focuses on longer term research issues related to the Internet
      while the parallel organization, the
      %span.term Internet Engineering Task Force
      (IETF), focuses on the shorter term issues of engineering and
      standards making.

    %p
      The IRTF is comprised of a number of focused and long-term
      %span.term Research Groups.
      These groups work on topics related to Internet protocols,
      applications, architecture and technology. Research Groups have the
      stable long-term membership needed to promote the development of
      research collaboration and teamwork in exploring research issues.
      Participation is by individual contributors, rather than by
      representatives of organizations.

    %p
      The IRTF also organises the 
      %a{ :href => "/anrw/"} ACM/IRTF Applied Networking Research Workshop
      and the
      %a{ :href => "/anrp/"} Applied Networking Research Prize
      to encourage collaboration between the academic research world and
      the Internet standards community.

    %p
      The IRTF has a limited number of 
      %a{ :href => "/travelgrants"} travel grants
      to support attendance of PhD students and early career researchers at
      our events and workshops. 

    %h2 Active Research Groups

    %p These #{$rgs.count} Research Groups are currently chartered or proposed for chartering:

    = render "/rgtiles_.*"

    %h2 Workshops and Prizes

    %p
      The 
      %a{ :href => "/anrw/"} ACM/IRTF Applied Networking Research Workshop
      is an academic workshop that provides a forum for researchers,
      vendors, network operators, and the Internet standards community to
      present and discuss emerging results in applied networking research.
      It co-locates with the summer IETF meeting each year.

    %p
      The 
      %a{ :href => "/anrp/"} Applied Networking Research Prize (ANRP)
      is awarded for recent results in applied networking research that
      are relevant for transitioning into shipping Internet products and
      related standardization efforts. Nominations are made each Autumn,
      and prize winners give their award talks in the IRTF Open Meetings
      the following year.

    %h2 More Information

    %p
      RFC7418 gives an IRTF Primer for IETF Participants. It provides a
      high-level description of things for IETF participants to consider
      when bringing proposals for new research groups into the IRTF, and
      emphasizes differences in expectations between the two organizations.

    %p
      The IRTF is managed by the
      %span.term IRTF Chair
      in consultation with the
      %span.term Internet Research Steering Group
      (IRSG). The IRSG membership includes the IRTF Chair, the chairs of
      the various Research Groups, and other individuals ("members at
      large") from the research community selected by the IRTF Chair.

    %p
      The governance and operation of the IRTF is described by various
      %a{ :href => "policies" } RFCs and other policy documents.
      These include 
      %a{ :href => "ipr" } Intellectual Property Rights disclosure rules.
      The IETF
      %a{ :href => "https://www.ietf.org/blog/ietf-anti-harassment-policy/" } Anti-Harassment Policy
      also applies to the IRTF.




  .col-sm-4.rightbar
    .well
      %h2 Travel grants available
      %p
        We are pleased to offer
        %a{ :href => "/travelgrants.html"} Diversity Travel Grants
        and
        %a{ :href => "/anrw/2022/travelgrants.html"} ANRW'22 Travel Grants
        for IRTF-related events taking place at IETF-114 in July 2022.

      %h2 Applied Networking Research Workshop 2022
      %p
        The 
        %a{ :href => "/anrw/2022/"} ACM/IRTF Applied Networking Research Workshop
        2022 will take place in the week of 25-29 July 2022, co-locating 
        with IETF-114.



    %h2 Chair
    %p
      The current IRTF Chair is
      %a{ :href => $chair.web } Colin Perkins
      = "(" + link_to("irtf-chair@irtf.org", "mailto:irtf-chair@irtf.org") + ")."

    %h2 Mailing Lists
    %p
      %a{:href => "/mailman/listinfo/irtf-announce"} irtf-announce@irtf.org
      is a low-volume announcement list for Research Group creations and
      conclusions, IRTF RFC publication, etc.
    %p
      %a{:href => "/mailman/listinfo/irtf-discuss"} irtf-discuss@irtf.org
      is the main discussion list for general IRTF topics.

    %h2 Wiki
    %p
      A wiki with more information about the IRTF is
      = link_to("here", "https://trac.ietf.org/trac/irtf/wiki") + "."

