---
title: Internet Research Task Force
---

%div.row
  %div.col-sm-12
    %p.lead.mb-5
      The Internet Research Task Force (IRTF) promotes research of importance
      to the evolution of the Internet protocols, applications, architecture
      and technology.

%div.row
  %div.col-sm-8
    %h2 Overview

    %p
      The
      %span.term Internet Research Task Force
      (IRTF) focuses on longer term research issues related to the Internet
      while the parallel organization, the
      %span.term Internet Engineering Task Force
      (IETF), focuses on the shorter term issues of engineering and
      standards making.

    %p
      The IRTF is comprised of a number of focused and long-term
      %span.term Research Groups.
      These groups work on topics related to Internet protocols,
      applications, architecture and technology. Research Groups have the
      stable long-term membership needed to promote the development of
      research collaboration and teamwork in exploring research issues.
      Participation is by individual contributors, rather than by
      representatives of organizations.

    %p
      The IRTF also organises the 
      %a{ :href => "/anrw/"} ACM/IRTF Applied Networking Research Workshop
      and the
      %a{ :href => "/anrp/"} Applied Networking Research Prize
      to encourage collaboration between the academic research world and
      the Internet standards community.

    %p
      The IRTF also makes available a number of 
      %a{ :href => "/travelgrants.html"} travel grants
      and
      %a{ :href => "/feewaivers.html"} fee waivers
      to support PhD students, early career researchers, and
      under-represented groups to attend research group meeting,
      workshops, and other IRTF-related events. 

    %h2 Active Research Groups

    %p These #{$rgs.count} Research Groups are currently chartered or proposed for chartering:

    = render "/rgtiles_.*"

    %h2 Workshops and Prizes

    %p
      The 
      %a{ :href => "/anrw/"} ACM/IRTF Applied Networking Research Workshop
      is an academic workshop that provides a forum for researchers,
      vendors, network operators, and the Internet standards community to
      present and discuss emerging results in applied networking research.
      It co-locates with the summer IETF meeting each year.

    %p
      The 
      %a{ :href => "/anrp/"} Applied Networking Research Prize (ANRP)
      is awarded for recent results in applied networking research that
      are relevant for transitioning into shipping Internet products and
      related standardization efforts. Nominations are made each Autumn,
      and prize winners give their award talks in the IRTF Open Meetings
      the following year.

    %h2 More Information

    %p
      RFC7418 gives an IRTF Primer for IETF Participants. It provides a
      high-level description of things for IETF participants to consider
      when bringing proposals for new research groups into the IRTF, and
      emphasizes differences in expectations between the two organizations.

    %p
      The IRTF is managed by the
      %span.term IRTF Chair
      in consultation with the
      %span.term Internet Research Steering Group
      (IRSG). The IRSG membership includes the IRTF Chair, the chairs of
      the various Research Groups, and other individuals ("members at
      large") from the research community selected by the IRTF Chair.

    %p
      The governance and operation of the IRTF is described by various
      %a{ :href => "policies" } RFCs and other policy documents.
      These include 
      %a{ :href => "ipr" } Intellectual Property Rights disclosure rules.
      The IETF
      %a{ :href => "https://www.ietf.org/blog/ietf-anti-harassment-policy/" } Anti-Harassment Policy
      also applies to the IRTF.


    %p
      The current IRTF Chair is
      %a{ :href => $chair.web } Colin Perkins
      = "(" + link_to("irtf-chair@irtf.org", "mailto:irtf-chair@irtf.org") + ")."

    %p
      The
      %a{:href => "/mailman/listinfo/irtf-announce"} irtf-announce@irtf.org
      list is a low-volume announcement mailing list for Research Group
      creations and conclusions, IRTF RFC publication, etc.

    %p
      The
      %a{:href => "/mailman/listinfo/irtf-discuss"} irtf-discuss@irtf.org
      mailing list is the main discussion list for general IRTF topics.

    %p
      A wiki with more information about the IRTF is
      = link_to("here", "https://wiki.ietf.org/group/irtf") + "."



  %div.col-sm-4
    %div.card
      %div.card-header.bg-secondary.text-light
        %h2.card-title Latest News

      %div.card-body.bg-light.text-dark
        %h3.card-title Applied Networking Research Workshop
        %p.card-text
          The 
          %a{ :href => "/anrw/2023/"} ACM/IRTF Applied Networking Research Workshop (ANRW)
          will be held on Monday 24th July 2023, co-located with IETF-117
          in San Francisco.

      %div.card-body.bg-light.text-dark
        %h3.card-title Applied Networking Research Prize awards for IETF-117
        %p.card-text
          Congratulations to Simon Scherrer and Siva Kakarla
          who will receive the
          %a{ :href => "/anrp"} Applied Networking Research Prize
          at IETF-117 in San Francisco in July 2023.

       


