---
title: Intellectual Property Rights (IPR)
---

.col-sm-12
  %p
    The IRTF follows the IETF Intellectual Property Rights (IPR) disclosure rules.
    This is a summary
    of these rules as they relate to IRTF research group discussions,
    mailing lists and Internet Drafts:

  %ul
    %li
      If you include your own or your employer's IPR in a contribution
      to an IRTF research group, then you must file an IPR disclosure
      with the IETF.

    %li
      If you recognize your own or your employer's IPR in someone else's
      contribution and you are participating in the discussions in the
      research group relating to that contribution, then you must file
      an IPR disclosure with the IETF. Even if you are not participating
      in the discussion, the IRTF still requests that you file an IPR
      disclosure with the IETF.

    %li
      Finally, the IRTF requests that you file an IPR disclosure with the
      IETF if you recognize IPR owned by others in any IRTF contribution.

  %p
    The IRTF expects that you file IPR disclosures in a timely manner, i.e.,
    in a period measured in days or weeks, not months. The IRTF prefers
    that the most liberal licensing terms possible are available for IRTF
    Stream documents, see RFC 5743. You may file an IPR disclosure here:
    %a{ :href => "http://www.ietf.org/ipr/file-disclosure" }
      http://www.ietf.org/ipr/file-disclosure

  %p
    See RFC 3979 (BCP 79) for definitions of "IPR" and "contribution"
    and for the detailed rules (substituting "IRTF" for "IETF").
