---
---

-# convenience shortcuts
- rg = $rgs[item.identifier.without_ext.tr("/", "")]
- name = rg.name
- acronym = rg.acronym.upcase

%p
  A Quantum Internet, if developed and deployed, will bring new
  communication and remote computation capabilities, as well as improving
  the accuracy of physical sensor systems (e.g., for interferometry for
  long-baseline telescopes). One key area will be cryptographic functions
  including quantum key distribution and quantum byzantine agreement.

%p
  Work toward a Quantum Internet is well underway in physics laboratories
  and in theory groups. The next step is network engineering. Some of the
  problems that need to be addressed include:

%ul
  %li
    routing: there are a number of proposals, including a couple in the
    last six months or so, and which routing schemes are appropriate for
    which circumstances needs to be assessed

  %li
    resource allocation: some of the routing proposals seem to be including
    a notion of the dynamic traffic on the network, but this distinction
    needs to be defined clearly

  %li 
    connection establishment: what does a request look like (semantics more
    than syntax) as it propagates across the network?

  %li 
    interoperability: given than different networks are currently being
    designed and built, how do we ensure a long-lived internetwork
    develops?

  %li 
    security: are quantum repeater networks inherently more or less
    vulnerable in operations than classical networks?

  %li 
    design of an API that will serve the role that sockets play in
    classical networks

%p
  There are also other problems:

%ul
  %li
    applications for a Quantum Internet: by far the most important on the
    agenda for the community (not necessarily a QIRG work item) is figuring
    out what we would *do* with a Quantum Internet, including what data
    rates and fidelities are required (otherwise, there is no market for a
    QI)

  %li
    multi-party states and multi-party transfers such as network coding:
    rather than simple, independent point-to-point transfers, how can we
    create and use more complex states?

%h2 Outputs and Milestones

%p
  Two concrete work items that QIRG may produce:

%ul
  %li
    An architectural framework delineating network node roles and
    definitions, to build a common vocabulary and serve as the first step
    toward a quantum network architecture.

  %li
    Wehner, Elkhouss and Hanson have created a roadmap of technical
    capability milestones for quantum networks. Mapping these milestones to
    concrete use cases will help to determine the order and timing of
    classical protocols that will be needed.

%p
  Additionally, QIRG may serve as technical consultants to cryptography
  groups within IETF and IRTF on the capabilities and timing for both
  quantum computation and quantum networking, to provide guidance on
  development and deployment of IETF protocols.

%p
  Finally, QIRG will serve as a coordination point with other standards
  organizations that are working on standardization of quantum networks.

%h2 Process

%p
  QIRG will hold 2-3 meetings per year, typically one at IETF, one at a
  related conference, and one online.

%p
  Membership Policy: Open

