---
title: <small><a href="/">IRTF</a> & <a href="https://www.internetsociety.org/">ISOC</a> Workshop on </small><br>Research and Applications of Internet Measurements (RAIM)<br><small>in Cooperation with <a href="http://www.sigcomm.org/">ACM SIGCOMM</a></small>
---
.col-sm-4.hidden-
  %a{ :href => "./"}
    %img.text-center{ :src => "img/irtf.png", :alt => "IRTF", :height => 75 }
.col-sm-4.hidden-xs
  %a{ :href => "https://www.internetsociety.org/"}
    %img.text-center{ :src => "img/isoc.png", :alt => "Internet Society", :height => 75 }
.col-sm-4.hidden-xs
  %a{ :href => "http://www.sigcomm.org/"}
    %img.text-center{ :src => "img/acm.png", :alt => "ACM SIGCOMM", :height => 75 }

.col-sm-12
  %h2
    Saturday, October 31, 2015
    %br
    Yokohama, Japan


  %h2 Logistics

  %p
    The workshop will take place at the
    %a{ :href => "http://www.pacifico.co.jp/english/" } Pacifico Yokohama
    on Saturday, Saturday, October 31, 2015. The Pacifico is the venue for the
    IETF-94 meeting, and hotel and other travel information is available on the
    %a{ :href => "https://www.ietf.org/meeting/94/index.html" } IETF meeting page.

  %p
    %strong
      We will be in
      %strong Room 303,
      according to the
      %a{ :href => "https://datatracker.ietf.org/meeting/agenda/" } IETF agenda.
      The workshop will be
      %a{ :href => "http://www.meetecho.com/ietf94/raim/" } live-streamed by Meetecho.


  %h2 Agenda

  %table.table.table-condensed.table-striped
    %thead
      %tr.border
        %th Start time
        %th Duration (min)
        %th{ :colspan => 2 } Session
    %tbody
      %tr
        %td 9:00
        %td 15
        %td.nowrap
          %em Welcome & logistics
        %td L. Eggert
      %tr.warning
        %td
        %td
        %td{ :colspan => 2 }
          %strong Measurement platforms & tools
      %tr
        %td 9:15
        %td 45
        %td.nowrap
          %em Session keynote
        %td
          %a{ :href => "raim-2015-slides/keynote-trammell.pdf"} B. Trammell
      %tr
        %td 10:00
        %td 120
        %td.nowrap
          %em Lightning talks
        %td
          %a{ :href => "raim-2015-slides/mpt/morton.pdf" } A. Morton,
          %a{ :href => "raim-2015-slides/mpt/kuehlewind.pdf" } M. Kühlewind,
          %a{ :href => "raim-2015-slides/mpt/mandalari.pdf" } A. M. Mandalari,
          %a{ :href => "raim-2015-slides/mpt/campos-nobre.pdf" } J. Campos Nobre,
          %a{ :href => "raim-2015-slides/mpt/fabini.pdf" } J. Fabini,
          %a{ :href => "raim-2015-slides/mpt/lutu.pdf" } A. Lutu,
          %a{ :href => "raim-2015-slides/mpt/improta.pdf" } A. Improta,
          %a{ :href => "raim-2015-slides/mpt/emmerich-gallenmueller.pdf" } P. Emmerich, S. Gallenmüller,
          %a{ :href => "raim-2015-slides/mpt/luckie.pdf" } M. Luckie,
          %a{ :href => "raim-2015-slides/mpt/kisteleki.pdf" } R. Kisteleki,
          %a{ :href => "raim-2015-slides/mpt/mcnamara.pdf" } L. McNamara, I. Marsh,
          %a{ :href => "raim-2015-slides/mpt/holterbach.pdf" } T. Holterbach,
          %a{ :href => "raim-2015-slides/mpt/fujiwara.pdf" } K. Fujiwara,
          %a{ :href => "raim-2015-slides/mpt/asai.pdf" } H Asai,
          %a{ :href => "raim-2015-slides/mpt/padmanabhan.pdf" } R. Padmanabhan,
          %a{ :href => "raim-2015-slides/mpt/broberg.pdf" } R. Broberg, S. Rich,
          E. Katz-Bassett, J. Fabini, R. Winter
      %tr
        %td 12:00
        %td 90
        %td.grey{ :colspan => 2 } Lunch break
      %tr.warning
        %td
        %td
        %td{ :colspan => 2 }
          %strong Measurement of fixed & mobile broadband access networks
      %tr
        %td 13:30
        %td 45
        %td.nowrap
          %em Session keynote
        %td P. Eardley
      %tr
        %td 14:15
        %td 90
        %td.nowrap
          %em Lightning talks
        %td
          %a{ :href => "raim-2015-slides/fman/fabini.pdf" } J. Fabini,
          %a{ :href => "raim-2015-slides/fman/teixeira.pdf" } R. Teixeira,
          %a{ :href => "raim-2015-slides/fman/luckie.pdf" } M. Luckie,
          %a{ :href => "raim-2015-slides/fman/brunstrom.pdf" } A. Brunstrom,
          %a{ :href => "raim-2015-slides/fman/chang.pdf" } D. Chang,
          %a{ :href => "raim-2015-slides/fman/daigle.pdf" } L. Daigle,
          %a{ :href => "raim-2015-slides/fman/casas.pdf" } P. Casas,
          %a{ :href => "raim-2015-slides/fman/rchang.pdf" } R. Chang,
          %a{ :href => "raim-2015-slides/fman/fukuda.pdf" } K. Fukuda
      %tr
        %td 15:45
        %td 30
        %td.grey{ :colspan => 2 } Break
      %tr.warning
        %td
        %td
        %td{ :colspan => 2 }
          %strong Internet characterization through measurements
      %tr
        %td 16:15
        %td 45
        %td.nowrap
          %em Session keynote
        %td E. Katz-Bassett
      %tr
        %td 17:00
        %td 90
        %td.nowrap
          %em Lightning talks
        %td
          %a{ :href => "raim-2015-slides/ic/brownlee.pdf" } N. Brownlee,
          %a{ :href => "raim-2015-slides/ic/hu.pdf" } Q. Hu,
          %a{ :href => "raim-2015-slides/ic/aben.pdf" } E. Aben,
          %a{ :href => "raim-2015-slides/ic/moura.pdf" } G. C. M. Moura,
          %a{ :href => "raim-2015-slides/ic/luckie.pdf" } M. Luckie,
          %a{ :href => "raim-2015-slides/ic/perkins.pdf" } C. Perkins,
          %a{ :href => "raim-2015-slides/ic/lai.pdf" } Z. Lai,
          %a{ :href => "raim-2015-slides/ic/robles.pdf" } M. I. Robles,
          %a{ :href => "raim-2015-slides/ic/anwar.pdf" } M. R. Anwar,
          %a{ :href => "raim-2015-slides/ic/ninomiya.pdf" } M. Ninomiya,
          %a{ :href => "raim-2015-slides/ic/paasch.pdf" } C. Paasch,
          %a{ :href => "raim-2015-slides/ic/vanaubel.pdf" } Y. Vanaubel,
          %a{ :href => "raim-2015-slides/ic/dainotti.pdf" } A. Dainotti,
          %a{ :href => "raim-2015-slides/ic/kamei.pdf" } S. Kamei,
          %a{ :href => "raim-2015-slides/ic/fall.pdf" } K. Fall,
          K. Satoshi,  P. Gill
      %tr
        %td 18:30
        %td
        %td.grey{ :colspan => 2 } End

  %h2 Participants & submissions

  All papers made available upon request of the original authors; copyrights
  remain with the respective copyright holders.

  %table.table.table-condensed.table-striped
    %thead
      %tr
        %th Invitee
        %th Submission
    %tbody
      %tr
        %td Al Morton
        %td
          Al Morton.
          %a{ :href => "/raim-2015-papers/raim-2015-paper1.pdf" } Improved Internet speed tests can enhance QoS and QoE.
          %em Proc. 4th International Workshop on Perceptual Quality of Systems (PQS 2013),
          Vienna, Austria, September 2-4, 2013.
      %tr
        %td Marcelo Bagnulo
        %td
          Anna Maria Mandalari, Marcelo Bagnulo and Andra Lutu.
          %a{ :href => "/raim-2015-papers/raim-2015-paper2.pdf" } Informing Protocol Design Through Crowdsourcing: the Case of Pervasive Encryption.
          %em Proc. ACM SIGCOMM Workshop on Crowdsourcing and crowdsharing of Big (Internet) Data (C2B(I)D),
          London, UK. August 2015.
      %tr
        %td Jéferson Campos Nobre
        %td
          Nobre, J. C., Granville, L. Z., Clemm, A., & Gonzalez Prieto, A. (2014, May).
          %a{ :href => "/raim-2015-papers/raim-2015-paper3.pdf" } On the Use of Traffic Information to Improve the Coordinated P2P Detection of SLA Violations.
          %em In Advanced Information Networking and Applications (AINA),
          2014 IEEE 28th International Conference on (pp. 613-620). IEEE.
      %tr
        %td Giovane C. M. Moura
        %td
          Moura, G. C. M., Gañán, C. H., Lone, Q., Poursaied, P., Asghari, H., van Eeten, M.
          %a{ :href => "/raim-2015-papers/raim-2015-paper4.pdf" } How Dynamic is the ISPs Address Space? Towards Internet-Wide DHCP Churn Estimation.
          %em In: 14th IFIP Networking Conference.
          May 20-22, 2015, Toulouse, France
      %tr
        %td Robert Broberg
        %td
          Tom Anderson, Ken Birman, Robert Broberg, Matthew Caesar, Douglas Comer, Chase Cotton, Michael J. Freedman, Andreas Haeberlen, Zachary G. Ives, Arvind Krishnamurthy, William Lehr, Boon Thau Loo, David Mazières, Antonio Nicolosi, Jonathan M. Smith, Ion Stoica, Robbert van Renesse, Michael Walfish, Hakim Weatherspoon, and Christopher S. Yoo. 2014.
          %a{ :href => "/raim-2015-papers/raim-2015-paper5.pdf" } A brief overview of the NEBULA future internet architecture.
          %em SIGCOMM Comput. Commun. Rev. 44, 3
          (July 2014), 81-86.
      %tr
        %td Özgü Alay
        %td
          Özgü Alay, Andra Lutu, David Ros, Rafael Garcia, Vincenzo Mancuso Audun Fosselie Hansen, Anna Brunstrom, Marco Ajmone Marsan and Hakon Lonsethagen.
          %a{ :href => "/raim-2015-papers/raim-2015-paper6.pdf" } MONROE: Measuring Mobile Broadband Networks in Europe.
          %em Position paper.
      %tr
        %td Pedro Casas
        %td
          P. Casas, B. Gardlo, M. Seufert, F. Wamser, R. Schatz,
          %a{ :href => "/raim-2015-papers/raim-2015-paper7.pdf" } "Taming QoE in Cellular Networks: from Subjective Lab Studies to Measurements in the Field",
          to appear in
          %em Proceedings of the 11th International Conference on Network and Service Management (CNSM),
          09-13 November, 2015.
      %tr
        %td Yves Vanaubel
        %td
          Y. Vanaubel, P. Mérindol, J.-J. Pansiot and B. Donnet,
          %a{ :href => "/raim-2015-papers/raim-2015-paper8.pdf" } “MPLS under the Microscope: Revealing the Actual Usage of Transit Path Diversity,”
          in
          %em Proc. ACM Internet Measurement Conference (IMC),
          October 2015.
      %tr
        %td Fabian E. Bustamante
        %td
          John P. Rula, Zachary S. Bischof, and Fabian E. Bustamante. 2015.
          %a{ :href => "/raim-2015-papers/raim-2015-paper10.pdf" } Second Chance: Understanding diversity in broadband access network performance.
          In Proceedings of the
          %em 2015 ACM SIGCOMM Workshop on Crowdsourcing and Crowdsharing of Big (Internet) Data (C2B(1)D '15).
          ACM, New York, NY, USA, 9-14.
      %tr
        %td Alessandro Improta
        %td
          Pietro Giardina, Enrico Gregori, Alessandro Improta, Alessandro Pischedda, Luca Sani.
          %a{ :href => "/raim-2015-papers/raim-2015-paper11.pdf" } Isolario: a Do-ut-des Approach to Improve the Appeal of BGP Route Collecting.
          %em Position paper.
      %tr
        %td Mirja Kühlewind
        %td
          Brian Trammell, Mirja Kühlewind.
          %a{ :href => "/raim-2015-papers/raim-2015-paper12.pdf" } Observing Internet Path Transparency to Support Protocol Engineering.
          %em Position paper.
      %tr
        %td Carsten Bormann
        %td
          Julian Kornberger, Carsten Bormann.
          %a{ :href => "/raim-2015-papers/raim-2015-paper14.pdf" } Continuous Measurement Platforms can help Mitigate Pervasive Surveillance.
          %em Position paper.
      %tr
        %td Ethan Katz-Bassett
        %td
          %a{ :href => "/raim-2015-papers/raim-2015-paper15.pdf" } PEERING: An AS for Us.
          Brandon Schlinker, Kyriakos Zafiris, Italo Cunha, Nick Feamster, and Ethan Katz-Bassett.
          %em Hot Topics in Networking (HotNets),
          Los Angeles CA, October 2014.
      %tr
        %td Ethan Katz-Bassett
        %td
          %a{ :href => "/raim-2015-papers/raim-2015-paper16.pdf" } Reverse Traceroute.
          E. Katz-Bassett, H. Madhyastha, V. Adhikari, C. Scott, J. Sherry, P. van Wesep, A. Krishnamurthy, T. Anderson.
          %em USENIX Symposium on Networked Systems Design & Implementation (NSDI),
          2010.
      %tr
        %td Kazunori Fujiwara
        %td
          Kazunori Fujiwara, Akira Sato and Kenichi Yoshida,
          %a{ :href => "http://doi.org/10.2197/ipsjjip.21.517" } ”DNS traffic analysis -- CDN and the World IPv6 Launch“,
          %em Journal of Information Processing,
          Vol.21, No.3, pp. 517-526, July 2013.
      %tr
        %td Joachim Fabini
        %td
          Fabini, J.; Zseby, T.,
          %a{ :href => "/raim-2015-papers/raim-2015-paper18.pdf" } "M2M communication delay challenges: Application and measurement perspectives,"
          %em Instrumentation and Measurement Technology Conference (I2MTC),
          2015 IEEE International, pp.1859,1864, 11-14 May 2015.
      %tr
        %td Phillipa Gill, Ruwaifa Anwar
        %td
          %a{ :href => "/raim-2015-papers/raim-2015-paper19.pdf" } Investigating Interdomain Routing Policies in the Wild.
          Ruwaifa Anwar, Haseeb Niaz, David Choffnes, Italo Cunha, Phillipa Gill, and Ethan Katz-Bassett.
          To appear:
          %em ACM SIGCOMM Internet Measurement Conference 2015.
      %tr
        %td Yi-Ching Chiu, Ethan Katz-Bassett
        %td
          Yi-Ching Chiu, Brandon Schlinker, Abhishek Balaji Radhakrishnan, Ethan Katz-Bassett, Ramesh Govindan,
          %a{ :href => "/raim-2015-papers/raim-2015-paper20.pdf" } Are We One Hop Away from a Better Internet?,
          %em Proceedings of the ACM Internet Measurement Conference (IMC '15), Oct. 2015.
      %tr
        %td Deliang Chang, Qianli Zhang
        %td
          Deliang Chang, Qianli Zhang, Xing Li.
          %a{ :href => "/raim-2015-papers/raim-2015-paper21.pdf" } Study on OS Fingerprinting and NAT/Tethering based on DNS Log Analysis.
          %em Position paper.
      %tr
        %td Yong Cui, Linhui Sun
        %td
          %a{ :href => "/raim-2015-papers/raim-2015-paper22.pdf" } QuickSync: Improving Synchronization Efficiency for Mobile Cloud Storage Services.
          Yong Cui, Zeqi Lai, Xin Wang, Ningwei Dai, Linhui Sun.
          %em Proceedings of the 21th ACM annual international conference on Mobile computing and networking, 2015.
      %tr
        %td Thomas Holterbach, Cristel Pelsser, Randy Bush, Laurent Vanbever
        %td
          Thomas Holterbach, Cristel Pelsser, Randy Bush and Laurent Vanbever,
          %a{ :href => "/raim-2015-papers/raim-2015-paper23.pdf" } "Quantifying interference between measurements on the RIPE Atlas platform"
          To appear:
          %em ACM SIGCOMM Internet Measurement Conference 2015.
      %tr
        %td Maria Ines Robles
        %td
          Maria Ines Robles, Petri Jokela.
          %a{ :href => "/raim-2015-papers/raim-2015-paper24.pdf" } Design of a Performance Measurements Platform in Lightweight M2M for Internet of Things.
          %em Position paper.
      %tr
        %td Satoshi Kamei, Motoyuki Ooki
        %td
          Satoshi Kamei, Motoyuki Ooki.
          %a{ :href => "/raim-2015-papers/raim-2015-paper25.pdf" } Internet Structural Analysis by End-to-End Measurement.
          %em Position paper.
      %tr
        %td Liam McNamara, Ian Marsh
        %td
          Liam McNamara, Ian Marsh, Sverker Forslin.
          %a{ :href => "/raim-2015-papers/raim-2015-paper26.pdf" } CheesePi: A Raspberry Pi based measurement platform.
          %em Position paper.
      %tr
        %td Paul Emmerich
        %td
          Paul Emmerich, Sebastian Gallenmüller, Florian Wohlfart, Daniel Raumer, and Georg Carle.
          %a{ :href => "/raim-2015-papers/raim-2015-paper27.pdf" } MoonGen: A Scriptable High-Speed Packet Generator.
          Accepted at
          %em Internet Measurement Conference (IMC 2015),
          October 2015.
      %tr
        %td Anna Brunstrom
        %td
          %a{ :href => "/raim-2015-papers/raim-2015-paper28.pdf" } Delay Metrics and Delay Characteristics: A Study of Four Swedish HSDPA+ and LTE Networks.
          Johan Garcia, Stefan Alfredsson, Anna Brunstrom.
          %em European Conference on Networks and Communications (EuCNC 2015).
      %tr
        %td Qinwen Hu
        %td
          Hu, Q., & Brownlee, N. (2014, December).
          %a{ :href => "/raim-2015-papers/raim-2015-paper29.pdf" } How Interface ID Allocation Mechanisms are Performed in IPv6.
          %em In Proceedings of the 2014 CoNEXT Student Workshop
          (pp. 26-27). ACM
      %tr
        %td Nevil Brownlee
        %td
          Se-young Yu; Brownlee, N.; Mahanti, A.,
          %a{ :href => "/raim-2015-papers/raim-2015-paper30.pdf" } "Characterizing Performance and Fairness of Big Data Transfer Protocols on Long-haul Networks",
          %em Local Computer Networks (LCN),
          2015 IEEE 40th Conference, 26-29, October, 2015.
      %tr
        %td Matthew Luckie, kc claffy
        %td
          Matthew Luckie, Robert Beverly, Tiange Wu, Mark Allman, and kc claffy.
          %a{ :href => "http://www.caida.org/~mjl/pubs/blind.pdf" } Resilience of Deployed TCP to Blind Off-Path Attacks.
          %em Proceedings of the Fifteenth ACM SIGCOMM Internet Measurement (IMC 2015) Conference,
          Tokyo, JP, October 2015 (to appear).
      %tr
        %td Ramakrishna Padmanabhan, Neil Spring
        %td
          %a{ :href => "/raim-2015-papers/raim-2015-paper32.pdf" } Timeouts: Beware surprisingly high delay.
          Padmanabhan, Ramakrishna; Owen, Patrick; Schulman, Aaron; Spring, Neil.
          %em Proceedings of the Internet Measurement Conference,
          2015, Tokyo.
      %tr
        %td Alberto Dainotti, Xenofontas Dimitropoulos, Alistair King, Karyn Benson
        %td
          %a{ :href => "http://www.caida.org/publications/papers/2015/lost_in_space/" } Lost in Space: Improving Inference of IPv4 Address Space Utilization.
          Alberto Dainotti, Karyn Benson, Alistair King, kc claffy, Eduard Glatz, Xenofontas Dimitropoulos, Philipp Richter, Alessandro Finamore, Alex C. Snoeren.
          %em Technical Report, 2015.
      %tr
        %td Rocky K. C. Chang
        %td
          Weichao Li, Ricky K. P. Mok, Daoyuan Wu, and Rocky K. C. Chang,
          %a{ :href => "/raim-2015-papers/raim-2015-paper34.pdf" } "On the Accuracy of Smartphone-based Mobile Network Measurement,"
          %em in Proc. IEEE INFOCOM,
          Apr. 2015.
      %tr
        %td Ilya Nikolaevskiy
        %td
          Ilya Nikolaevskiy, Markus Palonen, Andrey Lukyanenko, Andrei Gurtov.
          %a{ :href => "/raim-2015-papers/raim-2015-paper35.pdf" } Hypervisor-based Traffic Observation for Fair Bandwidth Allocations in Datacenter.
          %em Position paper.
      %tr
        %td Philip Eardley
        %td
          Marcelo Bagnulo, Trevor Burbridge, Sam Crawford, Philip Eardley, Juergen Schoenwaelder, and Brian Trammell.
          %a{ :href => "/raim-2015-papers/raim-2015-paper36.pdf" } Building a Standard Measurement Platform.
          %em Communications Magazine, IEEE (Volume 52, Issue 5),
          pp 165 - 173 May 2014.
      %tr
        %td Rolf Winter
        %td
          Michael Faath, Rolf Winter.
          %a{ :href => "/raim-2015-papers/raim-2015-paper37.pdf" } Measurements with the masses.
          %em Position paper.
      %tr
        %td Colin Perkins
        %td
          Stephen McQuistin, Colin Perkins.
          %a{ :href => "/raim-2015-papers/raim-2015-paper38.pdf" } Is Explicit Congestion Notification usable with UDP?
          %em To appear in ACM Internet Measurement Conference,
          Tokyo, Japan, Oct 2015.
      %tr
        %td Nicolas Vivet
        %td
          Nicolas Vivet, Guillaume Valadon.
          %a{ :href => "/raim-2015-papers/raim-2015-paper39.pdf" } Measuring Internet Resilience through BGP.
          %em Position paper.
      %tr
        %td Kevin Fall
        %td
          Dmitri Krioukov, Kevin Fall, Xiaowei Yang.
          %a{ :href => "/raim-2015-papers/raim-2015-paper40.pdf" } Compact Routing on Internet-Like Graphs.
          %em IEEE Infocom 2004.
      %tr
        %td Theophilus Benson
        %td
          %a{ :href => "/raim-2015-papers/raim-2015-paper41.pdf" } Network Traffic Characteristics of Data Centers in the Wild.
          Benson, Theophilus; Akella, Aditya; Maltz, David A.
          %em Proceedings of the 10th ACM SIGCOMM Conference on Internet Measurement,
          Pages 267-280, Melbourne, Australia.
      %tr
        %td Hirochika Asai, Masafumi Oe
        %td
          %a{ :href => "/raim-2015-papers/raim-2015-paper42.pdf" } Operational Monitoring and Measurement Challenges in Large Scale WiFi Networks.
          Hirochika Asai, Masafumi Oe, Keiichi Shima.
          %em Position paper.
      %tr
        %td Matt Calder, Ethan Katz-Bassett
        %td
          Matt Calder,  Ashley Flavel, Ethan Katz-Bassett, Ratul Mahajan, and Jitu Padhye.
          %a{ :href => "http://nsl.cs.usc.edu/~mcalder/AnycastCDN.pdf" } "Analyzing the Performance of an Anycast CDN."
          %em In Proceedings of the 2015 Conference on Internet Measurement.
      %tr
        %td Eric Osterweil
        %td
          Osterweil, Eric, Danny McPherson, and Lixia Zhang.
          %a{ :href => "/raim-2015-papers/raim-2015-paper44.pdf" } "The Shape and Size of Threats: Defining a Networked System's Attack Surface."
          %em Network Protocols (ICNP),
          2014 IEEE 22nd International Conference on. IEEE, 2014.
      %tr
        %td Eric Osterweil
        %td
          Eric Osterweil, Shane Amante, Dan Massey, and Danny McPherson. 2011.
          %a{ :href => "/raim-2015-papers/raim-2015-paper45.pdf" } The great IPv4 land grab: resource certification for the IPv4 grey market.
          %em In Proceedings of the 10th ACM Workshop on Hot Topics in Networks (HotNets-X).
          ACM, New York, NY, USA
      %tr
        %td Jörg Ott
        %td
          Saba Ahsan, Vaibhav Bajpai, Jörg Ott, Jürgen Schönwälder.
          %a{ :href => "http://www.netlab.tkk.fi/~jo/papers/2015-03-PAM-YouTube-Dualstacked.pdf" } Measuring YouTube from Dual-stacked Hosts.
          %em Proceedings of the IEEE Passive and Active Measurement Conference (PAM),
          March 2015.




  %h2 Call for participation

  %p
    To increase collaboration between industry and academia in the field of
    networking, the
    %a{ :href => "https://irtf.org/" } Internet Research Task Force (IRTF)
    and the
    %a{ :href => "https://www.internetsociety.org/" } Internet Society (ISOC)
    in cooperation with
    %a{ :href => "http://www.sigcomm.org/" } ACM SIGCOMM
    are organizing a workshop on Research and Applications of Internet
    Measurements (RAIM), scheduled for the Saturday in between the
    %a{ :href => "http://conferences2.sigcomm.org/imc/2015/" } 2015 ACM SIGCOMM Internet Measurement Conference (IMC)
    in Tokyo and the
    %a{ :href => "https://www.ietf.org/meeting/94/" } 94th Internet Engineering Task Force (IETF) meeting
    in Yokohama.

  %p
    This workshop will bring together researchers and
    practitioners that are advancing the state of the art in measuring networked
    systems to share measurement-based insights into operational networks, to
    improve the use of research in protocol design decisions, and to suggest
    relevant new topics for research.

  %p
    %em Attendees requiring an invitation letter for a visa:

    If you are attending ACM IMC, the ACM will generate one for you as part of
    their registration process. Otherwise, you can
    %a{ :href => "https://ietf.org/meeting/register.html" } register for the IETF meeting
    and have the IETF system generate a letter for you afterwards. You do
    %strong not
    need to pay the registration fee to have the letter generated, and you do
    not need to pay the IETF registration fee to attend the RAIM workshop.

  %h2 Deadlines
  %table.table.table-condensed.table-striped
    %tr
      %th
        %del Submission deadline:
      %td
        %del Friday, August 7, 2015
    %tr
      %th
        %del Notifications:
      %td
        %del Friday, August 28, 2015
    %tr.text-danger
      %th Lightning talks due:
      %td Friday, October 30, 2015


  %h2 Why participate?
  %h3 For IETF'ers
  %p
    ACM SIGCOMM's
    %a{ :href => "http://www.sigcomm.org/events/imc-conference" } Internet Measurement Conference (IMC)
    is devoted to innovative and influential research in the area of network
    and Internet measurement. Topics range from Internet traffic analysis, to
    network management and security. Interest in Internet measurement has
    dramatically increased in recent years, reflecting the increasing
    understanding that measurement is critical to effective engineering of the
    Internet’s components. Over the years, IMC has become the premier conference
    in its field; it is now
    %em the
    conference for presenting and learning about all
    areas of Internet measurement.
  %p
    IETF’ers participating at RAIM will get a unique opportunity to hear about the
    latest results in Internet measurements and to exchange ideas with the top
    researchers in the field. Presenting industrial problems at RAIM will attract
    top academics to work on problems that are relevant to industry and help push
    forward the frontier of industrial knowledge.


  %h3 For IMC'ers
  %p
    The
    %a{ :href => "https://ietf.org/" } Internet Engineering Task Force (IETF)
    is a large open international
    community of network designers, operators, vendors, and researchers concerned
    with the evolution of the Internet architecture and the smooth operation of
    the Internet. It is open to any interested individual, and newcomers are
    encouraged to browse through
    %a{ :href => "https://www.ietf.org/tao.html" } The Tao of IETF
    and
    %a{ :href => "https://www.ietf.org/newcomers.html" } Getting Started in the IETF
    in order to learn a bit more about the organization. The IRTF, the Internet
    Research Task Force, is the IETF’s sister organization and promotes research
    of importance to the evolution of the Internet by creating focused, long-term
    research groups working on topics related to Internet protocols, applications,
    architecture and technology.
  %p
    IMC’ers participating at RAIM will be able to present their results to
    engineers working in key industrial positions. RAIM should help get your
    research ideas into practice. Moreover, the exchange with industry should help
    define new research problems.
  %p
    IMC'ers wishing to attend some of the IETF sessions in the week following the
    RAIM workshop are encouraged to contact the
    %a{ :href => "mailto:irtf-chair@irtf.org"} IRTF Chair
    to enquire about the availability of free or reduced IETF meeting registrations.


  %h2 Topics
  %p
    We encourage submission of position papers on all topics related to Internet
    measurements. Based on the submitted papers, the organizers will structure the
    workshop into themed sessions.
  %p
    Example topics of interest include:
  %ul
    %li performance measurements of broadband access networks
    %li measurement in an Internet with lots more ciphertext
    %li quantifying the extent of (or detecting) pervasive monitoring
    %li prevalence of impairments to end-to-end protocol transparency in the Internet
    %li overviews of the state-of-the-art in Internet measurements and remaining research challenges
    %li measurement-related industrial challenges and use cases
    %li measurements of the security and resilience of the global Internet infrastructure, including routing anomalies, prevalence of traffic with spoofed IP addresses, and resilience of the DNS
  %p
    Other interesting topics include those in the
    %a{ :href => "http://conferences2.sigcomm.org/imc/2015/cfp.html" } ACM IMC call-for-papers,
    especially when they relate to operational networks or applied techniques.



  %h2 Participation
  %p
    Workshop attendance is by invitation only. Individuals interested in
    participating are invited to submit
    %em one
    of the following two submission types at
    = succeed ":" do
      %a{ :href => "/raim-submit" } #{@config[:base_url]}/raim-submit
  %ol
    %li
      an original
      %em short position paper
      (four pages or less) outlining their views on topics related to the workshop; or
    %li
      a copy of a
      %em previously published academic paper
      related to the topics of the workshop.
  %p
    The collection of submitted position papers and references to published
    academic papers will be made available online. The IETF
    %a{ :href => "https://www.ietf.org/about/note-well.html" } “Note Well”
    does
    %em not
    apply to workshop submissions or any discussions at the workshop. We are
    investigating whether the workshop can be recorded and/or live-streamed.
    Remote inbound participation will not be possible.


  %h2 Organizing committee
  %ul
    %li
      Mark Allman,
      %em ICIR
    %li
      Kenjiro Cho,
      %em IIJ
    %li
      Lars Eggert,
      %em NetApp
    %li
      Mat Ford,
      %em Internet Society
    %li
      Ratul Mahajan,
      %em Microsoft Research
    %li
      Renata Teixeira,
      %em INRIA
    %li
      Brian Trammell,
      %em ETHZ
    %li
      Darryl Veitch,
      %em UTS
