---
title: <small>Joint ACM SIGCOMM & IRTF Workshop on </small><br>Research and Applications of Internet Measurements (RAIM)
---

%h2
  Co-sponsors: ACM SIGCOMM & Internet Research Task Force
  %br
  Saturday, October 31, 2015
  %br
  Yokohama, Japan


%h2 Call for participation

%p
  To increase collaboration between industry and academia in the field of
  networking,
  %a{ :href => "http://www.sigcomm.org/" } ACM SIGCOMM
  and the
  %a{ :href => "https://irtf.org/" } Internet Research Task Force (IRTF)
  are
  organizing a joint workshop on Research and Applications of Internet
  Measurements (RAIM), scheduled for the Saturday in between the
  %a{ :href => "http://conferences2.sigcomm.org/imc/2015/" } 2015 ACM SIGCOMM Internet Measurement Conference (IMC)
  in Tokyo and the
  %a{ :href => "https://www.ietf.org/meeting/94/" } 94th Internet Engineering Task Force (IETF) meeting
  in Yokohama.

%p
  This workshop will bring together researchers and
  practitioners that are advancing the state of the art in measuring networked
  systems to share measurement-based insights into operational networks, to
  improve the use of research in protocol design decisions, and to suggest
  relevant new topics for research.


%h2 Why participate?
%h3 For IETF'ers
%p
  ACM SIGCOMM's
  %a{ :href => "http://www.sigcomm.org/events/imc-conference" } Internet Measurement Conference (IMC)
  is devoted to innovative and influential research in the area of network
  and Internet measurement. Topics range from Internet traffic analysis, to
  network management and security. Interest in Internet measurement has
  dramatically increased in recent years, reflecting the increasing
  understanding that measurement is critical to effective engineering of the
  Internet’s components. Over the years, IMC has become the premier conference
  in its field; it is now
  %em the
  conference for presenting and learning about all
  areas of Internet measurement.
%p
  IETF’ers participating at RAIM will get a unique opportunity to hear about the
  latest results in Internet measurements and to exchange ideas with the top
  researchers in the field. Presenting industrial problems at RAIM will attract
  top academics to work on problems that are relevant to industry and help push
  forward the frontier of industrial knowledge.


%h3 For IMC'ers
%p
  The
  %a{ :href => "https://ietf.org/" } Internet Engineering Task Force (IETF)
  is a large open international
  community of network designers, operators, vendors, and researchers concerned
  with the evolution of the Internet architecture and the smooth operation of
  the Internet. It is open to any interested individual, and newcomers are
  encouraged to browse through
  %a{ :href => "https://www.ietf.org/tao.html" } The Tao of IETF
  and
  %a{ :href => "https://www.ietf.org/newcomers.html" } Getting Started in the IETF
  in order to learn a bit more about the organization. The IRTF, the Internet
  Research Task Force, is the IETF’s sister organization and promotes research
  of importance to the evolution of the Internet by creating focused, long-term
  research groups working on topics related to Internet protocols, applications,
  architecture and technology.
%p
  IMC’ers participating at RAIM will be able to present their results to
  engineers working in key industrial positions. RAIM should help get your
  research ideas into practice. Moreover, the exchange with industry should help
  define new research problems.
%p
  IMC'ers wishing to attend some of the IETF sessions in the week following the
  RAIM workshop are encouraged to contact the
  %a{ :href => "mailto:irtf-chair@irtf.org"} IRTF Chair
  to enquire about the availability of free or reduced IETF meeting registrations.


%h2 Topics
%p
  We encourage submission of position papers on all topics related to Internet
  measurements. Based on the submitted papers, the organizers will structure the
  workshop into themed sessions.
%p
  Example topics of interest include:
%ul
  %li performance measurements of broadband access networks
  %li measurement in an Internet with lots more ciphertext
  %li quantifying the extent of (or detecting) pervasive monitoring
  %li prevalence of impairments to end-to-end packet transport in the Internet
  %li overviews of Internet measurements state-of-the-art and ongoing research challenges
  %li measurement-related industrial challenges and use-cases
%p
  Other interesting topics include those in the
  %a{ :href => "http://conferences2.sigcomm.org/imc/2015/cfp.html" } ACM IMC call-for-papers,
  especially when they relate to operational networks or applied techniques.



%h2 Participation
%p
  Workshop attendance is by invitation only. Individuals interested in
  participating are invited to submit
  %em one
  of the following two submission types at
  = succeed ":" do
    %a{ :href => "/raim-submit" } #{@config[:base_url]}/raim-submit
%ol
  %li
    an original
    %em short position paper
    outlining their views on topics related to the workshop; or
  %li
    a copy of a
    %em previously published academic paper
    related to the topics of the workshop.
%p
  The collection of submitted position papers and references to published
  academic papers will be made available online. The IETF
  %a{ :href => "https://www.ietf.org/about/note-well.html" } “Note Well”
  does
  %em not
  apply to workshop submissions or any discussions at the workshop. We are
  investigating whether the workshop can be recorded and/or live-streamed.
  Remote inbound participation will not be possible.


%h2 Deadlines
%table
  -#.pastdeadline
  %tr.nextdeadline
    %th Submission deadline:
    %td Friday, August 7, 2015
  %tr
    %th Notifications:
    %td Friday, August 28, 2015
  %tr
    %th Workshop date:
    %td Saturday, October 31, 2015


%h2 Organizing committee
%ul
  %li
    Mark Allman,
    %em ICIR
  %li
    Kenjiro Cho,
    %em IIJ
  %li
    Lars Eggert,
    %em NetApp
  %li
    Mat Ford,
    %em Internet Society
  %li
    Ratul Mahajan,
    %em Microsoft Research
  %li
    Renata Teixeira,
    %em INRIA
  %li
    Brian Trammell,
    %em ETHZ
