---
---

-# convenience shortcuts
- rg = $rgs[item.identifier.without_ext.tr("/", "")]
- name = rg.name
- acronym = rg.acronym.upcase

%p
  Standard-setting is an influential aspect in the shaping of information
  societies. Research into standardization is done in a wide range of
  academic disciplines and using a variety of methods that could benefit
  from learning from each other's insights. The IETF, as an international
  Standards Developing Organization (SDO), hosts a diverse set of data on
  the organizational history, development, and current standardization
  activities, including Internet protocols.  A large portion of this data
  is publicly available, yet it is underutilized as a tool to inform the
  work in the IETF or the broader research community focused on topics like
  Internet governance and trends in ICT standard-development.

%h2
  Objectives

%p
  The Research and Analysis of the Standard-Setting Processes Research
  Group (RASPRG) aims to bring together researchers, practitioners, policy
  makers, standards users, and standards developers to study
  standardization processes across SDOs, with a particular focus on
  Internet standard-setting in the IETF. The research is aimed at informing
  the comprehension of standardization processes and policies, and possibly
  providing tools and insights. This will be done through the organization
  of working sessions, as well as contributions to open data and open
  source software for standard-setting analysis. The group aims to produce
  joint reports to inform the IETF, the research community, and the broader
  standards-setting community. Other SDOs typically make much less data
  publicly available than the IETF, but where data is available,
  comparative analyses may be undertaken. While comparisons to the IETF
  process are in scope, sole analysis of other SDOs are out of scope.

%h2
  Possible Research Directions

%ol
  %li
    Understanding the historical development of affiliation and leadership
    in and across standards bodies.

  %li
    Analyzing the development of the make up of standard setting
    communities, their diversity, and the impact it has on
    standard-setting.

  %li
    Understanding the decision making processes that lead to the production
    of standards documents.

  %li
    Understanding the role and relationship of patents and standards and
    the incentives for enterprises to develop these.

  %li
    Understanding the interactions between standards and research
    communities.


%h2
  Collaborations

%p
  The RASPRG aims to foster interdisciplinary collaboration, and will work
  closely with researchers studying the Internet standards process across
  disciplines, including but not limited to, those studying Internet
  governance, economic, legal, sociological, and political factors
  affecting standards-setting, development, and uptake. 

%p
  To build bridges between communities, the group aims to meet co-located
  with IETF meetings, as well as with academic conferences and workshops
  focused on research into  standardization (e.g., EURAS, SIIT), Internet
  measurements (e.g., ACM IMC), Web and social networks (e.g., ACM
  WebConference, AAAI ICWSM), human computer interaction (e.g., ACM CSCW),
  Internet Governance (e.g., GIGAnet), or fora such as the Internet
  Governance Forum (e.g., IGF). The research group aims to bring together
  researchers that build open source tools to research standardization
  processes to foster collaborations, prevent duplication, and contribute
  to reproducibility in science. 

  The research group aspires to work with the IETF Tools Team and will
  consult regularly with the IETF leadership and secretariat to ensure that
  data is accessed in a manner that is consistent with relevant IETF
  policies without causing operational difficulties. The group will also
  pay careful attention to the ethical use of data, and to ensuring that
  any personally identifiable information is handled with care and in
  compliance with relevant laws and ethical principles. This will include
  sharing best practices for appropriate use of IETF data in research. 

%h2
  Outputs

%p
  The Research Group seeks to produce tools and insights that can further
  the understanding of the IETF standardization process.  Other outputs of
  the research group might include documentation of trends in the
  development of RFCs (e.g., similar to  RFC 8963), special Issues of
  academic journals, computational methods, workshops, and labeled data
  sets. The RASPRG aims to produce evidence-based reproducible work, and
  does not intend to  impact or undermine the standardization process but
  may provide constructive input for assessing standardization processes
  and identifying opportunities for improvement. The group will pay special
  attention  that results, especially those relating to performance of
  particular aspects of the standards process or comparisons between SDOs,
  are presented with sensitivity for the people and organizations involved.
  If critical cases are detected the group will consult with leadership and
  inform the responsible party for the respective tooling.


%p
  Membership Policy: Open


