---
is_hidden: true
---

@import "compass/reset";
@import "compass/layout/sticky-footer";
@import "compass/typography/links/hover-link";
@import "compass/typography/links/unstyled-link";
@import "compass/typography/lists/bullets";
@import "compass/typography/lists/inline-block-list";
@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";
@import "compass/css3/text-shadow";
@import "compass/css3/transform";
@import "compass/css3/opacity";
@import "compass/css3/columns";
@import "compass/utilities/general/min";
@import "compass/utilities/general/clearfix";

$fs: 16px;
$blueprint-font-family: Georgia, Palatino, Times, 'Times New Roman', serif;
$blueprint-font-size: $fs;
$blueprint-liquid-container-min-width: 800px;

@import "blueprint/liquid";
@import "blueprint/fancy-type";

$bc: #fccf34; // the yellow used in the IRTF logo
$lt: 15%;     // lighten percentage

@include blueprint-typography;

html {
  font-size: $fs;
}

@mixin roundborder {
    @include border-radius(2*$fs);
    padding: .5*$fs;
}

@mixin tile {
    @include roundborder;
    @include inline-block;
    text-align: center;
    width: 8*$fs;
    height: 8*$fs;
    margin: 3px; // 3px is box-shadow default
}

@mixin boxstyle {
  padding-top: 2*$fs;
  padding-bottom: 2*$fs;

  h2 {
    @include caps;
    color: $alt-text-color;
    margin: 3*$fs 0 .75*$fs 0;
    line-height: 1.25*$fs;
    padding: 0;
  }
  
  h2:first-child {
     margin-top: $fs/2;
  }

  ul {
    margin: 0;
    padding: 0;
  }
  
  li {
    @include no-bullets;
  }
  
  p, li {
    margin: .25*$fs 0 .25*$fs 0;
  }
}

a {
  @include hover-link;
  word-wrap: break-word;
}

.container {
  @include container;
  width: 90%;
  z-index: 1; // to fix IE z-index bug

  div.content {
    z-index: 1; // to fix IE z-index bug
    @include column(24, true);
    padding: 2*$fs 0 4*$fs 0;
  }
}


div.main {
  @include column(18, true);
  
  a.title {
    font-weight: bold;
  }
  
  a.venue {
    font-style: italic;
  }
   
  h2 {
    margin: 1.5*$fs 0 .5*$fs 0;
    font-size: 1.5*$fs;
    line-height: 1.75*$fs;
  } 

  h2:first-child {
     margin-top: $fs/2;
  }
  
  p, dl, th, td, table, ol {
    margin: .5*$fs 0 .5*$fs 0;
    font-weight: normal;
  }

  dl.papers dt {
    font-weight: normal;
  }

  .done {
    text-decoration: line-through;
  }
  
  th {
    font-style: italic;
  }

  table {
    width: auto;
  }

  th, td {
    padding: 0 .25*$fs .25*$fs 0;
    vertical-align: top;
    margin: 0;
  }
    
  ul, dd {
    padding: 0 0 0 2*$fs;
    margin: 0;
  }

  ul {
    list-style-type: square;
    list-style-position: outside;
  }

  li {
    margin: .25*$fs 0 .25*$fs 0;
  }

  .twocol {
    @include column-count(2);
  }

  dt {
    margin: .75*$fs 0 .25*$fs 0;
  }
  
  div.rightbar {
    @include float-right;
    @include boxstyle;
    width: span-fluid(7);
    margin: 4*$fs 0 $fs $fs;
    padding-left: $fs;
    border-left: 1px solid $bc; // override color
  }
  
  img.right {
    @include float-right;
    padding: 0 0 $fs $fs;
  }
  
  .quote, .term, .latin {
    font-style: italic;
  }
  
  div.news {
    @include border-radius(2*$fs);
    @include box-shadow();
    padding: $fs;
    margin: 2*$fs 3px 2*$fs 3px;
    border: 1px solid $bc;
    background-color: lighten($bc, $lt);
  }  

  ul.tiled {
    @include inline-block-list;
    @include clearfix;
    
    a {
      @include unstyled-link;
    }
  
    li {
      white-space: normal;
    }
   
    .tile {
      @include tile;
      border: 1px solid $bc;
      &:hover {
        background-color: lighten($bc, $lt);
        @include box-shadow();
      }    
    }
    
    .oldtile {
      @include tile;
      border: 1px solid #ccc;
      &:hover {
        background-color: #ccc;
        @include box-shadow();
      }    
    }
    
    .acronym {
      @include caps;
      line-height: 1.25*$fs;
      margin: .25*$fs;
      display: block;
    }
  
    .name {
      margin: .25*$fs;
      line-height: $fs;
      font-style: italic;
    }
  }


}

div.title h1 {
  letter-spacing: -1px;
}


div.logoleft {
  @include clearfix;

  div.logo {
    @include column(5);
    @include colborder;
    border-right: 1px none $bc; // override color
    text-align: right;
  }
  
  div.title {
    @include column(18, last);
  }

  div.title.withribbon {
    @include column(15, last);
  }
}

div.logoright {
  @include clearfix;
  
  div.logo {
    @include float-right;
    min-width: 200px; // width of logo
    padding: 0 0 $fs $fs;
    text-align: right;
  }
  
  div.title {
    @include float-left;
    width: span-fluid(15);
  }
}

div.nav {
  @include column(5);
  @include colborder;
  @include boxstyle;
  border-right: 1px solid $bc; // override color
  
  text-align: right;
  margin-top: 8*$fs;
  
  a img {
    padding-top: .5*$fs;
  }
}

@include sticky-footer(2*$fs, ".container", ".layout_footer", ".footer");
.footer {
  height: 2*$fs - 1px;
  line-height: 2*$fs - 1px;
  margin: auto;
  width: 90%;
  border-top: 1px solid $bc;
  font-size: .65*$fs;
  color: $alt-text-color;
  
  div.left {
    @include float-left;
//    margin-left: span-fluid(6);
    span {
      margin-right: 0;
      text-align: left;
    }
  }
  
  div.right {
    @include float-right;
    height: 2*$fs - 1;
    span {
      text-align: right;
      margin-left: $fs/4;
    }

    iframe {
      vertical-align: middle;
      height: 2*$fs - 1;
      width: 160px;
      seamless: "";
      sandbox: "";
    }
  }  
}

.socialshareprivacy .social_share_privacy_area {
	// overrides to style the stuff correctly in the footer
	height: 2*$fs - 1 !important;
	margin: 8px 0 0 0 !important;

	li.settings_info .settings_info_menu.on {
		top: auto;
		bottom: 0;
	}	
}


div.ribbon {
  overflow: hidden;
  /* top left corner */
  position: absolute;
  right: 0;
  top: 0;
  height: 15*$fs;
  z-index: -1; // move it behind everything else
  
  p {
    z-index: -1; // move it behind everything else
    background-color: lighten($bc, $lt);
    font-size: 2*$fs;
    padding: $fs 5*$fs $fs 5*$fs;
    text-align: center;
    @include rotate(45deg);
    @include box-shadow();
    position: relative;
    right: -5*$fs;
    top: 2*$fs;
  }
}

#skip a, #skip a:hover, #skip a:visited { 
  position: absolute; 
  left: 0px; 
  top: -500px; 
  width: 1px; 
  height: 1px; 
  overflow: hidden;
} 

#skip a:active, #skip a:focus { 
  position: static; 
  width: auto; 
  height: auto; 
}

// // optimized for the ANRP page
// @media print {
//   div.nav, div.rightbar, div.footer {
//     display: none !important;
//   }
// 
//   html {
//     font-size: 14px;
//   }
// 
//   body {
//     line-height: 18px;
//   }
//   
//   
// }