---
is_hidden: true
---

@import "compass/reset";
@import "compass/layout/sticky-footer";
@import "compass/typography/links/hover-link";
@import "compass/typography/links/unstyled-link";
@import "compass/typography/lists/bullets";
@import "compass/typography/lists/inline-block-list";
@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";
@import "compass/css3/text-shadow";
@import "compass/css3/transform";
@import "compass/css3/opacity";

$fs: 16px;
$blueprint-font-family: Georgia, Palatino, Times, 'Times New Roman', serif;
$blueprint-font-size: $fs;
$blueprint-liquid-container-min-width: 800px;

@import "blueprint/liquid";
@import "blueprint/fancy-type";

//$bc: $feedback-border-color;
$bc: #fccf34; // the yellow used in the IRTF logo

@include blueprint-typography;

html {
  font-size: $fs;
}

h1 {
  letter-spacing: -1px;
}

@mixin tile {
    @include border-radius(2*$fs);
    @include inline-block;
    text-align: center;
    width: 8*$fs;
    height: 8*$fs;
    margin: 5px; // 5px is box-shadow default
    padding: .5*$fs;
}

@mixin boxstyle {
  padding-top: 2*$fs;
  padding-bottom: 2*$fs;

  h2 {
    @include caps;
    color: $alt-text-color;
    margin: 3*$fs 0 .75*$fs 0;
    line-height: 1.25*$fs;
    padding: 0;
  }
  
  h2:first-child {
     margin-top: $fs/2;
  }

  ul {
    margin: 0;
    padding: 0;
  }
  
  li {
    @include no-bullets;
  }
  
  p, li {
    margin: 0 0 .5*$fs 0;
  }
}

a {
  @include hover-link;
  word-wrap: break-word;
}

.container {
  @include container;
  width: 90%;
  z-index: 1; // to fix IE z-index bug

  .content {
    z-index: 1; // to fix IE z-index bug
    @include column(24, true);
    padding: 2*$fs 0 4*$fs 0;
  }
}

.main {
  @include column(18, true);
   
  h2 {
    margin: 1.5*$fs 0 .5*$fs 0;
    font-size: 1.5*$fs;
    line-height: 1.75*$fs;
  } 

  h2:first-child {
     margin-top: $fs/2;
  }
  
  p, dl, th, td, table, ol {
    margin: 0 0 .75*$fs 0;
    font-weight: normal;
  }

  .done {
    text-decoration: line-through;
  }
  
  th {
    font-style: italic;
  }

  table {
    width: auto;
  }

  th, td {
    padding: 0 .5*$fs .5*$fs 0;
    vertical-align: top;
    margin: 0;
  }
    
  ul, dd {
    padding: 0 0 0 2*$fs;
    margin: 0;
  }

  ul {
    list-style-type: square;
  }

  li {
    margin: 0 0 .5*$fs 0;
  }

  li ul, li ol {
    margin-top: .5*$fs;
  }

  dt {
    margin: .75*$fs 0 .25*$fs 0;
  }
  
  .rightbar {
    @include float-right;
    @include boxstyle;
    width: 33%;
    margin: 4*$fs 5px $fs $fs; // 5px is box-shadow width
    padding-left: $fs;
    border-left: 1px solid $bc; // override color
    clear: both;
  }
  
  .logo {
    @include float-right;
    width: 33%;
    padding: 0 0 $fs $fs;
  }
  
  .right {
    @include float-right;
    padding: 0 0 $fs $fs;
  }
  
  .title {
    @include float-left;
    width: 60%;
  }
  
  .clear {
    clear: both;
  }
  
  .quote, .term, .latin {
    font-style: italic;
  }
  
  .news {
    @include border-radius(2*$fs);
    @include box-shadow();
    padding: $fs;
    background-color: $bc;
  }  
}

.rgtitle {
  .logo {
    @include column(5);
    @include colborder;
    border-right: 1px none $bc; // override color
    text-align: right;
  }
  
  .title {
    @include column(18, last);
  }

  .title.withribbon {
    @include column(15, last);
  }

  .clear {
    clear: both;
  }
}


.leftbar {
  @include column(5);
  @include colborder;
  @include boxstyle;
  border-right: 1px solid $bc; // override color
  
  text-align: right;
  margin-top: 8*$fs;
  
  a img {
    padding-top: .5*$fs;
  }
}

ul.tiled {
  @include inline-block-list;

  a {
    @include unstyled-link;
  }

  li {
    white-space: normal;
  }
 
  .tile {
    @include tile;
    border: 1px solid $bc;
    &:hover {
      background-color: $bc;
      @include box-shadow();
    }    
  }
  
  .oldtile {
    @include tile;
    border: 1px solid #ccc;
    &:hover {
      background-color: #ccc;
      @include box-shadow();
    }    
  }
  
  .acronym {
    @include caps;
    line-height: 1.25*$fs;
    margin: .25*$fs;
    display: block;
  }

  .name {
    margin: .25*$fs;
    line-height: $fs;
    font-style: italic;
  }
}

// hack
.twitter-share-button {
  margin-top: -5px;
}

iframe {
  vertical-align: middle !important;
}

@include sticky-footer(2*$fs, ".container", ".layout_footer", ".footer");
.footer {
  height: 2*$fs - 1;
  line-height: 2*$fs - 1px;
  width: 90%;
  margin: auto;
  min-width: $blueprint-liquid-container-min-width;
  border-top: 1px solid $bc;
  z-index: -1; // move it behind everything else

  .gap {
    @include column(5);
    @include colborder;
    border-right: 1px none $bc; // override color
    height: 2*$fs - 1px;
  }
  
  .text {
    @include column(18, true);
    font-size: .75*$fs;
    color: $alt-text-color;
    
    .left {
      @include float-left;
      
      span {
        margin-right: $fs;
        text-align: left;
      }
    }
    
    .right {
      @include float-right;
      span {
        text-align: right;
        margin-left: $fs;
      }
    }
  }  
}

.facebook iframe {
  width: 90px !important;
  height: 25px !important;
  min-height: 25px !important;
}

.twitter iframe {
  width: 110px !important;
  height: 20px !important;
  min-height: 20px !important;
}


.ribbon {
  overflow: hidden;
  /* top left corner */
  position: absolute;
  right: 0;
  top: 0;
  height: 15*$fs;
  z-index: -1; // move it behind everything else
  
  p {
    z-index: -1; // move it behind everything else
    background-color: $bc;
    font-size: 2*$fs;
    padding: $fs 5*$fs $fs 5*$fs;
    text-align: center;
    @include rotate(45deg);
    @include box-shadow();
    position: relative;
    right: -5*$fs;
    top: 2*$fs;
  }
}