---
---

-# convenience shortcuts
- rg = $rgs[item.identifier.without_ext.tr("/", "")]
- name = rg.name
- acronym = rg.acronym.upcase

%h2 Goal

%p
  The goal of the SUSTAIN RG is to contribute to the advancement of the
  Internet as a fundamental part of sustainable and resilient societies and
  the planet, through conceptual and evidence-based multi-disciplinary
  research collaboration.

%h2 Scope

%p
  The Sustainability and the Internet Research Group (SUSTAIN RG) explores
  long-term research challenges in developing and operating an
  environmentally, socially and economically sustainable Internet, from a
  networking perspective. It provides a venue for discussion, collaboration
  and development of Internet research on sustainability with a critical
  view on evidence and data, ensuring the trustworthiness of research
  results and their transparent dissemination. Grounded in the practical
  operation of the Internet, the RG will work to promote greater
  exploration of architectural and policy implications relating to
  sustainability challenges of internetworking, without going into advocacy
  actions. Recognizing their interconnectedness, the SUSTAIN RG focuses on
  the Sustainability of the Internet (footprint), while fostering an
  appreciation of the Internet for Sustainability (handprint). The SUSTAIN
  RG adopts a multidisciplinary, systems perspective with lifecycle and
  supply chain considerations, also taking into account the
  interdependencies between different types of networks as well as
  different research disciplines.

%h2 Background
%p
  The Internet is a global critical infrastructure, on which societies,
  individuals and businesses depend. It is expected to play a positive role
  in tackling global challenges such as climate change, decarbonization,
  and environmental degradation. Yet at the same time, there is growing
  concern about the negative impacts. Internet technologies are part of
  value chains that are driving increased energy, materials and natural
  resource use, and increasing carbon emissions. It is imperative to
  minimize these negative impacts, to support global sustainability goals,
  as per the UN Sustainable Development Goals (SDGs).

%p
  There are numerous research challenges for a sustainable Internet and its
  applications. Characterization, monitoring, management and mitigation of
  the Internet environmental footprint, as well as the timely collection,
  distribution and sharing of accurate measurement data and assessments are
  open challenges. Additionally, there are considerable hurdles in linking
  the Internet to sustainability outcomes in real-life use cases in a
  causal way, due to the absence of practical methodologies and examples to
  do so.  The SUSTAIN RG systematically works to frame these challenges for
  the benefit of the Internet community – architects, developers,
  operators, users, and policy makers alike.

%h2 Research areas
%p
  The SUSTAIN RG invites contributions on topics relating to the long-term
  sustainability of the Internet:

%ul
  %li
    Characterization and reduction of the Internet footprint to ensure it
    is environmentally, socially, and economically sustainable, from a
    holistic systems perspective, working with quantitative and qualitative
    indicators, their baselines and targets, measurements and assessments,
    sharing related data, conceptual and policy frameworks, considering
    lifecycle as well as supply chain issues, and potential mitigation
    actions. Specifically: (a) Exploration of the relationship between
    sustainability and the Internet architecture to understand the
    implications and sustainability impact and trade-offs of differing
    approaches to network design; and (b) Investigation of environmental
    limits and boundaries within which the Internet and its applications
    should operate safely and the corresponding policy implications.

  %li
    Investigation of the role of policy and regulation in the
    environmental, social and economic sustainability of the Internet, as
    complementary to technological and operational factors, for example to
    incentivize sustainability.

  %li
    Exploration of the impacts of different strategies for managing the
    potential rebound effects (Jevon’s paradox) of Internet sustainability
    gains, including technical, policy and regulatory aspects.

  %li
    Appraisal of new methodologies, architectures and strategies to ensure
    Internet resilience in the face of climate change impacts that are
    already taking place (climate change adaptation). This is a distinct
    topic from environmental footprint (climate change mitigation).

%h2 Mode of Operation
%p
  The SUSTAIN RG will solicit academic, governmental and industrial
  research contributions with a multi-disciplinary outreach, to enhance the
  state of the art in our exploration of the relationship between the
  Internet network infrastructure and applications and sustainability from
  long-term conceptual, systems and policy perspectives, prioritizing
  research publications and proof-of-concept implementations, measurements,
  and demonstrations, over RFC production.

%p
  The SUSTAIN RG will hold regular meetings, both co-located with IETF and
  on-line, encouraging hybrid modes of attendance to reduce the
  environmental impact of travel, and will organize interim meetings as
  needed that might align with sustainable networking conferences,
  workshops and other events.  It will coordinate with other IRTF RGs, like
  GAIA, HRPC, NMRG and DINRG, with IETF WGs like GREEN, TVR, OPSWG, and the
  IAB E-impact program, as well as with the Internet Society, and the
  sustainability efforts of other SDOs, industrial consortia, and research
  organizations. Close coordination with the IETF and IAB is expected to
  scope their differing work programs and ensure that new work is
  appropriately sited.

%p
  The group will organize awareness-raising activities, such as invited
  talks from sustainability experts, including from systems, environmental,
  social and economic sciences and practitioners that work on
  sustainability target setting, policy, assessments and strategy, to
  clarify the linkages. It will organize and promote a special session on
  sustainability at the ACM/IRTF Applied Networking Research Workshop
  (ANRW), working with the ANRW Program Committee, to develop a broader
  publication stream for research in this space.

%p
  The group may publish RFCs to transfer research results and feedback to
  the IETF community but will defer to the IETF for technology
  standardization.  The aim of the RFC series output from SUSTAIN RG is to
  take stock of state-of-the-art research results, highlight areas where
  further work is needed, and identify policy concerns and strategy
  opportunities with the broader Internet community. While the SUSTAIN RG
  may conduct research into new metrics and protocol mechanisms, it is
  expected that these will be described in research papers, and the
  development of such technologies to the point of RFC publication will
  normally occur in the IETF.

%h2 Membership

%p
  Membership in the #{acronym} is open to all interested parties.

