---
title: Travel Grants
---

%p
  The IRTF is pleased to be able to provide a limited number of travel
  grants and 
  %a{:href => "/feewaivers.html"}
    other financial support 
  to attend research group meetings and workshops. The following types
  of support are available:

%ul
  %li Diversity travel grants
  %li Applied Networking Research Workshop travel grants

%p
  A limited number of 
  %a{:href => "/feewaivers.html"}
    fee waivers
  to attend co-located IRTF and IETF meetings are also available.

%h2 Diversity Travel Grants

%p
  We are pleased to offer a number of Diversity Travel Grants to support
  early-career academics and PhD students from under-represented groups
  to attend the IRTF meetings co-located with the IETF-118 Meeting in
  Prague, Czechia, in November 2023.

%p
  The selection criteria for IRTF Diversity Grants will prioritize people
  who:
%ul
  %li
    Are from a demographic that is under-represented in the IRTF;
  %li
    Are PhD students or early-career academics (PhD students should have
    completed at least one year of full-time study in their PhD programme;
    early-career academics should be within their first four years of paid
    post-PhD employment at a University);
  %li
    Can demonstrate engagement with research of relevance to the IRTF (work
    with a focus on congestion control, transport protocols, network
    measurement or path-aware networking is especially encouraged, but we
    will consider work of relevance to all areas of IRTF).

%p
  %b Interested applicants should submit
  an application letter and up-to-date CV as PDF documents. The application
  letter should be clearly state the following information:

%ul
  %li
    the name of the applicant, their University, and whether they are a PhD
    student or early-career researcher;
  %li
    a link to their personal or departmental webpage;
  %li
    a summary of research interests and plans for future research;
  %li
    an statement of why the attendance at the IRTF is important to the
    applicant’s research, the name(s) of the IRTF research group(s) that
    they will contribute to, and a summary of how they will contribute;
  %li
    a cost estimate, including the cost of economy air or rail fare,
    accommodation, or other costs, and identifying the source of any price
    quotes; and
  %li
    any additional information the applicant feels is relevant to support
    their case.

%p
  %a.btn.btn-primary{ :href => "mailto:travel-grants@irtf.org?subject=Diversity Travel Grant application: APPLICANT'S NAME&body=(This email should be sent by the applicant.)"}
    Send application materials »


%p
  If the applicant is a PhD student, 
  %b their adviser must also send a letter of support
  verifying the applicant’s good standing in the institution, and
  confirming that they have completed at least one year of full-time
  (or equivalent part-time) PhD study.

%p
  %a.btn.btn-primary{ :href => "mailto:travel-grants@irtf.org?subject=Diversity Travel Grant support letter: APPLICANT'S NAME&body=(This email should be sent by the faculty advisor.)"}
    Send support letter »

%p
  We will confirm receipt of travel grant applications by email.
  %b
    If you do not receive confirmation within 48 hours of submission
    please contact the 
    %a{:href => "/chair.html"}
      IRTF Chair
    to confirm.

%p
  Applicants will be reviewed by a selection committee comprising:

%table.table.table-striped
  %tbody
    %tr
      %td Colin Perkins
      %td University of Glasgow
    %tr
      %td Theresa Enghardt
      %td Netflix
    %tr
      %td Brian Trammell
      %td Google
    %tr
      %td Allison Mankin
      %td Salesforce
    %tr
      %td Jane Coffin
      %td Connect Humanity
    %tr
      %td Melinda Shore
      %td No Mountain Software

%p
  Important dates are as follows:

%table.table.table-striped
  %tbody
    %tr
      %td Diversity grant application deadline
      %td September 1, 2023
    %tr
      %td Diversity grant notification deadline
      %td September 15, 2023
    %tr
      %td IETF-118 Meeting in Prague
      %td November 4-10, 2023

%p
  IRTF diversity travel grants are supported by Netflix, Comcast, and Akamai.

%p
  &nbsp;

%img{ src: relative_path_to('/img/Netflix_Logo_RGB.png'), alt: 'Netflix', height: 75 }
&nbsp; &nbsp; &nbsp;
%img{ src: relative_path_to('/img/Comcast-Logo.png'), alt: 'Comcast', height: 75 }
&nbsp; &nbsp; &nbsp;
%img{ src: relative_path_to('/img/Akamai-Logo-RGB.png'), alt: 'Comcast', height: 75 }

%p
  &nbsp;

%p
  %b Support for remote attendance during the COVID-19 pandemic:
  The focus of the diversity travel grants is on in-person attendance at
  IRTF meetings co-located with the IETF since we believe this offers the
  best opportunity to connect with the community. 
  We recognise that the COVID-19 pandemic is still causing difficultiess
  with travel for many, however, and so will also consider applications to
  offset reasonable costs incurred to support remote attendance (e.g.,
  childcare, travel to a local meeting hub, etc.) where such would
  encourage diversity of participation. Such applications should be
  submitted following the process for diversity travel grants outlined
  above. We are grateful to Comcast for this support.

%p
  Fee waivers for remote attendance are available under a 
  %a{ :href => "https://www.ietf.org/how/meetings/118/" } separate programme
  and are not covered by these diversity grants.







%h2 Applied Networking Research Workshop Travel Grants

%p
  The 
  %a{ :href => "/anrw"} ACM/IRTF Applied Networking Research Workshop (ANRW)
  is an annual academic workshop that provides a forum for researchers,
  vendors, network operators, and the Internet standards community to
  present and discuss emerging results in applied networking research, and
  to find inspiration from topics and open problems discussed at the IETF.

%p
  A number of travel grants are available for students to attend the
  ANRW each year. The requirements, application process, and deadline
  vary slightly each year, so please see 
  %a{ :href => "/anrw"} the ANRW webpage
  for details of the current workshop and its travel grant programme.


