---
title: Applied Networking Research Prize
---

.row
  .col-sm-8
    .well
      %h2 ANRP Winners for IETF-105

      %p
        We are extremely pleased to report that for the 2019 award period of
        the Applied Networking Research Prize (ANRP), 43 eligible nominations
        were received. Each submission was reviewed by several members of the
        %a{ :href => "#committee" } selection committee
        according to a diverse set of criteria, including
        scientific excellence and substance, timeliness, relevance, and
        potential impact on the Internet.

      %p
        Based on this review, six submissions are awarded an Applied
        Networking Research Prize in 2019. The following two ANRP prize
        winners will present their work at the IRTF Open Meeting during
        IETF-105 in Montreal:

      %dl.papers
        %dt
          %b Neta Rozen Schiff 
          for her work on NTP security:
          %dd
            Omer Deutsch, Neta Rozen Schiff, Danny Dolev, and Michael Schapira,
            %a{ :href => "http://dx.doi.org/10.14722/ndss.2018.23231" } Preventing (Network) Time Travel with Chronos
            Proc.
            %a.venue{ :href => "https://www.ndss-symposium.org/ndss2018/" } Network and Distributed Systems Security (NDSS) Symposium 2018, 
            San Diego, CA, USA, February 2018.
        %dt
          %b Taejoong Chung
          for his work on Understanding the Role of Registrars in DNSSEC Deployment:
          %dd
            Taejoong Chung, Roland van Rijswijk-Deij, David Choffnes, Dave Levin, Bruce M. Maggs, Alan Mislove, and Christo Wilson,
            %a{ :href => "https://conferences.sigcomm.org/imc/2017/papers/imc17-final53.pdf" } Understanding the Role of Registrars in DNSSEC Deployment
            Proc.
            %a.venue{ :href => "http://conferences.sigcomm.org/imc/2017/" } ACM Internet Measurement Conference (IMC),
            London, UK, November 2017.

  .col-sm-4.rightbar
    .news
      %h2 2019 Nomination Period Ended
      %p
        The nomination period for the
        %a{ :href => "./"} Applied Networking Research Prize
        has ended. No nominations are currently accepted. The next nomination period for 2020 awards will start in the summer of 2019.
      %p
        Join the
        %a{:href => "/mailman/listinfo/irtf-announce"} irtf-announce@irtf.org
        mailing list to be notified when the 2020 nomination period begins.

      -# %h2 Call for Nominations Open Now!
      -# %p
      -#   %a{ :href => "2019"} Submit nominations
      -#   for the 2019 award period of the
      -#   %a{ :href => "./"} Applied Networking Research Prize
      -#   until
      -#   %em November 11, 2018!

      = render "/anrpdates_.*"

      %h2 How to Nominate
      %p
        Nominations are submitted via the
        %a{ :href => "2019" } submission site
        or by email to
        = link_to("anrp@irtf.org", "mailto:anrp@irtf.org") + "."

      %h2 Flyer
      %p
        You are welcome to print and use
        %a{ :href => "anrp-2019-flyer.pdf" } this flyer
        to help publicize the ANRP.

      %h2 Questions
      %p
        Please email
        = link_to("anrp@irtf.org", "mailto:anrp@irtf.org")
        with any questions about the ANRP you may have.




%ul.nav.nav-tabs{ :role => "tablist" }
  %li.active{ :role => "presentation" }
    %a{ "aria-controls" => "about", :role => "tab", "data-toggle" => "tab", :href => "#about" } About
  %li{ :role => "presentation" }
    %a{ "aria-controls" => "nominate", :role => "tab", "data-toggle" => "tab", :href => "#nominate" } How to Nominate
  %li{ :role => "presentation" }
    %a{ "aria-controls" => "sponsors", :role => "tab", "data-toggle" => "tab", :href => "#sponsors" } Sponsors
  %li{ :role => "presentation" }
    %a{ "aria-controls" => "committee", :role => "tab", "data-toggle" => "tab", :href => "#committee" } Nomination Committee
  %li{ :role => "presentation" }
    %a{ "aria-controls" => "winners", :role => "tab", "data-toggle" => "tab", :href => "#winners" } Past Prize Winners


.tab-content
  .tab-pane.active#about{ :role => "tabpanel" }
    %h2 About the ANRP

    %p
      The Applied Networking Research Prize (ANRP) is awarded for recent results in applied networking research that are relevant for transitioning into shipping Internet products and related standardization efforts. Researchers with relevant, recent results are encouraged to apply for this prize, which will offer them the opportunity to present and discuss their work with the engineers, network operators, policy makers and scientists that participate in the Internet Engineering Task Force (IETF) and its research arm, the Internet Research Task Force (IRTF).
      %em Third-party nominations for this prize are also encouraged.
      The goal of the Applied Networking Research Prize is to recognize the best new ideas in networking, and bring them to the IETF and IRTF especially in cases where they would not otherwise see much exposure or discussion.

    %p The Applied Networking Research Prize (ANRP) consists of:
    %ul
      %li
        %em cash prize
        of $1000 (USD)
      %li
        %em invited talk
        at the IRTF Open Meeting
      %li
        %em travel grant
        to attend a week-long IETF meeting (airfare, hotel, registration, stipend)
      %li
        recognition at the
        %em IETF plenary
      %li
        invitation to related
        %em social activities
      %li
        potential for
        %em additional travel grants
        to future IETF meetings, based on community feedback

    %p
      The Applied Networking Research Prize will be awarded
      %em once per calendar year.
      Each year,
      %em several winners
      will be chosen and invited to present their work at one of the three IETF meetings during the year.


  .tab-pane#nominate{ :role => "tabpanel" }
    %h2 How to Nominate

    %p
      Only a
      %em single
      person can be nominated for the award. The basis of the nomination is a peer-reviewed, original journal, conference or workshop paper they authored, which was recently published or accepted for publication. The nominee
      %em must
      be one of the main authors of the nominated paper. Both self-nominations (nominating one's own paper) and third-party nominations (nominating someone else's paper) are encouraged.

    %p The nominated paper should provide a scientific foundation for possible future IETF engineering work or IRTF research and experimentation, analyze the behavior of Internet protocols in operational deployments or realistic testbeds, make an important contribution to the understanding of Internet scalability, performance, reliability, security or capability, or otherwise be of relevance to ongoing or future IETF or IRTF activities.

    %p Applicants must briefly describe how the nominated paper relates to these goals, and are encouraged to describe how a presentation of these research results would foster their transition into new IETF engineering or IRTF experimentation, or otherwise seed new activities that will have an impact on the real-world Internet.

    %p The goal of the Applied Networking Research Prize (ANRP) is to foster the transitioning of research results into real-world benefits for the Internet. Therefore, applicants must indicate that they (or the nominee, in case of third-party nominations) are available to attend at least one of the year's IETF meetings in person and in its entirety.

    %p Nominations must include:
    %ul
      %li
        the
        %em name
        and
        %em email address
        of the nominee
      %li
        a bibliographic
        %em reference
        to the published (or accepted) nominated paper
      %li
        a
        %em PDF copy
        of the nominated paper
      %li
        a
        %em statement
        that describes how the nominated paper fulfills the goals of the award
      %li
        a
        %em statement
        about which of the year's IETF meetings the nominee would be available to attend in person and in its entirety
      %li
        a brief
        %em biography
        or
        %em CV
        of the nominee
      %li optionally, any other supporting information (link to nominee's web site, etc.)

    -# %p
    -#   Nominations are submitted via the
    -#   = link_to("submission site", "anrp/2017") + "."
    -#   In exceptional cases, nominations may also be submitted by email to
    -#   = link_to("anrp@irtf.org", "mailto:anrp@irtf.org") + "."

    %p All nominees will be notified by email about the decision regarding their nomination.

    %p
      Nominations for the Applied Networking Research Prize (ANRP) are
      %em not
      considered to be contributions to the IETF. However, the invited talks at the IRTF Open Meeting
      %em are
      considered to be contributions, and the IRTF
      %a{ :href => "/ipr"} "Intellectual Property Rights" statement
      does apply to them.

    -# = render "/anrpdates_.*"

  .tab-pane#sponsors{ :role => "tabpanel" }
    %h2 Sponsors

    .col-xs-9
      %p The Applied Networking Research Prize (ANRP) is supported by the Internet Society (ISOC) in coordination with the Internet Research Task Force (IRTF).

      %p
        Additional corporate sponsorship for the ANRP is kindly provided by:

      %p.text-center
        %img{:src => "../img/Comcast-Logo.png", :width => 200, :alt => "Comcast"}
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        %img{:src => "../img/NBCU-Logo.png", :width => 200, :alt => "NBC Universal"}

      %p
        If your organization would like to support the ANRP, please contact
        = link_to("anrp@irtf.org", "mailto:anrp@irtf.org") + "."

    .col-xs-3
      %p
        %em
          "We like the Applied Network Research Prize because it encourages novel
          research that helps companies like Comcast and our partners build better
          Internet services and technologies for end users, and helps the community
          move important standards work into deployable technology more
          effectively."
      %p.text-muted
        Jason Livingood, Vice President - Internet Services, Comcast


  .tab-pane#committee{ :role => "tabpanel" }

    %h2 Nomination Committee

    %p A selection committee comprised of individuals knowledgeable about the IRTF, IETF and the broader networking research community will evaluate the submissions against these selection criteria.

    %p These individuals currently serve on the ANRP selection committee:
    %ul.twocol
      %li Mark Allman, ICIR
      %li Lou Berger, LabN
      %li Shwetha Bhandari, Cisco
      %li Spencer Dawkins, Huawei
      %li Lars Eggert, NetApp
      %li Stephen Farrell, Trinity College Dublin
      %li Nick Feamster, Princeton
      %li Matthew Ford, Internet Society
      %li Mojgan Ghasemi, Akamai
      %li Jana Iyengar, Fastly
      %li Suresh Krishnan, Kaloom
      %li Aanchal Malhotra, Boston University
      %li Allison Mankin, Salesforce
      %li Dan Massey, University of Colorado Boulder
      %li Kathleen Moriarty, Dell EMC
      %li Al Morton, AT&T
      %li Benno Overeinder, NLnet Labs
      %li Colin Perkins, University of Glasgow (Chair)
      %li Eric Rescorla, Mozilla
      %li Phillipp Richter, MIT
      %li Roland van Rijswijk-Deij, University of Twente, SURFnet
      %li Melinda Shore, IAB
      %li Rolf Winter, Hochschule Augsburg

  .tab-pane#winners{ :role => "tabpanel" }
    %h2 Past Prize Winners

    %p The following Applied Networking Prizes have been awarded in the past:

    %dl.papers
      %dt
        At IETF-104, to 
        %b Florian Streibelt 
        for showing how BGP communities can be exploited by remote parties to influence Internet routing:
        %dd
          Florian Streibelt, Franziska Lichtblau, Robert Beverly, Anja Feldmann, Cristel Pelsser, Georgios Smaragdakis, and Randy Bush.
          %a{ :href => "https://dl.acm.org/authorize?N662534" } 
            BGP Communities: Even more Worms in the Routing Can.
          Proc.
          %a.venue{ :href => "https://conferences.sigcomm.org/imc/2018/" } ACM Internet Measurement Conference 2018 (IMC '18).
          Boston, MA, USA, October 2018.
      %dt
        At IETF-104, to 
        %a{ :href => "https://research.fb.com/fellows/schlinker-brandon/" }
          %b Brandon Schlinker
        for presenting the first public analysis of a global, SDN-based content delivery solution serving over two billion users including real-time performance measurements:
        %dd
          Brandon Schlinker, Hyojeong Kim, Timothy Cui, Ethan Katz-Bassett, Harsha V. Madhyastha, Italo Cunha, James Quinn, Saif Hasan, Petr Lapukhov, and Hongyi Zeng.
          %a{ :href => "https://doi.org/10.1145/3098822.3098853" } 
            Engineering Egress with Edge Fabric: Steering Oceans of Content to the World.
          Proc.  
          %a.venue{ :href => "http://conferences.sigcomm.org/sigcomm/2017/" } ACM SIGCOMM Conference.
          Los Angeles, CA, USA, August 2017.
      %dt
        At IETF-103, to
        %a{ :href => "https://www.icir.org/johanna/" }
          %b Johanna Amann
        for the first large scale investigation of recently deployed web security features including their combined impact:
        %dd
          J. Amman, O. Gasser, Q. Scheitle, L. Brent, G. Carle, R. Holz.
          %a{ :href => "https://www.icir.org/johanna/papers/imc17httpssecurity.pdf" }
            Mission Accomplished? HTTPS Security after DigiNotar.
          Proc.
          %a.venue{ :href => "https://conferences.sigcomm.org/imc/2017/" } 17th Internet Measurement Conference (IMC'17), November 2017.
      %dt
        At IETF-103, to
        %a{ :href => "http://www.ccs.neu.edu/home/arash/home/Home.html" }
          %b Arash Molavi Kakhki
        for a detailed analysis of multiple versions of a rapidly evolving, new transport protocol in a large number of environments:
        %dd
          Arash Molavi Kakhki, Samuel Jero, David Choffnes, Alan Mislove, Cristina Nita-Rotaru.
          %a{ :href => "https://www.sjero.net/pubs/2017_IMC_QUIC.pdf" }
            Taking a Long Look at QUIC: An Approach for Rigorous Evaluation of Rapidly Evolving Transport Protocols.
          Proc.  
          %a.venue{ :href => "https://conferences.sigcomm.org/imc/2017/" } 17th Internet Measurement Conference (IMC'17), November 2017.
      %dt
        At IETF-102, to
        %a{ :href => "https://nsg.ee.ethz.ch/people/maria-apostolaki/" }
          %b Maria Apostolaki
        for a detailed analysis of the impact that Internet routing attacks (such as BGP hijacks) and malicious Internet Service Providers (ISP) can have on the Bitcoin cryptocurrency:
        %dd
          Maria Apostolaki, Aviv Zohar, Laurent Vanbever.
          %a{ :href => "https://btc-hijack.ethz.ch/files/btc_hijack.pdf" }
            Hijacking Bitcoin: Routing Attacks on Cryptocurrencies.
          Proc.
          %a.venue{ :href => "http://www.ieee-security.org/TC/SP2017/" } IEEE Symposium on Security and Privacy 2017. San Jose, CA , USA (May 2017).
      %dt
        At IETF-102, to
        %a{ :href => "https://people.kth.se/~papadim/" }
          %b Panos Papadimitratos
        for improving our understanding of vehicular public key infrastructure in terms of security, privacy protection, and efficiency:
        %dd
          M. Khodaei, H. Jin, and P. Papadimitratos.
          %a{ :href => "https://people.kth.se/~papadim/publications/fulltext/secmace-VPKI-2018.pdf" }
            SECMACE: Scalable and Robust Identity and Credential Infrastructure in Vehicular Communication.
          %a.venue{ :href => "https://www.ieee-itss.org/its-transactions" } IEEE Transactions on Intelligent Transportation Systems (IEEE ITS), April 2018.
      %dt
        At IETF-101, to
        %a{ :href => "https://www.linkedin.com/in/mojgan-ghasemi-487a2456/" }
          %b Mojgan Ghasemi
        for a detailed analysis of the performance of a commercial video streaming service:
        %dd
          Mojgan Ghasemi, Partha Kanuparthy, Ahmed Mansy, Theophilus Benson, Jennifer Rexford.
          %a{ :href => "https://arxiv.org/abs/1605.04966" }
            Performance Characterization of a Commercial Video Streaming Service.
          Proc.
          %a.venue{ :href => "http://conferences2.sigcomm.org/imc/2016/" } Internet Measurement Conference (IMC) 2016, Santa Monica, California, USA, Nov. 2016.
      %dt
        At IETF-101, to
        %a{ :href => "https://vaspol.me/" }
          %b Vaspol Ruamviboonsuk
        for improving web client and server interactions to enhance webpage load times:
        %dd
          V. Ruamviboonsuk, R. Netravali, M. Uluyol, H. Madhyastha.
          %a{ :href => "https://web.eecs.umich.edu/~harshavm/papers/vroom_sigcomm17.pdf" }
            Vroom: Accelerating the Mobile Web with Server-Aided Dependency Resolution.
          Proc.
          %a.venue{ :href => "https://conferences.sigcomm.org/sigcomm/2017/" } Conference of the ACM Special Interest Group on Data Communication (SIGCOMM ‘17). ACM, New York, NY, USA.
      %dt
        At IETF-100, to
        %a{ :href => "https://www.net.in.tum.de/members/emmericp/" }
          %b Paul Emmerich
        for developing the high-speed packet generator MoonGen:
        %dd
          Paul Emmerich, Sebastian Gallenmüller, Daniel Raumer, Florian Wohlfart, and Georg Carle.
          %a{ :href => "http://www.net.in.tum.de/fileadmin/bibtex/publications/papers/MoonGen_IMC2015.pdf" }
            MoonGen: A Scriptable High-Speed Packet Generator.
          Proc.
          %a.venue{ :href => "http://conferences2.sigcomm.org/imc/2015/" } Internet Measurement Conference (IMC) 2015, Tokyo, Japan, Oct. 2015.
      %dt
        At IETF-100, to
        %a{ :href => "https://wwwhome.ewi.utwente.nl/~rijswijkrm/" }
          %b Roland van Rijswijk-Deij
        for analysing the impact of elliptic curve cryptography on DNSSEC validation performance:
        %dd
          Roland van Rijswijk-Deij, Kaspar Hageman, Anna Sperotto and Aiko Pras.
          %a{ :href => "https://wwwhome.ewi.utwente.nl/~rijswijkrm/pub/tnet2016-25-vanrijswijk-preprint.pdf" }
            The Performance Impact of Elliptic Curve Cryptography on DNSSEC Validation.
          Proc.
          %a.venue{ :href => "https://ton.lids.mit.edu/" }
            IEEE/ACM Transactions on Networking, Volume 25, Issue 2, April 2017.
      %dt
        At IETF-99, to
        %b Stephen Checkoway
        for a Systematic Analysis of the Juniper Dual EC Incident:
      %dd
        Stephen Checkoway, Jacob Maskiewicz, Christina Garman, Joshua Fried, Shaanan Cohney, Matthew Green, Nadia Heninger, Ralf-Philipp Weinmann, Eric Rescorla, and Hovav Shacham.
        A Systematic Analysis of the Juniper Dual EC Incident
        Proc.
        %a.venue{ :href => "https://www.sigsac.org/ccs/CCS2016/index.html" } ACM Conference on Computer and Communications Security 2016, pp. 468–479. ACM Press, Oct. 2016.
      %dt
        At IETF-99, to
        %a{ :href => "https://net.t-labs.tu-berlin.de/~prichter/" }
          %b Philipp Richter
        for a Multi-perspective Analysis of Carrier-Grade NAT Deployment:
      %dd
        P. Richter, F. Wohlfart, N. Vallina-Rodriguez, M. Allman, R. Bush, A. Feldmann, C. Kreibich, N. Weaver, and V. Paxson.
        %a{ :href => "https://net.t-labs.tu-berlin.de/~prichter/imc176-richterA.pdf" }
          A Multi-perspective Analysis of Carrier-Grade NAT Deployment
        Proc.
        %a.venue{ :href => "http://conferences.sigcomm.org/imc/2016/index.html" } ACM IMC, Santa Monica, CA, USA, December 2016.
      %dt
        At IETF-98, to
        %a{ :href => "http://www.mit.edu/~yossigi/" }
          %b Yossi Gilad
        for the "path-end validation" extension to the RPKI:
      %dd
        Avichai Cohen, Yossi Gilad, Amir Herzberg and Michael Schapira.
        %a{ :href => "http://dl.acm.org/ft_gateway.cfm?id=2934883" }
          Jumpstarting BGP Security with Path-End Validation.
        Proc.
        %a.venue{ :href => "http://conferences.sigcomm.org/sigcomm/2016/" } ACM SIGCOMM,
        Florianópolis, Brazil, August 2016.
      %dt
        At IETF-98, to
        %a{ :href => "http://www.caida.org/~alistair/" }
          %b Alistair King
        for a framework to enable efficient processing of large amounts of distributed and/or live BGP data:
      %dd
        Chiara Orsini, Alistair King, Danilo Giordano, Vasileios Giotsas and Alberto Dainotti.
        %a{ :href => "https://dl.acm.org/citation.cfm?id=2987482" } BGPStream: A Software Framework for Live and Historical BGP Data Analysis.
        Proc.
        %a.venue{ :href => "http://conferences.sigcomm.org/imc/2016/index.html" } ACM IMC,
        Santa Monica, CA, USA, December 2016.
      %dt
        At IETF-97, to
        %a{ :href => "http://inl.info.ucl.ac.be/otilmans" }
          %b Olivier Tilmans
        for the
        %i Fibbing
        architecture that enables central control over distributed routing:
      %dd
        Stefano Vissicchio, Olivier Tilmans, Laurent Vanbever and Jennifer Rexford.
        %a{ :href => "http://conferences.sigcomm.org/sigcomm/2015/pdf/papers/p43.pdf" }
          Central Control Over Distributed Routing.
        Proc.
        %a.venue{ :href => "https://conferences.sigcomm.org/sigcomm/2015/" } ACM SIGCOMM,
        London, UK, August 2015.
      %dt
        At IETF-97, to
        %a{ :href => "http://inl.info.ucl.ac.be/benjamin" }
          %b Benjamin Hesmans
        for enabling applications to control how Multipath TCP transfers data:
      %dd
        Benjamin Hesmans, Gregory Detal, Sebastien Barre, Raphael Bauduin and Olivier Bonaventure.
        %a{ :href => "https://conferences2.sigcomm.org/co-next/2015/img/papers/conext15-final169.pdf" } SMAPP: Towards Smart Multipath TCP-enabled APPlications.
        Proc.
        %a.venue{ :href => "https://conferences2.sigcomm.org/co-next/2015/" } ACM CoNEXT,
        Heidelberg, Germany, December 2015.
      %dt
        At IETF-96, to
        %a{ :href => "https://www.sjero.net/" }
          %b Samuel Jero
        for a security analysis of the QUIC protocol:
      %dd
        Robert Lychev, Samuel Jero, Alexandra Boldyreva and Cristina Nita-Rotaru.
        %a{ :href => "https://www.sjero.net/pubs/2015_Oakland_QUIC.pdf" }
          How Secure and Quick is QUIC? Provable Security and Performance Analyses.
        Proc.
        %a.venue{ :href => "http://www.ieee-security.org/TC/SP2015/" } IEEE Symposium on Security and Privacy,
        pp. 214--231, San Jose, CA, USA, May 2015.
      %dt
        At IETF-96, to
        %a{ :href => "http://perso.telecom-paristech.fr/~drossi/" }
          %b Dario Rossi
        for characterizing anycast adoption and deployment in the IPv4 Internet:
      %dd
        Danilo Cicalese, Jordan Augé, Diana Joumblatt, Timur Friedman and Dario Rossi.
        %a{ :href => "https://conferences2.sigcomm.org/co-next/2015/img/papers/conext15-final100.pdf" } Characterizing IPv4 Anycast Adoption and Deployment.
        Proc.
        %a.venue{ :href => "https://conferences2.sigcomm.org/co-next/2015/" } ACM CoNEXT,
        Heidelberg, Germany, December 2015.
      %dt
        At IETF-95, to
        %a{ :href => "https://ensa.fi" }
          %b Roya Ensafi
        for examining how the Chinese "great firewall" discovers hidden
        circumvention servers:
      %dd
        Roya Ensafi, David Fifield, Philipp Winter, Nick Feamster, Nicholas Weaver, and Vern Paxson.
        %a{ :href => "http://conferences.sigcomm.org/imc/2015/papers/p445.pdf" } Examining How the Great Firewall Discovers Hidden Circumvention Servers.
        Proc.
        %a.venue{ :href => "http://conferences.sigcomm.org/imc/2015/" } ACM Internet Measurement Conference (IMC),
        Tokyo, Japan, October 28-30, 2015.
      %dt
        At IETF-95, to
        %a{ :href => "https://zakird.com/" }
          %b Zakir Durumeric
        for an empirical analysis of email delivery security:
      %dd
        Zakir Durumeric, David Adrian, Ariana Mirian, James Kasten, Elie Bursztein, Nicolas Lidzborski, Kurt Thomas, Vijay Eranti, Michael Bailey, and J. Alex Halderman.
        %a{ :href => "http://conferences.sigcomm.org/imc/2015/papers/p27.pdf" } Neither Snow Nor Rain Nor MITM… An Empirical Analysis of Email Delivery Security.
        Proc.
        %a.venue{ :href => "http://conferences.sigcomm.org/imc/2015/" } ACM Internet Measurement Conference (IMC),
        Tokyo, Japan, October 28-30, 2015.

      %dt
        At IETF-94, to
        %a{ :href => "https://homes.cs.washington.edu/~wangxiao/" }
          %b Xiao Sophia Wang
        for a systematic study of web page load times under SPDY:
      %dd
        Xiao Sophia Wang, Aruna Balasubramanian, Arvind Krishnamurthy and David Wetherall.
        %a{ :href => "https://www.usenix.org/system/files/conference/nsdi14/nsdi14-paper-wang_xiao_sophia.pdf" } How Speedy is SPDY?
        Proc.
        %a.venue{ :href => "https://www.usenix.org/conference/nsdi14" } USENIX Symposium on Networked Systems Design and Implementation (NSDI),
        Seattle, WA, USA, April 2-4, 2014.
      %dt
        At IETF-94, to
        %a{ :href => "https://wwwhome.ewi.utwente.nl/~rijswijkrm/" }
          %b Roland van Rijswijk-Deij
        for a detailed measurement study on a large dataset of DNSSEC-signed domains:
      %dd
        Roland van Rijswijk-Deij, Anna Sperotto, and Aiko Pras.
        %a{ :href => "https://conferences2.sigcomm.org/imc/2014/papers/p449.pdf" } DNSSEC and its Potential for DDoS Attacks: A Comprehensive Measurement Study.
        Proc.
        %a.venue{ :href => "https://conferences.sigcomm.org/imc/2014/" } ACM Internet Measurement Conference (IMC),
        Vancouver, BC, Canada, November 2014.

      %dt
        At IETF-93, to
        %a{ :href => "https://sites.google.com/site/hayashulman/" }
          %b Haya Shulman
        for analyzing the deficiencies of DNS privacy approaches:
      %dd
        Haya Shulman.
        %a{ :href => "https://www.ietf.org/mail-archive/web/dns-privacy/current/pdfWqAIUmEl47.pdf" } Pretty Bad Privacy: Pitfalls of DNS Encryption.
        Proc.
        %a.venue{ :href => "https://www.cylab.cmu.edu/news_events/events/wpes2014/" } ACM Workshop on Privacy in the Electronic Society (WPES),
        Scottsdale, AZ, USA, November 3, 2014.
      %dt
        At IETF-93, to
        %a{ :href => "https://www.lx.it.pt/~jls/" }
          %b João Luís Sobrinho
        for designing a route-aggregation technique that allows filtering while respecting routing policies:
      %dd
        João Luís Sobrinho, Laurent Vanbever, Franck Le and Jennifer Rexford.
        %a{ :href => "https://www.cs.princeton.edu/~jrex/papers/dragon14.pdf" } Distributed Route Aggregation on the Global Network.
        Proc.
        %a.venue{ :href => "https://conferences2.sigcomm.org/co-next/2014/" } ACM CoNEXT,
        Sydney, Australia, December 2-5, 2014.
      %dt
        At IETF-92, to
        %a{ :href => "https://aaron.gember-jacobson.com/" }
          %b Aaron Gember-Jacobson
        for designing and evaluating an NFV control plane:
      %dd
        Aaron Gember-Jacobson, Raajay Viswanathan, Chaithan Prakash, Robert
        Grandl, Junaid Khalid, Sourav Das and Aditya Akella.
        %a{ :href => "https://aaron.gember-jacobson.com/docs/gember-jacobson2014opennf.pdf" } OpenNF: Enabling Innovation in Network Function Control.
        Proc.
        %a.venue{ :href => "https://conferences.sigcomm.org/sigcomm/2014/" } ACM SIGCOMM,
        Chicago, IL, USA, August 2014.
      %dt
        At IETF-91, to
        %a{ :href => "https://www.cs.bu.edu/~goldbe/" }
          %b Sharon Goldberg
        for discussing threats when BGP RPKI authorities are faulty, misconfigured, compromised, or compelled to misbehave:
      %dd
        Danny Cooper, Ethan Heilman, Kyle Brogle, Leonid Reyzin and Sharon Goldberg.
        %a{ :href => "https://www.cs.bu.edu/~goldbe/papers/hotRPKI.pdf" } On the Risk of Misbehaving RPKI Authorities.
        Proc.
        %a.venue{ :href => "https://conferences.sigcomm.org/hotnets/2013/" } ACM Workshop on Hot Topics in Networks (HotNets-XII),
        College Park, MD, USA, November 2013.
      %dt
        At IETF-91, to
        %b Tobias Flach
        for the design of novel loss recovery mechanisms for TCP that minimize timeout-driven recovery:
      %dd
        Tobias Flach, Nandita Dukkipati, Andreas Terzis, Barath Raghavan, Neal Cardwell, Yuchung Cheng, Ankur Jain, Shuai Hao, Ethan Katz-Bassett, Ramesh Govindan.
        %a{ :href => "https://research.google.com/pubs/archive/41217.pdf" } Reducing Web Latency: the Virtue of Gentle Aggression.
        Proc.
        %a.venue{ :href => "https://conferences.sigcomm.org/sigcomm/2013/" } ACM SIGCOMM,
        Hong Kong, China, August 2013.
      %dt
        At IETF-91, to
        %a{ :href => "https://www.kth.se/profile/ahmmud/" }
          %b Misbah Uddin
        for developing matching and ranking for network search queries to make operational data available in real-time to management applications:
      %dd
        Misbah Uddin, Rolf Stadler and Alexander Clemm.
        %a{ :href => "https://www.cnsm-conf.org/2013/documents/papers/CNSM/p251-uddin.pdf" } Scalable Matching and Ranking for Network Search.
        Proc.
        %a.venue{ :href => "https://www.cnsm-conf.org/2013/" } International Conference on Network and Service Management (CNSM),
        Zürich, Switzerland, October 2013.
      %dt
        At IETF-90, to
        -# %a{ :href => "https://www.cc.gatech.edu/grads/r/rlychev/" }
        %b Robert Lychev
        for studying the security benefits provided by partially-deployed S*BGP:
      %dd
        Robert Lychev, Sharon Goldberg and Michael Schapira.
        %a{ :href => "https://conferences.sigcomm.org/sigcomm/2013/papers/sigcomm/p171.pdf" } BGP Security in Partial Deployment.
        Proc.
        %a.venue{ :href => "https://conferences.sigcomm.org/sigcomm/2013/" } ACM SIGCOMM,
        Hong Kong, China, August 2013.
      %dt
        At IETF-89, to
        %b Kenny Paterson
        for finding and documenting new attacks against TLS and DTLS:
      %dd
        N. J. Al Fardan and K. G. Paterson.
        %a{ :href => "https://dx.doi.org/10.1109/SP.2013.42" } Lucky Thirteen: Breaking the TLS and DTLS Record Protocols.
        Proc.
        %a.venue{ :href => "https://www.ieee-security.org/TC/SP2013/" } IEEE Symposium on Security and Privacy,
        pp. 526--540, San Francisco, CA, USA, May 2013.
      %dt
        At IETF-89, to
        %a{ :href => "https://cs.stanford.edu/~keithw/" }
          %b Keith Winstein
        for designing a transport protocol for interactive applications that desire high throughput and low delay:
      %dd
        Keith Winstein, Anirudh Sivaraman, and Hari Balakrishnan.
        %a{ :href => "https://www.usenix.org/system/files/conference/nsdi13/nsdi13-final113.pdf" } Stochastic Forecasts Achieve High Throughput and Low Delay over Cellular Networks.
        Proc.
        %a.venue{ :href => "https://www.usenix.org/conference/nsdi13" } 10th USENIX Symposium on Networked Systems Design and Implementation (NSDI),
        Lombard, IL, USA, April 2013.
      %dt
        At IETF-88, to
        %a{ :href => "https://sites.google.com/site/idiliod/" }
          %b Idilio Drago
        for characterizing traffic and workloads of the Dropbox cloud storage system:
      %dd
        Idilio Drago, Marco Mellia, Maurizio M. Munafo, Anna Sperotto, Ramin Sadre and Aiko Pras.
        %a{ :href => "https://eprints.eemcs.utwente.nl/22286/01/imc140-drago.pdf" } Inside Dropbox: Understanding Personal Cloud Storage Services.
        Proc.
        %a.venue{ :href => "https://conferences.sigcomm.org/imc/2012/" } ACM Internet Measurement Conference (IMC),
        Boston, MA, USA, November 2012.
      %dt
        At IETF-87, to
        -# %a{ :href => "https://www.stanford.edu/~huangty/" }
        %b Te-Yuan Huang
        for insights into the difficulties of rate adaptation for streaming video:
      %dd
        Te-Yuan Huang, Nikhil Handigol, Brandon Heller, Nick McKeown and Ramesh Johari.
        %a{ :href => "http://yuba.stanford.edu/~nickm/papers/imc012-huang.pdf" } Confused, Timid, and Unstable: Picking a Video Streaming Rate is Hard.
        Proc.
        %a.venue{ :href => "https://conferences.sigcomm.org/imc/2012/" } ACM Internet Measurement Conference (IMC),
        Boston, MA, USA, November 2012.
      %dt
        At IETF-87, to
        %a{ :href => "https://vanbever.eu/" }
          %b Laurent Vanbever
        for proposing a framework to allow seamless BGP reconfigurations:
      %dd
        Stefano Vissicchio, Laurent Vanbever, Cristel Pelsser, Luca Cittadini, Pierre Francois and Olivier Bonaventure.
        %a{ :href => "https://inl.info.ucl.ac.be/system/files/bgpmig_final.pdf" } Improving Network Agility with Seamless BGP Reconﬁgurations.
        Proc.
        %a.venue{ :href => "https://dl.acm.org/citation.cfm?id=2525566" } IEEE/ACM Transactions on Networking (TON),
        Volume 21, Issue 3, June 2013, pp 990-1002.
      %dt
        At IETF-86, to
        %a{ :href => "https://www.ozyegin.edu.tr/People/Academic/Assistant-Professor/Gonca-Gursun" }
          %b Gonca Gürsun
        for defining a metric that allows an analysis of BGP routing policies:
      %dd
        Gonca Gürsun, Natali Ruchansky, Evimaria Terzi and Mark Crovella.
        %a{ :href => "https://cs-people.bu.edu/evimaria/papers/imc12-rsd.pdf" } Routing State Distance: A Path-based Metric For Network Analysis.
        Proc.
        %a.venue{ :href => "https://conferences.sigcomm.org/imc/2012/" } ACM Internet Measurement Conference (IMC),
        Boston, MA, USA, November 2012.
      %dt
        At IETF-85, to
        %a{ :href => "https://sites.noise.gatech.edu/~srikanth/" }
          %b Srikanth Sundaresan
        for his measurement study of access link performance on home gateway devices:
      %dd
        Srikanth Sundaresan, Walter de Donato, Nick Feamster, Renata Teixeira, Sam Crawford and Antonio Pescapè.
        %a{ :href => "https://conferences.sigcomm.org/sigcomm/2011/papers/sigcomm/p134.pdf" } Broadband Internet Performance: A View From the Gateway.
        Proc.
        %a.venue{ :href => "https://conferences.sigcomm.org/sigcomm/2011/" } ACM SIGCOMM,
        Toronto, Canada, August 2011.
      %dt
        At IETF-85, to
        %a{ :href => "http://yuba.stanford.edu/~peyman/" }
          %b Peyman Kazemian
        for developing a general and protocol-agnostic framework for statically checking network specifications and configurations:
      %dd
        Peyman Kazemian, George Varghese and Nick McKeown.
        %a{ :href => "https://www.usenix.org/system/files/conference/nsdi12/nsdi12-final8.pdf" } Header Space Analysis: Static Checking For Networks.
        Proc.
        %a.venue{ :href => "https://www.usenix.org/conference/nsdi12" } USENIX Symposium on Networked Systems Design and Implementation (NSDI),
        San Jose, CA, USA, April 2012.
      %dt
        At IETF-84, to
        %a{ :href => "https://www.caida.org/~alberto/" }
          %b Alberto Dainotti
        for his research into Internet communication disruptions due to filtering:
      %dd
        Alberto Dainotti, Claudio Squarcella, Emile Aben, K.C.  Claffy, Marco Chiesa, Michele Russo and Antonio Pescapè.
        %a{ :href => "https://www.caida.org/publications/papers/2011/outages_censorship/outages_censorship.pdf" } Analysis of Country-wide Internet Outages Caused by Censorship.
        Proc.
        %a.venue{ :href => "https://conferences.sigcomm.org/imc/2011/" } ACM Internet Measurement Conference (IMC),
        Berlin, Germany, November 2011.
      %dt
        (No ANRP was awarded at IETF-83, due to the change to a yearly award cycle.)
      %dt
        At IETF-82, to
        %a{ :href => "https://www.micchie.net/" }
          %b Michio Honda
        for his research into determining the future extensibility of TCP:
      %dd
        Michio Honda, Yoshifumi Nishida, Costin Raiciu, Adam Greenhalgh, Mark Handley and Hideyuki Tokuda.
        %a{ :href => "https://nrg.cs.ucl.ac.uk/mjh/tmp/mboxes.pdf" } Is it Still Possible to Extend TCP?
        Proc.
        %a.venue{ :href => "https://conferences.sigcomm.org/imc/2011/" } ACM Internet Measurement Conference (IMC),
        Berlin, Germany, November 2011.
      %dt
        At IETF-82, to
        -# %a{ :href => "https://eecis.udel.edu/~nekiz/" }
        %b Nasif Ekiz
        for his analysis of misbehaving TCP receivers:
      %dd
        Nasif Ekiz, Abuthahir Habeeb Rahman and Paul D. Amer.
        %a{ :href => "https://dx.doi.org/10.1145/1971162.1971165" } Misbehaviors in TCP SACK Generation.
        %a.venue{ :href => "https://dl.acm.org/citation.cfm?id=J101" } ACM SIGCOMM Computer Communication Review,
        Volume 41, Issue 2, April 2011.
      %dt
        At IETF-81, to
        %a{ :href => "https://caia.swin.edu.au/cv/mrossi/" }
          %b Mattia Rossi
        for his research into reducing BGP traffic:
      %dd
        Geoff Huston, Mattia Rossi and Grenville Armitage.
        %a{ :href => "https://dx.doi.org/10.1109/JSAC.2010.101005" } A Technique for Reducing BGP Update Announcements through Path Exploration Damping.
        %a.venue{ :href => "https://jsac.ucsd.edu/" } IEEE Journal on Selected Areas in Communications (JSAC),
        Vol. 28, No. 8, pp. 1271--1286, October 2010.
      %dt
        At IETF-81, to
        %a{ :href => "https://www.cs.arizona.edu/~bzhang/" }
          %b Beichuan Zhang
        for his research into "green" traffic engineering:
      %dd
        Mingui Zhang, Cheng Yi, Bin Liu and Beichuan Zhang.
        %a{ :href => "https://dx.doi.org/10.1109/ICNP.2010.5762751" } GreenTE: Power-Aware Traffic Engineering.
        Proc.
        %a.venue{ :href => "https://ieee-icnp.org/" } IEEE International Conference on Network Protocols (ICNP),
        pp. 21--30, October 2010.

