---
title: Public Archival of AUTH48 Communication
---

%p
  The
  %a{ :href => "/irsg.html"}
    Internet Research Steering Group (IRSG)
  has considered the issue of public archival of conversations
  between the RFC Editor, document authors, and the IRSG during the
  %a{ :href => "https://www.rfc-editor.org/pubprocess/auth48/"}
    Authors' Final Review (“AUTH48”)
  period immediately prior to RFC publication.

%p
  These are communications during the final review stage in the RFC
  publication process, where the copy edits and other changes made by the
  RFC Editor are reviewed. It is also the last time changes can be made to
  a document before it is published as an RFC. 

%p
  The IRSG believes the increased transparency brought to the RFC
  publication process by publicly archiving these conversations is
  valuable. Accordingly, the IRTF stream will follow
  %a{ :href => "https://mailarchive.ietf.org/arch/msg/irtf-announce/80sh0WoZMED0l4Zmv9sR7TLvrrs/"}
    the policy announced for the IETF stream
  and request the RFC Editor maintain a public archive of AUTH48
  discussions.

%p
  (9 May 2022)

