---
title: Cross-stream RFC status changes
---

%p
  The IRTF publishes documents in the RFC series. The RFC Editor also
  publishes documents from the IETF, the IAB, and from the independent
  stream.

%p
  Occasionally, one of the other streams might want to publish an RFC that
  updates the status of an IRTF RFC. For example, the IETF might develop a
  standards track version of a protocol previously published as an
  experimental RFC on the IRTF stream. It is expected that the other stream
  manager will seek permission to make such a change in status from the
  IRTF stream manager before asking the RFC Editor to publish such a
  document. The IRTF stream manager (i.e., the IRTF chair, or their
  delegate) will consult with the IRSG before responding to such requests.
  It is expected that IRTF will approve such status changes, unless there
  a conflict with ongoing IRTF work or some convincing issue is identified.

%p
  It's also possible that an IRTF research group might want to publish an
  RFC that changes the status of an RFC published by another stream. For
  example, experimental work might start in the IETF then transition to an
  IRTF research group, and that group might later want to publish an RFC
  updating the original IETF experiment. In this case, the IRTF Research
  Group should document the proposed status change in the headers,
  Abstract, and Introduction of the proposed RFC. The IRSG and IRTF Chair
  will review such status change requests as part of the IRTF document
  approval process. If there is agreement that they are reasonable, the
  IRTF chair will seek approval from the relevant stream manager. The IRTF
  Chair will not approve a document for publication prior to receiving
  approval from the other stream. If such approval is not given the
  document cannot change the status of the RFC from the other stream.

