---
title: Inclusive Language in Contributions to the IRTF
---

%p
  The 
  %a{ :href => "https://www.ietf.org/about/groups/iesg/"}
    Internet Engineering Steering Group (IESG)
  issued a 
  %a{ :href => "https://www.ietf.org/about/groups/iesg/statements/on-inclusive-language/"}
    Statement on Inclusive Language
  on 11 May, 2021.

%p
  The 
  %a{ :href => "/irsg.html"}
    Internet Research Steering Group (IRSG)
  concurs with that statement. Research is at its most understandable and
  effective when it uses terminology that is clear, precise, and widely
  accessible to readers from varying backgrounds and cultures. The IRSG
  encourages all IRTF participants to follow the guidance on inclusive
  language in 
  %a{ :href => "https://doi.org/10.6028/NIST.IR.8366" }
    NIST.IR.8366
  when making contributions to the IRTF. 

