---
title: Policies and Procedures
---

%p
  The IRTF is managed by the
  %span.term IRTF Chair
  in consultation with the
  %span.term Internet Research Steering Group
  (IRSG). The IRSG membership includes the IRTF Chair, the chairs of the
  various Research Groups, and other individuals ("members at large") from
  the research community selected by the IRTF Chair.

%h2
  RFCs Relating to Organisation and Operation of the IRTF

%dl
  %dt
    RFC2014 "IRTF Research Group Guidelines and Procedures"
  %dd
    This document describes the guidelines and procedures for formation
    and operation of IRTF Research Groups. It describes the relationship
    between IRTF participants, Research Groups, the IRSG, and the IAB.
    The basic duties of IRTF participants, including the IRTF Chair,
    Research Group Chairs and IRSG members are defined.

  %dt
    RFC4440 "IAB Thoughts on the Role of the Internet Research Task Force (IRTF)"
  %dd 
    This document is an IAB report on the role of the IRTF, both on its own
    and in relationship to the IETF. This document evolved from a discussion
    within the IAB as part of a process of appointing a new chair of the IRTF.

  %dt
    %strike RFC4844 "The RFC Series and RFC Editor"
  %dd
    %strike 
      This document describes the framework for the RFC Series and RFC
      Editor function. In particular, it defines the concept of RFC
      streams, and formalises the concept of the IRTF publication stream.

  %dt
    RFC5742 "IESG Procedures for Handling of Independent and IRTF Stream Submissions"
  %dd
    This document describes the procedures used by the IESG for handling
    documents submitted for RFC publication from the Independent Submission
    and IRTF streams.

  %dt
    RFC5743 "Definition of an Internet Research Task Force (IRTF) Document Stream"
  %dd 
    This memo defines the publication stream for RFCs from the IRTF, the
    pre-publication review process, and the rules for submission and use
    of material.

  %dt
    RFC6322 "Datatracker States and Annotations for the IAB, IRTF, and
    Independent Submission Streams"
  %dd
    This document describes extending the IETF Datatracker to capture and
    display the progression of Internet-Drafts that are intended to be
    published as RFCs by the IAB, IRTF, or Independent Submissions Editor.

  %dt
    RFC7418 "An IRTF Primer for IETF Participants"
  %dd
    This document provides a high-level description of things for Internet
    Engineering Task Force (IETF) participants to consider when bringing
    proposals for new research groups (RGs) into the Internet Research Task
    Force (IRTF).  This document emphasizes differences in expectations
    between the two organizations.

  %dt
    RFC7827 "The Role of the IRTF Chair"
  %dd
    This document briefly describes the role of the Chair of the Internet
    Research Task Force (IRTF), discusses its duties, and outlines the
    skill set a candidate for the role should ideally have.

  %dt
    RFC8179 "Intellectual Property Rights in IETF Technology"
  %dd
    The IRTF follows the IETF Intellectual Property Rights (IPR) disclosure
    rules. See also Section 3.2 of RFC5743, and the webpage about
    %a{ :href => "ipr" } IRTF IPR policy.

  %dt
    RFC8729 "The RFC Series and RFC Editor"
  %dd
    This document describes the framework for an RFC Series and an RFC
    Editor function that incorporate the principles of organized community
    involvement and accountability that has become necessary as the
    Internet technical community has grown, thereby enabling the RFC Series
    to continue to fulfill its mandate.  This document obsoletes RFC 4844.

%h2
  Other Policies

%dl
  %a{ :name => "anti-harassment"}
  %dt
    %a{ :href => "https://www.ietf.org/blog/ietf-anti-harassment-policy/" } Anti-Harassment Policy
  %dd
    The IETF 
    %a{ :href => "https://www.ietf.org/blog/ietf-anti-harassment-policy/" } anti-harassment policy
    also applies to the IRTF.
    The IRTF strives to create and maintain an environment in which people
    of many different backgrounds are treated with dignity, decency, and
    respect. Participants are expected to behave according to professional
    standards and demonstrate appropriate workplace behavior.
    See also RFC7776 and RFC8716.

  %dt
    %a{ :href => "/policies/cross-stream-updates.html" } Cross Stream RFC Status Updates
  %dd
    IRTF policy regarding approval of cross stream RFC status updates.

  %dt
    %a{ :href => "/policies/inclusive-language.html" } 
      Inclusive Language in Contributions to the IRTF
  %dd
    Research is at its most understandable and effective when it uses
    terminology that is clear, precise, and widely accessible to readers
    from varying backgrounds and cultures. The 
    %a{ :href => "/irsg.html"} IRSG 
    encourages all IRTF participants to follow the guidance on inclusive
    language in 
    %a{ :href => "https://doi.org/10.6028/NIST.IR.8366" }
      NIST.IR.8366
    when making contributions to the IRTF. 

  %dt
    %a{ :href => "/policies/logo.html" } IRTF Logo
  %dd
    Guidelines for use of the IRTF logo.

  %dt
    %a{ :href => "/policies/note-well.html" } Note Well
  %dd
    Note Well slides, for research group sessions

  %dt
    %a{ :href => "https://ietf.org/privacy-statement/" } Privacy Policy
  %dd
    IRTF privacy policy and statement concerning personal data.

