---
title: Intellectual Property Rights (IPR)
---

%p
  The IRTF follows the IETF Intellectual Property Rights (IPR) disclosure
  rules. This is a summary of these rules as they relate to IRTF research
  group discussions, mailing lists, Internet-drafts, and other contributions:

%ul
  %li
    By participating in the IRTF, you agree to follow IRTF processes and
    policies.

  %li
    If you are aware that any IRTF contribution is covered by patents
    or patent applications that are owned or controlled by you or your
    sponsor, you must disclose that fact, or not participate in the
    discussion

  %li
    If you recognize your own or your sponsors's IPR in someone else's
    contribution, and you are participating in the discussions in the
    research group relating to that contribution, then you must disclose
    that IPR. Even if you are not participating in the discussion, the
    IRTF still requests that you file an IPR disclosure.

  %li
    Finally, the IRTF requests that you file an IPR disclosure if you
    recognize IPR owned by others in any IRTF contribution.

%p
  The IRTF expects that you file IPR disclosures in a timely manner, i.e.,
  in a period measured in days or weeks, not months. The IRTF prefers
  that the most liberal licensing terms possible are available for IRTF
  Stream documents, see RFC 5743. You may file an IPR disclosure here:
  %a{ :href => "https://www.ietf.org/ipr/file-disclosure" }
    https://www.ietf.org/ipr/file-disclosure

%p
  See RFC 8179 (BCP 79) for definitions of "IPR" and "contribution"
  and for the detailed rules (substituting "IRTF" for "IETF").
  See RFC 5378 for a description of the rights contributors provide to the
  IETF Trust.

%p
  See
  %a{ :href => "/policies/copyright-infringement.html" }
    reporting copyright infringement
  for details of how to send notification of alleged copyright infringement
  by the IRTF.

