---
title: IRTF Logo
---

%p
  The copyright for the IRTF logo lies with
  %a{ :href => "https://trustee.ietf.org/"} the IETF Trust.
  Please read
  %a{ :href => "https://trustee.ietf.org/ietf-logo-acronym.html"} the FAQ
  before using the logo.

%p
  Please use a vector format version (SVG or PDF) whenever you can. The
  bitmap PNG versions are there as a fallback.

%ul
  %li
    %a{ :href => "/img/irtf-logo.svg" } IRTF logo, SVG vector format
  %li
    %a{ :href => "/img/irtf-logo.pdf" } IRTF logo, PDF vector format
  %li
    %a{ :href => "/img/irtf-logo-200.png" } IRTF logo, PNG bitmap format, 200 pixels wide
  %li
    %a{ :href => "/img/irtf-logo-400.png" } IRTF logo, PNG bitmap format, 400 pixels wide
  %li
    %a{ :href => "/img/irtf-logo-800.png" } IRTF logo, PNG bitmap format, 800 pixels wide
  %li
    %a{ :href => "/img/irtf-logo-1600.png" } IRTF logo, PNG bitmap format, 1600 pixels wide

%p
  Rights to these logos have been given by the creators (Aaron Falk and
  Lars Eggert) to
  %a{ :href => "https://trustee.ietf.org/"} IETF Trust.

