---
title: Note Well
---

%p
  The following slides summarise the IPR disclosure and privacy policies,
  the code of conduct, and the goals of the IRTF. They are intended to be
  used by Research Group chairs in their introductory presentations.

%ul
  %li
    %a{ :href => "/policies/irtf-note-well-2019-11.key" } IRTF Note Well, Keynote format
  %li
    %a{ :href => "/policies/irtf-note-well-2019-11.pptx"} IRTF Note Well, Powerpoint format
  %li
    %a{ :href => "/policies/irtf-note-well-2019-11.pdf" } IRTF Note Well, PDF format


