---
title: ANRW&nbsp;’23 Call for Papers
menu: Call for Papers
other: false
---

%h1
  Call for Papers

%p
  The ACM/IRTF Applied Networking Research Workshop 2023 (ANRW’23),
  co-located with IETF-117,  is the eigtht edition of an academic workshop
  that provides a forum for researchers, vendors, network operators, and
  the Internet standards community to present and discuss emerging results
  in applied networking research.

%p
  The workshop combines presentations of new research in the form of short
  papers and lightning papers. ANRW'23 accepts the following types of
  submissions:

%ul
  %li
    %strong Short papers 
    are publications that present new research that has not been previously
    published. For a short paper to be considered for publication, please
    submit work describing early/emerging results in a relevant topic area.
    There is a 6-page limit for short papers, including figures, tables,
    and any appendices, optionally followed by unlimited additional pages
    for references.

  %li
    %strong Lightning papers 
    can provide a summary of early, emerging, or on-going work as well as
    short updates of previously published work. This type of submission
    will be presented in a short, lightning-talk style. For a lightning
    paper to be considered for presentation, please submit an extended
    abstract that is no longer than 2 pages, with a maximum of one
    additional page for references only.

%p
  Paper topics should be relevant to the standardization activities of
  related IETF working groups or activity in related IRTF research groups.
  
%p
  We note that the structure and use of the Internet, and Internet
  services, are evolving in ways that would have been difficult to
  anticipate two years ago. The list is long, including but not limited to
  shifts in traffic patterns and demands with remote work over broadband
  access networks, operational responses to large-scale physical and
  socio-political events, also trends towards increased multiplexing of
  connections over fewer IP addresses for various reasons that include
  scale, adaptability, and privacy.
  
%ul
  %li
    Development and deployment experience of new or enhanced Internet
    protocols (e.g., for transport, security, or routing).

  %li
    Improvements, measurements, and analysis of the security and privacy of
    new and existing Internet protocols and privacy enhancing technologies.

  %li
    Evolution of interconnection, and new approaches on network management,
    operations, and control.

  %li
    Practical congestion control for heterogeneous networks and novel
    applications.

  %li
    Better ways of specifying protocols, including usable techniques for
    protocol verification.

  %li
    Interactions between CDNs, anycast, and edge services such as DNS and
    Firewalls.

  %li
    Research and analysis of consolidation and centralization of the Internet.

  %li
    Techniques for logging/monitoring of Internet traffic and root-cause
    analysis, as well as debugging of (encrypted) Internet protocols.

  %li
    Measurement and analysis of the performance of networks, including the
    performance or quality of experience of networked applications.

  %li
    Design, measurement, analysis, or deployment of wireless, mobile, and
    cellular networks.

  %li
    Internet resilience and recovery in physically challenging environments
    and events (e.g., remote areas, natural disaster situations).

  %li
    Approaches and efforts towards decentralizing and democratizing the
    Internet.

  %li
    Understanding the impact and interoperability of diverse clients (e.g.,
    IoT, robotics, manufacturing).

  %li
    The changing semantics of IP addresses and connection-level metadata at
    large-scale (e.g. Addressing Agility, Private Relay).

  %li
    Topics relevant to the standardization activities of related IETF
    working groups.

  %li
    Topics relevant to activity in related IRTF research groups.

%p
  ANRW'23 is co-located with IETF-117 in San Francisco, and takes place in
  the week of July 22-28, 2023.  This gives IETF as well as workshop
  attendees the opportunity to exchange ideas on topics and open problems
  discussed at the workshop and the IETF.

%p
  ANRW'23 will be a hybrid event.  Remote participation options will be
  available; please contact the chairs if you intend to submit work but
  know in advance that you will not be able to present the work in-person
  at the workshop.

%p
  ANRW'23 particularly encourages the submission of results that could
  form the basis for future engineering work in the IETF, by, for example
  providing input and analysis on Internet protocols or operational
  Internet practices, as well as influence further research and
  experimentation in the IRTF.

-# %p
-#   %a.btn.btn-primary{ :href => "https://anrw2023.hotcrp.com/" } Start a submission »


%h2
  Formatting
%p 
  All submissions must satisfy the following requirements:
%ul
  %li 
    Short papers: up to 6 pages for technical content (including
    appendices) + unlimited pages for references
  %li
    Lightning papers: up to 2 pages for an extended abstract (including
    appendices) + a maximum of one page for references.
  %li
    %strong 10-point font for main text;
    font used in other places (e.g., figures) should be no smaller than 9
    point
  %li
    Two-column format, with the size of each column being at most 3.33 x
    9.25 inches and the space between columns being at least 0.33 inches
    letter page size (8.5 x 11 inches)
  %li
    Include names and affiliations of all authors on the title page (no
    anonymization).
  %li
    We strongly encourage the use of the new ACM LaTeX template,
    which satisfies these style requirements provided you specify a
    10-point font size. The following settings should produce this output:
    %tt \documentclass[10pt,sigconf,letterpaper]{acmart}

%p 
  Submissions that do not comply with these requirements will be rejected
  without review. It is your responsibility to ensure that your submission
  satisfies the above requirements.


%h2
  Paper Novelty

%p
  An accepted paper that is published must not be based on previously
  published work, and cannot describe work that is currently under
  submission to another venue. An accepted paper that is published also
  must not plagiarize the work of its authors or of any other authors. 

%p
  The ACM Policy and Procedures on Plagiarism applies to the ANRW, and
  action will be taken against submitters who have engaged in such
  practices. 

%p
  Papers accompanied by nondisclosure agreement requests will not be
  considered for review or publication, nor ever be disclosed. 


%h2
  Reviews 
%p
  All submissions will be peer reviewed (single-blind). Reviews will be
  shared with the authors.

%p
  Authors and TPC members provide conflict-of-interest information. It is
  important that all authors of a submission are indicated in the
  submission system and that all authors enter any conflicts of interest.
  Broadly, a conflict of interest exists when:
%ul
  %li 
    You are currently employed at the same organization, have been
    previously employed at the same organization within the last twelve
    months, or are going to begin employment at the same organization.
  %li
    You have a past or present professional relationship, such as thesis
    advisement, collaboration on a project, publication, or grant proposal
    within the past two years.
%p
  These are examples – use your own good judgment.


%h2
  Important Dates
= render '/anrw/2023/dates_.*', which: 'papers'



%h2 Supporters and Sponsors
= render '/anrw/2023/supporters_.*'
= render '/anrw/sponsors_.*'

