---
title: ANRW&nbsp;’23 Committees
menu: Committees
---

.col-md-6
  %h2 Program Committee
  %table.table.table-striped
    %tbody
      %tr
        %td Francis Y. Yan
        %td 
          Microsoft Research
          %span.label.label-default Chair
      %tr
        %td Maria Apostolaki
        %td 
          Princeton 
          %span.label.label-default Chair
      %tr
        %td Ahmed Saeed	
        %td Georgia Tech
      %tr
        %td Akshay Narayan	
        %td UC Berkeley
      %tr
        %td Allison Mankin	
        %td Salesforce
      %tr
        %td Anja Feldmann	
        %td MPI
      %tr
        %td Anna Brunstrom	
        %td Karlstad University
      %tr
        %td Dave Oran	
        %td Network Systems Research &amp; Design
      %tr
        %td Eirini Eleni Tsiropoulou	
        %td University of New Mexico
      %tr
        %td Eric Rescorla	
        %td Mozilla
      %tr
        %td Hong Xu	
        %td The Chinese University of Hong Kong
      %tr
        %td Jason Livingood	
        %td Comcast
      %tr
        %td Lixia Zhang	
        %td UCLA
      %tr
        %td Melinda Shore	
        %td Fastly
      %tr
        %td Michio Honda	
        %td University of Edinburgh
      %tr
        %td Mirja Kühlewind	
        %td Ericsson Research
      %tr
        %td Philipp Richter	
        %td Akamai Technologies
      %tr
        %td Romain Jacob	
        %td ETH Zürich
      %tr
        %td Simon Leinen	
        %td SWITCH
      %tr
        %td Siva Kesava Reddy Kakarla	
        %td Microsoft Research
      %tr
        %td Stephen Farrell	
        %td Trinity College Dublin
      %tr
        %td Te-Yuan Huang	
        %td Netflix
      %tr
        %td Yong Cui	
        %td Tsinghua University
      %tr
        %td Yunxin Liu	
        %td Institute for AI Industry Research (AIR), Tsinghua University

.col-md-6
  = render "/anrw/2023/sc_.*"


