---
title: ANRW&nbsp;’23 Committees
menu: Committees
---

%div.row
  %div.col-sm-6
    %h2 Program Committee
    %table.table.table-striped
      %tbody
        %tr
          %td Francis Y. Yan
          %td
            %span.badge.bg-secondary Chair
          %td Microsoft Research
        %tr
          %td Maria Apostolaki
          %td
            %span.badge.bg-secondary Chair
          %td Princeton 
        %tr
          %td{:colspan => 2} Ahmed Saeed	
          %td Georgia Tech
        %tr
          %td{:colspan => 2} Akshay Narayan	
          %td UC Berkeley
        %tr
          %td{:colspan => 2} Allison Mankin	
          %td Salesforce
        %tr
          %td{:colspan => 2} Anja Feldmann	
          %td MPI
        %tr
          %td{:colspan => 2} Anna Brunstrom	
          %td Karlstad University
        %tr
          %td{:colspan => 2} Dave Oran	
          %td Network Systems Research &amp; Design
        %tr
          %td{:colspan => 2} Eirini Eleni Tsiropoulou	
          %td University of New Mexico
        %tr
          %td{:colspan => 2} Eric Rescorla	
          %td Mozilla
        %tr
          %td{:colspan => 2} Hong Xu	
          %td The Chinese University of Hong Kong
        %tr
          %td{:colspan => 2} Jason Livingood	
          %td Comcast
        %tr
          %td{:colspan => 2} Lixia Zhang	
          %td UCLA
        %tr
          %td{:colspan => 2} Melinda Shore	
          %td Fastly
        %tr
          %td{:colspan => 2} Michio Honda	
          %td University of Edinburgh
        %tr
          %td{:colspan => 2} Mirja Kühlewind	
          %td Ericsson Research
        %tr
          %td{:colspan => 2} Philipp Richter	
          %td Akamai Technologies
        %tr
          %td{:colspan => 2} Romain Jacob	
          %td ETH Zürich
        %tr
          %td{:colspan => 2} Simon Leinen	
          %td SWITCH
        %tr
          %td{:colspan => 2} Siva Kesava Reddy Kakarla	
          %td Microsoft Research
        %tr
          %td{:colspan => 2} Stephen Farrell	
          %td Trinity College Dublin
        %tr
          %td{:colspan => 2} Te-Yuan Huang	
          %td Netflix
        %tr
          %td{:colspan => 2} Yong Cui	
          %td Tsinghua University
        %tr
          %td{:colspan => 2} Yunxin Liu	
          %td Tsinghua University

  %div.col-sm-6
    = render "/anrw/2023/sc_.*"


