---
title: ANRW&nbsp;’23 Program
menu: Program
---

%h1 Workshop Program

%p= render "/anrw/2023/place_.*"

-# %h2 Slack Channel
-# 
-# %p
-#   If you would like to meet with other attendees, the SIGCOMM Community
-#   Slack space has a channel dedicated to ANRW 2023 (#anrw2023). The SIGCOMM
-#   Community Slack was created specifically for the purpose of facilitating
-#   online interaction during virtual conferences.
-#   To join the SIGCOMM Community Slack, use 
-#   %a{ :href => "https://join.slack.com/t/sigcomm/shared_invite/zt-erk5tjkg-bsoSc1UXlOY03uU~E2zPVA"} this invitation link
-#   and follow the instructions.

%h2 Program

%p
  Times are given in America/Pacific (San Francisco) time zone.

%table.table.table-striped.no-urlify
  %thead
    %tr
      %th
        Time
      %th
        Session

  %tbody
    %tr
      %td{ :style => "width: 10em" }
        %b 09:30-10:40
      %td
        %h4.text-danger Welcome and Keynote
        %div.row
          %div.col-lg-8
            %p
              %a{ name: "welcome"}
              %b
                Welcome and Opening Remarks
              %br
              Maria Apostolaki (Princeton) and Francis Y. Yan (Microsoft Research) 
              -# %div.col-lg-4
              -#   %p.btn-toolbar
              -#     %a{ :href => "/anrw/2023/slides-114-anrw-sessa-welcome.pdf", :class => "btn btn-default btn-xs", :role => "button"}
              -#       %span.glyphicon.glyphicon-picture slides

        %div.row
          %div.col-lg-8
            %p
              %a{ name: "keynote"}
              %b
                Keynote: It’s the End of DRAM As We Know It
              %br
              %a{ :href => "http://csl.stanford.edu/~pal/"} Philip Levis (Stanford)
            -#%div.col-lg-4
            -#  %p.btn-toolbar
            -#    %a{ :href => "/anrw/2023/slides-114-anrw-sessa-keynote.pdf", :class => "btn btn-default btn-xs", :role => "button"}
            -#      %span.glyphicon.glyphicon-picture slides

    %tr
      %td{ :style => "width: 10em" }
        %b 10:40-11:30
      %td
        %h4.text-danger Research Papers: IoT, Programmable Networks, Security and Privacy
        %div.row
          %div.col-lg-8
            %p
              %a{ name: "p58"}
              %b
                -#%a{ :href => "https://dl.acm.org/doi/10.1145/3547115.3547192"} 
                It’s Not Where You Are, It’s Where You Are Registered: IoT Location Impact on MUD
              %br
              Anat Bremler-Barr (Tel-Aviv University), David Hay (Hebrew University), Bar Meyuhas (Reichman University), and Shoham Danino (Reichman University)
            -#%div.col-lg-4
            -#  %p.btn-toolbar
            -#    %a{ :href => "/anrw/2023/slides-114-anrw-sessa-beyond-fairness.pdf", :class => "btn btn-default btn-xs", :role => "button"}
            -#      %span.glyphicon.glyphicon-picture slides

        %div.row
          %div.col-lg-8
            %p
              %a{ name: "p69"}
              %b
                -#%a{ :href => "https://dl.acm.org/doi/10.1145/3547115.3547193"} 
                PINOT: Programmable Infrastructure for Networking
              %br
              Roman Beltiukov (UC Santa Barbara), Sanjay Chandrasekaran (UC Santa Barbara), Arpit Gupta (UC Santa Barbara), and Walter Willinger (NIKSUN, Inc.) 
            -#%div.col-lg-4
            -#  %p.btn-toolbar
            -#    %a{ :href => "/anrw/2023/slides-114-anrw-sessa-crosslayer.pdf", :class => "btn btn-default btn-xs", :role => "button"}
            -#      %span.glyphicon.glyphicon-picture slides

        %div.row
          %div.col-lg-8
            %p
              %a{ name: "i2"}
              %b
                -#%a{ :href => "https://raghavan.usc.edu/papers/sage-sigcomm21.pdf" }
                Crisis, Ethics, Reliability &amp; a measurement.network: Reflections on Active Network Measurements in Academia
              %br
              Tobias Fiebig (Max-Planck-Institut für Informatik)
            -#%div.col-lg-4
            -#  %p.btn-toolbar
            -#    %a{ :href => "/anrw/2023/slides-114-anrw-sessb-disambiguating.pdf", :class => "btn btn-default btn-xs", :role => "button"}
            -#      %span.glyphicon.glyphicon-picture slides



    %tr
      %td
        %b 11:30-13:00
      %td
        %h4.text-danger Lunch Break



    %tr
      %td
        %b 13:00-14:00
      %td
        %h4.text-danger Research Papers: Network Measurement
        %div.row
          %div.col-lg-8
            %p
              %a{ name: "p93"}
              %b
                -#%a{ :href => "https://dl.acm.org/doi/10.1145/3547115.3547195"} 
                Evaluating the Benefits: Quantifying the Effects of TCP Options, QUIC, and CDNs on Throughput
              %br
              Simon Bauer (Technical University of Munich), Patrick Sattler (Technical University of Munich), Johannes Zirngibl (Technical University of Munich), Christoph Schwarzenberg (Technical University of Munich), and Georg Carle (Technical University of Munich)
            -#%div.col-lg-4
            -#  %p.btn-toolbar
            -#    %a{ :href => "/anrw/2023/slides-114-anrw-sessa-priority-aware.pdf", :class => "btn btn-default btn-xs", :role => "button"}
            -#      %span.glyphicon.glyphicon-picture slides


        %div.row
          %div.col-lg-8
            %p
              %a{ name: "i1"}
              %b
                -#%a{ :href => "https://github.com/RFCNLP" }
                Mapping the Ukrainian Refugee Crisis Using Internet Measurements
              %br
              Tal Mizrahi (Technion, Israel Institue of Technology) and Jose Yallouz (Technion, Israel Institue of Technology)
            -#%div.col-lg-4
            -#  %p.btn-toolbar
            -#    %a{ :href => "/anrw/2023/slides-114-anrw-sessb-automated.pdf", :class => "btn btn-default btn-xs", :role => "button"}
            -#      %span.glyphicon.glyphicon-picture slides

        %div.row
          %div.col-lg-8
            %p
              %a{ name: "p87"}
              %b
                -#%a{ :href => "https://dl.acm.org/doi/10.1145/3547115.3547194"} 
                Not-So-Low Hanging Fruit: Security and Privacy Research Opportunities for IETF Protocols
              %br
              Christopher A. Wood (Cloudflare) 
            -#%div.col-lg-4
            -#  %p.btn-toolbar
            -#    %a{ :href => "/anrw/2023/slides-114-anrw-sessa-suitability.pdf", :class => "btn btn-default btn-xs", :role => "button"}
            -#      %span.glyphicon.glyphicon-picture slides

    %tr
      %td
        %b 14:00-15:00
      %td
        %h4.text-danger Panel Discussion
        %div.row
          %div.col-lg-8
            %p
              %a{ name: "Panel"}
              %b
                Panel Discussion
              %br
              Lixia Zhang (UCLA), Christopher A. Wood (Cloudflare), Jörg Ott (Technical University of Munich)
              %br
              Moderator: Maria Apostolaki
            -#%div.col-lg-4
            -#  %p.btn-toolbar
            -#    %a{ :href => "/anrw/2023/slides-114-anrw-sessa-keynote.pdf", :class => "btn btn-default btn-xs", :role => "button"}
            -#      %span.glyphicon.glyphicon-picture slides

    %tr
      %td
        %b 15:00-15:30
      %td
        %h4.text-danger Break



    %tr
      %td
        %b 15:30-17:00
      %td
        %h4.text-danger Research Papers: DNS and BGP
        %div.row
          %div.col-lg-8
            %p
              %a{ name: "i2"}
              %b
                -#%a{ :href => "https://raghavan.usc.edu/papers/sage-sigcomm21.pdf" }
                Lowering the Barriers to Working with Public RIR-Level Data
              %br
              Alfred Arouna (SimulaMet / OsloMet), Ioana Livadariu (SimulaMet), and Mattijs Jonker (University of Twente)
            -#%div.col-lg-4
            -#  %p.btn-toolbar
            -#    %a{ :href => "/anrw/2023/slides-114-anrw-sessb-disambiguating.pdf", :class => "btn btn-default btn-xs", :role => "button"}
            -#      %span.glyphicon.glyphicon-picture slides

        %div.row
          %div.col-lg-8
            %p
              %a{ name: "i2"}
              %b
                -#%a{ :href => "https://raghavan.usc.edu/papers/sage-sigcomm21.pdf" }
                Call for Collaboration: DNS Integrations
              %br
              Swapneel Sheth (Verisign) and Andrew Kaizer (Verisign)
            -#%div.col-lg-4
            -#  %p.btn-toolbar
            -#    %a{ :href => "/anrw/2023/slides-114-anrw-sessb-disambiguating.pdf", :class => "btn btn-default btn-xs", :role => "button"}
            -#      %span.glyphicon.glyphicon-picture slides


        %div.row
          %div.col-lg-8
            %p
              %a{ name: "i2"}
              %b
                -#%a{ :href => "https://raghavan.usc.edu/papers/sage-sigcomm21.pdf" }
                Gotta Query 'Em All, Again! Repeatable Name Resolution with Full Dependency Provenance
              %br
              Johannes Naab (Technical University of Munich), Patrick Sattler (Technical University of Munich), Johannes Zirngibl (Technical University of Munich), Stephan Günther (Technical University of Munich), and Georg Carle (Technical University of Munich)
            -#%div.col-lg-4
            -#  %p.btn-toolbar
            -#    %a{ :href => "/anrw/2023/slides-114-anrw-sessb-disambiguating.pdf", :class => "btn btn-default btn-xs", :role => "button"}
            -#      %span.glyphicon.glyphicon-picture slides


        %div.row
          %div.col-lg-8
            %p
              %a{ name: "i2"}
              %b
                -#%a{ :href => "https://raghavan.usc.edu/papers/sage-sigcomm21.pdf" }
                Enabling Multi-hop ISP-Hypergiant Collaboration
              %br
              Cristian Munteanu (Max Planck Institute for Informatics), Oliver Gasser (Max Planck Institute for Informatics), Ingmar Poese (BENOCS), Georgios Smaragdakis (TU Delft), and Anja Feldmann (Max Planck Institute for Informatics)
            -#%div.col-lg-4
            -#  %p.btn-toolbar
            -#    %a{ :href => "/anrw/2023/slides-114-anrw-sessb-disambiguating.pdf", :class => "btn btn-default btn-xs", :role => "button"}
            -#      %span.glyphicon.glyphicon-picture slides


        %div.row
          %div.col-lg-8
            %p
              %a{ name: "i2"}
              %b
                -#%a{ :href => "https://raghavan.usc.edu/papers/sage-sigcomm21.pdf" }
                Daisy: Practical Anomaly Detection in large BGP/MPLS and BGP/SRv6 VPN Networks
              %br
              Alex Huang Feng (INSA Lyon), Pierre Francois (INSA Lyon), Stéphane Frenot (INSA Lyon), Thomas Graf (Swisscom), Wanting Du (Swisscom), and Paolo Lucente (pmacct)
            -#%div.col-lg-4
            -#  %p.btn-toolbar
            -#    %a{ :href => "/anrw/2023/slides-114-anrw-sessb-disambiguating.pdf", :class => "btn btn-default btn-xs", :role => "button"}
            -#      %span.glyphicon.glyphicon-picture slides



%h2 Proceedings
%p
  -# %a{ :href => "https://dl.acm.org/doi/proceedings/10.1145/3472305" }
  Proceedings of the Applied Networking Research Workshop 2023
  will be available from the ACM Digital Library.


%p
  Recordings of the workshop, including Q&amp;A, will be available on the
  %a{ :href => "https://www.youtube.com/user/ietf/videos"} IETF channel
  on YouTube.

