---
title: ANRW&nbsp;’23 Program
menu: Program
---

%h1 Workshop Program

%p= render "/anrw/2023/place_.*"

%h2 Program

%p
  Times are given in America/Pacific (San Francisco) time zone.

%table.table.table-striped.no-urlify
  %thead
    %tr
      %th
        Time
      %th
        Session

  %tbody
    %tr
      %td{ :style => "width: 10em" }
        %b 09:30-10:30
      %td
        %h4.text-danger Welcome and Keynote
        %div.row
          %div.col-lg-8
            %p
              %a{ name: "welcome"}
              %b
                Welcome and Opening Remarks
              %br
              Maria Apostolaki (Princeton) and Francis Y. Yan (Microsoft Research) 
              %div.col-lg-4.mb-3
                %a.btn.btn-secondary{ :href => "/anrw/2023/slides-117-anrw-sessa-welcome-and-opening-remarks-01.pdf"}
                  slides

        %div.row
          %div.col-lg-8
            %p
              %a{ name: "keynote"}
              %b
                Keynote: It’s the End of DRAM As We Know It
              %br
              %a{ :href => "http://csl.stanford.edu/~pal/"} Philip Levis (Stanford)
            %div.col-lg-4.mb-3
              %a.btn.btn-secondary{ :href => "/anrw/2023/slides-117-anrw-sessa-keynote-its-the-end-of-dram-as-we-know-it-02.pdf"}
                slides

    %tr
      %td{ :style => "width: 10em" }
        %b 10:30-11:30
      %td
        %h4.text-danger Research Papers: IoT, Programmable Networks, Network Measurement
        %div.row
          %div.col-lg-8
            %p
              %a{ name: "p58"}
              %b
                %a{ :href => "https://dl.acm.org/doi/10.1145/3606464.3606472", :referrerpolicy => "no-referrer-when-downgrade"} 
                  It’s Not Where You Are, It’s Where You Are Registered: IoT Location Impact on MUD
              %br
              Anat Bremler-Barr (Tel-Aviv University), David Hay (Hebrew University), Bar Meyuhas (Reichman University), and Shoham Danino (Reichman University)
            %div.col-lg-4.mb-3
              %a.btn.btn-secondary{ :href => "/anrw/2023/slides-117-anrw-sessa-its-not-where-you-are-its-where-you-are-registered-iot-location-impact-on-mud-01.pdf"}
                slides

        %div.row
          %div.col-lg-8
            %p
              %a{ name: "p69"}
              %b
                %a{ :href => "https://dl.acm.org/doi/10.1145/3606464.3606485", :referrerpolicy => "no-referrer-when-downgrade"} 
                  PINOT: Programmable Infrastructure for Networking
              %br
              Roman Beltiukov (UC Santa Barbara), Sanjay Chandrasekaran (UC Santa Barbara), Arpit Gupta (UC Santa Barbara), and Walter Willinger (NIKSUN, Inc.) 
            %div.col-lg-4.mb-3
              %a.btn.btn-secondary{ :href => "/anrw/2023/slides-117-anrw-sessa-pinot-programmable-infrastructure-for-networking-00.pdf"}
                slides

        %div.row
          %div.col-lg-8
            %p
              %a{ name: "i2"}
              %b
                %a{ :href => "https://dl.acm.org/doi/10.1145/3606464.3606483", :referrerpolicy => "no-referrer-when-downgrade"}
                  Crisis, Ethics, Reliability &amp; a measurement.network: Reflections on Active Network Measurements in Academia
              %br
              Tobias Fiebig (Max-Planck-Institut für Informatik)
            %div.col-lg-4.mb-3
              %a.btn.btn-secondary{ :href => "/anrw/2023/slides-117-anrw-sessa-crisis-ethics-reliability-a-measurementnetwork-reflections-on-active-network-measurements-in-academia-00.pdf"}
                slides



    %tr
      %td
        %b 11:30-13:00
      %td
        %h4.text-danger Lunch Break



    %tr
      %td
        %b 13:00-14:00
      %td
        %h4.text-danger Research Papers: Network Measurement, Security and Privacy
        %div.row
          %div.col-lg-8
            %p
              %a{ name: "p93"}
              %b
                %a{ :href => "https://dl.acm.org/doi/10.1145/3606464.3606474", :referrerpolicy => "no-referrer-when-downgrade"} 
                  Evaluating the Benefits: Quantifying the Effects of TCP Options, QUIC, and CDNs on Throughput
              %br
              Simon Bauer (Technical University of Munich), Patrick Sattler (Technical University of Munich), Johannes Zirngibl (Technical University of Munich), Christoph Schwarzenberg (Technical University of Munich), and Georg Carle (Technical University of Munich)
            %div.col-lg-4.mb-3
              %a.btn.btn-secondary{ :href => "/anrw/2023/slides-117-anrw-sessc-evaluating-the-benefits-quantifying-the-effects-of-tcp-options-quic-and-cdns-on-throughput-01.pdf"}
                slides


        %div.row
          %div.col-lg-8
            %p
              %a{ name: "i1"}
              %b
                %a{ :href => "https://dl.acm.org/doi/10.1145/3606464.3606469", :referrerpolicy => "no-referrer-when-downgrade" }
                  Mapping the Ukrainian Refugee Crisis Using Internet Measurements
              %br
              Tal Mizrahi (Technion, Israel Institue of Technology) and Jose Yallouz (Technion, Israel Institue of Technology)
            %div.col-lg-4.mb-3
              %a.btn.btn-secondary{ :href => "/anrw/2023/slides-117-anrw-sessc-mapping-the-ukrainian-refugee-crisis-using-internet-measurements-00.pdf"}
                slides

        %div.row
          %div.col-lg-8
            %p
              %a{ name: "p87"}
              %b
                %a{ :href => "https://dl.acm.org/doi/10.1145/3606464.3606481", :referrerpolicy => "no-referrer-when-downgrade"} 
                  Not-So-Low Hanging Fruit: Security and Privacy Research Opportunities for IETF Protocols
              %br
              Christopher A. Wood (Cloudflare) 
            %div.col-lg-4.mb-3
              %a.btn.btn-secondary{ :href => "/anrw/2023/slides-117-anrw-sessc-not-so-low-hanging-fruit-security-and-privacy-research-opportunities-for-ietf-protocols-00.pdf"}
                slides

    %tr
      %td
        %b 14:00-15:00
      %td
        %h4.text-danger Panel Discussion
        %div.row
          %div.col-lg-8
            %p
              %a{ name: "Panel"}
              %b
                Panel Discussion: What do we want the Internet to look like in 20 years?
              %br
              Lixia Zhang (UCLA), Christopher A. Wood (Cloudflare), Jörg Ott (Technical University of Munich)
              %br
              Moderator: Maria Apostolaki

    %tr
      %td
        %b 15:00-15:30
      %td
        %h4.text-danger Break



    %tr
      %td
        %b 15:30-17:00
      %td
        %h4.text-danger Research Papers: DNS and BGP
        %div.row
          %div.col-lg-8
            %p
              %a{ name: "i2"}
              %b
                %a{ :href => "https://dl.acm.org/doi/10.1145/3606464.3606473", :referrerpolicy => "no-referrer-when-downgrade" }
                  Lowering the Barriers to Working with Public RIR-Level Data
              %br
              Alfred Arouna (SimulaMet / OsloMet), Ioana Livadariu (SimulaMet), and Mattijs Jonker (University of Twente)
            %div.col-lg-4.mb-3
              %a.btn.btn-secondary{ :href => "/anrw/2023/slides-117-anrw-sessb-lowering-the-barriers-to-working-with-public-rir-level-data-00.pdf"}
                slides

        %div.row
          %div.col-lg-8
            %p
              %a{ name: "i2"}
              %b
                %a{ :href => "https://dl.acm.org/doi/10.1145/3606464.3606471", :referrerpolicy => "no-referrer-when-downgrade" }
                  Call for Collaboration: DNS Integrations
              %br
              Swapneel Sheth (Verisign) and Andrew Kaizer (Verisign)
            %div.col-lg-4.mb-3
              %a.btn.btn-secondary{ :href => "/anrw/2023/slides-117-anrw-sessb-call-for-collaboration-dns-integrations-00.pdf"}
                slides


        %div.row
          %div.col-lg-8
            %p
              %a{ name: "i2"}
              %b
                %a{ :href => "https://dl.acm.org/doi/10.1145/3606464.3606478", :referrerpolicy => "no-referrer-when-downgrade" }
                  Gotta Query 'Em All, Again! Repeatable Name Resolution with Full Dependency Provenance
              %br
              Johannes Naab (Technical University of Munich), Patrick Sattler (Technical University of Munich), Johannes Zirngibl (Technical University of Munich), Stephan Günther (Technical University of Munich), and Georg Carle (Technical University of Munich)
            %div.col-lg-4.mb-3
              %a.btn.btn-secondary{ :href => "/anrw/2023/slides-117-anrw-sessb-gotta-query-em-all-again-repeatable-name-resolution-with-full-dependency-provenance-01.pdf"}
                slides


        %div.row
          %div.col-lg-8
            %p
              %a{ name: "i2"}
              %b
                %a{ :href => "https://dl.acm.org/doi/10.1145/3606464.3606487", :referrerpolicy => "no-referrer-when-downgrade" }
                  Enabling Multi-hop ISP-Hypergiant Collaboration
              %br
              Cristian Munteanu (Max Planck Institute for Informatics), Oliver Gasser (Max Planck Institute for Informatics), Ingmar Poese (BENOCS), Georgios Smaragdakis (TU Delft), and Anja Feldmann (Max Planck Institute for Informatics)
            %div.col-lg-4.mb-3
              %a.btn.btn-secondary{ :href => "/anrw/2023/slides-117-anrw-sessb-enabling-multi-hop-isp-hypergiant-collaboration-01.pdf"}
                slides


        %div.row
          %div.col-lg-8
            %p
              %a{ name: "i2"}
              %b
                %a{ :href => "https://dl.acm.org/doi/10.1145/3606464.3606470", :referrerpolicy => "no-referrer-when-downgrade" }
                  Daisy: Practical Anomaly Detection in large BGP/MPLS and BGP/SRv6 VPN Networks
              %br
              Alex Huang Feng (INSA Lyon), Pierre Francois (INSA Lyon), Stéphane Frenot (INSA Lyon), Thomas Graf (Swisscom), Wanting Du (Swisscom), and Paolo Lucente (pmacct)
            %div.col-lg-4.mb-3
              %a.btn.btn-secondary{ :href => "/anrw/2023/slides-117-anrw-sessb-daisy-practical-anomaly-detection-in-large-bgpmpls-and-bgpsrv6-vpn-networks-00.pdf"}
                slides



%h2 Proceedings
%p
  %a{ :href => "https://dl.acm.org/doi/proceedings/10.1145/3606464", :referrerpolicy => "no-referrer-when-downgrade"  }
    Proceedings of the Applied Networking Research Workshop 2023
  are available from the ACM Digital Library.


%p
  Recordings of the workshop, including Q&amp;A, will be available on the
  %a{ :href => "https://youtube.com/playlist?list=PLC86T-6ZTP5hEcerLp2wZ4u1cFSqUPg3d"} IETF channel
  on YouTube.

