---
title: ANRW&nbsp;‘16 Attendee Information
menu: Attend
---

%h2 Registration

%p
  The ANRW&nbsp;‘16 takes place on Saturday, July 16, 2016 at the venue of the
  IETF-96 meeting, the
  %a{ :href => "https://www.berlin.intercontinental.com/"} InterContinental Berlin.
  This academic workshop is open to all; the registration fee is $100 USD.

%p
  %a.btn.btn-primary{ :href => "https://www.internetsociety.org/form/anrw", :role => "button" } Register & participate »

%h2 Hotel

%p
  Please refer to the
  %a{ :href => "https://ietf.org/meeting/96/hotel.html" } IETF meeting page
  for hotel booking information and
  %a{ :href => "https://ietf.org/meeting/96/index.html" } other related information.

%p
  %a.btn.btn-primary{ :href => "https://ietf.org/meeting/96/hotel.html", :role => "button" } Book hotel »
