---
title: ANRW&nbsp;‘16 Attendee Information
menu: Attend
---

%h2 Registration

%p
  The ANRW&nbsp;‘16 takes place on Saturday, July 16, 2016 in the Charlottenburg II/III room at the venue of the
  IETF-96 meeting, the
  %a{ :href => "https://www.berlin.intercontinental.com/"} InterContinental Berlin.
  This academic workshop is open to all; the registration fee is $100 USD.

%p
  %a.btn.btn-primary{ :href => "https://www.internetsociety.org/form/anrw", :role => "button" } Register & participate »

%h2 Hotel

%p
  Please refer to the
  %a{ :href => "https://ietf.org/meeting/96/hotel.html" } IETF meeting page
  for hotel booking information and
  %a{ :href => "https://ietf.org/meeting/96/index.html" } other related information.

%p
  %a.btn.btn-primary{ :href => "https://ietf.org/meeting/96/hotel.html", :role => "button" } Book hotel »

%h2.no-urlify IETF-96

%p
  Participants in the ANRW&nbsp;‘16 are encouraged to attend the IETF-96
  meeting, which will be held in the same venue, starting the day after
  the workshop. The IETF offers significant registration discounts for
  full-time students, and also offers a complimentary one-day
  %a{ :href => "https://ietf.org/meeting/96/guest-day.html" } Guest Day
  pass to IETF-96 for University Professors, Students, and Local Internet
  Society Chapter Members.

%p
  %a.btn.btn-primary{ :href => "https://ietf.org/meeting/96/guest-day.html", :role => "button" } Get free IETF guest pass »

%h2.no-urlify IETF Warm-Up! BBQ

%p
  Participants in the ANRW&nbsp;‘16 are also invited to the
  %a{ :href => "http://ietf96-warmup.realmv6.org/" } IETF Warm-Up! BBQ
  hosted by the
  Freie Universität Berlin.
  %a{ :href => "https://www.eventbrite.com/e/ietf-warm-up-bbqfreie-universitat-berlin-tickets-25924176911"} Registration
  is required, but attendance is free of charge.

%p
  %a.btn.btn-primary{ :href => "http://ietf96-warmup.realmv6.org/", :role => "button" } Attend BBQ at FU Berlin »
