---
title: ANRW&nbsp;‘16 Call for Papers
menu: CFP
---

%h1 Call for Papers

%p
  The inaugural ACM, IRTF & ISOC Applied Networking Research Workshop 2016
  (ANRW&nbsp;'16) is an academic workshop that provides a forum for researchers,
  vendors, network operators and the Internet standards community to present and
  discuss emerging results in applied networking research. It is sponsored by
  ACM SIGCOMM, the Internet Research Task Force (IRTF) and the Internet Society
  (ISOC).

%p
  Researchers should consider submitting early/emerging results that illustrate
  the scientific and engineering principles underlying the Internet
  architecture, protocols and applications; that demonstrate new capabilities,
  features, or extensions to the Internet protocol layers; that enhance our
  understanding of how Internet protocols work in real-world deployments or
  realistic testbeds; or that improve Internet security and privacy,
  scalability, performance, and robustness.

%p
  The ANRW&nbsp;'16 particularly encourages the submission of results that could
  form the basis for future engineering work in the IETF, that could change
  operational Internet practices, that can help better specify Internet
  protocols, or that could influence further research and experimentation in the
  IRTF.

%h2 Topics of Interest

%p
  Topics of interest include, but are not limited to, applied work in the
  following areas:

%ul
  %li
    Evolution of the Internet architecture and deployment of new Internetworking
    paradigms
  %li Naming, addressing, and routing for the future Internet
  %li Development and deployment of new and improved transport protocols
  %li Congestion control for heterogeneous networks and novel applications
  %li Improvements to the security and privacy of Internet protocols
  %li Studies that characterize Internet security, privacy or censorship
  %li Measuring and understanding the behavior and transparency of the Internet
  %li
    Internetworking and semantic interoperability for resource-constrained
    devices

  %li New approaches to network management, operations, and control
  %li
    Better ways of specifying protocols, including usable techniques for
    protocol verification
  %li Enabling global access to the Internet
  %li Improving the energy efficiency of the Internet
  %li Protocols and APIs for new Internet applications
  %li New approaches to decentralized mobility management
  %li Application of network programmability to the Internet


%h2 Submission Types

%p
  The ANRW accepts two types of submissions:
  %b full papers
  and
  %b short papers.

%ul
  %li
    %h4 Full papers
    %p
      Full paper submissions should be complete academic papers on the topics above
      and may contain up to
      %em six pages
      of technical content, including figures, tables,
      any appendices, etc., optionally followed by a single additional page for
      references and acknowledgments
      %em only.
    %p
      Accepted full papers will be presented and discussed in depth at the
      workshop, and will be published in the
      %a{ :href => "http://libraries.acm.org/digital-library" }
        ACM Digital Library.

  %li
    %h4 Short papers
    %p
      Short paper submissions are suitable for short position papers, for
      starting a discussion on new technical ideas, to present very early
      results, or to present other topics of interest to the community (software
      and tools, research initiatives or collaborative projects, major new
      funding vessels, etc.). They may contain up to
      %em two pages
      of content including figures, tables, any appendices, etc., optionally
      followed by a single additional page for references and acknowledgments
      %em only.
    %p
      Accepted short papers will be
      %em briefly
      presented during the workshop, and will be published in the
      %a{ :href => "http://libraries.acm.org/digital-library" }
        ACM Digital Library.
    %p
      Authors of accepted short papers may also bring a poster presenting its
      content to the workshop, for display and more in-depth discussion with
      interested participants during the breaks.

-# %a.btn.btn-primary{ :href => "https://anrw16.hotcrp.com/" }
-#   Start a submission »


%h2 Paper Novelty

%p
  Under no circumstances should authors submit previously published work, submit
  the same work simultaneously to multiple venues, or submit papers that
  plagiarize the work of other authors. The
  %a{ :href => "http://www.acm.org/publications/policies/plagiarism_policy" }
    ACM Policy and Procedures on Plagiarism
  applies to the ANRW, and action will be taken against submitters who have
  engaged in such practices.

%p
  Papers accompanied by nondisclosure agreement requests will not be considered
  for review or publication, nor ever be disclosed.


%h2 Formatting

%p
  Submissions of both types (full papers and short papers)
  %em must
  be formatted according to the
  %a{ :href => "https://www.acm.org/publications/proceedings-template"}
    ACM SIG proceedings templates.

%a.btn.btn-default{ :href => "https://www.acm.org/binaries/content/assets/publications/article-templates/sig-proceedings-template-may2015-zip.zip" } Download Latex template »

%a.btn.btn-default{ :href => "https://www.acm.org/binaries/content/assets/publications/article-templates/pubform.docx" } Download Word template »



%h2 Reviews

%p
  All submissions will be peer reviewed (single-blind). Reviews will be shared
  with the authors.

%p
  Authors and TPC members provide conflict-of-interest information. It is
  important that all authors of a submission are indicated in the submission
  system and enter any conflicts-of-interest. Broadly, a conflict of interest
  exists when:

%ul
  %li
    You are currently employed at the same organization, have been previously
    employed at the same organization within the last twelve months, or are
    going to begin employment at the same organization.

  %li
    You have a past or present professional relationship, such as thesis
    advisement, collaboration on a project, publication, or grant proposal
    within the past two years.

%p
  These are examples -- use your own good judgment.


%h2 Important Dates
= render "/anrw/2016/dates_.*"
