---
title: ANRW '16 Call for Papers
menu: CFP
is_hidden: true
---

%h1 Call for Papers

%p.lead
  ANRW particularly encourages the submission of results that could form the
  basis for future engineering work in the IETF, that could change operational
  practices, that can help better specify Internet protocols, or that could
  influence further research and experimentation in the IRTF.

%p Topics of interest include, but are not limited to, applied work relating to:

%ul
  %li Evolution of the Internet architecture and deployment of new Internetworking paradigms
  %li Naming, addressing, and routing for the future Internet
  %li Development and deployment of new transport protocols
  %li Congestion control
  %li Privacy and security of the Internet
  %li Measuring and understanding the behavior and transparency of the Internet
  %li Internetworking of things
  %li New approaches to network management, operations, and control
  %li Better protocol specifications
  %li Deployable protocols to enable global access to the Internet
  %li Improving the energy efficiency of Internet protocols
  %li New and improved Internet applications and protocols


%h2 Submission Types

%p
  The ANRW accepts three types of submissions: short papers, letters and
  posters.

%ul
  %li
    %b Paper
    submissions should be complete academic papers on the topics above and
    may contain up to
    %em six pages
    of technical content including figures, tables,
    any appendices, etc. optionally followed by a single additional page for
    references
    %em only.
    Accepted papers will be presented and discussed at the
    workshop and published in the ACM Digital Library.

  %li
    %b Letter
    submissions are suitable for position papers, for starting the a discussion
    on new ideas, or present other topics of interest to the community (software
    and tools, research initiatives or collaborative projects, major new funding
    vessels, etc.). They may contain up to
    %em two pages
    of content including
    figures, tables, any appendices, etc. optionally followed by a single
    additional page for references
    %em only.
    Accepted letters will be briefly
    presented and discussed at the workshop and published in the ACM Digital
    Library.

  %li
    %b Poster
    submissions should have their topic described in a
    %em single page,
    including
    all content and references. Accepted posters will be presented at a poster
    session at the workshop, and advertised in a lightning talk session prior to
    the poster session. Posters will
    %em not
    be published.


%h2 Formatting

%p
  Submissions of all three types (papers, letters, poster descriptions)
  %em must
  be formatted according to the
  %a{ :href => "https://www.acm.org/publications/proceedings-template"}
    ACM SIG Proceedings Templates.

%a.btn.btn-primary{ :href => "https://www.acm.org/binaries/content/assets/publications/article-templates/sig-proceedings-template-may2015-zip.zip" } Download templates »

%h2 Important Dates
#{@items['/anrw/2016/dates_.*'].compiled_content}
