---
title: ANRW&nbsp;‘16 Committees
menu: Committees
---

.col-md-6
  %h2 Program Committee
  %table.table.table-striped
    -# %thead
    -#   %tr
    -#     %th{ :colspan => 3 } Program Committee
    %tbody
      %tr
        %td Lars Eggert
        %td
          %span.label.label-default Chair
        %td NetApp
      %tr
        %td Colin Perkins
        %td
          %span.label.label-default Chair
        %td University of Glasgow
      %tr
        %td{ :colspan => 2 } Aaron Falk
        %td Akamai
      %tr
        %td{ :colspan => 2} Laurent Ciavaglia
        %td Nokia
      %tr
        %td{ :colspan => 2 } Gorry Fairhurst
        %td University of Aberdeen
      %tr
        %td{ :colspan => 2 } Stephen Farrell
        %td Trinity College Dublin
      %tr
        %td{ :colspan => 2 } Jana Iyengar
        %td Google
      %tr
        %td{ :colspan => 2 } Dirk Kutscher
        %td NEC Laboratories Europe
      %tr
        %td{ :colspan => 2 } Mirja Kühlewind
        %td ETH Zürich
      %tr
        %td{ :colspan => 2 } Al Morton
        %td AT&amp;T
      %tr
        %td{ :colspan => 2 } Jörg Ott
        %td Technische Universität München
      %tr
        %td{ :colspan => 2 } Arjuna Sathiaseelan
        %td University of Cambridge
      %tr
        %td{ :colspan => 2 } Brian Trammell
        %td ETH Zürich
      %tr
        %td{ :colspan => 2 } Lixia Zhang
        %td UCLA

  -# %a.btn.btn-default{ :href => "mailto:anrw-tpc@irtf.org", :role => "button" }
  -#   Email the program committee »

.col-md-6
  = render "/anrw/2016/sc_.*"
