%table.table
  %tbody
    %tr
      %td{ :style => 'width: "33%"' }
        %em Submission deadline
      %td
        %del
          May 16, 2016
      %td
        %span.text-danger
          %del May 23, 2016 (hard)
    %tr.warning
      %td
        %b Notification deadline
      %td{ :colspan => 2 }
        %b June 17, 2016
    %tr
      %td
        %em Camera-ready deadline
      %td{ :colspan => 2 }
        June 24, 2016
