%table.table.table-striped
  %tbody
    %tr.warning
      %td{ :style => 'width: "33%"' }
        %b Submission deadline
      %td
        %b May 16, 2016
    %tr
      %td
        %em Notification deadline
      %td
        June 17, 2016
    %tr
      %td
        %em Camera-ready deadline
      %td
        June 24, 2016
