The ANRW&nbsp;‘16 took place in the
%b.text-danger Charlottenburg II/III
room at the
%a{ :href => "https://www.berlin.intercontinental.com/"} InterContinental
in Berlin, Germany,
the venue of the IETF-96 meeting, on Saturday, July 16, 2016.
