%table.table
  %thead
    %tr
      %th{ :colspan => 2 } Steering Committee
  %tbody
    %tr
      %td Lars Eggert
      %td NetApp
    %tr
      %td Mat Ford
      %td Internet Society
    %tr
      %td Colin Perkins
      %td University of Glasgow
    %tr
      %td Renata Cruz Teixeira
      %td INRIA
