%p
  The ANRW&nbsp;’16 received financial support from these organizations:

%div.row.mb-4
  %div.col-sm-1
    &nbsp;
  %div.col-sm-3.text-center
    %a{ :href => "https://www.akamai.com/"}
      %img.img-fluid{ :src => relative_path_to("/img/Akamai-Logo-RGB.png"), :alt => "Akamai"}
  %div.col-sm-3.text-center
    %a{ :href => "https://ssiclops.eu/"}
      %img.img-fluid{ :src => relative_path_to("/img/SSICLOPS_Logo_H_2c.png"), :alt => "SSICLOPS"}
  %div.col-sm-3.text-center
    %a{ :href => "https://www.netapp.com/"}
      %img.img-fluid{ :src => relative_path_to("/img/na_logo_hrz_2c_rgb.jpg"), :alt => "NetApp"}
  %div.col-sm-2
    &nbsp;

