- loc = @item.path =~ /^\/[^\/]*$/ ? "" : @item.path.gsub(/\w+\.\w+$/, "").gsub(/[^\/\.]+/, "..").gsub(/^\//, "")

%p
  The ANRW&nbsp;'16 receives financial support from these organizations:

.row
  .col-sm-4.logo
    %span.valign-helper
    %a{ :href => "https://www.akamai.com/"}
      %img.valign{ :src => "#{loc}img/Akamai-Logo-RGB.png", :alt => "Akamai", :height => 75 }
  .col-sm-4.logo
    %span.valign-helper
    %a{ :href => "https://ssiclops.eu/"}
      %img.valign{ :src => "#{loc}img/SSICLOPS_Logo_H_2c.png", :alt => "SSICLOPS Project", :height => 50 }
  .col-sm-4.logo
    %span.valign-helper
    %a{ :href => "https://www.netapp.com/"}
      %img.valign{ :src => "#{loc}img/na_logo_hrz_2c_rgb.jpg", :alt => "NetApp", :height => 60 }

%p
  Please contact
  %a{ :href => "mailto:anrw-sc@irtf.org"} the Steering Committee
  if you are interested in supporting the ANRW&nbsp;'16. Funds are used to
  offset the fixed costs of the event and subsidize student attendance.
