
%p
  The ANRW workshop series is sponsored by the following organizations:

%div.row.mb-4
  %div.col-sm-1
    &nbsp;
  %div.col-sm-4.text-center
    %a{ href: 'https://www.sigcomm.org/' }
      %img.valign.hidden-xs{ src: relative_path_to('/img/acm.png'), alt: 'SIGCOMM', height: 75 }
  %div.col-sm-2
    &nbsp;
  %div.col-sm-4.text-center
    %a{ href: relative_path_to('/') }
      %img.valign.hidden-xs{ src: relative_path_to('/img/irtf.png'), alt: 'IRTF', height: 75 }
  %div.col-sm-1
    &nbsp;

