- unless @noblurb
  %p
    The ANRW workshop series is sponsored by the following organizations:

.row
  .col-sm-1
    &nbsp;
  .col-sm-5.text-center
    %a{ href: 'https://www.sigcomm.org/' }
      %img.valign.hidden-xs{ src: relative_path_to('/img/acm.png'), alt: 'SIGCOMM', height: 75 }
  .col-sm-5.text-center
    %a{ href: relative_path_to('/') }
      %img.valign.hidden-xs{ src: relative_path_to('/img/irtf.png'), alt: 'IRTF', height: 75 }
  .col-sm-1
    &nbsp;

