- unless @noblurb
  %p
    The ANRW workshop series is sponsored by the following organizations:

.row
  .col-sm-4.logo
    %span.valign-helper
    %a{ href: 'https://www.sigcomm.org/' }
      %img.valign.hidden-xs{ src: relative_path_to('/img/acm.png'), alt: 'SIGCOMM', height: 75 }
      %img.valign.hidden-sm.hidden-md.hidden-lg{ src: relative_path_to('/img/acm.png'), alt: 'SIGCOMM', height: 50 }
  .col-sm-4.logo
    %span.valign-helper
    %a{ href: relative_path_to('/') }
      %img.valign.hidden-xs{ src: relative_path_to('/img/irtf.png'), alt: 'IRTF', height: 75 }
      %img.valign.hidden-sm.hidden-md.hidden-lg{ src: relative_path_to('/img/irtf.png'), alt: 'IRTF', height: 50 }
-# .row
-#   .col-sm-4.logo
-#     %span.valign-helper
-#     %a{ href: 'https://www.internetsociety.org/' }
-#       %img.valign.hidden-xs{ src: relative_path_to('/img/isoc.png'), alt: 'Internet Society', height: 75 }
-#       %img.valign.hidden-sm.hidden-md.hidden-lg{ src: relative_path_to('/img/isoc.png'), alt: 'Internet Society', height: 50 }
