%p
  The ANRW workshop series is sponsored by the following organizations:

%div.row.justify-content-center
  %div.col-md-3.text-center
    %a{ href: 'https://www.sigcomm.org/' }
      %img.valign.hidden-xs{ src: relative_path_to('/img/acm.png'), alt: 'SIGCOMM', height: 60 }

  %div.col-md-3.text-center
    %a{ href: relative_path_to('/') }
      %img.valign.hidden-xs{ src: relative_path_to('/img/irtf.png'), alt: 'IRTF', height: 60 }

  %div.col-md-3.text-center
    %a{ href: 'https://akamai.org/' }
      %img.valign.hidden-xs{ src: relative_path_to('/img/Akamai-Logo-RGB.png'), alt: 'Akamai', height: 60 }

