%table.table.table-condensed
  %tbody
  -if @which == nil or @which == 'papers'
    %tr
      %td{ style: 'width: "33%"' }
        Paper submission deadline (extended)
      %td
        %del
          April 23, 2018
      / %td
      /   %span.text-danger
      /     %del
      /       April 13, 2017 (extended)
    %tr
      %td
        Paper notification deadline
      %td{ colspan:  2 }
        %del
          May 14, 2018
  -if @which == nil or @which == 'papers'
    %tr
      %td
        Camera-ready paper deadline
      %td{ colspan: 2 }
        %del
          June 15, 2018
    / %tr
    /   %td
    /     %em
    /     Early registration deadline
    /   %td{ :colspan => 2 }
    /     %del
    /       June 26, 2017
  -if @which == nil or @which == "grants"
    %tr
      %td
        Travel grants submission deadline
      %td{ :colspan => 2 }
        %del
          June 15, 2018
    %tr
      %td
        Travel grants notification deadline
      %td{ :colspan => 2 }
        %del
          June 22, 2018

    %tr.warning
      %td
        %b
          ANRW'18 at IETF 102 in Montreal
      %td{ colspan: 2 }
        %b
          %del
            July 16, 2018
