The ANRW&nbsp;’18 takes place
-# in the
-# %b.text-danger Charlottenburg II/III
-# room
-# at the
-# %a{ :href => "https://www.berlin.intercontinental.com/"} InterContinental
in Montreal, Quebec, Canada,
the venue of the
%a{ :href => "https://www.ietf.org/how/meetings/102/" } IETF-102 meeting
, on Monday, July 16, 2018.
