%p
  The ANRW&nbsp;’17 receives financial support from these organizations:

%div.row.mb-4
  %div.col-sm-1
    &nbsp;
  %div.col-sm-4
    %span.valign-helper
    %a{ :href => "https://www.comcast.com/"}
    %img.img-fluid.valign{ :src => relative_path_to("/img/Comcast_S_COLOR_BLK.jpg"), :alt => "COMCAST", :height => 75 }
  %div.col-sm-2
    &nbsp;
  %div.col-sm-4
    %span.valign-helper
    %a{ :href => "https://www.akamai.com/"}
    %img.img-fluid.valign{ :src => relative_path_to("/img/Akamai-Logo-RGB.png"), :alt => "Akamai", :height => 75 }
  %div.col-sm-1
    &nbsp;

%p
  Please contact
  %a{ :href => "mailto:anrw-sc@irtf.org"} the Steering Committee
  if you are interested in supporting the ANRW&nbsp;’17. Funds are used to
  offset the fixed costs of the event and subsidize student attendance.
