---
title: End-to-End Research Group (END2END)
---

%h2 Charter

%p The End-to-End (E2E) Research Group provides a forum for interchange of ideas and information among a group of network researchers with common interests. These researchers are primarily but not exclusively associated with the Internet.

%p The specific topics of interest to the E2E RG have changed as network research has advanced, but it is generally concerned with end-to-end services and protocols implemented in hosts, such as transport protocols and implementation architecture for high performance. The latter includes a variety of topics, e.g., presentation layer design, application-layer framing, high-performance host interfaces, and efficient protocol implementation techniques. Development of new service modes has taken the E2E group into particular Internet-layer issues, particularly multicasting as well as traffic control and scheduling. It has also led to the discussion of new application-layer services, e.g., RPC and "real-time" applications like packet voice and video.

%p Historically, the E2E RG has monitored and expedited the development of IP multicasting, VMTP, and congestion avoidance/control mechanisms. It also nucleated the planning for DARTnet, the DARPA Research Testbed network. 

%p The research group operates in a closed     fashion.  Membership is limited and at the chairs' discretion.     However, the research group maintains a public mailing list that     anyone is free to join and encourages interested parties to raise     request questions on the list.  


%h2 Chair

%p Craig Partridge, <a href="mailto:craig@aland.bbn.com">craig@aland.bbn.com</a> and Karen Sollins, <a href="mailto:sollins@csail.mit.edu">sollins@csail.mit.edu</a>.

%h2 Mailing List

%p The End-to-End Research Group maintains an open mailing list at <a href="mailto:end2end-interest@postel.org">end2end-interest@postel.org</a>.

%p List policies and subscription information may be found at <a href="http://www.postel.org/e2e.htm">http://www.postel.org/e2e.htm</a>.
