---
title: Internet Digital Rights Management Group (IDRM)
---

%h2 Charter
%p  There is considerable interest and activity in the area of Digital Rights Management (DRM) due to growth of the Internet, both in its reach and bandwidth. A number of digital content publishers see the Internet as a potential vehicle of delivery of various types of digital objects.

%p  The use of the Internet to distribute rights-managed digital objects will necessitate the introduction of new technologies, which will have an impact on the Internet architecture.  Directories,  trust, policy, transport, and security services such as key management are likely to emerge as important to IP network DRM.  Content caching as well as authorization, authentication, and accounting for rights-managed content are also issues that IDRM will investigate. 

%p  The IDRM Research Group will begin its work by surveying the area of Digital Rights Management (DRM), and develop a coherent taxonomy of problems related to DRM with their inter-relationships.  This will include surveys of work being done in R&amp;D labs and in other standards bodies and in industry groups. IDRM will approach its DRM investigation from the capabilities and needs of IP network architecture. 

%p  IDRM will not pursue research into the legal and social issues of DRM.  IDRM is concerned with legal and social issues only to the extent that they affect or constrain DRM technology.   As the IDRM RG intends to focus on technical issues, it will address technologies that promote both copy-protection and fair-use copying of digital objects.  IDRM will pursue research into DRM technology with a focus on the end-to-end and IP network infrastructure issues of DRM.

%ul
  %li delivery from the content provider to the service provider 
  %li delivery from the service provider to the end-users/consumers

%p  IDRM will investigate these "established" delivery relationships as well as new relationships that may emerge in the distribution of rights-managed content such among aggregators, CDN ASPs, and broadband access providers. 

%h2 Coordination
%p In addition to research work in IP network architecture for rights-managed content distribution, IDRM will fulfill its second mission as outlined in RFC 2014 to identify promising technology for standardization.  Thus IDRM will coordinate its work with the IETF as well as other RGs with an eye towards how existing IP network protocols and mechanisms should be used for DRM and what needed technology is missing.   IDRM will also coordinate its work with any future W3C efforts in DRM, such as in the area of XML-based rights specifications.  

%h2 Meetings
%p The IDRM Research Group is an open IRTF RG. The meetings and mailing list are open to all participants.  

%h2 Membership
%p The IDRM Research Group is an open IRTF RG. The meetings and mailing list are open to all participants. Participants are encouraged to be deeply knowledgeable of the literature and current technologies related to DRM. 

%h2 Chairs
%p Thomas Hardjono, <a href="mailto:thardjono@verisign.com">thardjono@verisign.com</a> and Mark Baugher <a href="mailto:mbaugher@cisco.com">mbaugher@cisco.com</a>

%h2 Mailing List
%p <a href="mailto:ietf-idrm-request@lists.elistx.com">ietf-idrm-request@lists.elistx.com</a>
%p In the message body put: 'subscribe'

%h2 Web-Site
%p <a href="http://www.idrm.org">www.idrm.org</a>
