---
title: Information Infrastructure Architecture Research Group (IIARG)
---

%h2 Charter
%p This IRTF research group is chartered to articulate a common architecture for information infrastructure on the Internet. This common architecture will be designed to allow greater interoperability between current and future information applications on the Internet. As individual components of the common architecture become clearer, this group will be responsible for recommending where further work on each component may be done in the IETF or the IRTF.

%p Emphasis will be placed on modularity of the architecture and the interactions between components of the architecture. Working group membership is by invitation only, and is at the sole discretion of the chair(s). Timelines and milestones will be developed by the research group.

%h2 Chair
%p Karen Sollins, <a href="mailto:sollins@lcs.mit.edu">sollins@lcs.mit.edu</a>

%h2 Mailing List
%p <a href="mailto:irtf-iia-interest@apocalypse.org">irtf-iia-interest@apocalypse.org</a>
%p To subscribe to the list: <a href="mailto:irtf-iia-interest-request@apocalypse.org">irtf-iia-interest-request@apocalypse.org</a>