---
title: Internet Measurement Research Group (IMRG)
---


%h2 Charter
%p There is considerable network measurement work being conducted within the Internet community -- both in standards bodies (e.g., IETF IPPM WG) and in various research labs.  The goal of the Internet Measurement Research Group (IMRG) is to provide a venue to:

%ol
  %li provide a forum for discussion of Internet measurement research issues, 
  %li aid in the coordination of various research projects, 
  %li assess new measurement techniques, and 
  %li increase interactions between operators, developers of measurement tools and techniques, and researchers who analyze and model Internet dynamics.
  
%p The scope includes all kinds of network measurement (active techniques, passive monitoring, end-point probing, in-network methods, network layer, transport layer, application layer, etc.).  The RG will both attempt to design new measurement techniques and analyze measurements of the network taken.  The following represent examples of the types of projects that the RG might undertake:

%ul
  %li Tackle outstanding issues dealing with measurement infrastructures     (e.g., Surveyor, NIMI), such as: scalability of meshes, security of     measurement tools in the mesh, access control, resource control,     scheduling issues.
  %li Tackle the often thorny issue of sharing measurement data within     the community.  The RG could define a systematic way for storing     measurements and any needed meta-data that should be kept with the     measurements.  In addition, the RG could foster research into systems     for remote requests for measurement, analysis, and anonymization,     facilitating a formed of reduced access to data that cannot be     directly released.    
  %li Provide a venue for assessing new measurement techniques, and a forum     for sharing preliminary findings in rough form, to encourage further     work and collaboration.    
  %li Provide a venue for developing models based on network measurements,     helping to better understand network dynamics and aiding researchers     attempting to conduct useful simulations of the network.    
  %li> Foster communication between the research and operations communities.     For example, operators could provide feedback to researchers as to     what sorts of network properties/characteristics they would like to see     measured, and how well current techniques work.    
  %li Catalog core problems that need to be addressed.  Even if the RG is     not actively working on these problems, having a "wish list" of     outstanding problems may foster work in these areas.
  
%h2 Coordination
%p The RG will provide:
%ul
  %li A venue for exploring measurement techniques before they are ready     to be standardized by the IETF (in IPPM, for instance).    
  %li A venue for discussing real world experience with IETF defined metrics     and measurement techniques.    
  %li A "measurement arm" to various IETF working groups to gain a better     understanding of how protocols work in the wild (e.g., which HTTP     capabilities are being implemented or the performance of the global     DNS system).

%h2 Membership
%p The RG operates in an open fashion (meetings &amp; mailing list).  In some cases, closed "design teams" may be used to accomplish work items that would significantly benefit from a smaller group of people, or work items that cannot be accomplished in an open group (e.g., due to data sharing issues). The status of any closed activities the RG undertakes shall be reported to the entire RG periodically.   

%h2 Meetings
%p Meetings will be held 2-3 times a year -- sometimes co-located with other events (e.g., IETF meetings, conferences, etc.) and sometimes independently. 

%h2 Chairs
%p The IMRG Chair is <a href="mailto:mallman@icir.org">Mark Allman</a>.

		  

/%h2 Mail List
/%p The email list is <a href="mailto:imrg@irtf.org">imrg@irtf.org</a>.  You need not be a list member to send mail to the list.  To subscribe, visit the <a href="https://ietf.org/mailman/listinfo/imrg"> IMRG mail page</a> or send an email to <a href="mailto:imrg-request@irtf.org"> imrg-request@irtf.org</a>.
/
/%p An archive of the email list is available at <a href="http://imrg.grc.nasa.gov/imrg/list/archive/"> IMRG mail archive</a>.

%h2 Web Site
%p The IMRG web site is at <a href="http://icir.org/imrg/">http://icir.org/imrg/</a>.


