---
title: Interplanetary Internet Research Group (IPNRG)
---

%h2 Purpose

%b The IPNRG is chartered to address the issues associated with deploying and interacting with astronomically remote, self-sustaining fragments of the Internet. These "edge Internet" fragments are generally untethered with respect to the Internet backbone and can range from single nodes with intermittent external connectivity to well populated subnetworks and internets with extremely constrained connectivity. Such fragments include remote terrestrial internets using wireless and satellite links, and in-situ internets deployed at off-Earth locations such as the surfaces and vicinities of other planets. Fragments of Internet may be found on space vehicles in transit from Earth to other planetary/solar system bodies, and may return to Earth or not, depending on the mission.

%p Among the challenges to be addressed are: extremely large delay for transmissions up to tens of Astronomical Units in size; severe asymmetry in the transmission capacity of bidirectional channels linking two communicating platforms; severe variation in interference experienced on the channel(s) - e.g. solar storms; episodic loss of connectivity owing to celestial motions of the platforms and the planets/satellites/asteroids with which they are associated. 

%p Adapting the existing or projected Earth Internet architecture to Interplanetary scale is a significant challenge however, it is also highly speculative and not yet mature enough to merit focused IETF attention as a whole. 

%p The primary focus of these efforts is: 
%ol
  %li To define mechanisms that support efficient operation and management of Internet fragments operating in non-traditional, resource constrained environments, so that available local resources are optimally utilized. 
  %li To investigate the impacts of episodic connectivity and nomadic operation on network transport and application layer operations. 
  %li To define strategies for allowing the remote Internet fragments to evolve at their own pace relative to the Internet as a whole, yet remain interoperable. 
  
%p As progress on topics matures, the IPNRG may submit proposals for work items with existing IETF working groups where applicable or recommend to the IETF that a topic be advanced into a BOF and/or working group. 

%p The group will report its progress through a publicly accessible Web site and hold at least one open meeting per year.

%h2 Coordination
%p As the scope of this working group necessarily overlaps with that of previously established IRTF and IETF working groups, as study items mature this group will coordinate activities with its peer entities whenever possible. For example, the E2E Research Group has dealt with some of the problems of high delay X bandwidth products for protocols such as TCP.

%h2 Membership
%p This group will have a diverse, though limited core membership; From time to time it will be necessary to expand the group to form broader study teams in order to address specific topics. In order to solicit information from, and supply information to, the Internet community at large, the group will hold at least one open meeting per year and will have a publicly available web site and mailing list. Membership to this group will be granted by invitation by the chair(s).

%h2 Meetings
%p IPNRG meets at least 2-3 times a year, at times and locations specific to the group rather than in coordination with other activities, and the rest of the year, work is expected to progress through online interaction.

%h2 Chairs
%p Eric Travis (<a href="mailto:travis@gst.com">travis@gst.com</a>) and Robert Rumeau (<a href="mailto:Robert.Rumeau@cnes.fr">Robert.Rumeau@cnes.fr</a>)

%h2 Mailing List
%p <a href="mailto:ipn-team@list.jpl.nasa.gov">ipn-team@list.jpl.nasa.gov</a>
%p To subscribe to the list: Send a message to <a href="mailto:travis@gst.com">travis@gst.com</a> with subject: 'subscribe ipn-team'

%h2 Web Site
%p <a href="http://www.ipnsig.org/">http://www.ipnsig.org</a>

