---
title: Internet Resource Discovery Research Group (IRD)
---

%h2 Charter

%p This IRTF research group is chartered to develop a model for resource description on the Internet, including

%ol
  %li the creation of surrogates for electronic resources for indexing, query routing, and retrieval
  %li mechanisms for the creation, maintenance, and discovery of data element sets for the surrogates
  %li technical requirements for information system components using these surrogates

%p As results appear, this group will be responsible for recommending where further work on each result might be done in the IETF or the IRTF.

%h2 Membership
%p Working group membership is by invitation only, at the sole discretion of the chair(s). Timelines and milestones will be developed by the working group.

%h2 Chairs
%p Cecilia Preston, <a href="mailto:cecilia@well.com">cecilia@well.com</a> and Clifford Lynch, <a href="mailto:cliff@cni.org">cliff@cni.org</a>

%h2 Mailing List
%p <a href="mailto:irtf-rd@cni.org">irtf-rd@cni.org</a>
%p To subscribe to the list: <a href="mailto:irtf-rd-request@cni.org">irtf-rd-request@cni.org</a>