---
title: Namespace Research Group (NSRG)
---

%h2 Charter
%p The prevalence of private address space for IPv4, and the prospect of adoption of IPv6 by at least some domains of application, mean that the traditional method of uniquely identifying an Internet end-point throughout time and space by a 32-bit registry-assigned IPv4 address is no longer universally valid. 

%p The NSRG is an invitational research group chartered exclusively to make a recommendation to the IETF about: 

%ol
  %li
    whether we should encourage specific parts of the stack to adopt a namespace other than these 32-bit numbers, so that
    %ul
      %li (a) applications may better tolerate network address translation and other forms of dynamic address allocation, and IPv6 addressing.
      %li (b) we have more independence between the internetwork and routing layer and the transport and higher layers;
  %li if so, whether we should have a single system-wide namespace for this function, or whether it makes more sense to allow various subsystems to chose the namespace that makes sense for them;
  %li and also, what namespace(s) [depending on the output of the point above] that ought to be.
  %li what implications the above has for APIs

%p Note that this is in the context of (a) IPv4, and (b) IPv6 as currently specified.  While Global, Site and End-System Designator (GSE) is not excluded, it is also not the primary focus of this group, especially given the existence of IPv4.

%h2 Deliverables
%p A document making such recommendations, with whatever background material is needed to support these recommendations. 

%h2 Milestones
%ul
  %li Nov 1999: Internet Draft of recommendations 
  %li Jan 1999: revised draft submitted for RFC publication

%h2 Chairs
%p Eliot Lear, <a href="mailto:lear@cisco.com">lear@cisco.com</a>, Steve Crocker, <a href="mailto:steve@stevecrocker.com">steve@stevecrocker.com</a> and Steve Bellovin, <a href="mailto:smb@research.att.com">smb@research.att.com</a>

%h2 Membership
%p The NSRG has been designated by the IAB as a short-lived group with a fixed task and a closed membership. There is no public list for discussions related to this group. The results from this group will be discussed in a public forum that will be announced over the public IETF list.
