---
title: Privacy and Security Research Group (PSRG)
---

%h2 Charter


%p This research group addresses issues with regard to the provision of security services in the Internet environment. The security services addressed include confidentiality, authentication, integrity, access control, non-repudiation, and availability of service. These services are considered at various layers in the communication hierarchy, but with emphasis on the network, transport and application layers. The group addresses issues only in the context of communication and processing of unclassified information. Thus, concerns that arise only in the classified arena, or issues which require a clearance to discuss due to application sensitivity, are outside the scope of this group. 
  
%p The initial focus of the group has been the design and development of secure electronic mail and its related infrastructure, which yielded the Internet Privacy Enhanced Mail (PEM) RFCs in 1989, and various successor documents. This task has transitioned to the IETF PEM working group. The current focus of the PSRG is the articulation of an Internet security architecture. The output of this effort will be a series of documents which will establish a framework for the standardization and application of security relevant protocols within the Internet environment. 
  
%p The size of the PSRG is intentionally kept small, to facilitate discussion, with approximately a 12-member limit. The IETF Security Area director also is included as an ex officio member. Members are chosen based on their expertise in the security arena, not on organizational affiliation. However, generally each organization, especially a private sector (e.g., corporate) organization, is limited to a single PSRG member, to promote diversity. 
 

%h2 Chair

%p Steve Kent, <a href="mailto:kent@bbn.com">kent@bbn.com</a>

