---
title: Reliable Multicast Research Group (RMRG)
---



%h2 Purpose
%p  The RMRG purpose is collectively to solve some hard problems about reliable multicast transport protocols.  Among the critical topics are: 

%ol
  %li Specializing protocols to their applications given the wide range of the different requirements for reliability (from none to TCP-like byte-streams, with many shades and variations in between). 
  %li Solving congestion control for RM transports; understanding the interaction among RM transports, unreliable multicasts, TCP applications, and unicast non-TCP applications. 
  %li Generalizing one-to-many reliable multicast techniques and algorithms for many-to-many protocols.  
  
%p On the level of the human organization, the RMRG strives to decrease the amount of "ships in the night" research on RM, and to increase the shared grounds of debate among the active researchers in the field.   Our outputs bearing on this goal will include a document of  "basic shared understanding" simulation scenarios and a repository of freely available simulation code for the scenarios and for other protocols being discussed by the group.

%p We actively solicit participation by the developers of RM products as those are emerging.   

%p As the discussions on our topics continue, the RMRG will from time to time recommend to the IETF that a topic be advanced into a BOF and/or working group.  We are aiming with a current task, the congestion control strawman specification, to make such a recommendation for bulk data protocols possible sooner. 
 
%h2 Coordination
%p  The RMRG is carefully coordinated with the IETF, particularly with the Transport Area Directors (and the Transport Area policies expressed in RFC 2357) and with the Reliable Multicast Transport (RMT) Working Group. Through chairs' and members' activities, we make sure to stay current with general multicast.  We also coordinate through update presentations and informal contacts with the IRTF Secure Multicast and End2End Research Groups.
 
%h2 Meetings
%p  The Reliable Multicast Research Group is an open IRTF RG. The meetings and mailing list are open to all participants. Participants are encouraged to be deeply knowledgeable of the literature and to have active related research. At times the RMRG chairs will facilitate small "design teams". An example at the time of the present charter draft is a small group that has been writing a specification for basic bulk data reliable multicast congestion control.   The culmination of design team work will be discussion and refinement by the entire RG. 
 
%h2 Membership
%p  The Reliable Multicast Research Group is an open IRTF RG. The meetings and mailing list are open to all participants. Participants are encouraged to be deeply knowledgeable of the literature and to have active related research. At times the RMRG chairs will facilitate small "design teams". An example at the time of the present charter draft is a small group that has been writing a specification for basic bulk data reliable multicast congestion control.   The culmination of design team work will be discussion and refinement by the entire RG.
  
%h2 Chairs
%p Allison Mankin, USC/ISI, and Mark Handley, ICSI/ICIR

/%h2 Mailing List
/%p <a href="mailto:rm@mash.berkeley.edu">rm@mash.berkeley.edu</a>
/%p To subscribe to the list: Send a message to <a href="mailto:majordomo@mash.berkeley.edu"> majordomo@mash.berkeley.edu</a> with message body: 'subscribe rm'

/%h2 Web Site
/%p <a href="http://www.east.isi.edu/RMRG"> http://www.east.isi.edu/RMRG</a>
/%p This site includes meeting information and minutes, and it points to the rm mailing list archives.


