---
title: Services Management Research Group (SMRG)
---

%h2 Charter


%p The convergence of network and system management into a common "Service  Management" framework is critical for the future development of the Internet and  intranets. This convergence requires the ability to manage diverse resources,  ranging from resource-limited devices (palmtops, set-top boxes, etc.) to  large-scale distributed applications, in order to permit management of the  services which they collectively provide. The Services Management research group  is chartered to investigate new architectures, information models, and  supporting protocols to enable this convergence. A specific goal is to encompass  consistent management of the increasingly diverse resources, with  correspondingly broad ranges of capabilities, that are being connected to the  Internet.
 
%p Currently Network Management and Systems Management frequently employ  different tools and technologies. An influx of large quantities of very diverse  devices is expected in the Internet. The shift in capabilities and in the sheer  number of entities to be managed may require management paradigms different from  existing ones.
 
%p The Research Group will investigate frameworks that are able to support  a rich variety of resources while also encompassing the existing solutions to  make use of the installed base. For instance, a goal would be to be able to  manage a PDA, a desktop PC, a firewall router, and an enterprise's electronic  mail service within the same framework and preferably with the same  tool(s).
 
%p To produce usable results, we ARE going to survey existing work in the  network and systems management communities. We will build on existing  frameworks, information models, and protocols for systems management and network  management, creating a framework for service management. We will examine  existing protocols, and, if necessary, identify changes to existing protocols  necessary to meet the requirements of services management.
 
%p As always, appropriate simplicity is a design goal. While the resultant  protocols may differ significantly from the original protocols, our goal is to  require minimal (or no) changes to existing elements.
 
%h2 Membership 
 
%p Membership in this research group is open to   anyone who is willing to actively participate and demonstrates an interest and   commitment to working with the group on the issues raised in the charter.
%p The group will report their progress through  regular presentations to the IETF community, a publicly accessible Web site, and  other  means.

%h2 RFCs
%p RFC 3052 Service Management Architectures Issues and Review.  M. Eder, S. Nag. January 2001.
%p RFC 3387 Considerations from the Service Management Research Group (SMRG) on Quality of Service (QoS) in the IP Network.  M. Eder, H. Chaskar, S. Nag. September 2002. 

%h2 Chairs
%p Sid Nag, <a href="mailto:thinker@monmouth.com">thinker at monmouth.com</a> and Michael Eder, Nokia Research, <a href="mailto:michael.eder@nokia.com">michael.eder at nokia.com</a> 

%h2 Mailing List
%p Members only mailing list: <a href="mailto:irtf-smrg@research.nokia.com">irtf-smrg at lists.research.nokia.com</a> 

%p To find out how to subscribe to the interest list: Send a message to <a href="mailto:irtf-smrg-request@lists.research.nokia.com"></a><a href="mailto:irtf-smrg-request@lists.research.nokia.com">irtf-smrg-request at lists.research.nokia.com</a> with only 'help' in the subject line. 

-# %h2 Web Site
-# %p <a href="http://www-nrc.nokia.com/mail-archive/irtf-smrg/">www-nrc.nokia.com/mail-archive/irtf-smrg</a> 
