%table.table.table-condensed
  %tbody
    %tr
      %td{ style: 'width: "33%"' }
        Paper submission deadline
      %td
        Coming Soon
    %tr
      %td
        Paper notification deadline
      %td{ colspan:  2 }
        Coming Soon
    %tr
      %td
        Camera-ready paper deadline
      %td{ colspan: 2 }
        Coming Soon
    %tr
      %td
        Registration opens
      %td{ :colspan => 2 }
        Coming Soon

    %tr.warning
      %td
        %b
          ANRW&nbsp;’26 workshop
      %td{ colspan: 2 }
        %b
          Tuesday, July 21, 2026

