%table.table.table-condensed
  %tbody
    %tr
      %td{ style: 'width: "33%"' }
        Paper submission deadline
      %td
        April <strike>15</strike> 22, 2024 (11:59pm AoE) <em>Extended</em>
    %tr
      %td
        Paper notification deadline
      %td{ colspan:  2 }
        June 5, 2024
    %tr
      %td
        Camera-ready paper deadline
      %td{ colspan: 2 }
        June 15, 2024
    %tr
      %td
        Registration opens
      %td{ :colspan => 2 }
        April 17, 2024

    %tr
      %td
        %a{ :href => "/travelgrants/"}
          Diversity Travel grants application deadline
      %td{ :colspan => 2 }
        May 10, 2024
    %tr
      %td
        Diversity Travel grants notification deadline
      %td{ :colspan => 2 }
        May 24, 2024

    %tr.warning
      %td
        %b
          ANRW&nbsp;’24 workshop
      %td{ colspan: 2 }
        %b
          July 23, 2024

