%table.table.table-condensed
  %tbody
    %tr
      %td{ style: 'width: "33%"' }
        Paper submission deadline
      %td
        <strike>April 21</strike> May 5, 2021 (extended)
    %tr
      %td
        Paper notification deadline
      %td{ colspan:  2 }
        <strike>May 26, 2021</strike> June 9, 2021
    %tr
      %td
        Camera-ready paper deadline
      %td{ colspan: 2 }
        <strike>June 16, 2021</strike> June 30, 2021
    %tr
      %td
        Registration opens
      %td{ :colspan => 2 }
        June 9, 2021
    %tr
      %td
        Registration closes
      %td{ :colspan => 2 }
        July 23, 2021

    %tr.warning
      %td
        %b
          ANRW&nbsp;’21 online workshop
      %td{ colspan: 2 }
        %b
          July 24-30, 2021
