%table.table.table-condensed
  %tbody
    %tr
      %td{ style: 'width: "33%"' }
        Paper submission deadline
      %td
        (tbd)
    %tr
      %td
        Paper notification deadline
      %td{ colspan:  2 }
        (tbd)
    %tr
      %td
        Camera-ready paper deadline
      %td{ colspan: 2 }
        (tbd)
    %tr
      %td
        Registration opens
      %td{ :colspan => 2 }
        (tbd)
    %tr
      %td
        Registration closes
      %td{ :colspan => 2 }
        (tbd)

    %tr.warning
      %td
        %b
          ANRW&nbsp;’21 online workshop
      %td{ colspan: 2 }
        %b
          July 24-30, 2021
