%h2 Important Dates
%table.anrp
	%tr
		%td
			Nominations open:
		%td
			<del>October 17, 2018</del>
	%tr
		%td
			Nomination deadline:
		%td
			<del>November 11, 2018</del>
	-# %tr.text-danger
	%tr
		%td
			Award notifications:
		%td
			<del>December 10, 2018</del>
