%h2 Important Dates
%table
	-#.pastdeadline
	-# %tr
	-# 	%th Nominations open:
	-# 	%td May 15, 2015
	%tr.nextdeadline
		%th Nomination deadline:
		%td October 31, 2015
	%tr
		%th Award notifications:
		%td December 1, 2015
