%h2 Important Dates
%table
  %tr
    %th Applications open:
    %td September 1, 2012
  %tr.nextdeadline
    %th Applications close:
    %td November 30, 2012
  %tr
    %th Notifications:
    %td December 20, 2012
