%h2 Important Dates
%table
  %tr
    %th Applications open:
    %td August 1, 2011
  %tr
    %th Applications close:
    %td August 28, 2011
  %tr
    %th Notifications:
    %td September 20, 2011
  %tr
    %th IETF-82 Meeting:
    %td November 13-18, 2011
