%h2 Important Dates
%table.anrp
	%tr
		%td
			Nominations open:
		%td
			October 17, 2018	
	%tr
		%td
			Nomination deadline:
		%td
			November 11, 2018
	-# %tr.text-danger
	%tr
		%td
			Award notifications:
		%td
			December <del>3</del> 10, 2018
