%h2 Important Dates
%table
  %tr.pastdeadline
    %th Applications open:
    %td April 4, 2012
  %tr.pastdeadline
    %th Applications close:
    %td May 13, 2012
  %tr.nextdeadline
    %th Notifications:
    %td June 1, 2012
