%h2 Important Dates
%table.anrp
	%tr
		%th
			%del Nominations open:
		%td
			%del May 15, 2015
	%tr
		%th
			%del Nomination deadline:
		%td
			%del November 6, 2015
	-# %tr.text-danger
	%tr
		%th
			%del Award notifications:
		%td
			%del December 8, 2015 (postponed due to extended nomination deadline)
