%h2 Important Dates
%table
  %tr.nextdeadline
    %th Applications open:
    %td May 15, 2013
  %tr
    %th Applications close:
    %td November 30, 2013
  %tr
    %th Notifications:
    %td December 20, 2013
