%h2 Important Dates
%table
	-#.pastdeadline
	%tr
		%th Nominations open:
		%td May 15, 2014
	%tr
		%th Nominations close:
		%td October 31, 2014
	%tr.nextdeadline
		%th Notifications:
		%td December 1, 2014
