%h2 Important Dates
%table.anrp
	%tr
		%td
			Nominations open:
		%td
			October 2019
	%tr
		%td
			Nomination deadline:
		%td
			24 November 2019
	-# %tr.text-danger
	%tr
		%td
			Award notifications:
		%td
			18 December 2019
