%h2 Important Dates
%table
  %tr.done 
    %th Applications open:
    %td April 11, 2011
  %tr.done
    %th Applications close:
    %td May 8, 2011
  %tr
    %th Notifications:
    %td May 31, 2011
  %tr
    %th
      %a{ :href => "http://www.ietf.org/meeting/81/index" } IETF-81
      Meeting:
    %td July 24-29, 2011
