%h2 Important Dates
%table.anrp
	%tr
		%td
			Nominations open:
		%td
			Sep 15, 2016
	%tr
		%td
			Nomination deadline:
		%td
			November 6, 2016
	-# %tr.text-danger
	%tr
		%td
			Award notifications:
		%td
			December 8, 2016
