%footer.bg-secondary
  %div.container
    %div.row.pb-4.pt-4
      - if @irtf
        %div.col-sm-2
          %p
            %a.link-light.link-underline-secondary{ :href => "https://www.ietf.org/" }
              IETF
        %div.col-sm-2
          %p
            %a.link-light.link-underline-secondary{ :href => "https://www.iab.org/" }
              IAB
        %div.col-sm-2
          %p
            %a.link-light.link-underline-secondary{ :href => "https://www.iana.org/" }
              IANA
        %div.col-sm-2
          %p
            %a.link-light.link-underline-secondary{ :href => "https://www.rfc-editor.org/" }
              RFC Editor
        %div.col-sm-2
          %p
            %a.link-light.link-underline-secondary{ :href => "https://www.ietf.org/about/administration/overview/" }
              IETF LLC
        %div.col-sm-2
          %p
            %a.link-light.link-underline-secondary{ :href => "https://trustee.ietf.org/" }
              IETF Trust
      - else
        %div.col-sm-12
          %p
            &nbsp;

-#      %div.col-sm-4.text-right
-#        Modified:
-#        %time{ :datetime => "#{item[:mtime].strftime('%F')}" }
-#          #{item[:mtime].strftime('%F')}
