%footer.footer
  .container-fluid
    .row
      - if @irtf
        .col-xs-2.text-muted.small
          IRTF sponsors:
        .col-xs-2.text-muted.small
          %a{ :href => "https://ietf.org/" }
            %img.img-responsive{ :src => relative_path_to("/img/ietf.png"),
                  :alt => "Internet Engineering Task Force (IETF)" }
        .col-xs-2.text-muted.small
          %a{ :href => "https://www.internetsociety.org/" }
            %img.img-responsive{ :src => relative_path_to("/img/isoc.png"),
                  :alt => "Internet Society (ISOC)" }
      - else
        .col-xs-6

      .col-xs-6.text-right.text-muted.small
        Modified:
        %time{ :datetime => "#{item[:mtime].strftime('%F')}" }
          #{item[:mtime].strftime('%F')}
