-# Skip navigation link for screen readers
#skip
  %a{ :href => "#content" } Skip navigation

-# Navigation
%h2
  %a{ :href => @loc + "groups" } Research Groups
%ul
  - $rgs.values.sort.each do |rg|
    %li= rg.url(@loc)

%h2 Other Activities
%ul
  %li
    %a{ :href => @loc + "anrp" } Applied Networking Research Prize

%h2 Internet Research Steering Group
%ul
  %li
    %a{ :href => @loc + "chair" } IRTF Chair
%ul
  %li
    %a{ :href => @loc + "irsg" } IRSG Members


%h2 IPR
%ul
  %li
    %a{ :href => @loc + "ipr" } Intellectual Property Rights

%h2 Sponsors
%ul
  %li
    %a{ :href => "http://ietf.org/" }
      %img{ :src => @loc + "img/ietf.png", :width => 100,
            :alt => "Internet Engineering Task Force (IETF)" }
  %li
    %a{ :href => "http://isoc.org/" }
      %img{ :src => @loc + "img/isoc.png", :width => 100,
            :alt => "Internet Society (ISOC)" }
