%h2 Research Groups
%ul
  - $rgs.values.sort.each do |rg|
    %li= rg.url(@loc)

%h2 Other Activities
%ul
  %li
    %a{ :href => @loc + "anrp" } Applied Networking Research Prize

%h2 Internet Research Steering Group
%ul
  %li
    %a{ :href => @loc + "chair" } IRTF Chair
%ul
  %li
    %a{ :href => @loc + "irsg" } IRSG Members

%h2 Sponsors
%ul
  %li
    %a{ :href => "http://www.ietf.org/" }
      %img{ :src => @loc + "img/ietf.png", :width => 100, :height => 53,
            :alt => "Internet Engineering Task Force (IETF)" }
  %li
    %a{ :href => "http://www.isoc.org/" }
      %img{ :src => @loc + "img/isoc.png", :width => 100, :height => 40,
            :alt => "Internet Society (ISOC)" }