%h2 Research Groups
%ul
  - $rgs.values.sort.each do |rg|
    %li= rg.url

%h2 Internet Research Steering Group

%p
  %a{ :href => "chair" } IRTF Chair

%p
  %a{ :href => "irsg" } IRSG Members

%h2 Sponsors
%p
  %a{ :href => "http://www.ietf.org/" }
    %img{ :src => "img/ietf.png", :width => 100, :height => 53,
          :alt => "Internet Engineering Task Force (IETF)" }
%p
  %a{ :href => "http://www.isoc.org/" }
    %img{ :src => "img/isoc.png", :width => 100, :height => 40,
          :alt => "Internet Society (ISOC)" }
