%nav.navbar.navbar-expand-sm.navbar-light.bg-light
  %div.container
    %a.navbar-brand{"href": relative_path_to("/") } IRTF

    %button.navbar-toggler{"type": "button", "data-bs-toggle": "collapse", "data-bs-target": "#collapsibleNavbar"}
      %span.navbar-toggler-icon

    %div.collapse.navbar-collapse#collapsibleNavbar
      %ul.navbar-nav
        %li.nav-item.dropdown
          %a.nav-link.dropdown-toggle{"href": "#", "role": "button", "data-bs-toggle": "dropdown"} Research Groups
          %ul.dropdown-menu
            - $rgs.values.sort.each do |rg|
              %li
                %a.dropdown-item{"href": relative_path_to("/" + rg.acronym.downcase + ".html")} #{rg.acronym}
            %li
              %hr.dropdown-divider
            %li
              %a.dropdown-item{"href": relative_path_to("/groups.html")} All Research Groups

        %li.nav-item.dropdown
          %a.nav-link.dropdown-toggle{ "href": "#", "role": "button", "data-bs-toggle": "dropdown"} Workshops &amp; Prizes
          %ul.dropdown-menu
            %li
              %a.dropdown-item{"href": relative_path_to("/anrp/") } Applied Networking Research Prize
            %li
              %a.dropdown-item{"href": relative_path_to("/anrw/")} Applied Networking Research Workshop
            %li
              %a.dropdown-item{"href": relative_path_to("/raim-2015.html")} RAIM 2015

        %li.nav-item.dropdown
          %a.nav-link.dropdown-toggle{ "href": "#", "role": "button", "data-bs-toggle": "dropdown"} Grants
          %ul.dropdown-menu
            %li
              %a.dropdown-item{"href": relative_path_to("/travelgrants/")} Travel Grants
              %a.dropdown-item{"href": relative_path_to("/feewaivers.html")} Fee Waivers

        %li.nav-item.dropdown
          %a.nav-link.dropdown-toggle{ "href": "#", "role": "button", "data-bs-toggle": "dropdown"} People
          %ul.dropdown-menu
            %li
              %a.dropdown-item{"href": relative_path_to("/chair.html")} IRTF Chair
            %li
              %a.dropdown-item{"href": relative_path_to("/irsg.html")} Steering Group

        %li.nav-item.dropdown
          %a.nav-link.dropdown-toggle{ "href": "#", "role": "button", "data-bs-toggle": "dropdown"} Policies
          %ul.dropdown-menu
            %li
              %a.dropdown-item{"href": relative_path_to("/policies/")} Policies and Procedures
            %li
              %a.dropdown-item{"href": relative_path_to("/policies/ipr.html")} Intellectual Property Rights
            %li
              %a.dropdown-item{"href": "https://www.ietf.org/blog/ietf-anti-harassment-policy/"} Anti-Harassment Policy
            %li
              %a.dropdown-item{"href": "https://ietf.org/privacy-statement/"} Privacy Policy


