.clear
%ul.tiled
  - $oldrgs.keys.sort.each do |rg|
    %li
      %a.oldtile{ :href => @loc + "concluded/#{rg}" }
        -#, :title => $oldrgs[rg] }
        %span.acronym= rg.upcase
        %span.name= $oldrgs[rg]
.clear
