.row
  - $oldrgs.keys.sort.each do |rg|
    .col-lg-2.col-md-3.col-sm-4.col-xs-6
      %a{ :href => relative_path_to("/concluded/#{rg}") }
        .thumbnail.rg
          .text-center
            %b= rg.upcase
          .text-center
            %small
              %em= $oldrgs[rg].respond_to?("name") ? $oldrgs[rg].name : $oldrgs[rg]
