%ul.tiled
  - $oldrgs.keys.sort.each do |rg|
    %li
      %a.oldtile{ :href => @loc + "concluded/#{rg}" }
        %span.acronym= rg.upcase
        %span.name= $oldrgs[rg].respond_to?("name") ? $oldrgs[rg].name : $oldrgs[rg]