%div.row
  - $oldrgs.keys.sort.each do |rg|
    %div.card.col-sm-2.text-center.bg-light.text-muted
      %div.card-body
        %div.card-body
          %a.btn.btn-secondary{:href => relative_path_to("/concluded/#{rg}.html")}
            #{rg.upcase}
          %p.card-text
            %a.link-underline-light.text-secondary{:href => relative_path_to("/concluded/#{rg}.html")}
              #{$oldrgs[rg].respond_to?("name") ? $oldrgs[rg].name : $oldrgs[rg]}
