.row
  - $rgs.values.sort.each do |rg|
    .col-sm-4.col-xs-6
      %a{ :href => "https://datatracker.ietf.org/rg/" + rg.acronym.downcase + "/about/" }
        .thumbnail.rg
          .text-center
            %b=rg.acronym.upcase
          .text-center
            %small
              %em=rg.name
    .clearfix.visible-xs-inline-block.visible-sm-inline-block.visible-md-inline-block.visible-lg-inline-block