- $rgs.values.sort.each_slice(3) do |rg_row|
  %div.row
    - rg_row.each do |rg|
      %div.card.col-sm-4.text-center.bg-light.text-dark
        %div.card-body
          %a.btn.btn-secondary{ "href": relative_path_to("/" + rg.acronym.downcase + ".html")}
            #{rg.acronym.upcase}
          %p.card-text
            %a.link-underline-light.text-secondary{ "href": relative_path_to("/" + rg.acronym.downcase + ".html")}
              #{rg.name}
