.clear
%ul.tiled
  - $rgs.values.sort.each do |rg|
    %li
      %a.tile{ :href => rg.acronym.downcase }
        -#, :title => rg.name }
        %span.acronym= rg.acronym.upcase
        %span.name= rg.name
.clear
