-# Facebook
%script{ :src => "http://connect.facebook.net/en_US/all.js#xfbml=1" }

-# Twitter
%script{ :src => "http://platform.twitter.com/widgets.js" }          

-# Google Analytics
%script
  var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
  document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
  try{ 
  var pageTracker = _gat._getTracker("UA-53860-11");
  pageTracker._trackPageview();
  } catch(err) {} 

