%script{ :src => relative_path_to("/js/jquery.min.js") }
%script{ :src => relative_path_to("/js/bootstrap.js") }

:javascript
  $.getJSON("#{relative_path_to("/ipv6.json")}", function(data) {
    if (data.ipv6) {
      $("#ipv6").append("Thank you for using IPv6.");
    }
  });

:javascript
  (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
  function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
  e=o.createElement(i);r=o.getElementsByTagName(i)[0];
  e.src='https://www.google-analytics.com/analytics.js';
  r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
  ga('create','UA-53860-11','auto');ga('send','pageview');

:javascript
$(function () {
  $('[data-toggle="popover"]').popover()
})
