%table.table.table-condensed
  %tbody
    %tr
      %td{ style: 'width: "33%"' }
        Paper submission deadline
      %td
        <strike>12</strike> 19 May 2023 (11:59pm AoE)
    %tr
      %td
        Paper notification deadline
      %td{ colspan:  2 }
        5 June 2023
    %tr
      %td
        Camera-ready paper deadline
      %td{ colspan: 2 }
        30 June 2023
    %tr
      %td
        Registration opens
      %td{ :colspan => 2 }
        8 May 2023

    %tr
      %td
        Travel grants application deadline
      %td{ :colspan => 2 }
        15 May 2023
    %tr
      %td
        Travel grants notification deadline
      %td{ :colspan => 2 }
        22 May 2023

    %tr.warning
      %td
        %b
          ANRW&nbsp;’23 workshop
      %td{ colspan: 2 }
        %b
          24 July 2023

