---
title: ANRW&nbsp;’18 Call for Papers
menu: Call for Papers
other: false
---

%h1
  Call for Papers
%p
  The ACM, IRTF & ISOC Applied Networking Research Workshop 2018 (ANRW’18) is an academic workshop that provides a forum for researchers, vendors, network operators, and the Internet standards community to present and discuss emerging results in applied networking research. Our other goal is to create a path for <strong>academics to transition research back into the IETF standards and protocols</strong> and for academics to find inspiration from topics and open problems addressed at the IETF.
%p
  <strong>We are particularly interested in topics that focus on wide-area networks and network security</strong>, but applied networking topics outside of these focus areas (see below) are also welcome.
%p
  The conference will consist of a mix of invited talks, submitted talks, and submitted short papers.  Invited talks, covering topics including <a href="http://www.inspire.edu.gr/artemis/paper2017.pdf">BGP security</a>, <a href="https://conferences.sigcomm.org/imc/2017/papers/imc17-final99.pdf">TCP congestion control</a>, <a href="https://arxiv.org/abs/1710.11583">self-running networks</a> and <a href="https://www.microsoft.com/en-us/research/publication/run-walk-crawl-towards-dynamic-link-capacities/">optical networking</a> have already been announced on the ANRW website.
%ul
  %li
    <strong>Submitted talks</strong> are not-for-publication <strong>resubmissions</strong> of works that have been published elsewhere during the last 12 months. For a talk to be considered for presentation, please submit an extended abstract that is no longer than 2 pages.
  %li
    <strong>Short papers</strong> are publications that present new research that has not been previously published. For a short paper to be considered for publication, please submit work describing early/emerging results in a relevant topic area. There is a 6-page limit for short papers.
%p
  The ANRW’18 particularly encourages the submission of results that could form the basis for future engineering work in the IETF, that could change operational Internet practices, that can help better specify Internet protocols, or that could influence further research and experimentation in the IRTF. ANRW ‘18 is sponsored by ACM SIGCOMM, the Internet Research Task Force (IRTF) and the Internet Society (ISOC).
%h2
  Topics of Interest
%p
  Topics of interest include, but are not limited to, applied work in the following areas:
%ul
  %li
    Wide-area topics that include:
    %ul
      %li
        Development and deployment of new and improved transport protocols
      %li
        Congestion control for heterogeneous networks and novel applications
      %li
        Measurement and analysis of existing or new routing approaches
      %li
        Evolution of interconnection, network management practices
      %li
        Integration of programmable networking into the wide area
      %li
        Interactions between emergent applications and existing network deployments
      %li
        Approaches for wide-area monitoring, root-cause analysis, and debugging
      %li
        Measuring and understanding the behavior and transparency of the Internet
      %li
        Deployment and evolution of DNS, CDNs, anycast, and other wide-area services 
  %li
    Security topics that include:
    %ul
      %li
        Improvements to the security and privacy of Internet protocols
      %li
        Measurements and analysis of existing, deployed secure protocols
      %li
        New secure protocols
      %li
        Measurements and analysis of wide-area privacy risks and remediation
      %li
        Adoption and evolution of secure protocols
      %li
        Attack vectors such as IP spoofing and BGP hijacking
      %li
        Censorship
      %li
        Trust and trust management
      %li
        Topics in applied cryptography that are relevant to the standardization activities of the IETF (and the CFRG in particular)
  %li
    Other areas of applied networking:
    %ul
      %li
        New approaches to network management, operations, and control
      %li
        Better ways of specifying protocols, including usable techniques for protocol verification
      %li
        Internet access in challenging environments
      %li
        Protocols and APIs for new Internet applications
      %li
        Approaches towards decentralizing and democratizing the Internet
      %li
        Evolving Internet architecture and deployment of new Internet working paradigms

%h2
  Submission Types
%p
  The ANRW accepts two types of submissions: <strong>talks</strong> and <strong>short papers</strong>.  <strong>Submissions are not anonymous</strong>.  Authors of accepted talks and short papers may also bring a poster presenting its content to the workshop, for display and more in-depth discussion with interested participants during the breaks.
%ul
  %li
    %h4
      Talks
    %p
      Talk submissions can (optionally) be not-for-publication resubmissions of works that have been published elsewhere during the last 12 months. They may contain up to two pages of technical content, including figures, tables, appendices, etc. plus unlimited pages for references and acknowledgements only. The two page limit is strictly enforced, even a single line exceeding two pages will lead to rejection without review. We expect talk submissions to describe the research at a high enough level to assess whether a talk on the topic would be suitable for the  audience.  Authors may also optionally attach the published paper or technical report backing the submission; this attachment is for reference only and may not be reviewed.
    %p
      Accepted talks can be presented without publication; however, authors can publish their extended abstract in the <a href="https://libraries.acm.org/digital-library">ACM Digital Library</a> if desired.
  %li
    %h4
      Short papers
    %p
      Short paper submissions are suitable for short position papers, for starting a discussion on new technical ideas, to present very early results, or to present other topics of interest to the community (software and tools, research initiatives or collaborative projects, major new funding vessels, etc.). They may contain up to six pages of content including figures, tables, any appendices, etc., optionally followed by a single additional page for references and acknowledgments only.
    %p
      Accepted short papers will be presented during the workshop, and will be published in the <a href="https://libraries.acm.org/digital-library">ACM Digital Library</a>.

%a.btn.btn-primary{ href: 'https://anrw18.hotcrp.com/' } Start a submission »

%h2
  Paper Novelty
%p
  An accepted talk <strong>that is not published</strong> can be based on previously published work, or can describe work currently under submission to another venue. 
%p
  An accepted paper <strong>that is published</strong> must not be based on previously published work, and cannot describe work that is currently under submission to another venue.  An accepted paper that is published also must not plagiarize the work of its authors or of any other authors.  The <a href="https://www.acm.org/publications/policies/plagiarism">ACM Policy and Procedures on Plagiarism</a> applies to the ANRW, and action will be taken against submitters who have engaged in such practices.
%p
  Papers accompanied by nondisclosure agreement requests will not be considered for review or publication, nor ever be disclosed.

%h2
  Formatting
%p
  All submissions must satisfy the following requirements:
%ul
  %li
    Short papers: up to 6 pages for technical content (including appendices) + unlimited pages for references and acknowledgements.  
  %li
    Submitted talks: up to 2 pages for technical content + unlimited pages references and acknowledgements. Authors may optionally provide an attachment for reference purposes that will not be reviewed. 
  %li
    10-point font for main text; font used in other places (e.g., figures) should be no smaller than 9 point
  %li
    Two-column format, with the size of each column being at most 3.33 x 9.25 inches and the space between columns being at least 0.33 inches letter page size (8.5 x 11 inches)
  %li
    Include names and affiliations of all authors on the title page (no anonymization).
%p
  Submissions that do not comply with these requirements will be rejected without review. It is your responsibility to ensure that 	your submission satisfies the above requirements. If you are using LaTeX, you can make use of <a href="https://github.com/scyue/latex-sigcomm18">this template for ACM conference proceedings</a>. Unlike the official template, it only includes an example for conference proceedings. <strong>Note that you must change from the default 9-point format to 10-point text.</strong>

%h2
  Reviews

%p
  All submissions will be peer reviewed (single-blind). Reviews will be shared with the authors. 

%p
  Authors and TPC members provide conflict-of-interest information. It is important that all authors of a submission are indicated in the submission system and that all authors enter any conflicts of interest. Broadly, a conflict of interest exists when:

%ul
  %li
    You are currently employed at the same organization, have been previously employed at the same organization within the last twelve months, or are going to begin employment at the same organization.
  %li
    You have a past or present professional relationship, such as thesis advisement, collaboration on a project, publication, or grant proposal within the past two years.

%p
  These are examples – use your own good judgment.

%h2
  Important Dates
= render '/anrw/2018/dates_.*', which: 'papers'

%h2
  Program Committee

%p
  David Choffnes (chair), Northeastern University
%p
  Sharon Goldberg (chair), Boston University
%p
  Cristel Pelsser, Université de Strasbourg
%p
  Cristina Nita Rotaru, Northeastern University
%p
  Daniel Kahn Gillmor,    ACLU
%p
  Nick Feamster, Princeton University
%p
  Nick Sullivan, Cloudflare
%p
  Phillipa Gill, U. Mass Amherst
%p
  Roland van Rijswijk-Deij, University of Twente
%p
  Stephen Farrell, Trinity College Dublin
%p
  Walter Willinger, NIKSUN, Inc.


-# %p
-#   The second edition of the ACM, IRTF & ISOC Applied Networking Research Workshop
-#   2017 (ANRW’17) is an academic workshop that provides a forum for researchers,
-#   vendors, network operators and the Internet standards community to present and
-#   discuss emerging results in applied networking research. It is sponsored by ACM
-#   SIGCOMM,  the Internet Research Task Force (IRTF) and the Internet Society
-#   (ISOC).
-# 
-# %p
-#   Researchers should consider submitting early/emerging results that illustrate
-#   the scientific and engineering principles underlying the Internet architecture,
-#   protocols and applications; that demonstrate new capabilities, features, or
-#   extensions to the Internet protocol layers; that enhance our understanding of
-#   how Internet protocols work in real-world deployments or realistic test-beds; or
-#   that improve Internet security and privacy, scalability, performance, and
-#   robustness.
-# 
-# %p
-#   The ANRW’17 particularly encourages the submission of results that could form
-#   the basis for future engineering work in the IETF, that could change operational
-#   Internet practices, that can help better specify Internet protocols, or that
-#   could influence further research and experimentation in the IRTF.
-# 
-# %h2 Topics of Interest
-# 
-# %p
-#   Topics of interest include, but are not limited to, applied work in the
-#   following areas:
-# 
-# %ul
-#   %li
-#     Evolving Internet architecture and deployment of new Internet working paradigms
-#   %li Naming, addressing, and routing for the (future) Internet
-#   %li Development and deployment of new and improved transport protocols
-#   %li Congestion control for heterogeneous networks and novel applications
-#   %li Improvements to the security and privacy of Internet protocols
-#   %li Studies that characterize Internet security, privacy or censorship
-#   %li Measuring and understanding the behavior and transparency of the Internet
-#   %li
-#     Internetworking and semantic interoperability for resource-constrained
-#     devices
-# 
-#   %li New approaches to network management, operations, and control
-#   %li
-#     Better ways of specifying protocols, including usable techniques for
-#     protocol verification
-#   %li Enabling global access to the Internet
-#   %li Improving the energy efficiency of the Internet
-#   %li Protocols and APIs for new Internet applications
-#   %li New approaches to decentralized mobility management
-#   %li Application of network programmability to the Internet
-#   %li Approaches towards decentralizing and democratizing the Internet
-#   %li Systems and protocols that enable extending the reach of the Internet
-# 
-# 
-# %h2 Submission Types
-# 
-# %p
-#   The ANRW accepts two types of submissions:
-#   %b full papers
-#   and
-#   %b short papers.
-# 
-# %ul
-#   %li
-#     %h4 Full papers
-#     %p
-#       Full paper submissions describe original research on the topics above
-#       and may contain up to
-#       %em six pages of technical content, including
-#       figures, tables, appendices, etc. plus unlimited pages for references and
-#       acknowledgements only.  The six page limit is
-#       %em strictly enforced, even
-#       a single line exceeding six pages will lead to rejection without review.
-#       We expect full papers to contain at least a preliminary evaluation.
-# 
-#     %p
-#       Accepted full papers will be presented and discussed in depth at the
-#       workshop, and will be published in the
-#       %a{ :href => "http://libraries.acm.org/digital-library" }
-#         ACM Digital Library.
-# 
-#   %li
-#     %h4 Short papers
-#     %p
-#       Short paper submissions are suitable for short position papers, for
-#       starting a discussion on new technical ideas, to present very early
-#       results, or to present other topics of interest to the community (software
-#       and tools, research initiatives or collaborative projects, major new
-#       funding vessels, etc.). They may contain up to
-#       %em two pages
-#       of content including figures, tables, any appendices, etc., optionally
-#       followed by a single additional page for references and acknowledgments
-#       %em only.
-#     %p
-#       Accepted short papers will be
-#       %em briefly
-#       presented during the workshop, and will be published in the
-#       %a{ :href => "http://libraries.acm.org/digital-library" }
-#         ACM Digital Library.
-#     %p
-#       Authors of accepted short papers should also bring a poster presenting its
-#       content to the workshop, for display and more in-depth discussion with
-#       interested participants during the breaks.
-# 
-# %a.btn.btn-primary{ :href => "https://anrw17.hotcrp.com/" }
-#   Start a submission »
-# 
-# 
-# %h2 Paper Novelty
-# 
-# %p
-#   Under no circumstances should authors submit previously published work, submit
-#   the same work simultaneously to multiple venues, or submit papers that
-#   plagiarize the work of other authors. The
-#   %a{ :href => "http://www.acm.org/publications/policies/plagiarism_policy" }
-#     ACM Policy and Procedures on Plagiarism
-#   applies to the ANRW, and action will be taken against submitters who have
-#   engaged in such practices.
-# 
-# %p
-#   Papers accompanied by nondisclosure agreement requests will not be considered
-#   for review or publication, nor ever be disclosed.
-# 
-# 
-# %h2 Formatting
-# 
-# %p
-#   Submissions of both types (full papers and short papers)
-#   %em must
-#   be formatted according to the
-#   %a{ :href => "https://www.acm.org/publications/proceedings-template"}
-#     ACM SIG proceedings templates, using the default 9pt font.
-# 
-# %a.btn.btn-primary{ :href => "https://www.acm.org/binaries/content/assets/publications/consolidated-tex-template/acmart.zip" } Download Latex template (sig-alternate-12-2016) »
-# 
-# %a.btn.btn-primary{ :href => "https://www.acm.org/binaries/content/assets/publications/consolidated-tex-template/acm_windows_word_template.zip" } Download Word template »
-# 
-# %a.btn.btn-primary{ :href => "https://www.acm.org/binaries/content/assets/publications/consolidated-tex-template/acm_mac_2011_word_template.zip" } Download Word template (Mac) »
-# 
-# %h2 Reviews
-# 
-# %p
-#   All submissions will be peer reviewed (single-blind). Reviews will be shared
-#   with the authors.
-# 
-# %p
-#   Authors and TPC members provide conflict-of-interest information. It is
-#   important that all authors of a submission are indicated in the submission
-#   system and enter any conflicts-of-interest. Broadly, a conflict of interest
-#   exists when:
-# 
-# %ul
-#   %li
-#     You are currently employed at the same organization, have been previously
-#     employed at the same organization within the last twelve months, or are
-#     going to begin employment at the same organization.
-# 
-#   %li
-#     You have a past or present professional relationship, such as thesis
-#     advisement, collaboration on a project, publication, or grant proposal
-#     within the past two years.
-# 
-# %p
-#   These are examples -- use your own good judgment.
-# 
-# 
-# %h2 Important Dates
-# = render "/anrw/2017/dates_.*", :which => "papers"
