---
title: ANRW&nbsp;’18 Committees
menu: Committees
---

.col-md-6
  %h2 Program Committee
  %table.table.table-striped
    %tbody

      %tr
        %td David Choffnes
        %td
          %span.label.label-default Chair
        %td Northeastern University
      %tr
        %td Sharon Goldberg
        %td
          %span.label.label-default Chair
        %td Boston University
      %tr
        %td{ :colspan => 2} Stephen Farrell
        %td Trinity College Dublin
      %tr
        %td{ :colspan => 2 } Nick Feamster
        %td Princeton
      %tr
        %td{ :colspan => 2 } Phillipa Gill
        %td U. Mass Amherst
      %tr
        %td{ :colspan => 2 } Daniel Kahn Gillmor
        %td ACLU
      %tr
        %td{ :colspan => 2 } Cristel Pelsser
        %td Université de Strasbourg
      %tr
        %td{ :colspan => 2 } Roland van Rijswijk-Deij
        %td University of Twente
      %tr
        %td{ :colspan => 2 } Cristina Nita Rotaru
        %td Northeastern University
      %tr
        %td{ :colspan => 2 } Nick Sullivan
        %td Cloudflare
      %tr
        %td{ :colspan => 2 } Walter Willinger
        %td Niksun
-# 
-#   -# %a.btn.btn-default{ :href => "mailto:anrw-tpc@irtf.org", :role => "button" }
-#   -#   Email the program committee »
-# 
.col-md-6
  = render "/anrw/2018/sc_.*"
