---
title: ANRW&nbsp;’18 Posters
menu: Posters
---

-# %p
-#   The workshop is open to all;
-#   %a{ :href => "https://www.internetsociety.org/form/anrw" }
-#     registration and payment of the registration fee
-#   is however required.

%h1 Workshop Posters

- json = "content/anrw/2018/anrw18-posters-data.json"
%table.table.table-striped.no-urlify
  %thead
    %tr
      %th
        Poster
  %tbody
    %tr
      %td
        %p
          %b
            %a{:href=>"https://dl.acm.org/authorize?N666177",
               :referrerpolicy => "no-referrer-when-downgrade"}
              Building a Threshold Cryptographic Distributed HSM with Docker Containers
          %br
            Caterina Munoz (INRIA Chile), 
            Francisco Montoto (NIC Labs, Universidad de Chile), 
            Francisco Cifuentes (NIC Labs, Universidad de Chile), 
            and 
            Javier Bustos-Jiménez (NIC Labs, Universidad de Chile)

        %p
          %b
            %a{:href=>"https://dl.acm.org/authorize?N666171",
               :referrerpolicy => "no-referrer-when-downgrade"}
              RobE: Robust Connection Establishment for Multipath TCP
          %br
            Markus Amend (Deutsche Telekom), Veseling Rakocevic (City
            University of London), Andreas Matz (THM University of Applied
            Sciences), and Eckard Bogenfeld (Deutsche Telekom)

        %p
          %b
            %a{:href=>"https://dl.acm.org/authorize?N666178",
               :referrerpolicy => "no-referrer-when-downgrade"}
              Metrics for access network selection
          %br
            Theresa Enghardt (TU Berlin), Philipp S. Tiesel (TU Berlin),
            and Anja Feldmann (Max Planck Institute for Informatics)

        %p
          %b
            %a{:href=>"https://dl.acm.org/authorize?N666179",
               :referrerpolicy => "no-referrer-when-downgrade"}
              Practical Challenge-Response for DNS
          %br
            Rami Al-Dalky (Case Western Reserve University), Michael
            Rabinovich (Case Western Reserve University), and Mark Allman
            (ICSI)

        %p
          %b
            %a{:href=>"https://dl.acm.org/authorize?N666174",
               :referrerpolicy => "no-referrer-when-downgrade"}
              User Space Network Drivers.
          %br
            Paul Emmerich (Technical University of Munich), Maximilian
            Pudelko (Technical University of Munich), Simon Bauer
            (Technical University of Munich), and Georg Carle (Technical
            University of Munich)


        %p
          %b
            %a{:href=>"https://dl.acm.org/authorize?N666186",
               :referrerpolicy => "no-referrer-when-downgrade"}
              Automated Attack Discovery in TCP Congestion Control Using a
              Model-guided Approach
          %br
            Samuel Jero (Purdue University), Endadul Hoque (Florida
            International University), David Choffnes (Northeastern
            University), Alan Mislove (Northeastern University), and
            Cristina Nita-Rotaru (Northeastern University).

        %p
          %b
            %a{:href=>"https://dl.acm.org/authorize?N666160",
               :referrerpolicy => "no-referrer-when-downgrade"}
              Restructuring Endpoint Congestion Control
          %br
            Akshay Narayan (MIT CSAIL), Frank Cangialosi (MIT CSAIL),
            Deepti Raghavan (MIT CSAIL), Prateesh Goyal (MIT CSAIL),
            Srinivas Narayana (MIT CSAIL), Radhika Mittal (UC Berkeley),
            Mohammad Alizadeh (MIT CSAIL), and Hari Balakrishnan (MIT
            CSAIL)

        %p
          %b
            %a{:href=>"https://dl.acm.org/authorize?N666170",
               :referrerpolicy => "no-referrer-when-downgrade"}
              Elasticity Detection: A Building Block for Delay-Sensitive
              Congestion Control
          %br
            Prateesh Goyal (MIT CSAIL), Akshay Narayan (MIT CSAIL), Frank
            Cangialosi (MIT CSAIL), Deepti Raghavan (MIT CSAIL), Srinivas
            Narayana (MIT CSAIL), Mohammad Alizadeh (MIT CSAIL), and Hari
            Balakrishnan (MIT CSAIL)

        %p
          %b
            %a{:href=>"https://dl.acm.org/authorize?N666175",
               :referrerpolicy => "no-referrer-when-downgrade"}
              DeadBolt: Securing IoT Deployments
          %br
            Ronny Ko (Harvard University) and James Mickens (Harvard University)

        %p
          %b
            %a{:href=>"https://dl.acm.org/authorize?N666176",
               :referrerpolicy => "no-referrer-when-downgrade"}
              Behind the scenes: what device benchmarks can tell us
          %br
            Simon Bauer (Technical University of Munich), Dainel Raumer
            (Technical University of Munich), Paul Emmerich (Technical
            University of Munich), and Georg Carle (Technical University of
            Munich)

        %p
          %b
            %a{:href=>"https://dl.acm.org/authorize?N666173",
               :referrerpolicy => "no-referrer-when-downgrade"}
              Towards a Congestion Control-Independent Core-Stateless AQM
          %br
            Szilveszter Nádas (Ericsson), Gergo Gombos (Eötvös Loránd
            University), Péter Hudoba (Eötvös Loránd University), and
            Sándor Laki (Eötvös Loránd University)

        %p
          %b
            %a{:href=>"https://dl.acm.org/authorize?N666161",
               :referrerpolicy => "no-referrer-when-downgrade"}
              A Fine-grained and Transparent Congestion Control Enforcement Scheme
          %br
            Yuxiang Zhang (Jinan University), Lin Cui (Jinan University),
            Fung Po Tso (Loughborough University), Quanlong Guan (Jinan
            University), Weijia Jia (University of Macau), and Jipeng Zhou
            (Jinan University)

        %p
          %b
            %a{:href=>"https://dl.acm.org/authorize?N666172",
               :referrerpolicy => "no-referrer-when-downgrade"}
              Measuring Web Speed From Passive Traces
          %br
            Martino Trevisan (Politecnico di Torino), Idilio Drago
            (Politecnico di Torino), and Marco Mellia (Politecnico di
            Torino)

        %p
          %b
            %a{:href=>"https://dl.acm.org/authorize?N666163",
               :referrerpolicy => "no-referrer-when-downgrade"}
              Wireless Edge Network for Sustainable Rural Community Networks
          %br
            Adisorn Lertsinsrubtavee (Internet Education and Research
            Laboratory, Asian Institute of Technology), Nunthaphat
            Weshsuwannarugs (Internet Education and Research Laboratory,
            Asian Institute of Technology), Nisarat Tansakul (Internet
            Education and Research Laboratory, Asian Institute of
            Technology), Attaphongse Taparugssanagorn (School of
            Engineering and Technology, Asian Institute of Technology), and
            Kanchana Kanchanasut (Internet Education and Research
            Laboratory, Asian Institute of Technology)

        %p
          %b
            %a{:href=>"https://dl.acm.org/authorize?N666185",
               :referrerpolicy => "no-referrer-when-downgrade"}
              Dynam-IX: a Dynamic Interconnection eXchange
          %br
            Pedro Marcos (UFRGS and FURG), Marco Chiesa (KTH), Lucas Muller
            (UFRGS), Pradeeban Kathiravelu (INESC-ID and UCLouvain),
            Christoph Dietzel (TU Berlin / DE-CIX), Marco Canini (KAUST),
            and Marinho Barcellos (UFRGS)


        %p
          %b
            %a{:href=>"https://dl.acm.org/authorize?N666162",
               :referrerpolicy => "no-referrer-when-downgrade"}
              Picking a Partner: A Fair Blockchain Based Scoring Protocol
              for Autonomous Systems
          %br
            Yousef Alowayed (KAUST), Marco Canini (KAUST), Pedro Marcos
            (UFRGS and FURG), Marco Chiesa (KTH Royal Institute of
            Technology), and Marinho Barcellos (UFRGS)

        %p
          %b
            %a{:href=>"https://dl.acm.org/authorize?N666164",
               :referrerpolicy => "no-referrer-when-downgrade"}
              Is CoAP Congestion Safe? 
          %br
            Ilpo Järvinen (University of Helsinki), Iivo Raitahila
            (University of Helsinki), Zhen Cao (Huawei), and Markku Kojo
            (University of Helsinki).

        %p
          %b
            %a{:href=>"https://dl.acm.org/authorize?N666169",
               :referrerpolicy => "no-referrer-when-downgrade"}
              CommunityWatch: The Swiss-Army Knife of BGP Anomaly Detection
          %br
            Vasileios Giotsas (Lancaster University)
