---
title: ANRW&nbsp;’22 Program
menu: Program
---

%h1 Workshop Program

%p= render "/anrw/2022/place_.*"

%h2 Program

%p
  Times are given in America/Eastern (Philadelphia) time zone.

%table.table.table-striped.no-urlify
  %thead
    %tr
      %th
        Time
      %th
        Session

  %tbody
    %tr
      %td{ :style => "width: 10em" }
        %b 10:00-12:00
      %td
        %h4.text-danger Keynote and Research Papers
        %p
          %a{ name: "welcome"}
          %b
            Welcome and Opening Remarks
          %br
          Taejoong (Tijay) Chung and Marwan Fayed
        %p
          %a.btn.btn-secondary{ :href => "/anrw/2022/slides-114-anrw-sessa-welcome.pdf"}
            slides

        %p
          %a{ name: "keynote"}
          %b
            Keynote: Layer Four and Three Quarters - Fantastic Quirks and Where to Find Them
          %br
          Lucas Pardue
        %p
          %a.btn.btn-secondary{ :href => "/anrw/2022/slides-114-anrw-sessa-keynote.pdf"}
            slides

        %p
          %a{ name: "p58"}
          %b
            %a{ :href => "https://dl.acm.org/doi/10.1145/3547115.3547192"} 
              Is It Really Necessary to Go Beyond A Fairness Metric for Next-Generation Congestion Control?
          %br
          Safiqul Islam, Kristian	Hiorth, Carsten	Griwodz, and Michael Welzl
        %p
          %a.btn.btn-secondary{ :href => "/anrw/2022/slides-114-anrw-sessa-beyond-fairness.pdf"}
            slides

        %p
          %a{ name: "p69"}
          %b
            %a{ :href => "https://dl.acm.org/doi/10.1145/3547115.3547193"} 
              Cross-layer Network Outage Classification Using Machine Learning
            %br
            Jan Marius Evang, Azza Hassan Mohamed	Ahmed, Ahmed	Elmukashfi, and Haakon	Bryhni
          %p
            %a.btn.btn-secondary{ :href => "/anrw/2022/slides-114-anrw-sessa-crosslayer.pdf"}
              slides

        %p
          %a{ name: "p87"}
          %b
            %a{ :href => "https://dl.acm.org/doi/10.1145/3547115.3547194"} 
              On the Suitability of BBR Congestion Control for QUIC over GEO SATCOM Networks
            %br
            Aitor Martin and Naeem	Khademi
          %p
            %a.btn.btn-secondary{ :href => "/anrw/2022/slides-114-anrw-sessa-suitability.pdf"}
              slides

        %p
          %a{ name: "p93"}
          %b
            %a{ :href => "https://dl.acm.org/doi/10.1145/3547115.3547195"} 
              Priority-aware Forward Error Correction for HTTP
            %br
            Nooshin Eghbal and Paul	Lu
          %p
            %a.btn.btn-secondary{ :href => "/anrw/2022/slides-114-anrw-sessa-priority-aware.pdf"}
              slides



    %tr
      %td{ :style => "width: 10em" }
        %b 12:00-15:00
      %td
        %h4.text-danger Break



    %tr
      %td{ :style => "width: 10em" }
        %b 15:00-17:00
      %td
        %h4.text-danger Special Session on Protocol Specification Techniques
        %p
          How should we describe and specify protocols? 

        %p
          How can we ensure that network protocol specifications are consistent
          and correct, and how can we verify that specifications are correct and
          validate that implementations match the specification?

        %p
          The IETF community has long used natural language, English, to describe
          and specify its protocols, mixed with occasional formal languages such
          as ABNF, YANG, and so on. This session will discuss whether this is the
          right approach, and to what extent formal methods, structured specification
          languages, and natural language processing techniques can help describe
          network protocols. 
          

        %p
          %a{ name: "i1"}
          %b
            Welcome and Opening Remarks
          %br
          Colin Perkins (University of Glasgow)
          %p
            %a.btn.btn-secondary{ :href => "/anrw/2022/slides-114-anrw-sessb-welcome.pdf"}
              slides

        %p
          %a{ name: "i1"}
          %b
            %a{ :href => "https://github.com/RFCNLP" }
              Automated Attack Synthesis by Extracting Finite State Machines from Protocol Specification Documents 
            
          %br
          Max von Hippel (Northeastern University)
          %span.badge.bg-secondary{ :class => "label label-default"} Invited talk
          %p
            %a.btn.btn-secondary{ :href => "/anrw/2022/slides-114-anrw-sessb-automated.pdf"}
              slides

        %p
          %a{ name: "i2"}
          %b
            %a{ :href => "https://raghavan.usc.edu/papers/sage-sigcomm21.pdf" }
              Tools for disambiguating RFCs
          %br
          Jane Yen (USC)
          %span.badge.bg-secondary Invited talk
          %p
            %a.btn.btn-secondary{ :href => "/anrw/2022/slides-114-anrw-sessb-disambiguating.pdf"}
              slides

        %p
          %a{ name: "i3"}
          %b
            CFRG Specifications in Theory and Practice
          %br
          Chris Wood (Cloudflare)
          %span.badge.bg-secondary Invited talk
          %p
            %a.btn.btn-secondary{ :href => "/anrw/2022/slides-114-anrw-sessb-cfrg-specifications.pdf"}
              slides


%h2 Proceedings
%p
  -# %a{ :href => "https://dl.acm.org/doi/proceedings/10.1145/3472305" }
  Proceedings of the Applied Networking Research Workshop 2022
  will be available from the ACM Digital Library.


%p
  Recordings of the workshop, including Q&amp;A, will be available on the
  %a{ :href => "https://www.youtube.com/user/ietf/videos"} IETF channel
  on YouTube.

