---
title: ANRW&nbsp;’22 Program
menu: Program
---

%h1 Workshop Program

%p= render "/anrw/2022/place_.*"

-# %h2 Slack Channel
-# 
-# %p
-#   If you would like to meet with other attendees, the SIGCOMM Community
-#   Slack space has a channel dedicated to ANRW 2022 (#anrw2022). The SIGCOMM
-#   Community Slack was created specifically for the purpose of facilitating
-#   online interaction during virtual conferences.
-#   To join the SIGCOMM Community Slack, use 
-#   %a{ :href => "https://join.slack.com/t/sigcomm/shared_invite/zt-erk5tjkg-bsoSc1UXlOY03uU~E2zPVA"} this invitation link
-#   and follow the instructions.

%h2 Program

%p
  Times are given in America/Eastern (Philadelphia) time zone.

%table.table.table-striped.no-urlify
  %thead
    %tr
      %th
        Time
      %th
        Session
      %th
        Session Chair
  %tbody
    %tr
      %td{ :style => "width: 8em" }
        %b July 26, 2022<br> 10:00-10:10
      %td
        %h4.text-danger Welcome and Opening Remarks
        %div.row
          %div.col-lg-8
            %p
              &nbsp;
      %td{ :style => "width: 12em" }
        %p
          Taejoong (Tijay) Chung and Marwan Fayed

    %tr
      %td
        %b July 26, 2022<br> 10:10-10:45
      %td
        %h4.text-danger Keynote
        %div.row
          %div.col-lg-8
            %p
              %a{ name: "keynote"}
              %b
                Layer Four and Three Quarters: Fantastic Quirks and Where to Find Them
              %br
              Lucas Pardue
            %div.col-lg-4
              %p.btn-toolbar
                &nbsp;
      %td
        %p
          &nbsp;

    %tr
      %td
        %b July 26, 2022<br> 10:45-12:00
      %td
        %h4.text-danger Research Papers
        %div.row
          %div.col-lg-8
            %p
              %a{ name: "p1"}
              %b
                Is It Really Necessary to Go Beyond A Fairness Metric for Next-Generation Congestion Control?
              %br
              Safiqul Islam
            %div.col-lg-4
              %p.btn-toolbar
                &nbsp;

        %div.row
          %div.col-lg-8
            %p
              %a{ name: "p2"}
              %b
                Cross-layer Network Outage Classification Using Machine Learning
              %br
              Jan Marius Evang
            %div.col-lg-4
              %p.btn-toolbar
                &nbsp;

        %div.row
          %div.col-lg-8
            %p
              %a{ name: "p3"}
              %b
                On the Suitability of BBR Congestion Control for QUIC over GEO SATCOM Networks
              %br
              Aitor Martin
            %div.col-lg-4
              %p.btn-toolbar
                &nbsp;

        %div.row
          %div.col-lg-8
            %p
              %a{ name: "p4"}
              %b
                Priority-aware Forward Error Correction for HTTP
              %br
              Nooshin Eghbal 
            %div.col-lg-4
              %p.btn-toolbar
                &nbsp;

      %td
        %p
          &nbsp;


    %tr
      %td
        %b July 26, 2022<br> 12:00-15:00
      %td
        %h4.text-danger Break



    %tr
      %td
        %b July 26, 2021<br> 15:00-17:00
      %td
        %h4.text-danger Special Session on Protocol Specification Techniques
        %p
          How should we describe and specify protocols? 

        %p
          How can we ensure that network protocol specifications are consistent
          and correct, and how can we verify that specifications are correct and
          validate that implementations match the specification?

        %p
          The IETF community has long used natural language, English, to describe
          and specify its protocols, mixed with occasional formal languages such
          as ABNF, YANG, and so on. This session will discuss whether this is the
          right approach, and to what extent formal methods, structured specification
          languages, and natural language processing techniques can help describe
          network protocols. 
          

        %div.row
          %div.col-lg-8
            %p
              %a{ name: "i1"}
              %b
                %a{ :href => "https://github.com/RFCNLP" }
                  Automated Attack Synthesis by Extracting Finite State Machines from Protocol Specification Documents 
                
              %span{ :class => "label label-default"} Invited talk
              %br
              Max von Hippel (Northeastern University)
            %div.col-lg-4
              %p.btn-toolbar
                &nbsp;

        %div.row
          %div.col-lg-8
            %p
              %a{ name: "i2"}
              %b
                %a{ :href => "https://raghavan.usc.edu/papers/sage-sigcomm21.pdf" }
                  Semi-Automated Protocol Disambiguation and Code Generation
              %span{ :class => "label label-default"} Invited talk
              %br
              Jane Yen (USC)
            %div.col-lg-4
              %p.btn-toolbar
                &nbsp;

        %div.row
          %div.col-lg-8
            %p
              %a{ name: "i3"}
              %b
                (tbc)
              %span{ :class => "label label-default"} Invited talk
              %br
              Chris Wood (Cloudflare)
            %div.col-lg-4
              %p.btn-toolbar
                &nbsp;

      %td
        %p
          Colin Perkins


%h2 Proceedings
%p
  -# %a{ :href => "https://dl.acm.org/doi/proceedings/10.1145/3472305" }
  Proceedings of the Applied Networking Research Workshop 2022
  will be available from the ACM Digital Library.


%p
  Recordings of the workshop, including Q&amp;A, will be available on the
  %a{ :href => "https://www.youtube.com/user/ietf/videos"} IETF channel
  on YouTube.

