---
title: ANRW&nbsp;’25 Call for Papers
menu: Call for Papers
other: false
---

%h1
  Call for Papers

%p
  The structure and use of the Internet, and Internet services, are
  constantly evolving. This includes shifts in traffic patterns and demands
  with remote work over broadband access networks, operational responses to
  large-scale physical and socio-political events, also trends towards
  increased multiplexing of connections over fewer IP addresses for various
  reasons that include scale, adaptability, and privacy.

%p
  The ACM/IRTF Applied Networking Research Workshop 2025 (ANRW’25),
  co-located with IETF-123, is the tenth edition of an academic workshop
  that provides a forum for researchers, vendors, network operators, and
  the Internet standards community to present and discuss emerging results
  in applied networking research. 

%p
  The workshop combines presentations of new research in the form of
  regular papers and short papers. ANRW’25 accepts the following types of
  submissions:

%ul
  %li
    %strong Regular papers
    are publications that present new research that has not been previously
    published. For a regular paper to be considered for publication, please
    submit work describing early/emerging results in a relevant topic area.
    Position papers are also welcome. There is a 6-page limit for regular
    papers, including figures, tables, and any appendices, optionally
    followed by unlimited additional pages for references.
  
  %li
    %strong
      Short papers
    can provide a summary of early, emerging, or on-going work as well as
    short updates of previously published work. Position papers are also
    welcome. This type of submission will either be presented as a short
    talk or a lighting-style talk together with a dedicated poster session,
    depending on the number of accepted submissions. For a short paper to
    be considered for publication, please submit a short paper that is no
    longer than 2 pages, with a maximum of one additional page for
    references only.

%p
  Paper topics are not restricted to current standardization activities of
  related IETF working groups or activity in related 
  %a{ :href => "https://www.irtf.org/"}
    IRTF
  research groups.
  We also welcome papers on topics relating to applied networking research
  that may become relevant to the IETF and/or IRTF in future. All topics
  related to the development of the Internet, its infrastructure,
  protocols, services and governance are in scope. Topics of interest
  include, but are not limited to:
  
%ul
  %li
    Development and deployment experience of new or enhanced Internet
    protocols (e.g., for transport, security, or routing) or applications.

  %li
    Improvements, measurements, and analysis of the security and privacy of
    new and existing Internet protocols and privacy enhancing technologies.

  %li
    Evolution of interconnection, and new approaches on network management,
    operations, and control.

  %li
    Practical congestion control for heterogeneous networks and novel
    applications.

  %li
    Better ways of specifying protocols, including usable techniques for
    protocol verification.

  %li
    Design or interactions between CDNs, anycast, edge services, and DNS.

  %li
    Research and analysis of consolidation and centralization of the
    Internet.

  %li
    Techniques for logging/monitoring of Internet traffic and root-cause
    analysis, as well as debugging of (encrypted) Internet protocols.

  %li
    Measurement and analysis of the performance of networks, including the
    performance or quality of experience of networked applications.

  %li
    Design, measurement, analysis, or deployment of wireless, mobile,
    cellular, or satellite networks.

  %li
    Internet resilience and recovery, including physically challenging
    environments and events (e.g., remote areas, natural disaster
    situations).

  %li
    Approaches and efforts towards decentralizing and democratizing the
    Internet.

  %li
    Understanding the impact and interoperability of diverse clients (e.g.,
    IoT, robotics, manufacturing).

  %li
    The changing semantics of IP addresses and connection-level metadata at
    large-scale (e.g. Addressing Agility, Private Relay).

  %li
    Applications of AI/ML to improve management, reliability, performance,
    security, or other aspects of networks.

  %li
    Use of programmable networks, including software defined networks
    (SDNs) and programmable data planes such as P4, XDP, and eBPF.

  %li
    Design of energy-efficient protocols, devices, and network
    architectures.

  %li
    Efforts to prompt sustainability, including characterization of the
    Internet footprint and analysis of environmental limits within which
    the Internet and its applications should operate.

  %li
    Topics relevant to the standardization activities of related IETF
    working groups.

  %li
    Topics relevant to activity in related IRTF research groups, including
    the new 
    %a{ :href => "https://www.irtf.org/sustain.html"}
      SUSTAIN research group.

%p
  ANRW’25 is co-located with IETF-123 in Madrid, and takes place in the
  week of July 19-25, 2025. This gives IETF as well as workshop attendees
  the opportunity to exchange ideas on topics and open problems discussed
  at the workshop and the IETF.

%p
  ANRW’25 will be a hybrid event. Remote participation options will be
  available; please contact the chairs if you intend to submit work but
  know in advance that you will not be able to present the work in-person
  at the workshop.

%p
  ANRW’25 particularly encourages the submission of results that could form
  the basis for future engineering work in the IETF, by, for example
  providing input and analysis on Internet protocols or operational
  Internet practices, as well as influence further research and
  experimentation in the IRTF.










%p
  %a.btn.btn-primary{ :href => "https://anrw2025.hotcrp.com/" } Start a submission »


%h2
  Formatting
%p 
  All submissions must satisfy the following requirements:
%ul
  %li 
    Regular papers: up to 6 pages for technical content (including
    appendices) + unlimited pages for references
  %li
    Short papers: up to 2 pages for an extended abstract (including
    appendices) + a maximum of one page for references.
  %li
    %strong 10-point font for main text;
    font used in other places (e.g., figures) should be no smaller than 9
    point
  %li
    Two-column format, with the size of each column being at most 3.33 x
    9.25 inches and the space between columns being at least 0.33 inches
    letter page size (8.5 x 11 inches)
  %li
    We strongly encourage the use of the new ACM LaTeX template,
    which satisfies these style requirements provided you specify a
    10-point font size. The following settings should produce this output:
    %tt \documentclass[10pt,sigconf,letterpaper]{acmart}
  %li
    Author names and affiliations or other identifying information such as
    grant numbers must not appear. The text of the submission must refer to
    the authors’ own previous work in the third person.

%p 
  Submissions that do not comply with these requirements will be rejected
  without review. It is your responsibility to ensure that your submission
  satisfies the above requirements.


%h2
  Paper Novelty

%p
  An accepted paper that is published must not be based on previously
  published work, and cannot describe work that is currently under
  submission to another venue. An accepted paper that is published also
  must not plagiarize the work of its authors or of any other authors. 

%p
  The ACM Policy and Procedures on Plagiarism applies to the ANRW, and
  action will be taken against submitters who have engaged in such
  practices. 

%p
  Papers accompanied by nondisclosure agreement requests will not be
  considered for review or publication, nor ever be disclosed. 


%h2
  Reviews 

%p
  All submissions will be peer reviewed (double-blind). Reviews will be
  shared with the authors.

%p
  Authors and TPC members provide conflict-of-interest information. It is
  important that all authors of a submission are indicated in the
  submission system and that all authors enter any conflicts of interest.
  Broadly, a conflict of interest exists when:
%ul
  %li 
    You are currently employed at the same organization, have been
    previously employed at the same organization within the last twelve
    months, or are going to begin employment at the same organization.
  %li
    You have a past or present thesis advisement, or a professional
    relationship such as collaboration on a project, publication, or grant
    proposal within the past two years.
%p
  These are examples – use your own good judgment.


%h2 Diversity Travel Grants
%p
  There are no specific travel grants for the ANRW. However, the IRTF offers 
  %a{ :href => "https://www.irtf.org/travelgrants/"}
    diversity travel grants.


%h2 Note Well

%p
  As a participant or attendee, you agree to work respectfully with other
  participants and follow the 
  %a{ :href => "https://datatracker.ietf.org/doc/rfc7154/"}
    Code of Conduct
  and
  %a{ :href => "https://datatracker.ietf.org/doc/rfc7776/"}
    Anti-Harassment Procedures.
  Please contact 
  %a{ :href => "https://www.ietf.org/contact/ombudsteam/"}
    the ombudsteam
  if you have questions or concerns about this.

%p
  By submitting your article to an ACM Publication, you are hereby
  acknowledging that you and your co-authors are subject to all 
  %a{ :href => "https://www.acm.org/publications/policies"}
    ACM Publications Policies,
  including the ACM
  %a{ :href => "https://www.acm.org/publications/policies/research-involving-human-participants-and-subjects"}
    Publications Policy on Research Involving Human Participants and Subjects.
  Alleged violations of this policy or any ACM Publications Policy will be
  investigated by ACM and may result in a full retraction of your paper, in
  addition to other potential penalties, as per ACM Publications Policy.

%p 
  Please ensure that you and your co-authors 
  %a{ :href => "https://orcid.org/register"}
    obtain an ORCID ID,
  so you can complete the publishing process for your accepted paper.
  ACM has been involved in ORCID from the start and we have recently
  made a 
  %a{ :href => "https://authors.acm.org/author-resources/orcid-faqs"}
    commitment to collect ORCID IDs
  from all of our published authors.  We are committed to improve author
  discoverability, ensure proper attribution and contribute to ongoing
  community efforts around name normalization; your ORCID ID will help in
  these efforts.

%p
  The ANRW is an academic workshop co-sponsored by ACM SIGCOMM and the IRTF.
  Papers submitted to the ANRW are not contributions to the IETF standards
  process and accordingly IPR disclosures are not required.

%p
  Personal information that you provide to IRTF will be handled in
  accordance with the 
  %a{ :href => "https://www.ietf.org/privacy-policy/"}
    Privacy Policy.


%h2
  Important Dates
= render '/anrw/2025/dates_.*', which: 'papers'



%h2 Supporters and Sponsors
= render '/anrw/sponsors_.*'

