---
title: ANRW&nbsp;’25 Committees
menu: Committees
---

%div.row
  %div.col-sm-6
    %h2 Program Committee
    %table.table.table-striped
      %tbody
        %tr
          %td
            Anna Brunstrom
            %span.badge.bg-secondary Chair
          %td
            Karlstad University

        %tr
          %td 
            Ryan Beckett
            %span.badge.bg-secondary Chair
          %td
            Microsoft Research

        %tr
          %td
            Alessandro Finamore
          %td
            Huawei Technologies

        %tr
          %td
            Ali Rezaki
          %td
            Nokia

        %tr
          %td
            Amreesh Phokeer
          %td
            ISOC

        %tr
          %td
            Bruno Kimura
          %td
            Federal University of Sao Paulo

        %tr
          %td
            Christian Esteve Rothenberg
          %td
            University of Campinas

        %tr
          %td
            Eirini Eleni Tsiropoulou
          %td
            Arizona State University

        %tr
          %td
            Eve Schooler
          %td
            University of Oxford

        %tr
          %td
            Giovane C. M. Moura
          %td
            SIDN Labs

        %tr
          %td
            Ignacio Castro
          %td
            Queen Mary University of London

        %tr
          %td
            Jayasree Sengupta
          %td
            Birla Institute of Technology, Mesra

        %tr
          %td
            Joel Sommers
          %td
            Colgate University

        %tr
          %td
            Kyle Schomp
          %td
            Cisco

        %tr
          %td
            Lixia Zhang
          %td
            UCLA

        %tr
          %td
            Mariano Scazzariello
          %td
            KTH                  

        %tr
          %td
            Marie-José Montpetit
          %td
            SLICES-RI

        %tr
          %td
            Mirja Kühlewind
          %td
            Ericsson Research

        %tr
          %td
            Martino Trevisan
          %td
            University of Trieste

        %tr
          %td
            Michael Welzl
          %td
            University of Oslo

        %tr
          %td
            Quentin De Coninck
          %td
            University of Mons

        %tr
          %td
            Reese Enghardt
          %td
            Netflix

        %tr
          %td
            Ricky K. P. Mok
          %td
            CAIDA

        %tr
          %td
            Robin Marx
          %td
            Akamai

        %tr
          %td
            Sebastiano Miano
          %td
            Path Network

        %tr
          %td
            Simone Ferlin
          %td
            Red Hat

        %tr
          %td
            Taejoong (Tijay) Chung
          %td
            Virginia Tech

        %tr
          %td
            Tanya Shreedhar
          %td
            TU Delft

        %tr
          %td
            Te-Yuan Huang
          %td
            Netflix

        %tr
          %td
            Xenofon Foukas
          %td
            Microsoft Research

        %tr
          %td
            Yunxin Liu
          %td
            Tsinghua University

  %div.col-sm-6
    = render "/anrw/2025/sc_.*"


