---
title: ANRW&nbsp;’25 Committees
menu: Committees
---

%div.row
  %div.col-sm-6
    %h2 Program Committee
    %table.table.table-striped
      %tbody
        %tr
          %td
            (tbc)
            %span.badge.bg-secondary Chair
          %td
            (tbc)

        %tr
          %td 
            (tbc)
            %span.badge.bg-secondary Chair
          %td
            (tbc)


  %div.col-sm-6
    = render "/anrw/2025/sc_.*"


