---
title: ANRW&nbsp;’25 Program
menu: Program
---

%h1 Workshop Program

%p= render "/anrw/2025/place_.*"

%h2 Program

%p
  Times are given in CEST (Madrid) time zone.

%table.table.table-striped.no-urlify
  %thead
    %tr
      %th
        Time
      %th
        Session

  %tbody
    %tr
      %td{ :style => "width: 10em" }
        %b 09:30-10:30
      %td
        %h4.text-danger Welcome and Keynote
        %p
          %a{ name: "welcome"}
          %b
            Welcome and Opening Remarks
          %br
          Anna Brunström (Karlstad University), Ryan Becket (Microsoft)
          %div.mb-3
          -# %a.btn.btn-secondary{ :href => "/anrw/2024/slides-120-anrw-00.pdf"}
            slides
          -# %a.btn.btn-secondary{ :href => "https://www.youtube.com/watch?v=UV86d6g6J5s&t=45"}
            video

          %p
          %a{ name: "keynote"}
          %b
            Keynote: TBD
          %br
          -# %a{ :href => "https://www.microsoft.com/en-us/research/people/sagarwal/"} Sharad Agarwal (Microsoft)

        %div.mb-3
          -# %a.btn.btn-secondary{ :href => "/anrw/2024/slides-120-anrw-01.pdf"}
            slides
          -# %a.btn.btn-secondary{ :href => "https://www.youtube.com/watch?v=UV86d6g6J5s&t=280"}
            video

    %tr
      %td{ :style => "width: 10em" }
        %b 10:30-11:00
      %td
        %h4.text-danger Video & CDN

        %p
          %a{ name: "p01"}
          %b
            -#%a{ :href => "https://dl.acm.org/doi/10.1145/3673422.3674887",
                :referrerpolicy => "no-referrer-when-downgrade"} 
              HTTP/3's Extensible Prioritization Scheme in the Wild

            Carbon-Intelligent Content Scheduling in CDNs
            
          %br
          Author1,
          Author2
        %div.mb-3
          -#%a.btn.btn-secondary{ :href => "/anrw/2024/slides-120-anrw-02.pdf"}
            slides
          -#%a.btn.btn-secondary{ :href => "https://www.youtube.com/watch?v=UV86d6g6J5s&t=4239"}
            video

        %p
          %a{ name: "p02"}
          %b
            -#%a{ :href => "https://dl.acm.org/doi/10.1145/3673422.3674894",
                :referrerpolicy => "no-referrer-when-downgrade"} 
              The Observer Effect in Computer Networks
              
            End-to-End 360º Video Streaming over HTTP/3: Architecture and Implementation
          %br
          Author 1,
          Author 2,
        %div.mb-3
          -# %a.btn.btn-secondary{ :href => "/anrw/2024/slides-120-anrw-03.pdf"}
            slides
          -# %a.btn.btn-secondary{ :href => "https://www.youtube.com/watch?v=UV86d6g6J5s&t=5651"}
            video

    %tr
      %td{ :style => "width: 10em" }
        %b 11:30-13:00
      %td
        %h4.text-danger Standards, Protocols & RFCs

        %p
          %a{ name: "p03"}
          %b
            -#%a{ :href => "https://dl.acm.org/doi/10.1145/3673422.3674887",
                :referrerpolicy => "no-referrer-when-downgrade"} 
              HTTP/3's Extensible Prioritization Scheme in the Wild

            Two Decades of IETF Affiliations: Evolution and Impact
            
          %br
          Author1,
          Author2
        %div.mb-3
          -#%a.btn.btn-secondary{ :href => "/anrw/2024/slides-120-anrw-02.pdf"}
            slides
          -#%a.btn.btn-secondary{ :href => "https://www.youtube.com/watch?v=UV86d6g6J5s&t=4239"}
            video

        %p
          %a{ name: "p04"}
          %b
            -#%a{ :href => "https://dl.acm.org/doi/10.1145/3673422.3674894",
                :referrerpolicy => "no-referrer-when-downgrade"} 
              The Observer Effect in Computer Networks
              
            Empowering IETF Collaboration with NLP Search Innovations and LLM-Enhanced RFC Writing
          %br
          Author 1,
          Author 2,
        %div.mb-3
          -# %a.btn.btn-secondary{ :href => "/anrw/2024/slides-120-anrw-03.pdf"}
            slides
          -# %a.btn.btn-secondary{ :href => "https://www.youtube.com/watch?v=UV86d6g6J5s&t=5651"}
            video

        %p
          %a{ name: "p05"}
          %b
            -#%a{ :href => "https://dl.acm.org/doi/10.1145/3673422.3674894",
                :referrerpolicy => "no-referrer-when-downgrade"} 
              The Observer Effect in Computer Networks
              
            Large Language Model Driven Automated Network Protocol Testing
          %br
          Author 1,
          Author 2,
        %div.mb-3
          -# %a.btn.btn-secondary{ :href => "/anrw/2024/slides-120-anrw-03.pdf"}
            slides
          -# %a.btn.btn-secondary{ :href => "https://www.youtube.com/watch?v=UV86d6g6J5s&t=5651"}
            video

    %tr
      %td{ :style => "width: 10em" }
        %b 12:15-13:00
      %td
        %h4.text-danger Emulation & Diagnosis

        %p
          %a{ name: "p06"}
          %b
            -#%a{ :href => "https://dl.acm.org/doi/10.1145/3673422.3674887",
                :referrerpolicy => "no-referrer-when-downgrade"} 
              HTTP/3's Extensible Prioritization Scheme in the Wild

            Standards, Protocols & RFCs
            
          %br
          Author1,
          Author2
        %div.mb-3
          -#%a.btn.btn-secondary{ :href => "/anrw/2024/slides-120-anrw-02.pdf"}
            slides
          -#%a.btn.btn-secondary{ :href => "https://www.youtube.com/watch?v=UV86d6g6J5s&t=4239"}
            video

        %p
          %a{ name: "p07"}
          %b
            -#%a{ :href => "https://dl.acm.org/doi/10.1145/3673422.3674894",
                :referrerpolicy => "no-referrer-when-downgrade"} 
              The Observer Effect in Computer Networks
              
            BrowsEm: Model-based Web Site Loading Emulation
          %br
          Author 1,
          Author 2,
        %div.mb-3
          -# %a.btn.btn-secondary{ :href => "/anrw/2024/slides-120-anrw-03.pdf"}
            slides
          -# %a.btn.btn-secondary{ :href => "https://www.youtube.com/watch?v=UV86d6g6J5s&t=5651"}
            video

        %p
          %a{ name: "p08"}
          %b
            -#%a{ :href => "https://dl.acm.org/doi/10.1145/3673422.3674894",
                :referrerpolicy => "no-referrer-when-downgrade"} 
              The Observer Effect in Computer Networks
              
            Using Explicit (Host-to-Network) Flow Measurements for Network Tomography
          %br
          Author 1,
          Author 2,
        %div.mb-3
          -# %a.btn.btn-secondary{ :href => "/anrw/2024/slides-120-anrw-03.pdf"}
            slides
          -# %a.btn.btn-secondary{ :href => "https://www.youtube.com/watch?v=UV86d6g6J5s&t=5651"}
            video

    %tr
      %td{ :style => "width: 10em" }
        %b 14:30-15:45
      %td
        %h4.text-danger Transport

        %p
          %a{ name: "p09"}
          %b
            -#%a{ :href => "https://dl.acm.org/doi/10.1145/3673422.3674887",
                :referrerpolicy => "no-referrer-when-downgrade"} 
              HTTP/3's Extensible Prioritization Scheme in the Wild

            Getting up to Speed with Neqo and Careful Resume
            
          %br
          Author1,
          Author2
        %div.mb-3
          -#%a.btn.btn-secondary{ :href => "/anrw/2024/slides-120-anrw-02.pdf"}
            slides
          -#%a.btn.btn-secondary{ :href => "https://www.youtube.com/watch?v=UV86d6g6J5s&t=4239"}
            video

        %p
          %a{ name: "p10"}
          %b
            -#%a{ :href => "https://dl.acm.org/doi/10.1145/3673422.3674894",
                :referrerpolicy => "no-referrer-when-downgrade"} 
              The Observer Effect in Computer Networks
              
            TCP Congestion Control Performance over Starlink
          %br
          Author 1,
          Author 2,
        %div.mb-3
          -# %a.btn.btn-secondary{ :href => "/anrw/2024/slides-120-anrw-03.pdf"}
            slides
          -# %a.btn.btn-secondary{ :href => "https://www.youtube.com/watch?v=UV86d6g6J5s&t=5651"}
            video

        %p
          %a{ name: "p11"}
          %b
            -#%a{ :href => "https://dl.acm.org/doi/10.1145/3673422.3674894",
                :referrerpolicy => "no-referrer-when-downgrade"} 
              The Observer Effect in Computer Networks
              
            Understanding QUIC's Throughput Speedbumps
          %br
          Author 1,
          Author 2,
        %div.mb-3
          -# %a.btn.btn-secondary{ :href => "/anrw/2024/slides-120-anrw-03.pdf"}
            slides
          -# %a.btn.btn-secondary{ :href => "https://www.youtube.com/watch?v=UV86d6g6J5s&t=5651"}
            video

        %p
          %a{ name: "p12"}
          %b
            -#%a{ :href => "https://dl.acm.org/doi/10.1145/3673422.3674894",
                :referrerpolicy => "no-referrer-when-downgrade"} 
              The Observer Effect in Computer Networks
              
            Cascades of Nested Acknowledgments in Multi-Hop MASQUE
          %br
          Author 1,
          Author 2,
        %div.mb-3
          -# %a.btn.btn-secondary{ :href => "/anrw/2024/slides-120-anrw-03.pdf"}
            slides
          -# %a.btn.btn-secondary{ :href => "https://www.youtube.com/watch?v=UV86d6g6J5s&t=5651"}
            video

        %p
          %a{ name: "p13"}
          %b
            -#%a{ :href => "https://dl.acm.org/doi/10.1145/3673422.3674894",
                :referrerpolicy => "no-referrer-when-downgrade"} 
              The Observer Effect in Computer Networks
              
            Reproducing and Solving a Fallback Issue in TCP Prague
          %br
          Author 1,
          Author 2,
        %div.mb-3
          -# %a.btn.btn-secondary{ :href => "/anrw/2024/slides-120-anrw-03.pdf"}
            slides
          -# %a.btn.btn-secondary{ :href => "https://www.youtube.com/watch?v=UV86d6g6J5s&t=5651"}
            video


    %tr
      %td{ :style => "width: 10em" }
        %b 15:45-16:30
      %td
        %h4.text-danger Lightning Talks / Poster Session

        %p
          %a{ name: "p14"}
          %b
            -#%a{ :href => "https://dl.acm.org/doi/10.1145/3673422.3674887",
                :referrerpolicy => "no-referrer-when-downgrade"} 
              HTTP/3's Extensible Prioritization Scheme in the Wild

            Towards Comprehensive Mapping of Africa’s Internet Infrastructure
            
          %br
          Author1,
          Author2
        %div.mb-3
          -#%a.btn.btn-secondary{ :href => "/anrw/2024/slides-120-anrw-02.pdf"}
            slides
          -#%a.btn.btn-secondary{ :href => "https://www.youtube.com/watch?v=UV86d6g6J5s&t=4239"}
            video

        %p
          %a{ name: "p15"}
          %b
            -#%a{ :href => "https://dl.acm.org/doi/10.1145/3673422.3674894",
                :referrerpolicy => "no-referrer-when-downgrade"} 
              The Observer Effect in Computer Networks
              
            Towards Operational and Security Best Practices for DNS in the Internet of Things
          %br
          Author 1,
          Author 2,
        %div.mb-3
          -# %a.btn.btn-secondary{ :href => "/anrw/2024/slides-120-anrw-03.pdf"}
            slides
          -# %a.btn.btn-secondary{ :href => "https://www.youtube.com/watch?v=UV86d6g6J5s&t=5651"}
            video

        %p
          %a{ name: "p16"}
          %b
            -#%a{ :href => "https://dl.acm.org/doi/10.1145/3673422.3674894",
                :referrerpolicy => "no-referrer-when-downgrade"} 
              The Observer Effect in Computer Networks
              
            The benefits and difficulties of replacing single-homing by switched-homing for Internet access
          %br
          Author 1,
          Author 2,
        %div.mb-3
          -# %a.btn.btn-secondary{ :href => "/anrw/2024/slides-120-anrw-03.pdf"}
            slides
          -# %a.btn.btn-secondary{ :href => "https://www.youtube.com/watch?v=UV86d6g6J5s&t=5651"}
            video

        %p
          %a{ name: "p17"}
          %b
            -#%a{ :href => "https://dl.acm.org/doi/10.1145/3673422.3674894",
                :referrerpolicy => "no-referrer-when-downgrade"} 
              The Observer Effect in Computer Networks
              
            Identifying Roadblocks in Building Decentralized Apps
          %br
          Author 1,
          Author 2,
        %div.mb-3
          -# %a.btn.btn-secondary{ :href => "/anrw/2024/slides-120-anrw-03.pdf"}
            slides
          -# %a.btn.btn-secondary{ :href => "https://www.youtube.com/watch?v=UV86d6g6J5s&t=5651"}
            video

        %p
          %a{ name: "p18"}
          %b
            -#%a{ :href => "https://dl.acm.org/doi/10.1145/3673422.3674894",
                :referrerpolicy => "no-referrer-when-downgrade"} 
              The Observer Effect in Computer Networks
              
            Straggler-Aware Observability for Flow Scheduling
          %br
          Author 1,
          Author 2,
        %div.mb-3
          -# %a.btn.btn-secondary{ :href => "/anrw/2024/slides-120-anrw-03.pdf"}
            slides
          -# %a.btn.btn-secondary{ :href => "https://www.youtube.com/watch?v=UV86d6g6J5s&t=5651"}
            video

        %p
          %a{ name: "p19"}
          %b
            -#%a{ :href => "https://dl.acm.org/doi/10.1145/3673422.3674894",
                :referrerpolicy => "no-referrer-when-downgrade"} 
              The Observer Effect in Computer Networks
              
            Towards Understanding Middlebox Deployments in Dutch ASes: Impact of IP Sampling Size
          %br
          Author 1,
          Author 2,
        %div.mb-3
          -# %a.btn.btn-secondary{ :href => "/anrw/2024/slides-120-anrw-03.pdf"}
            slides
          -# %a.btn.btn-secondary{ :href => "https://www.youtube.com/watch?v=UV86d6g6J5s&t=5651"}
            video

        %p
          %a{ name: "p20"}
          %b
            -#%a{ :href => "https://dl.acm.org/doi/10.1145/3673422.3674894",
                :referrerpolicy => "no-referrer-when-downgrade"} 
              The Observer Effect in Computer Networks
              
            Non-Standard Large TTLs in DNS Query Responses
          %br
          Author 1,
          Author 2,
        %div.mb-3
          -# %a.btn.btn-secondary{ :href => "/anrw/2024/slides-120-anrw-03.pdf"}
            slides
          -# %a.btn.btn-secondary{ :href => "https://www.youtube.com/watch?v=UV86d6g6J5s&t=5651"}
            video

            
      
    %tr
      %td{ :style => "width: 10em" }
        %b 18:00-19:00
      %td
        %h4.text-danger Security

        %p
          %a{ name: "p21"}
          %b
            -#%a{ :href => "https://dl.acm.org/doi/10.1145/3673422.3674894",
                :referrerpolicy => "no-referrer-when-downgrade"} 
              The Observer Effect in Computer Networks
              
            Secure Deployment of eBPF Programs Made Manifest
          %br
          Author 1,
          Author 2,
        %div.mb-3
          -# %a.btn.btn-secondary{ :href => "/anrw/2024/slides-120-anrw-03.pdf"}
            slides
          -# %a.btn.btn-secondary{ :href => "https://www.youtube.com/watch?v=UV86d6g6J5s&t=5651"}
            video

        %p
          %a{ name: "p22"}
          %b
            -#%a{ :href => "https://dl.acm.org/doi/10.1145/3673422.3674894",
                :referrerpolicy => "no-referrer-when-downgrade"} 
              The Observer Effect in Computer Networks
              
            MAY is not enough! QUIC servers SHOULD skip packet numbers
          %br
          Author 1,
          Author 2,
        %div.mb-3
          -# %a.btn.btn-secondary{ :href => "/anrw/2024/slides-120-anrw-03.pdf"}
            slides
          -# %a.btn.btn-secondary{ :href => "https://www.youtube.com/watch?v=UV86d6g6J5s&t=5651"}
            video

        %p
          %a{ name: "p23"}
          %b
            -#%a{ :href => "https://dl.acm.org/doi/10.1145/3673422.3674894",
                :referrerpolicy => "no-referrer-when-downgrade"} 
              The Observer Effect in Computer Networks
              
            PQC for DNSSEC: a format size analysis on Falcon signatures
          %br
          Author 1,
          Author 2,
        %div.mb-3
          -# %a.btn.btn-secondary{ :href => "/anrw/2024/slides-120-anrw-03.pdf"}
            slides
          -# %a.btn.btn-secondary{ :href => "https://www.youtube.com/watch?v=UV86d6g6J5s&t=5651"}
            video


        %p
          %a{ name: "p24"}
          %b
            -#%a{ :href => "https://dl.acm.org/doi/10.1145/3673422.3674894",
                :referrerpolicy => "no-referrer-when-downgrade"} 
              The Observer Effect in Computer Networks
              
            A Framework for Secure Autonomic IoT Device Management in Constrained Networks
          %br
          Author 1,
          Author 2,
        %div.mb-3
          -# %a.btn.btn-secondary{ :href => "/anrw/2024/slides-120-anrw-03.pdf"}
            slides
          -# %a.btn.btn-secondary{ :href => "https://www.youtube.com/watch?v=UV86d6g6J5s&t=5651"}
            video



  %h2 Proceedings
-#%p
  %a{ :href => "https://dl.acm.org/doi/proceedings/10.1145/3673422", 
      :referrerpolicy => "no-referrer-when-downgrade"  }
    Proceedings of the Applied Networking Research Workshop 2025
  are available from the ACM Digital Library.

