%table.table.table-condensed
  %tbody
    %tr
      %td{ style: 'width: "33%"' }
        Paper submission deadline
      %td
        29 April 2025 (11:59pm AoE)
    %tr
      %td
        Paper notification deadline
      %td{ colspan:  2 }
        5 June 2025
    %tr
      %td
        Camera-ready paper deadline
      %td{ colspan: 2 }
        15 June 2025
    %tr
      %td
        Registration opens
      %td{ :colspan => 2 }
        (tbc)

    %tr.warning
      %td
        %b
          ANRW&nbsp;’25 workshop
      %td{ colspan: 2 }
        %b
          Week of July 19-25, 2025

