%h2 Steering Committee

- if @blurb
  %p
    The ANRW steering committee comprises one representative from each of
    the IRTF (the IRTF chair, or their nominee), ACM SIGCOMM, and the IETF
    LLC, along with one of the TPC chairs from each of the previous three
    workshops. The following individuals currently serve on the ANRW
    steering committee:

%table.table.table-striped
  %tbody
    %tr
      %td 
        Taejoong (Tijay) Chung
      %td 
        Virginia Tech
    %tr
      %td 
        Simone Ferlin-Reiter
      %td 
        Red Hat
    %tr
      %td 
        Fernando Kuipers
      %td 
        TU Delft
    %tr
      %td 
        Laura Nugent
      %td 
        IETF Secretariat/AMS
    %tr
      %td 
        Colin Perkins
        %span.badge.bg-secondary Chair
      %td 
        University of Glasgow
    %tr
      %td 
        Francis Y. Yan
      %td 
        Microsoft Research

%a.btn.btn-default{ :href => "mailto:anrw-sc@irtf.org", :role => "button" }
  Email the steering committee »
