---
title: Diversity Travel Grants
---

%p
  The IRTF is pleased to be able to provide a number of Diversity
  Travel Grants, plus a number of 
  %a{:href => "/feewaivers.html"}
    fee waivers,
  to attend research group meetings and workshops. 

%h2 Diversity Travel Grants

%p
  We are pleased to offer a number of Diversity Travel Grants to support
  early-career academics and PhD students from under-represented groups
  to attend the 
  -# %a{ :href => "/anrw/2024/"}
  -#   Applied Networking Research Workshop
  -# and
  IRTF meetings co-located with the
  %a{:href => "https://www.ietf.org/meeting/126/"}
    IETF-126 Meeting
  in Vienna, Austria, in July 2026.

%p
  The selection criteria for IRTF Diversity Grants will prioritize people
  who:
%ul
  %li
    Are from a demographic that is under-represented in the IRTF and would have difficulty getting to
    the IETF meeting otherwise;
  %li
    Are PhD students or early-career academics (PhD students should have completed at least one year
    of full-time study in their PhD programme; early-career academics should normally be within their
    first four years of paid post-PhD employment at a University or other research institute);
  %li
    Can demonstrate engagement with research of relevance to the IRTF (work of relevance to all areas
    of IRTF will be considered, and specific contributions to
    %a{:href => "/groups.html"}
      IRTF Research Groups,
    such as presentations are encouraged).

%p
  Note: IRTF Diversity Grants will be available for repeat meeting
  attendance to encourage connection building and developing
  sustainable engagement with the community. However, it is expected
  that applicants use them to develop connections that help them find
  independent funding resources, hence IRTF Diversity Grant funding
  will be prioritized for candidates who have received no more than
  two (in exceptional cases three) grants before.

%p
  If the applicant is a PhD student, their adviser must also provide
  a letter of support that must be uploaded at the time of
  submission. This letter must verify the applicant’s good standing in
  the institution, and confirming that they have completed at least
  one year of full-time (or equivalent part-time) PhD study.

%p
  Please submit your application at
  %a{:href => "https://irtf-travel-grants-ietf126.hotcrp.com/paper/new"}
    https://irtf-travel-grants-ietf126.hotcrp.com/paper/new
  (create a HotCRP account if you do not already have one).


-# %p
-#   %b Interested applicants should fill out the
-#   %a{:href => "https://docs.google.com/forms/d/e/1FAIpQLScTylJ4d-Ra9SQLvW3ws_iIzCCKo4WfTePJkCRIA2f91-g7zg/viewform"}
-#     IRTF Travel Grant Application form.

%p
  Please contact us as
  %a{:href => "mailto:travel-grants@irtf.org"}
    travel-grants@irtf.org
  if you have any questions.
  

-# %p
-#   We will confirm receipt of travel grant applications by email.
-#   %b
-#     If you do not receive confirmation within 48 hours of submission
-#     please contact the 
-#     %a{:href => "/chair.html"}
-#       IRTF Chair
-#     to confirm.

%p
  Important dates are as follows:

%table.table.table-striped
  %tbody
    %tr
      %td Diversity grant application deadline
      %td March 27, 2026
    %tr
      %td Diversity grant notification deadline
      %td April 15, 2026
    %tr
      %td IETF-126 Meeting in Vienna
      %td July 18-24, 2026

%hr
%h3
  Selection Committee
      
%p
  Applicants will be reviewed by a selection committee comprising:

%table.table.table-striped
  %tbody
    %tr
      %td Sofía Celi
      %td Brave
    %tr
      %td Jane Coffin
      %td Connect Humanity
    %tr
      %td Lars Eggert
      %td Mozilla
    %tr
      %td Reese Enghardt
      %td Netflix
    %tr
      %td Dirk Kutscher
      %td HKUST(GZ)
    %tr
      %td Allison Mankin
      %td Salesforce
    %tr
      %td Colin Perkins
      %td University of Glasgow
    %tr
      %td Marie-Jose Montpetit
      %td &nbsp;
    %tr
      %td Eve Schooler
      %td University of Oxford
    %tr
      %td Brian Trammell
      %td Google
    %tr
      %td Lixia Zhang
      %td UCLA


%p
  IRTF diversity travel grants are supported by Netflix, Comcast, Akamai, and Google.

%p
  &nbsp;

%span.col-sm-2
  &nbsp;
%span.col-sm-2
  %img{ src: relative_path_to('/img/Netflix_Logo_RGB.png'), alt: 'Netflix', height: 50 }
  &nbsp; &nbsp; &nbsp;
%span.col-sm-2
  %img{ src: relative_path_to('/img/Comcast-Logo.png'), alt: 'Comcast', height: 50 }
  &nbsp; &nbsp; &nbsp;
%span.col-sm-2
  %img{ src: relative_path_to('/img/Akamai-Logo-RGB.png'), alt: 'Comcast', height: 50 }
  &nbsp; &nbsp; &nbsp;
%span.col-sm-2
  %img{ src: relative_path_to('/img/google-logo.png'), alt: 'Google', height: 50 }
  &nbsp; &nbsp; &nbsp;
%span.col-sm-2
  &nbsp; 

%p
  &nbsp;

-#%p
  %b Support for remote attendance during the COVID-19 pandemic:
  The focus of the diversity travel grants is on in-person attendance at
  IRTF meetings co-located with the IETF since we believe this offers the
  best opportunity to connect with the community. 
  We recognise that the COVID-19 pandemic is still causing difficultiess
  with travel for many, however, and so will also consider applications to
  offset reasonable costs incurred to support remote attendance (e.g.,
  childcare, travel to a local meeting hub, etc.) where such would
  encourage diversity of participation. Such applications should be
  submitted following the process for diversity travel grants outlined
  above. We are grateful to Comcast for this support.

%p
  Fee waivers for remote attendance are available under a 
  %a{ :href => "https://www.ietf.org/how/meetings/125/" } separate programme
  and are not covered by these diversity grants.

