---
title: Travel Grants
---

%p
  The IRTF is pleased to be able to provide a limited number of diversity
  travel grants, plus a number of 
  %a{:href => "/feewaivers.html"}
    fee waivers,
  to attend research group meetings and workshops. 

%h2 Diversity Travel Grants

%p
  We are pleased to offer a number of Diversity Travel Grants to support
  early-career academics and PhD students from under-represented groups
  to attend the 
  -# %a{ :href => "/anrw/2024/"}
  -#   Applied Networking Research Workshop
  -# and
  IRTF meetings co-located with the IETF-124 Meeting in
  Montreal, Canada, in November 2025.

%p
  The selection criteria for IRTF Diversity Grants will prioritize people
  who:
%ul
  %li
    Are from a demographic that is under-represented in the IRTF and would have difficulty getting to
    the IETF meeting otherwise;
  %li
    Are PhD students or early-career academics (PhD students should have completed at least one year
    of full-time study in their PhD programme; early-career academics should normally be within their
    first four years of paid post-PhD employment at a University or other research institute);
  %li
    Can demonstrate engagement with research of relevance to the IRTF (work of relevance to all areas
    of IRTF will be considered, and specific contributions to IRTF Research Groups,
    such as presentations are encouraged).

%p
  Note: IRTF Diversity Grants will be available for repeat meeting
  attendance to encourage connection building and developing
  sustainable engagement with the community. However, it is expected
  that applicants use them to develop connections that help them find
  independent funding resources, hence IRTF Diversity Grant funding
  will be prioritized for candidates who have received no more than
  two (in exceptional cases three) grants before.

%p
  %b Interested applicants should submit
  an application letter and up-to-date CV as PDF documents. The application
  letter should be clearly state the following information:

%ul
  %li
    the name of the applicant, their University, and whether they are a PhD student
    or early-career researcher;
  %li
    where applicable, a discussion of any career breaks the applicant has taken,
    or challenges they have faced, that might affect the application;
  %li
    for those who are exceeding five-year PhD programs, describe their journey;
  %li
    a link to their personal or departmental webpage;
  %li
    a summary of research interests and plans for future research;
  %li
    a statement of why the attendance at the IETF is important to the applicant’s research,
    the name(s) of the IRTF research group(s) that they will contribute to,
    and a summary of how they will contribute or already are contributing;
  %li
    a statement of how their attendance would contribute to the goals of the IRTF and IETF;
  %li
    a cost estimate, including the cost of economy air or rail fare, other transportation,
    meals or other costs, and identifying the source of any price quotes
    (note: Meeting registration fees and accommodation will be covered directly
    and therefore do not need to be included in this estimate;
    any visa applications costs will need to be covered by the attendee);
  %li
    whether they have received a previous IRTF Travel grant (and if so, when);
  %li
    how many onsite IETF meetings have they attended previously;
  %li
    how many remote IETF meetings have they attended previously; and
  %li
    any additional information the applicant feels is relevant to support their case.

-#%p
  We recognise that effective engagement with IRTF research groups may
  require ongoing rather than one-off participation and encourage
  %b
    repeat applications
  from those who previously received diversity travel grants. When applying
  for such repeat awards, applicants must 1) outline how they contributed
  to previous IRTF meetings; 2) explain why an additional travel grant is
  needed and what specific IRTF contributions it will enable; and 3) if
  their work in IRTF is likely to require long-term engagement, describe
  steps they are taking to obtain funding from other sources. Repeat awards
  are not guaranteed and depend on available funds and evidence of strong
  engagement with IRTF.

%p
  %a.btn.btn-primary{ :href => "mailto:travel-grants@irtf.org?subject=Diversity Travel Grant application: APPLICANT'S NAME&body=(This email should be sent by the applicant.)"}
    Send application materials »


%p
  If the applicant is a PhD student, 
  %b their adviser must also send a letter of support
  verifying the applicant’s good standing in the institution, and
  confirming that they have completed at least one year of full-time
  (or equivalent part-time) PhD study.

%p
  %a.btn.btn-primary{ :href => "mailto:travel-grants@irtf.org?subject=Diversity Travel Grant support letter: APPLICANT'S NAME&body=(This email should be sent by the faculty advisor.)"}
    Send support letter »

%p
  We will confirm receipt of travel grant applications by email.
  %b
    If you do not receive confirmation within 48 hours of submission
    please contact the 
    %a{:href => "/chair.html"}
      IRTF Chair
    to confirm.

%p
  Applicants will be reviewed by a selection committee comprising:

%table.table.table-striped
  %tbody
    %tr
      %td Sofía Celi
      %td Brave
    %tr
      %td Jane Coffin
      %td Connect Humanity
    %tr
      %td Lars Eggert
      %td Mozilla
    %tr
      %td Reese Enghardt
      %td Netflix
    %tr
      %td Dirk Kutscher
      %td HKUST(GZ)
    %tr
      %td Allison Mankin
      %td Salesforce
    %tr
      %td Colin Perkins
      %td University of Glasgow
    %tr
      %td Marie-Jose Montpetit
      %td &nbsp;
    %tr
      %td Eve Schooler
      %td University of Oxford
    %tr
      %td Melinda Shore
      %td No Mountain Software
    %tr
      %td Brian Trammell
      %td Google
    %tr
      %td Lixia Zhang
      %td UCLA

%p
  Important dates are as follows:

%table.table.table-striped
  %tbody
    %tr
      %td Diversity grant application deadline
      %td August 1, 2025
    %tr
      %td Diversity grant notification deadline
      %td August 13, 2025
    %tr
      %td IETF-124 Meeting in Montreal
      %td November 01-07, 2025

%p
  IRTF diversity travel grants are supported by Netflix, Comcast, Akamai, and Google.

%p
  &nbsp;

%span.col-sm-2
  &nbsp;
%span.col-sm-2
  %img{ src: relative_path_to('/img/Netflix_Logo_RGB.png'), alt: 'Netflix', height: 50 }
  &nbsp; &nbsp; &nbsp;
%span.col-sm-2
  %img{ src: relative_path_to('/img/Comcast-Logo.png'), alt: 'Comcast', height: 50 }
  &nbsp; &nbsp; &nbsp;
%span.col-sm-2
  %img{ src: relative_path_to('/img/Akamai-Logo-RGB.png'), alt: 'Comcast', height: 50 }
  &nbsp; &nbsp; &nbsp;
%span.col-sm-2
  %img{ src: relative_path_to('/img/google-logo.png'), alt: 'Google', height: 50 }
  &nbsp; &nbsp; &nbsp;
%span.col-sm-2
  &nbsp; 

%p
  &nbsp;

-#%p
  %b Support for remote attendance during the COVID-19 pandemic:
  The focus of the diversity travel grants is on in-person attendance at
  IRTF meetings co-located with the IETF since we believe this offers the
  best opportunity to connect with the community. 
  We recognise that the COVID-19 pandemic is still causing difficultiess
  with travel for many, however, and so will also consider applications to
  offset reasonable costs incurred to support remote attendance (e.g.,
  childcare, travel to a local meeting hub, etc.) where such would
  encourage diversity of participation. Such applications should be
  submitted following the process for diversity travel grants outlined
  above. We are grateful to Comcast for this support.

%p
  Fee waivers for remote attendance are available under a 
  %a{ :href => "https://www.ietf.org/how/meetings/118/" } separate programme
  and are not covered by these diversity grants.

