%table.table.table-condensed
  %tbody
  -if @which == nil or @which == 'papers'
    %tr
      %td{ style: 'width: "33%"' }
        Paper submission deadline
      %td
        April 24, 2020 (extended)
    %tr
      %td
        Paper notification deadline
      %td{ colspan:  2 }
        May 29, 2020 (extended)
  -if @which == nil or @which == 'papers'
    %tr
      %td
        Camera-ready paper deadline
      %td{ colspan: 2 }
        June 19, 2020
  -if @which == nil or @which == "grants"
    %tr
      %td
        Registration opens
      %td{ :colspan => 2 }
        June 16, 2020
    %tr
      %td
        Registration closes
      %td{ :colspan => 2 }
        July 22, 2020

    %tr.warning
      %td
        %b
          ANRW&nbsp;’20 online workshop
      %td{ colspan: 2 }
        %b
          July 27-31, 2020
