The ANRW&nbsp;’20 will be an online workshop, running from July 27-31, 2020.

%p
  The ANRW&nbsp;20 was originally scheduled to co-locate with the 
  %a{ :href => "https://www.ietf.org/how/meetings/108/" } IETF-108 meeting
  in Madrid, Spain, on July 27, 2020. However, in light of the COVID-19
  pandemic, both the IETF 108 and the ANRW will now be online only events.
